<c-card>
  <c-card-body>
    <c-row class="my-2">
      <h4 class="fw-bold">SEMAKAN/ PENGAMBILAN BIOMETRIK</h4>
    </c-row>

    <app-stepper
      [currentMainStep]="currentMainStep"
      [currentSubStep]="currentSubStep"
    ></app-stepper>

    <c-row class="mt-4">
      <c-col xs="12" md="6" class="mb-3">
        <label class="mb-2">Status Rekod Biometrik Cap Jari</label>
        <input
          type="text"
          class="form-control"
          [(ngModel)]="maklumatBiometrik.statusCapJari"
          [readonly]="readonlyField"
          [ngClass]="{ 'bg-light text-muted': readonlyField }"
        />
      </c-col>
      <c-col
        xs="12"
        md="6"
        class="d-flex justify-content-end align-items-end gap-3 mb-3"
      >
        <button
          type="button"
          class="btn btn-secondary btn-custom-bioButton flex-grow-1"
          (click)="capJariSemakModalconfirm(true)"
        >
          Semak Cap Jari
        </button>
        <button type="button" class="btn btn-secondary btn-custom-bioButton flex-grow-1"
          (click)="capJariAmbilModalconfirm(true)">
          Ambil Cap Jari
        </button>
      </c-col>
      <small class="mb-5"
        >[Paparan Mesej Status Pengambilan Biometrik Cap Jari Berjaya/
        Gagal]</small
      >
      <c-col xs="12" md="6" class="mb-3">
        <label class="mb-2">Status Rekod Biometrik Wajah</label>
        <input
          type="text"
          class="form-control"
          [(ngModel)]="maklumatBiometrik.statusWajah"
          [readonly]="readonlyField"
          [ngClass]="{ 'bg-light text-muted': readonlyField }"
        />
      </c-col>
      <c-col
        xs="12"
        md="6"
        class="d-flex justify-content-end align-items-end gap-3 mb-3"
      >
        <button
          type="button"
          class="btn btn-secondary btn-custom-bioButton flex-grow-1"
          (click)="wajahSemakModalconfirm(true)"
        >
          Semak Wajah
        </button>
        <button type="button" class="btn btn-secondary btn-custom-bioButton flex-grow-1"
          (click)="wajahAmbilModalconfirm(true)">
          Ambil Wajah
        </button>
      </c-col>
      <small class="mb-5"
        >[Paparan Mesej Status Pengambilan Biometrik Wajah Berjaya/
        Gagal]</small
      >
      <c-col xs="12" md="6" class="mb-3">
        <label class="mb-2">Status Rekod Biometrik Iris</label>
        <input
          type="text"
          class="form-control"
          [(ngModel)]="maklumatBiometrik.statusIris"
          [readonly]="readonlyField"
          [ngClass]="{ 'bg-light text-muted': readonlyField }"
        />
      </c-col>
      <c-col
        xs="12"
        md="6"
        class="d-flex justify-content-end align-items-end gap-3 mb-3"
      >
        <button
          type="button"
          class="btn btn-secondary btn-custom-bioButton flex-grow-1"
          (click)="irisSemakModalconfirm(true)"
          >
          Semak Iris
        </button>
        <button type="button" class="btn btn-secondary btn-custom-bioButton flex-grow-1"
          (click)="irisAmbilModalconfirm(true)">
          Ambil Iris
        </button>
      </c-col>
      <small class="mb-5"
        >[Paparan Mesej Status Pengambilan Biometrik Iris Berjaya/ Gagal]</small
      >
    </c-row>
  </c-card-body>
</c-card>

<!-- Semakan Cap Jari Modal -->
<c-modal
  [(visible)]="capJariSemakModalVisible"
  size="xl"
  backdrop="static"
  keyboard="false"
>
  <c-modal-header class="border border-secondary btn-custom-bioButton text-white">
    SEMAKAN REKOD BIOMETRIK (CAP JARI)
  </c-modal-header>
  <c-modal-body class="d-flex">
    <c-col xs="12" md="3">
      <c-row class="g-5 m-5">
        <c-card>
          <c-card-body
            class="d-flex justify-content-center align-items-center"
            style="min-height: 200px"
          >
            <img src="" alt="CAP JARI" class="img-fluid" />
          </c-card-body>
        </c-card>
        <c-card>
          <c-card-body
            class="d-flex justify-content-center align-items-center"
            style="min-height: 200px"
          >
            <img src="" alt="WIDGET" class="img-fluid" />
          </c-card-body>
        </c-card>
        <c-card>
          <c-card-body
            class="d-flex justify-content-center align-items-center"
            style="min-height: 200px"
          >
            <img src="" alt="WIDGET" class="img-fluid" />
          </c-card-body>
        </c-card>
      </c-row>
    </c-col>

    <c-col xs="12" md="9">
      <c-row class="g-5 m-5">
        <c-col xs="12" md="6">
          <label class="mb-2">Lima(5) Jari Kanan</label>
          <c-card>
            <c-card-body
              class="d-flex justify-content-center align-items-center"
              style="min-height: 400px"
            >
              <img src="" alt="CAP JARI" class="img-fluid" />
            </c-card-body>
          </c-card>
        </c-col>

        <c-col xs="12" md="6">
          <label class="mb-2">Lima(5) Jari Kiri</label>
          <c-card>
            <c-card-body
              class="d-flex justify-content-center align-items-center"
              style="min-height: 400px"
            >
              <img src="" alt="CAP JARI" class="img-fluid" />
            </c-card-body>
          </c-card>
        </c-col>
      </c-row>
    </c-col>
  </c-modal-body>
  <c-modal-footer class="justify-content-end">
    <button class="btn btn-secondary" (click)="capJariSemakModalconfirm(false)">
      Tutup
    </button>
  </c-modal-footer>
</c-modal>

<!-- Semakan Wajah Modal -->
<c-modal
  [(visible)]="wajahSemakModalVisible"
  size="xl"
  backdrop="static"
  keyboard="false"
>
  <c-modal-header class="border border-secondary btn-custom-bioButton text-white">
    SEMAKAN REKOD BIOMETRIK (WAJAH)
  </c-modal-header>
  <c-modal-body class="d-flex">
    <c-col xs="12" md="3">
      <c-row class="g-5 m-5">
        <c-card>
          <c-card-body
            class="d-flex justify-content-center align-items-center"
            style="min-height: 200px"
          >
            <img src="" alt="CAP JARI" class="img-fluid" />
          </c-card-body>
        </c-card>
        <c-card>
          <c-card-body
            class="d-flex justify-content-center align-items-center"
            style="min-height: 200px"
          >
            <img src="" alt="WIDGET" class="img-fluid" />
          </c-card-body>
        </c-card>
        <c-card>
          <c-card-body
            class="d-flex justify-content-center align-items-center"
            style="min-height: 200px"
          >
            <img src="" alt="WIDGET" class="img-fluid" />
          </c-card-body>
        </c-card>
      </c-row>
    </c-col>

    <c-col xs="12" md="9">
      <c-row class="g-5 m-5">
        <c-col xs="12" md="6" class="mx-auto">
          <label class="mb-2">WAJAH</label>
          <c-card>
            <c-card-body
              class="d-flex justify-content-center align-items-center"
              style="min-height: 400px"
            >
              <img src="" alt="WAJAH" class="img-fluid" />
            </c-card-body>
          </c-card>
        </c-col>
      </c-row>
    </c-col>
  </c-modal-body>
  <c-modal-footer class="justify-content-end">
    <button class="btn btn-secondary" (click)="wajahSemakModalconfirm(false)">
      Tutup
    </button>
  </c-modal-footer>
</c-modal>

<!-- Semakan Iris Modal -->
<c-modal
  [(visible)]="irisSemakModalVisible"
  size="xl"
  backdrop="static"
  keyboard="false"
>
  <c-modal-header class="border border-secondary btn-custom-bioButton text-white">
    SEMAKAN REKOD BIOMETRIK (IRIS)
  </c-modal-header>
  <c-modal-body class="d-flex">
    <c-col xs="12" md="3">
      <c-row class="g-5 m-5">
        <c-card>
          <c-card-body
            class="d-flex justify-content-center align-items-center"
            style="min-height: 200px"
          >
            <img src="" alt="CAP JARI" class="img-fluid" />
          </c-card-body>
        </c-card>
        <c-card>
          <c-card-body
            class="d-flex justify-content-center align-items-center"
            style="min-height: 200px"
          >
            <img src="" alt="WIDGET" class="img-fluid" />
          </c-card-body>
        </c-card>
        <c-card>
          <c-card-body
            class="d-flex justify-content-center align-items-center"
            style="min-height: 200px"
          >
            <img src="" alt="WIDGET" class="img-fluid" />
          </c-card-body>
        </c-card>
      </c-row>
    </c-col>

    <c-col xs="12" md="9">
      <c-row class="g-5 m-5">
        <c-col xs="12" md="6">
          <label class="mb-2">Iris Kanan</label>
          <c-card>
            <c-card-body
              class="d-flex justify-content-center align-items-center"
              style="min-height: 400px"
            >
              <img src="" alt="IRIS" class="img-fluid" />
            </c-card-body>
          </c-card>
        </c-col>

        <c-col xs="12" md="6">
          <label class="mb-2">Iris Kiri</label>
          <c-card>
            <c-card-body
              class="d-flex justify-content-center align-items-center"
              style="min-height: 400px"
            >
              <img src="" alt="IRIS" class="img-fluid" />
            </c-card-body>
          </c-card>
        </c-col>
      </c-row>
    </c-col>
  </c-modal-body>
  <c-modal-footer class="justify-content-end">
    <button class="btn btn-secondary" (click)="irisSemakModalconfirm(false)">
      Tutup
    </button>
  </c-modal-footer>
</c-modal>

<!-- Pengambilan Cap Jari Modal -->
<c-modal
  [(visible)]="capJariAmbilModalVisible"
  size="xl"
  backdrop="static"
  keyboard="false"
>
  <c-modal-header class="border border-secondary btn-custom-bioButton text-white">
    PENGAMBILAN REKOD BIOMETRIK (CAP JARI)
  </c-modal-header>
  <c-modal-body class="d-flex">
    <c-col xs="12" md="3">
      <c-row class="g-5 m-5">
        <c-card>
          <c-card-body
            class="d-flex justify-content-center align-items-center"
            style="min-height: 200px"
          >
            <img src="" alt="CAP JARI" class="img-fluid" />
          </c-card-body>
        </c-card>
        <c-card>
          <c-card-body
            class="d-flex justify-content-center align-items-center"
            style="min-height: 200px"
          >
            <img src="" alt="WIDGET" class="img-fluid" />
          </c-card-body>
        </c-card>
        <c-card>
          <c-card-body
            class="d-flex justify-content-center align-items-center"
            style="min-height: 200px"
          >
            <img src="" alt="WIDGET" class="img-fluid" />
          </c-card-body>
        </c-card>
      </c-row>
    </c-col>

    <c-col xs="12" md="9">
      <c-row class="g-5 m-5">
        <c-col xs="12" md="6">
          <label class="mb-2">Lima(5) Jari Kanan</label>
          <c-card>
            <c-card-body
              class="d-flex justify-content-center align-items-center"
              style="min-height: 400px"
            >
              <img src="" alt="CAP JARI" class="img-fluid" />
            </c-card-body>
          </c-card>
        </c-col>

        <c-col xs="12" md="6">
          <label class="mb-2">Lima(5) Jari Kiri</label>
          <c-card>
            <c-card-body
              class="d-flex justify-content-center align-items-center"
              style="min-height: 400px"
            >
              <img src="" alt="CAP JARI" class="img-fluid" />
            </c-card-body>
          </c-card>
        </c-col>
      </c-row>
    </c-col>
  </c-modal-body>
  <c-modal-footer class="justify-content-end">
    <button class="btn btn-secondary" (click)="capJariAmbilModalconfirm(false)">
      Tutup
    </button>
  </c-modal-footer>
</c-modal>

<!-- Pengambilan Wajah Modal -->
<c-modal
  [(visible)]="wajahAmbilModalVisible"
  size="xl"
  backdrop="static"
  keyboard="false"
>
  <c-modal-header class="border border-secondary btn-custom-bioButton text-white">
    PENGAMBILAN REKOD BIOMETRIK (WAJAH)
  </c-modal-header>
  <c-modal-body class="d-flex">
    <c-col xs="12" md="3">
      <c-row class="g-5 m-5">
        <c-card>
          <c-card-body
            class="d-flex justify-content-center align-items-center"
            style="min-height: 200px"
          >
            <img src="" alt="CAP JARI" class="img-fluid" />
          </c-card-body>
        </c-card>
        <c-card>
          <c-card-body
            class="d-flex justify-content-center align-items-center"
            style="min-height: 200px"
          >
            <img src="" alt="WIDGET" class="img-fluid" />
          </c-card-body>
        </c-card>
        <c-card>
          <c-card-body
            class="d-flex justify-content-center align-items-center"
            style="min-height: 200px"
          >
            <img src="" alt="WIDGET" class="img-fluid" />
          </c-card-body>
        </c-card>
      </c-row>
    </c-col>

    <c-col xs="12" md="9">
      <c-row class="g-5 m-5">
        <c-col xs="12" md="6" class="mx-auto">
          <label class="mb-2">WAJAH</label>
          <c-card>
            <c-card-body
              class="d-flex justify-content-center align-items-center"
              style="min-height: 400px"
            >
              <img src="" alt="WAJAH" class="img-fluid" />
            </c-card-body>
          </c-card>
        </c-col>
      </c-row>
    </c-col>
  </c-modal-body>
  <c-modal-footer class="justify-content-end">
    <button class="btn btn-secondary" (click)="wajahAmbilModalconfirm(false)">
      Tutup
    </button>
  </c-modal-footer>
</c-modal>

<!-- Pengambilan Iris Modal -->
<c-modal
  [(visible)]="irisAmbilModalVisible"
  size="xl"
  backdrop="static"
  keyboard="false"
>
  <c-modal-header class="border border-secondary btn-custom-bioButton text-white">
    PENGAMBILAN REKOD BIOMETRIK (IRIS)
  </c-modal-header>
  <c-modal-body class="d-flex">
    <c-col xs="12" md="3">
      <c-row class="g-5 m-5">
        <c-card>
          <c-card-body
            class="d-flex justify-content-center align-items-center"
            style="min-height: 200px"
          >
            <img src="" alt="CAP JARI" class="img-fluid" />
          </c-card-body>
        </c-card>
        <c-card>
          <c-card-body
            class="d-flex justify-content-center align-items-center"
            style="min-height: 200px"
          >
            <img src="" alt="WIDGET" class="img-fluid" />
          </c-card-body>
        </c-card>
        <c-card>
          <c-card-body
            class="d-flex justify-content-center align-items-center"
            style="min-height: 200px"
          >
            <img src="" alt="WIDGET" class="img-fluid" />
          </c-card-body>
        </c-card>
      </c-row>
    </c-col>

    <c-col xs="12" md="9">
      <c-row class="g-5 m-5">
        <c-col xs="12" md="6">
          <label class="mb-2">Iris Kanan</label>
          <c-card>
            <c-card-body
              class="d-flex justify-content-center align-items-center"
              style="min-height: 400px"
            >
              <img src="" alt="IRIS" class="img-fluid" />
            </c-card-body>
          </c-card>
        </c-col>

        <c-col xs="12" md="6">
          <label class="mb-2">Iris Kiri</label>
          <c-card>
            <c-card-body
              class="d-flex justify-content-center align-items-center"
              style="min-height: 400px"
            >
              <img src="" alt="IRIS" class="img-fluid" />
            </c-card-body>
          </c-card>
        </c-col>
      </c-row>
    </c-col>
  </c-modal-body>
  <c-modal-footer class="justify-content-end">
    <button class="btn btn-secondary" (click)="irisAmbilModalconfirm(false)">
      Tutup
    </button>
  </c-modal-footer>
</c-modal>

<!-- Maklumat Carian tidak hujud Modal -->
<app-modal-component
  [visible]="carianModalVisible"
  title=""
  message="Maklumat carian tidak wujud. Sila masukkan kunci carian lain."
  mode="ok" 
  icon="danger"
  (close)="carianModalconfirm(false)"
></app-modal-component>