<c-card>
    <h4 class="fw-bold m-3 mt-5">
        MAKLUMAT PEJABAT
    </h4>
    <div class="m-3">
        <app-stepper
        [currentMainStep]="currentMainStep"
        [currentSubStep]="currentSubStep"
        ></app-stepper>
    </div>
    <c-card-body class="p-5">
        <c-row>
            <h6 class="fw-bold mb-5">Maklumat Pejabat</h6>
        </c-row>
        <c-row class="mb-3" [md]="2" [xs]="1">
            <c-col>
                <label for="kodCawangan" cLabel>Kod Cawangan</label>
                <input type="text" id="kodCawangan" class="form-control" placeholder="C001"/>
            </c-col>
            <c-col>
                <label for="kodPTJ" cLabel>Kod PTJ</label>
                <input type="text" id="kodPTJ" class="form-control" placeholder="PTJ045"/>
            </c-col>
        </c-row>
        <c-row class="mb-3">
            <c-col>
                <label for="namaPejabat" cLabel>Nama Pejabat</label>
                <input type="text" id="namaPejabat" class="form-control" placeholder="Pejabat Teknologi Maklumat"/>
            </c-col>
        </c-row>
        <c-row class="mb-3">
            <c-col>
                <label for="jenisBangunan" cLabel>Jenis Bangunan</label>
                <input type="text" id="jenisBangunan" class="form-control" placeholder="Kompleks Pejabat"/>
            </c-col>
        </c-row>
        <c-row class="mb-3">
            <c-col>
                <label for="namaBangunan" cLabel>Nama Bangunan</label>
                <input type="text" id="namaBangunan" class="form-control" placeholder="Bangunan Canselor"/>
            </c-col>
        </c-row>
        <c-row class="mb-3 d-flex flex-column gap-2" [md]="1" [xs]="1">
            <c-col>
                <label for="alamatPejabat" cLabel>Alamat Pejabat</label>
                <input type="text" id="alamat1" class="form-control" placeholder="Aras 2, Pusat Transformasi Bandar (UTC),"/>
            </c-col>
            <c-col>
                <input type="text" id="alamat2" class="form-control" placeholder="Jalan Hang Tuah"/>
            </c-col>
            <c-col>
                <input type="text" id="alamat3" class="form-control" placeholder="75300 Melaka."/>
            </c-col>
        </c-row>
        <c-row class="mb-3" [md]="2" [xs]="1">
            <c-col>
                <label for="poskod" cLabel>Poskod</label>
                <input type="text" id="poskod" class="form-control" placeholder="75300"/>
            </c-col>
            <c-col>
                <label for="bandar" cLabel>Bandar</label>
                <input type="text" id="bandar" class="form-control" placeholder="Melaka"/>
            </c-col>
            <c-col>
                <label for="negeri" cLabel class="mt-3">Negeri</label>
                <input type="text" id="negeri" class="form-control" placeholder="Melaka"/>
            </c-col>
        </c-row>
        <c-row class="mb-3" [md]="2" [xs]="1">
            <c-col>
                <label for="noTelPejabat" cLabel>Nombor Telefon Pejabat</label>
                <input type="text" id="noTelPejabat" class="form-control" placeholder="06-263 8000"/>
            </c-col>
            <c-col>
                <label for="koordinatPejabat" cLabel>Koordinat Pejabat</label>
                <input type="text" id="koordinatPejabat" class="form-control" placeholder="2.2480, 102.4286"/>
            </c-col>
            <c-col>
                <label for="jenisPejabat" cLabel class="mt-3">Jenis Pejabat</label>
                <input type="text" id="jenisPejabat" class="form-control" placeholder="Pentadbiran"/>
            </c-col>
            <c-col>
                <label for="kategoriPejabat" cLabel class="mt-3">Kategori Pejabat</label>
                <select id="kategoriPejabat" class="form-select">
                    <option value="">-Sila Pilih-</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                </select>
            </c-col>
            <c-col>
                <label for="noPewartaan" cLabel class="mt-3">Nombor Pewartaan</label>
                <input type="text" id="noPewartaan" class="form-control" placeholder="5"/>
            </c-col>
            <c-col>
                <label for="tarikhPewartaan" cLabel class="mt-3">Tarikh Pewartaan</label>
                <input type="date" id="tarikhPewartaan" class="form-control" placeholder="01/01/2020"/>
            </c-col>
            <c-col>
                <label for="lokasiBertugas" cLabel class="mt-3">Lokasi Bertugas</label>
                <select id="lokasiBertugas" class="form-select">
                    <option value="">-Sila Pilih-</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                </select>
            </c-col>
            <c-col>
                <label for="jumlahKantin" cLabel class="mt-3">Jumlah Kantin</label>
                <input type="text" id="jumlahKantin" class="form-control" placeholder="2"/>
            </c-col>
        </c-row>
        <c-row class="mb-3 mt-5">
            <c-col class="d-flex gap-2">
                <label for="namaKaunter" cLabel class="me-4 w-25">Nama Kaunter</label>
                <span class="w-100 d-flex justify-content-end gap-2 align-items-center">
                    <input type="text" id="namaKaunter" class="form-control w-100" [(ngModel)]="kaunterInput" (keydown.enter)="addKaunter()"/>
                    <mat-icon (click)="addKaunter()">add</mat-icon>
                </span>
            </c-col>
        </c-row>
        <c-row class="mb-3">
            <div class="table-responsive">
            <table cTable hover>
                <thead>
                    <tr>
                        <th>Bil.</th>
                        <th>Nama Kaunter</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let kaunter of kaunterList; let i = index">
                        <td>{{i + 1}}.</td>
                        <td>{{kaunter.namaKaunter}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </c-row>
        <c-row class="mb-3" [md]="2" [xs]="1">
            <c-col>
                <label for="statusPejabat" cLabel class="mt-3">Status Pejabat</label>
                <input type="text" id="statusPejabat" class="form-control" placeholder="Aktif"/>
            </c-col>
            <c-col></c-col>
            <c-col>
                <label for="jumlahBlok" cLabel class="mt-3">Jumlah Blok</label>
                <input type="text" id="jumlahBlok" class="form-control" placeholder="1"/>
            </c-col>
            <c-col>
                <label for="jumlahBilik" cLabel class="mt-3">Jumlah Bilik</label>
                <input type="text" id="jumlahBilik" class="form-control" placeholder="2"/>
            </c-col>
            <c-col>
                <label for="noPewartaan" cLabel class="mt-3">Nombor Pewartaan</label>
                <input type="text" id="noPewartaan" class="form-control" placeholder="PWT/2020/005"/>
            </c-col>
            <c-col>
                <label for="tarikhPewartaan" cLabel class="mt-3">Tarikh Pewartaan</label>
                <input type="date" id="tarikhPewartaan" class="form-control" placeholder="01/01/2020"/>
            </c-col>
            <c-col>
                <label for="masaOperasi" cLabel class="mt-3">Masa Operasi</label>
                <input type="text" id="masaOperasi" class="form-control" placeholder="08:00 AM - 05:00 PM"/>
            </c-col>
            <c-col>
                <label for="jenisWaktuOperasi" cLabel class="mt-3">Jenis Waktu Operasi</label>
                <input type="text" id="jenisWaktuOperasi" class="form-control" placeholder="Waktu Bekerja Biasa"/>
            </c-col>
        </c-row>
    </c-card-body>
    <c-card-footer>
        <c-row>
            <div class="d-flex justify-content-end">
                <button color="primary" class="primary-custom-btn w-auto px-4 me-2" (click)="SimpanRekod()">
                    <c-icon name="cilCheckCircle" class="me-2"></c-icon>
                    Simpan</button>
                <button class="l-custom-btn" (click)="navigatePreviousPage()">&lsaquo;</button>
                <button class="r-custom-btn" (click)="navigateNextPage()">&rsaquo;</button>
            </div>
        </c-row>
    </c-card-footer>
</c-card>

<app-modal-component
  [visible]="simpanRekodModal"
  title=""
  message="Rekod Telah Berjaya Disimpan"
  mode="ok" 
  icon="tick"
  (close)="closeSimpanRekodModal()"
></app-modal-component>