<div class="container-fluid">
  <div class="row">
    <div>
      <c-card>
        <c-card class="page-content">
          <c-card-header>
            <h5 class="card-title">Maklumat Lewat</h5>
          </c-card-header>

          <c-card-body>
                    <!-- Horizontal Stepper -->
        <div class="horizontal-stepper">
          <ul class="stepper-list d-flex align-items-center justify-content-start flex-wrap">
            <li class="stepper-item" *ngFor="let step of steps" [class.active]="isStepActive(step.number)">
              <button type="button" class="step-btn">
                <span class="step-number">{{ step.number }}</span>
                <span class="step-title">{{ step.title }}</span>
              </button>
            </li>
          </ul>
        </div>
            <form  #maklumatLewatForm="ngForm">
              <c-row>
                <c-col class="d-flex justify-content-center">
                  <div style="border: 1px solid #ccc; border-radius: 6px; padding:60px 30px; text-align: center; height: 200px;">
                    <img src="" alt="Profile Image" class="img-fluid rounded shadow" />
                  </div>
                </c-col>
                <c-col></c-col>
              </c-row>

              <c-row class="mb-3">
                <c-col>
                  <label class="form-label">Nama Pegawai<span class="text-danger">*</span></label>
                  <input type="text" class="form-control greyed-input" [(ngModel)]="formData.name" name="name" placeholder="Masukkan nama penuh" readonly />
                </c-col>
                <c-col>
                  <label class="form-label">Bahagian<span class="text-danger">*</span></label>
                  <input type="text" class="form-control greyed-input" [(ngModel)]="formData.division" name="division" placeholder="Masukkan nama penuh" readonly />
                  <!-- <select class="form-select" >
                    <option disabled selected>Sila Pilih</option>
                    <option value="BPOI">Bahagian Pengurusan Operasi Imigresen</option>
                  </select> -->
                </c-col>
              </c-row>

              <c-row class="mb-3">
                <c-col>
                  <label class="form-label">Nombor Kad Pengenalan<span class="text-danger">*</span></label>
                  <input type="text" class="form-control greyed-input" [(ngModel)]="formData.icNo" name="icNo" placeholder="Masukkan nombor Kad Pengenalan" readonly />
                </c-col>
                <c-col>
                  <label class="form-label">Unit<span class="text-danger">*</span></label>
                  <input type="text" class="form-control greyed-input" [(ngModel)]="formData.unit" name="unit" readonly />
                  
                  <!-- <select class="form-select" [(ngModel)]="formData.unit" name="unit">
                    <option disabled selected>Sila Pilih</option>
                    <option value="Unit Pemeriksaan Laluan masuk">Unit Pemeriksaan Laluan masuk</option>
                  </select> -->
                </c-col>
              </c-row>

              <c-row class="mb-3">
                <c-col>
                  <label class="form-label">Gred Jawatan<span class="text-danger">*</span></label>
                  <input type="text" class="form-control greyed-input" [(ngModel)]="formData.gred" name="gred" readonly />
                </c-col>
                <c-col>
                  <label class="form-label">Kumpulan<span class="text-danger">*</span></label>
                  <input type="text" class="form-control greyed-input" [(ngModel)]="formData.groupRSTR" name="group"  readonly />
                  
                  <!-- <select class="form-select" [(ngModel)]="formData.group" name="group">
                    <option disabled selected>Sila Pilih</option>
                    <option value="1">1</option>
                  </select> -->
                </c-col>
              </c-row>

              <c-row class="mb-3">
                <c-col>
                  <label class="form-label">Tarikh Clock in<span class="text-danger">*</span></label>
                  <input type="date" class="form-control greyed-input" [(ngModel)]="formData.clockInDate" name="clockInDate" />
                </c-col>
                <c-col>
                  <label class="form-label">Masa Clock in<span class="text-danger">*</span></label>
                  <input type="time" [value]="formatToTimeOnly(formData.clockInTime)" readonly class="form-control greyed-input" />
                </c-col>
              </c-row>

              <c-row class="mb-3">
                <c-col>
                  <label class="form-label">Lokasi<span class="text-danger">*</span></label>
                  <input type="text" class="form-control greyed-input" [(ngModel)]="formData.locationId" name="locationId" readonly />
                </c-col>
              </c-row>

              <c-row class="mb-3">
                <c-col>
                  <label class="form-label">Sebab Lewat<span class="text-danger">*</span></label>
                  <select class="form-select" [(ngModel)]="formnoteData.rCode" name="reasonCode">
                    <option >Sila Pilih</option>
                    <option value="01">Emergency</option>
                    <option value="02">other</option>
                    <option value="03">accident</option>
                  </select>
                </c-col>
              </c-row>

              <c-row class="mb-3">
                <c-col>
                  <label class="form-label">Catatan<span class="text-danger">*</span></label>
                  <input type="text" class="form-control" [(ngModel)]="formnoteData.noteText" name="message" placeholder="Contoh: Pergi kedai beli cucur, tayar bocor" />
                </c-col>
              </c-row>

              <c-row>
                <label class="form-label">Lampiran</label>
                <c-col>
                  <button type="button" class="btn btn-dark btn-search" (click)="null">+ Muat Naik</button>
                </c-col>
              </c-row>
            </form>
          </c-card-body>
        </c-card>
        <div class="action-footer">
          <div class="nav-buttons">
            <button type="submit" class="btn btn-dark" (click)="hantarCatatan()">Hantar</button>
            <button type="button" class="btn btn-dark" (click)="SimpanCatatan()">Simpan</button>
          </div>
        </div>
      </c-card>
    </div>
  </div>
</div>

<!-- Modal CMN S001: Simpan -->
<app-modal-sucess-send-save [Hantarmodel]="HantarModalsave" (close)="closeModal()">
</app-modal-sucess-send-save>

<!-- Modal CMN S013: Hantar -->
<app-modal-sucess-send [Hantarmodel]="HantarModalsend" (close)="closeModal()">
</app-modal-sucess-send>
