<c-card>
  <c-card-body>
    <c-row class="my-2">
      <h4 class="fw-bold">KEMAS KINI MAKLUMAT PROFILE KAKITANGAN</h4>
    </c-row>

    <app-stepper
      [currentMainStep]="currentMainStep"
      [currentSubStep]="currentSubStep"
    ></app-stepper>

    <c-row class="my-5">
      <c-row class="mb-3">
        <c-col xs="12" md="6">
          <h5>Maklumat Perkhidmatan Dan Perjawatan</h5>
        </c-col>
        <c-col xs="12" md="6" class="d-flex justify-content-end">
          <button type="button" class="btn btn-primary">Kemas Kini</button>
        </c-col>
      </c-row>
      <c-row>
        <c-col xs="12" md="6" class="mb-3">
          <label>Kategori Kakitangan</label>
          <input
            class="form-control"
            [(ngModel)]="maklumatPerkhidmatan1.kategoriKakitangan"
            [readonly]="true"
            [ngClass]="{ 'bg-light text-muted': true }"
          />
        </c-col>
      </c-row>

      <c-row>
        <c-col xs="12" md="6" class="mb-3">
          <label>Jawatan</label>
          <input
            class="form-control"
            [(ngModel)]="maklumatPerkhidmatan1.jawatan"
            [readonly]="readonlyField"
            [ngClass]="{ 'bg-light text-muted': readonlyField }"
          />
        </c-col>
        <c-col xs="12" md="6" class="mb-3">
          <label>Status Jawatan</label>
          <input
            class="form-control"
            [(ngModel)]="maklumatPerkhidmatan1.statusJawatan"
            [readonly]="readonlyField"
            [ngClass]="{ 'bg-light text-muted': readonlyField }"
          />
        </c-col>
      </c-row>

      <c-row>
        <c-col xs="12" md="6" class="mb-3">
          <label>Pangkat</label>
          <input
            class="form-control"
            [(ngModel)]="maklumatPerkhidmatan1.pangkat"
            [readonly]="readonlyField"
            [ngClass]="{ 'bg-light text-muted': readonlyField }"
          />
        </c-col>
      </c-row>

      <c-row class="align-items-end">
        <c-col xs="12" md="6" class="mb-3">
          <label>Kod Gaji</label>
          <input
            class="form-control"
            [(ngModel)]="maklumatPerkhidmatan1.kodGaji"
            [readonly]="readonlyField"
            [ngClass]="{ 'bg-light text-muted': readonlyField }"
          />
        </c-col>
        <c-col xs="12" md="6" class="mb-3">
          <label>Gaji</label>
          <input
            class="form-control"
            [(ngModel)]="maklumatPerkhidmatan1.gaji"
            [readonly]="readonlyField"
            [ngClass]="{ 'bg-light text-muted': readonlyField }"
          />
        </c-col>
      </c-row>

      <c-row>
        <c-col xs="12" md="6" class="mb-3">
          <label>Tarikh Mula Berkhidmat</label>
          <input
            type="date"
            class="form-control"
            [(ngModel)]="maklumatPerkhidmatan1.tarikhMulaBerkhidmat"
            [readonly]="readonlyField"
            [ngClass]="{ 'bg-light text-muted': readonlyField }"
          />
        </c-col>
        <c-col xs="12" md="6" class="mb-3">
          <label>Tarikh Tamat Berkhidmat</label>
          <input
            type="date"
            class="form-control"
            [(ngModel)]="maklumatPerkhidmatan1.tarikhTamatBerkhidmat"
            [readonly]="readonlyField"
            [ngClass]="{ 'bg-light text-muted': readonlyField }"
          />
        </c-col>
      </c-row>

      <c-row>
        <c-col xs="12" md="6" class="mb-3">
          <label>Status Kakitangan</label>
          <select
            class="form-select"
            [(ngModel)]="maklumatPerkhidmatan1.statusKakitangan"
            [disabled]="readonlyField"
            [ngClass]="{ 'bg-light text-muted': readonlyField }"
          >
            <option value="" disabled hidden>Sila Pilih</option>
            <option value="Aktif">Aktif</option>
            <option value="Tidak Aktif">Tidak Aktif</option>
          </select>
        </c-col>
        <c-col xs="12" md="6" class="mb-3">
          <label>Nombor Badan / Perkhidmatan</label>
          <input
            class="form-control"
            [(ngModel)]="maklumatPerkhidmatan1.nomborBadanPerkhidmatan"
            [readonly]="true"
            [ngClass]="{ 'bg-light text-muted': true }"
          />
        </c-col>
      </c-row>

      <c-row>
        <c-col xs="12" md="6" class="mb-3">
          <label>Sebab Tidak Aktif</label>
          <select
            class="form-select"
            [(ngModel)]="maklumatPerkhidmatan1.sebabTidakAktif"
            [disabled]="readonlyField"
            [ngClass]="{ 'bg-light text-muted': readonlyField }"
          >
            <option value="" disabled hidden>Sila Pilih</option>
          </select>
        </c-col>
        <c-col xs="12" md="6" class="mb-3">
          <label>Jika 'Lain-Lain', Nyatakan</label>
          <input
            class="form-control"
            [(ngModel)]="maklumatPerkhidmatan1.jikaLainLain"
            [readonly]="readonlyField"
            [ngClass]="{ 'bg-light text-muted': readonlyField }"
          />
        </c-col>
      </c-row>

      <c-row>
        <c-col xs="12" md="4">
          <button
            type="button"
            class="btn btn-primary"
            [disabled]="readonlyField"
          >
            + Tambah Maklumat
          </button>
        </c-col>
      </c-row>

      <c-row class="mb-3">
        <c-col xs="12" md="6" class="mt-5">
          <h5>Maklumat Perkhidmatan Dan Perjawatan</h5>
        </c-col>
        <c-col
          xs="12"
          md="6"
          class="mb-3 d-flex align-items-center justify-content-end"
        >
          <button type="button" class="btn btn-primary">Kemas Kini</button>
        </c-col>
      </c-row>
      <c-row>
        <c-col xs="12" md="6" class="mb-3">
          <label>Kategori Kakitangan</label>
          <input
            class="form-control"
            [(ngModel)]="maklumatPerkhidmatan2.kategoriKakitangan"
            [readonly]="readonlyField"
            [ngClass]="{ 'bg-light text-muted': readonlyField }"
          />
        </c-col>
      </c-row>

      <c-row>
        <c-col xs="12" md="6" class="mb-3">
          <label>Jawatan</label>
          <input
            class="form-control"
            [(ngModel)]="maklumatPerkhidmatan2.jawatan"
            [readonly]="readonlyField"
            [ngClass]="{ 'bg-light text-muted': readonlyField }"
          />
        </c-col>
        <c-col xs="12" md="6" class="mb-3">
          <label>Status Jawatan</label>
          <input
            class="form-control"
            [(ngModel)]="maklumatPerkhidmatan2.statusJawatan"
            [readonly]="readonlyField"
            [ngClass]="{ 'bg-light text-muted': readonlyField }"
          />
        </c-col>
      </c-row>

      <c-row>
        <c-col xs="12" md="6" class="mb-3">
          <label>Pangkat</label>
          <input
            class="form-control"
            [(ngModel)]="maklumatPerkhidmatan2.pangkat"
            [readonly]="readonlyField"
            [ngClass]="{ 'bg-light text-muted': readonlyField }"
          />
        </c-col>
        <c-col xs="12" md="6" class="mb-3">
          <label>Kumpulan Perkhidmatan</label>
          <input
            class="form-control"
            [(ngModel)]="maklumatPerkhidmatan2.kumpulanPerkhidmatan"
            [readonly]="readonlyField"
            [ngClass]="{ 'bg-light text-muted': readonlyField }"
          />
        </c-col>
      </c-row>

      <c-row>
        <c-col xs="12" md="6" class="mb-3">
          <label>Gred</label>
          <input
            class="form-control"
            [(ngModel)]="maklumatPerkhidmatan2.gred"
            [readonly]="readonlyField"
            [ngClass]="{ 'bg-light text-muted': readonlyField }"
          />
        </c-col>
        <c-col xs="12" md="6" class="mb-3">
          <label>Kod Skim</label>
          <input
            class="form-control"
            [(ngModel)]="maklumatPerkhidmatan2.kodSkim"
            [readonly]="readonlyField"
            [ngClass]="{ 'bg-light text-muted': readonlyField }"
          />
        </c-col>
      </c-row>

      <c-row class="align-items-end">
        <c-col xs="12" md="6" class="mb-3">
          <label>Kod Gaji</label>
          <input
            class="form-control"
            [(ngModel)]="maklumatPerkhidmatan2.kodGaji"
            [readonly]="readonlyField"
            [ngClass]="{ 'bg-light text-muted': readonlyField }"
          />
        </c-col>
        <c-col xs="12" md="6" class="mb-3">
          <label
            >Tarikh Lantikan Pertama Sebagai Pegawai Kanan (Jika
            Berkenaan)</label
          >
          <input
            class="form-control"
            [(ngModel)]="maklumatPerkhidmatan2.tarikhLantikanPertama"
            [readonly]="readonlyField"
            [ngClass]="{ 'bg-light text-muted': readonlyField }"
          />
        </c-col>
      </c-row>

      <c-row>
        <c-col xs="12" md="6" class="mb-3">
          <label>Tarikh Mula Berkhidmat</label>
          <input
            type="date"
            class="form-control"
            [(ngModel)]="maklumatPerkhidmatan2.tarikhMulaBerkhidmat"
            [readonly]="readonlyField"
            [ngClass]="{ 'bg-light text-muted': readonlyField }"
          />
        </c-col>
        <c-col xs="12" md="6" class="mb-3">
          <label>Tarikh Tamat Berkhidmat</label>
          <input
            type="date"
            class="form-control"
            [(ngModel)]="maklumatPerkhidmatan2.tarikhTamatBerkhidmat"
            [readonly]="readonlyField"
            [ngClass]="{ 'bg-light text-muted': readonlyField }"
          />
        </c-col>
      </c-row>

      <c-row>
        <c-col xs="12" md="6" class="mb-3">
          <label>Status Kakitangan</label>
          <select
            class="form-select"
            [(ngModel)]="maklumatPerkhidmatan2.statusKakitangan"
            [disabled]="readonlyField"
            [ngClass]="{ 'bg-light text-muted': readonlyField }"
          >
            <option value="" disabled hidden>Sila Pilih</option>
            <option value="Aktif">Aktif</option>
            <option value="Tidak Aktif">Tidak Aktif</option>
          </select>
        </c-col>
        <c-col xs="12" md="6" class="mb-3">
          <label>Nombor Badan / Perkhidmatan</label>
          <input
            class="form-control"
            [(ngModel)]="maklumatPerkhidmatan2.nomborBadanPerkhidmatan"
            [readonly]="true"
            [ngClass]="{ 'bg-light text-muted': true }"
          />
        </c-col>
      </c-row>

      <c-row>
        <c-col xs="12" md="4">
          <button
            type="button"
            class="btn btn-primary"
            [disabled]="readonlyField"
          >
            + Tambah Maklumat
          </button>
        </c-col>
      </c-row>

      <c-row class="mb-3">
        <c-col xs="12" md="6" class="mt-5">
          <h5>Maklumat Perkhidmatan Dan Perjawatan - Sejarah Pekerjaan</h5>
        </c-col>
        <c-col
          xs="12"
          md="6"
          class="mb-3 d-flex align-items-center justify-content-end"
        >
          <button type="button" class="btn btn-primary">Kemas Kini</button>
        </c-col>
      </c-row>

      <c-row>
        <c-col xs="12" md="12" class="mb-3">
          <label>Nama Majikan</label>
          <input
            class="form-control"
            [(ngModel)]="sejarahPekerjaan.namaMajikan"
            [readonly]="readonlyField"
            [ngClass]="{ 'bg-light text-muted': readonlyField }"
          />
        </c-col>
      </c-row>

      <c-row>
        <c-col xs="12" md="12" class="mb-3">
          <label>Alamat Majikan</label>
          <input
            class="form-control mb-3"
            [(ngModel)]="sejarahPekerjaan.alamat1"
            [readonly]="readonlyField"
            [ngClass]="{ 'bg-light text-muted': readonlyField }"
          />
          <input
            class="form-control mb-3"
            [(ngModel)]="sejarahPekerjaan.alamat2"
            [readonly]="readonlyField"
            [ngClass]="{ 'bg-light text-muted': readonlyField }"
          />
          <input
            class="form-control"
            [(ngModel)]="sejarahPekerjaan.alamat3"
            [readonly]="readonlyField"
            [ngClass]="{ 'bg-light text-muted': readonlyField }"
          />
        </c-col>
      </c-row>

      <c-row>
        <c-col xs="12" md="6" class="mb-3">
          <label>Negara</label>
          <select
            class="form-select"
            [(ngModel)]="sejarahPekerjaan.negara"
            [disabled]="readonlyField"
            [ngClass]="{ 'bg-light text-muted': readonlyField }"
          >
            <option value="" disabled hidden>Sila Pilih</option>
          </select>
        </c-col>
      </c-row>

      <c-row>
        <c-col xs="12" md="6" class="mb-3">
          <label>Jawatan</label>
          <input
            class="form-control"
            [(ngModel)]="sejarahPekerjaan.jawatan"
            [readonly]="readonlyField"
            [ngClass]="{ 'bg-light text-muted': readonlyField }"
          />
        </c-col>
        <c-col xs="12" md="6" class="mb-3">
          <label>Bidang / Industri</label>
          <select
            class="form-select"
            [(ngModel)]="sejarahPekerjaan.bidangIndustri"
            [disabled]="readonlyField"
            [ngClass]="{ 'bg-light text-muted': readonlyField }"
          >
            <option value="" disabled hidden>Sila Pilih</option>
          </select>
        </c-col>
      </c-row>

      <c-row>
        <c-col xs="12" md="6" class="mb-3">
          <label>Tarikh Mula</label>
          <input
            type="date"
            class="form-control"
            [(ngModel)]="sejarahPekerjaan.tarikhMula"
            [readonly]="readonlyField"
            [ngClass]="{ 'bg-light text-muted': readonlyField }"
          />
        </c-col>
        <c-col xs="12" md="6" class="mb-3">
          <label>Tarikh Tamat</label>
          <input
            type="date"
            class="form-control"
            [(ngModel)]="sejarahPekerjaan.tarikhTamat"
            [readonly]="readonlyField"
            [ngClass]="{ 'bg-light text-muted': readonlyField }"
          />
        </c-col>
      </c-row>

      <c-row>
        <c-col xs="12" md="4">
          <button
            type="button"
            class="btn btn-primary"
            [disabled]="readonlyField"
          >
            + Tambah Maklumat
          </button>
        </c-col>
      </c-row>
    </c-row>

    <c-row>
      <c-row style="border-top: 1px solid rgba(0, 0, 0, 0.1)">
        <c-col class="d-flex gap-5 flex-shrink-0 justify-content-end py-3">
          <div class="d-flex gap-2">
            <button
              type="button"
              class="btn-custom-normalBlue fw-semibold btn btn-primary"
              (click)="navigateClosePage()"
            >
              Tutup
            </button>
          </div>

          <div class="d-flex">
            <button
              type="button"
              class="btn-custom-normalWhite fw-semibold btn btn-light"
              (click)="navigatePreviousPage()"
            >
              &lt;
            </button>
            <button
              type="button"
              class="btn-custom-normalWhite fw-semibold btn btn-light"
              (click)="navigateNextPage()"
            >
              &gt;
            </button>
          </div>
        </c-col>
      </c-row>
    </c-row>
  </c-card-body>
</c-card>
