<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<c-modal
  [visible]="Hantarmodel"
  (visibleChange)="onVisibleChange($event)"  
  id="successModal"
  size="sm"
  alignment="center"
  [backdrop]="true"
>
  <!-- Modal Body -->
  <c-modal-body class="text-center p-4">
    <!-- Success Icon -->
    <div class="success-icon mb-3">
      <i class="fa fa-check"></i>
    </div>

    <!-- Success Message -->
    <p class="modal-message">
      Rekod Telah Berjaya Dihantar
    </p>

    <!-- OK Button -->
    <button
      type="button"
      class="modal-ok-button"
      (click)="closeModal()"
    >
      OK
    </button>
  </c-modal-body>
</c-modal>