<c-card class="mb-3">
    <!-- HEADER PROFIL -->
    <c-card-header class="card-header">
        <h4 class="card-header-title">PROFIL</h4>
    </c-card-header>

    <!-- CONTENT CARD BODY -->
    <c-card-body>
        <c-row>
            <!-- FORMS -->
            <c-col md="8">
                <!-- FORMS START -->
                <form [formGroup]="profilForm" class="form" (ngSubmit)="onSubmit()">
                    <!-- Form Title -->
                    <h5 class="mb-4">Maklumat Profil Pengembara</h5>

                    <!-- Photo Placeholder -->
                    <div class="photo-placeholder mb-4">
                        <img [src]="photoUrl || 'assets/placeholder-image.png'" alt="Gambar Pengembara" />
                    </div>


                    <!-- Jenis Pelawat -->
                    <c-row class="g-3 mb-3 mt-3">
                        <c-col>
                            <label cLabel for="visitorType" class="mb-2">Jenis Pelawat</label>
                            <input cFormControl id="visitorType" type="text" formControlName="visitorType"
                                class="form-control" />
                        </c-col>
                        <c-col>
                            <!-- Empty right column -->
                        </c-col>
                    </c-row>


                    <!-- Jenis Pemeriksaan dan Jenis Perjalanan -->
                    <c-row class="g-3 mb-3">
                        <!-- Jenis Pemeriksaan -->
                        <c-col>
                            <label cLabel for="jenisPemeriksaan" class="mb-2">Jenis Pemeriksaan</label>
                            <input cFormControl id="jenisPemeriksaan" type="text" formControlName="jenisPemeriksaan"
                                class="form-control" />
                        </c-col>
                        <!-- Jenis Perjalanan -->
                        <c-col>
                            <label cLabel for="journeyType" class="mb-2">Jenis Perjalanan</label>
                            <input cFormControl id="journeyType" type="text" formControlName="journeyType"
                                class="form-control" />
                        </c-col>
                    </c-row>


                    <!-- Jenis Dokumen dan No Dokumen -->
                    <c-row class="g-3 mb-3">
                        <!-- Jenis Dokumen -->
                        <c-col>
                            <label cLabel for="docType" class="mb-2">Jenis Dokumen</label>
                            <input cFormControl id="docType" type="text" formControlName="docType"
                                class="form-control" />
                        </c-col>
                        <!-- No Dokumen -->
                        <c-col>
                            <label cLabel for="docNo" class="mb-2">No. Dokumen</label>
                            <input cFormControl id="docNo" type="text" formControlName="docNo" class="form-control" />
                        </c-col>
                    </c-row>


                    <!-- No Pengenalan dan Warganegara -->
                    <c-row class="g-3 mb-3">
                        <!-- No Pengenalan -->
                        <c-col>
                            <label cLabel for="kpNo" class="mb-2">No. Pengenalan</label>
                            <input cFormControl id="kpNo" type="text" formControlName="kpNo" class="form-control" />
                        </c-col>
                        <!-- Warganegara -->
                        <c-col>
                            <label cLabel for="nationality" class="mb-2">Warganegara</label>
                            <input cFormControl id="nationality" type="text" formControlName="nationality"
                                class="form-control" />
                        </c-col>
                    </c-row>


                    <!-- Tarikh Tamat dan Negara Pengeluar -->
                    <c-row class="g-3 mb-3">
                        <!-- Tarikh Tamat -->
                        <c-col>
                            <label cLabel for="expiryDate" class="mb-2">Tarikh Tamat</label>
                            <input cFormControl id="expiryDate" type="date" formControlName="expiryDate"
                                class="form-control" />
                        </c-col>
                        <!-- Negara Pengeluar -->
                        <c-col>
                            <label cLabel for="countryIssue" class="mb-2">Negara Pengeluar</label>
                            <input cFormControl id="countryIssue" type="text" formControlName="countryIssue"
                                class="form-control" />
                        </c-col>
                    </c-row>


                    <!-- Nama -->
                    <c-row class="g-3 mb-3">
                        <c-col md="12">
                            <label cLabel for="name" class="mb-2">Nama</label>
                            <input cFormControl id="name" type="text" formControlName="name" class="form-control" />
                        </c-col>
                    </c-row>


                    <!-- Nama Dicetak -->
                    <c-row class="g-3 mb-3">
                        <c-col md="12">
                            <label cLabel for="printedName" class="mb-2">Nama Dicetak</label>
                            <input cFormControl id="printedName" type="text" formControlName="printedName"
                                class="form-control" />
                        </c-col>
                    </c-row>


                    <!-- Tarikh Lahir dan Jantina -->
                    <c-row class="g-3 mb-3">
                        <!-- Tarikh Lahir -->
                        <c-col>
                            <label cLabel for="dob" class="mb-2">Tarikh Lahir</label>
                            <input cFormControl id="dob" type="date" formControlName="dob" class="form-control" />
                        </c-col>
                        <!-- Blank -->
                        <c-col>

                        </c-col>
                    </c-row>


                    <!-- Jenis Pas dan Tarikh Tamat Pas -->
                    <c-row class="g-3 mb-3">
                        <!-- Jenis Pas -->
                        <c-col>
                            <label cLabel for="pasType" class="mb-2">Jenis Pas</label>
                            <select cFormSelect id="pasType" formControlName="pasType" class="form-control"
                                aria-label="Jenis Pas">
                                <option value="" disabled selected>Pilih Jenis Pas</option>
                                <option value="1">Pas Sosial</option>
                                <option value="2">Pas Pelajar</option>
                                <option value="3">Pas Pekerja</option>
                            </select>
                        </c-col>
                        <!-- Tarikh Tamat Pas -->
                        <c-col>
                            <label cLabel for="pasExpiryDate" class="mb-2">Tarikh Tamat Pas</label>
                            <input cFormControl id="pasExpiryDate" type="date" formControlName="pasExpiryDate"
                                class="form-control" />
                        </c-col>
                    </c-row>


                    <!-- No Vessel/Kenderaan dan Jenis Pergerakan -->
                    <c-row class="g-3 mb-3">
                        <!-- No Vessel/Kenderaan -->
                        <c-col>
                            <label cLabel for="vesselNo" class="mb-2">No Vessel/Kenderaan</label>
                            <input cFormControl id="vesselNo" type="text" formControlName="vesselNo"
                                class="form-control" />
                        </c-col>
                        <!-- Jenis Pergerakan -->
                        <c-col>
                            <label cLabel for="movementType" class="mb-2">Jenis Pergerakan</label>
                            <input cFormControl id="movementType" type="text" formControlName="movementType"
                                class="form-control" />
                        </c-col>
                    </c-row>


                    <!-- Pintu Masuk -->
                    <c-row class="g-3 mb-3">
                        <c-col>
                            <label cLabel for="entryBranch" class="mb-2">Pintu Masuk</label>
                            <input cFormControl id="entryBranch" type="text" formControlName="entryBranch"
                                class="form-control" />
                        </c-col>
                        <c-col>
                            <!-- Empty right column -->
                        </c-col>
                    </c-row>


                    <!-- Tarikh Masuk dan Masa Masuk -->
                    <c-row class="g-3 mb-3">
                        <!-- Tarikh Masuk -->
                        <c-col>
                            <label cLabel for="entryDate" class="mb-2">Tarikh Masuk</label>
                            <input cFormControl id="entryDate" type="date" formControlName="entryDate"
                                class="form-control" />
                        </c-col>
                        <!-- Masa Masuk -->
                        <c-col>
                            <label cLabel for="entryTime" class="mb-2">Masa Masuk</label>
                            <input cFormControl id="entryTime" type="time" formControlName="entryTime"
                                class="form-control" />
                        </c-col>
                    </c-row>
                </form>
            </c-col>
        </c-row>
        <c-row class="g-3 mb-3 mt-3 me-4">
            <c-col class="d-flex flex-column align-items-end gap-2">
                <button cButton color="primary" class="biometric-btn" [disabled]="maklumat === 'lengkap'"
                    (click)="captureFaceAndIris()">
                    AMBIL WAJAH & IRIS
                </button>
                <button cButton color="primary" class="biometric-btn" [disabled]="maklumat === 'lengkap'"
                    (click)="captureFingerprint()">
                    AMBIL CAP JARI
                </button>
                <c-row class="mt-4 mb-3">
                    <c-col class="d-flex justify-content-end align-items-center gap-2">
                        <!-- Action Buttons -->
                        <button cButton type="button" color="primary" class="text-white px-4 reset-btn"
                            (click)="resetForm()">
                            SET SEMULA
                        </button>

                        <button cButton color="primary" [cModalToggle]="verticallyCenteredModal.id"
                            class="text-white px-4 submit-btn">
                            SIMPAN
                        </button>
                    </c-col>
                </c-row>
            </c-col>
        </c-row>
        <!-- END OF CONTENT -->
    </c-card-body>
</c-card>

<c-modal #verticallyCenteredModal alignment="center" id="verticallyCenteredModal">
    <div
        style="display: flex; flex-direction: column; align-items: center; justify-content: center; border-radius: 6px; width: 300px; margin: auto; background-color: white; padding: 20px;">

        <!-- Icon / Placeholder -->
        <div style="width: 100px; height: 90px; border: 1px solid #999; margin-bottom: 20px;"></div>

        <!-- Modal Title -->
        <h5 cModalTitle class="text-center">Pemeriksaan Masuk Berjaya</h5>

        <!-- Modal Body -->
        <div style="width: 100%; margin-top: 20px; display: flex; flex-direction: column; gap: 10px;">
            <!-- Jenis Pas -->
            <div style="display: flex; align-items: center; gap: 10px;">
                <label style="min-width: 100px;">Jenis Pas</label>
                <input type="text" value="" disabled style="flex: 1;" />
            </div>

            <!-- Tarikh Tamat Pas -->
            <div style="display: flex; align-items: center; gap: 10px;">
                <label style="min-width: 100px;">Tarikh Tamat Pas</label>
                <input type="text" disabled style="flex: 1;" />
            </div>
        </div>


        <!-- Submit Button -->
        <button cButton color="primary" class="mt-4" style="padding: 10px 40px;" (click)="onSubmit()">
            OK
        </button>
    </div>
</c-modal>