<c-modal
  [visible]="visible"
  (visibleChange)="!$event && onClose()"
  (close)="onClose()"
  [alignment]="alignment"
  [backdrop]="backdrop"
  [keyboard]="keyboard"
>
  <c-modal-header *ngIf="title">
    <h5 cModalTitle>{{ title }}</h5>
    <button type="button" class="btn-close" (click)="onClose()"></button>
  </c-modal-header>

  <c-modal-body class="d-flex justify-content-center align-items-center flex-column" style="min-height: 150px;">
    <img *ngIf="iconSrc" [src]="iconSrc" [style.width.px]="iconSizePx" [style.height.px]="iconSizePx" alt="modal icon" class="mb-3" />
    <ng-content></ng-content>
    <h5 *ngIf="message" class="text-center m-0">{{ message }}</h5>
  </c-modal-body>

  <c-modal-footer class="d-flex justify-content-center" *ngIf="mode === 'ok'">
    <button class="primary-custom-btn px-4" (click)="onConfirm()">{{ okText }}</button>
  </c-modal-footer>

  <c-modal-footer class="d-flex justify-content-center" *ngIf="mode === 'confirm'">
    <button class="primary-custom-btn me-2 px-4" (click)="onConfirm()">{{ confirmText }}</button>
    <button class="secondary-custom-btn px-4" (click)="onCancel()">{{ cancelText }}</button>
  </c-modal-footer>
</c-modal>
