<c-card>
    <h4 class="fw-bold m-3 mt-5">
        MAKLUMAT PEJABAT
    </h4>
    <div class="m-3">
        <app-stepper
        [currentMainStep]="currentMainStep"
        [currentSubStep]="currentSubStep"
        ></app-stepper>
    </div>
  <c-card-body class="p-5">
      <c-row>
          <h6 class="fw-bold mb-5">Maklumat Kontrak Sewaan Pejabat</h6>
      </c-row>
      <c-col class="mb-3 d-flex align-items-start flex-column">
        <span class="ms-2 mb-2">{{ selectedFileName || 'Tiada fail dipilih' }}</span>
        <label for="file" class="btn primary-custom-btn">
          Muat Naik
        </label>
        <input
          type="file"
          id="file"
          hidden
          (change)="onFileChange($event)"
        />
      </c-col>
      <hr>
      <br>
      <c-row class="mb-3" [md]="2" [xs]="1">
          <c-col>
              <label for="noDokumen" cLabel>Nombor Dokumen</label>
              <input type="text" id="noDokumen" class="form-control" placeholder="KONTRAK/2025/001"/>
          </c-col>
          <c-col>
              <label for="tarikhMulaKontrak" cLabel>Tarikh Mula Kontrak</label>
              <input type="text" id="tarikhMulaKontrak" class="form-control" placeholder="01/01/2025"/>
          </c-col>
          <c-col>
              <label for="tarikhTamatKontrak" cLabel>Tarikh Tamat Kontrak</label>
              <input type="text" id="tarikhTamatKontrak" class="form-control" placeholder="31/12/2027"/>
          </c-col>
          <c-col>
              <label for="tempohKontrak" cLabel>Tempoh (Tahun)</label>
              <input type="text" id="tempohKontrak" class="form-control" placeholder="3"/>
          </c-col>
          <c-col>
              <label for="kadarBayaranSewa" cLabel>Kadar Bayaran Sewa</label>
              <input type="text" id="kadarBayaranSewa" class="form-control" placeholder="RM 5,000"/>
          </c-col>
          <c-col>
              <label for="jumlahBayaranBulanan" cLabel>Jumlah Bayaran Bulanan</label>
              <input type="text" id="jumlahBayaranBulanan" class="form-control" placeholder="RM 5,000"/>
          </c-col>
          <c-col>
              <label for="jumlahBayaranTahunan" cLabel>Jumlah Bayaran Tahunan</label>
              <input type="text" id="jumlahBayaranTahunan" class="form-control" placeholder="RM 6,000"/>
          </c-col>
          <c-col>
              <label for="bayaranKadarSewaBulanan" cLabel>Bayaran Kadar Sewa Bulanan</label>
              <input type="text" id="bayaranKadarSewaBulanan" class="form-control" placeholder="RM 5,000"/>
          </c-col>
      </c-row>
      <br>
      <br>
      <c-row>
        <h6 class="fw-bold mb-5">Bayaran Kadar Sewa Bulanan Termasuk:</h6>
      </c-row>
      <c-row class="mb-3" [md]="2" [xs]="1">
          <c-col>
              <label for="bayaranCukaiDanCukaiTanah" cLabel>Bayaran cukai dan cukai tanah</label>
              <input type="text" id="bayaranCukaiDanCukaiTanah" class="form-control" placeholder="RM 5,000"/>
          </c-col>
          <c-col>
              <label for="insuransKebakar" cLabel>Insurans kebakaran</label>
              <input type="text" id="insuransKebakar" class="form-control" placeholder="RM 5,000"/>
          </c-col>
          <c-col>
              <label for="memperbaikiRuangGunaSama" cLabel>Memperbaiki ruang guna sama</label>
              <input type="text" id="memperbaikiRuangGunaSama" class="form-control" placeholder="RM 5,000"/>
          </c-col>
          <c-col>
              <label for="alatPencegahanKebakar" cLabel>Alat pencegahan kebakaran</label>
              <input type="text" id="alatPencegahanKebakar" class="form-control" placeholder="RM 5,000"/>
          </c-col>
          <c-col>
              <label for="pembersihanRuangGunaSama" cLabel>Pembersihan ruang guna sama</label>
              <input type="text" id="pembersihanRuangGunaSama" class="form-control" placeholder="RM 5,000"/>
          </c-col>
          <c-col>
              <label for="bayaranElektrikDanAirRuangGunaSama" cLabel>Bayaran elektrik dan air ruang guna sama</label>
              <input type="text" id="bayaranElektrikDanAirRuangGunaSama" class="form-control" placeholder="RM 5,000"/>
          </c-col>
          <c-col>
              <label for="penyediaanTempatLetakKereta" cLabel>Penyediaan tempat letak kereta</label>
              <input type="text" id="penyediaanTempatLetakKereta" class="form-control" placeholder="RM 5,000"/>
          </c-col>
          <c-col>
              <label for="lainLain" cLabel>Lain-lain</label>
              <input type="text" id="lainLain" class="form-control" placeholder="RM 5,000"/>
          </c-col>
      </c-row>
      
  </c-card-body>
  <c-card-footer>
      <c-row>
          <div class="d-flex justify-content-end">
              <button color="primary" class="primary-custom-btn w-auto px-4 me-2" (click)="SimpanRekod()">
                  <c-icon name="cilCheckCircle" class="me-2"></c-icon>
                  Simpan</button>
              <button class="l-custom-btn" (click)="navigatePreviousPage()">&lsaquo;</button>
              <button class="r-custom-btn" (click)="navigateNextPage()">&rsaquo;</button>
          </div>
      </c-row>
  </c-card-footer>
</c-card>

<app-modal-component
  [visible]="simpanRekodModal"
  title=""
  message="Rekod Telah Berjaya Disimpan"
  mode="ok" 
  icon="tick"
  (close)="closeSimpanRekodModal()"
></app-modal-component>

<app-modal-component
  [visible]="tidakDapatMuatNaikVisible"
  title=""
  message="Dokumen tidak dapat dimuat naik. Sila cuba lain"
  mode="ok" 
  icon="danger"
  (close)="tidakDapatMuatNaikModalconfirm()"
></app-modal-component>

<app-modal-component
  [visible]="bacaanOCRTidakBerjayaVisible"
  title=""
  message="Bacaan OCR tidak berjaya."
  mode="ok" 
  icon="danger"
  (close)="bacaanOCRTidakBerjayaModalconfirm()"
></app-modal-component>