<!-- Sejarah Kelewatan Table -->
<c-card class="mt-4">
  <c-card-header>
    <strong>Maklumat Pegawai Lewat</strong>
  </c-card-header>
  <c-card-body class="table-responsive">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Bil</th>
          <th>Nama Pegawai</th>
          <th>Nombor kad Pengenalan</th>
          <th>Gred Jawatan</th>
          <th>Bahagian</th>
          <th>Unit</th>
          <th>Kumpulan</th>
          <th>Catatan Pegawai</th>
          <th>
            Pilih semua<br>
            <input type="radio" name="selectAll" (click)="selectAll('Lulus')"> Lulus
          </th>
          <th>
            Pilih semua<br>
            <input type="radio" name="selectAll" (click)="selectAll('Tidak Lulus')"> Tidak Lulus
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let record of arrayOfCutiADMData; let i = index">
          <td>{{ i + 1 }}</td>
          <td>{{ record.name }}</td>
          <td>{{ record.icNo }}</td>
          <td>{{ record.gred }}{{ record.post }}</td>
          <td>{{ record.division }}</td>
          <td>{{ record.unit }}</td>
          <td>{{ record.groupRSTR }}</td>
          <td>{{ record.noteText }}</td>
          <td>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" [name]="'kelulusan' + i" value="Lulus"
                [(ngModel)]="record.reviewStatus ">
              <label class="form-check-label">Lulus</label>
            </div>
          </td>
          <td>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" [name]="'kelulusan' + i" value="Tidak Lulus"
                [(ngModel)]="record.reviewStatus ">
              <label class="form-check-label">Tidak Lulus</label>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </c-card-body>
</c-card>
<div class="action-footer">
  <c-card-footer class="d-flex justify-content-end gap-3">
    <button class="btn btn-dark mr-2" (click)="postKelulusanAll()">Hantar</button>
    <button class="btn btn-dark" (click)="putKelulusanAll()">Simpan</button>
  </c-card-footer>
</div>

<!--modal-->

<app-modal-sucess-send-save [Hantarmodel]="HantarModalsave" (close)="closeModal()">
</app-modal-sucess-send-save>
<app-modal-sucess-send [Hantarmodel]="HantarModalsend" (close)="closeModal()">
</app-modal-sucess-send>
<!--endmodal-->