<div class="custom-content-wrapper">
    <c-card>
        <c-card-body>
            <c-row class="my-2 mb-5">
                <h4 class="fw-bold">MAKLUMAT PROFIL KAKITANGAN</h4>
            </c-row>

            <c-col xs="12" md="12">
                <c-row class="my-2 mt-3">
                    <c-row class="mb-4">
                        <h5 class="fw-semibold">Daftar tetapan Maklumat Waran Penjawatan</h5>
                    </c-row>

                    <c-row>
                        <c-col md="6" class="mb-3">
                        <label class="fw-semibold mb-2">Negeri</label>
                        <select class="form-select"
                            [(ngModel)]="maklumatWaranPenjawatan.negeri">
                            >
                        </select>
                        </c-col>
                        <c-col md="6" class="mb-3">
                        <label class="fw-semibold mb-2">Bahagian</label>
                        <select class="form-select"
                            [(ngModel)]="maklumatWaranPenjawatan.bahagian">
                            >
                        </select>
                        </c-col>
                    </c-row>

                    <c-row>   
                        <c-col md="6" class="mb-3">
                        <label class="fw-semibold mb-2">Cawangan</label>
                        <select class="form-select"
                            [(ngModel)]="maklumatWaranPenjawatan.cawangan">
                            >
                        </select>
                        </c-col>
                        <c-col md="6" class="mb-3">
                        <label class="fw-semibold mb-2">Unit</label>
                        <select class="form-select"
                            [(ngModel)]="maklumatWaranPenjawatan.unit">
                            >
                        </select>
                        </c-col>
                    </c-row>

                    <c-row>
                        <c-col md="6" class="mb-3">
                        <label class="fw-semibold mb-2">Jawatan</label>
                        <input
                            class="form-control"
                            [(ngModel)]="maklumatWaranPenjawatan.jawatan"
                        />
                        </c-col>
                        <c-col md="6" class="mb-3">
                        <label class="fw-semibold mb-2">Gred</label>
                        <input
                            class="form-control"
                            [(ngModel)]="maklumatWaranPenjawatan.gred"
                        />
                        </c-col>
                    </c-row>

                    <c-row>
                        <c-col md="6" class="mb-3">
                        <label class="fw-semibold mb-2">TBK1/TBK2</label>
                        <input
                            class="form-control"
                            [(ngModel)]="maklumatWaranPenjawatan.TBK1TBK2"
                        />
                        </c-col>
                        <c-col md="6" class="mb-3">
                        <label class="fw-semibold mb-2">Kod Gaji S.S.M</label>
                        <input
                            class="form-control"
                            [(ngModel)]="maklumatWaranPenjawatan.kodGajiSSM"
                        />
                        </c-col>
                    </c-row>

                    <c-row>
                        <c-col md="6" class="mb-3">
                        <label class="fw-semibold mb-2">Kod Skim</label>
                        <input
                            class="form-control"
                            [(ngModel)]="maklumatWaranPenjawatan.kodSkim"
                        />
                        </c-col>
                        <c-col md="6" class="mb-3">
                        <label class="fw-semibold mb-2">Bilangan Jawatan</label>
                        <input
                            class="form-control"
                            [(ngModel)]="maklumatWaranPenjawatan.bilanganJawatan"
                        />
                        </c-col>
                    </c-row>

                    <c-row>
                        <c-col md="12" class="mb-3">
                        <label class="fw-semibold mb-2">Kenyataan</label>
                        <input
                            class="form-control"
                            [(ngModel)]="maklumatWaranPenjawatan.kenyataan"
                        />
                        </c-col>
                    </c-row>

                    <c-row>
                        <c-col md="12" class="mb-3">
                        <label class="fw-semibold mb-2">Catatan</label>
                        <textarea class="form-control" 
                        [(ngModel)]="maklumatWaranPenjawatan.catatan"
                        id="catatan" rows="5" placeholder="">
                        </textarea>
                        </c-col>
                    </c-row>
                </c-row>

                <c-row style="border-top: 1px solid rgba(0, 0, 0, 0.1)">
                    <c-col class="d-flex gap-5 flex-shrink-0 justify-content-end py-3">

                        <div class="d-flex gap-2">
                        <button type="button" class="btn btn-primary">
                            Daftar Tetapan Waran
                        </button>
                        <button type="button" class="custom-button">
                            Kembali
                        </button>
                        </div>

                    </c-col>
                 </c-row>
            </c-col>

        </c-card-body>
    </c-card>
</div> 
