.custom-button {
  background-color: white;
  color: black;
  border: 1px solid #CAD5E2;
  padding: 8px 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.custom-button:hover {
  background-color: #f0f0f0;
  border-color: #a9b8c9;
}

.custom-button:active {
  background-color: #e0e0e0;
  border-color: #90a0b0;
}
