<c-card>
  <c-card-body>
    <c-row class="mb-2">
      <c-col xs="12" md="12"><h6>Carian Maklumat Kakitangan</h6></c-col>
    </c-row>
    <c-row class="mb-4">
      <c-col xs="12" md="4">
        <select class="form-select" #docType>
          <option value="mykad">MyKad</option>
          <option value="noPasNe">Nombor Pasport dan Negera</option>
          <option value="localID">Local ID (bagi KAT)</option>
        </select>
      </c-col>
    </c-row>
    <c-row class="mb-4">
      <c-col xs="12" md="12">
        <label class="form-label">No. Dokumen/ID*</label>
        <input type="text" class="form-control" [(ngModel)]="noDocID" />
      </c-col>
    </c-row>
    <c-row class="mb-5">
      <c-col xs="12" md="12" class="d-flex justify-content-end">
        <button
          type="button"
          class="btn btn-secondary"
          (click)="loadData(docType.value)"
        >
          Carian
        </button>
      </c-col>
    </c-row>
  </c-card-body>
</c-card>

<!-- Gagal menghubungi sistem JPN Modal -->
<c-modal
  [(visible)]="jpnModalVisible"
  size="sm"
  backdrop="static"
  keyboard="false"
>
  <c-modal-header class="border border-secondary">
    <!-- Image or Anything -->
    Icon Here
  </c-modal-header>
  <c-modal-body> Gagal menghubungi sistem JPN (myIDENTITY) </c-modal-body>
  <c-modal-footer class="justify-content-center">
    <button class="btn btn-secondary" (click)="jpnModalconfirm()">OK</button>
  </c-modal-footer>
</c-modal>

<!-- Maklumat Carian tidak hujud Modal -->
<c-modal
  [(visible)]="carianModalVisible"
  size="sm"
  backdrop="static"
  keyboard="false"
>
  <c-modal-header class="border border-secondary">
    <!-- Image or Anything -->
    Icon Here
  </c-modal-header>
  <c-modal-body>
    Maklumat carian tidak wujud. Sila Masukkan kunci carian lain
  </c-modal-body>
  <c-modal-footer class="justify-content-center">
    <button class="btn btn-secondary" (click)="carianModalconfirm()">OK</button>
  </c-modal-footer>
</c-modal>

<!-- Rekod pengenalan tidak dijumpai Modal -->
<c-modal
  [(visible)]="rekodModalVisible"
  size="sm"
  backdrop="static"
  keyboard="false"
>
  <c-modal-header class="border border-secondary">
    <!-- Image or Anything -->
    Icon Here
  </c-modal-header>
  <c-modal-body>
    Rekod pengenalan tidak dijumpai dalam sistem JPN (myIDENTITY)
  </c-modal-body>
  <c-modal-footer class="justify-content-center">
    <button class="btn btn-secondary" (click)="rekodModalconfirm()">OK</button>
  </c-modal-footer>
</c-modal>
