<c-card>
  <c-card-body>
    <c-row class="my-2">
      <h4 class="fw-bold">MAKLUMAT PROFIL KAKITANGAN</h4>
    </c-row>

    <c-row class="my-5">
      <c-row class="mb-3">
        <h5>Dokumen Sokongan*</h5>
      </c-row>
      <c-row class="mb-5 px-5 table-responsive">
        <table class="table">
          <thead>
            <tr class="align-middle text-center">
              <th class="py-4">Bil.</th>
              <th class="py-4">Nama Dokumen</th>
              <th class="py-4">Format</th>
              <th class="py-4">Tindakan</th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="let item of tableData; let i = index"
              class="align-middle"
            >
              <td class="py-4">{{ i + 1 }}</td>
              <td class="py-4">{{ item.namaDokumen }}</td>
              <td class="py-4">{{ item.format }}</td>
              <td class="py-4 d-flex gap-2">
                <button type="button" class="btn btn-secondary">
                  Muat Naik
                </button>
                <button type="button" class="btn btn-secondary">Padam</button>
              </td>
            </tr>
          </tbody>
        </table>
        <c-col class="d-flex">
          <button type="button" class="btn btn-primary">
            Tambah Dokumen
          </button>
        </c-col>
      </c-row>
      <c-row class="d-flex"> </c-row>
    </c-row>

    <c-row>
      <c-row style="border-top: 1px solid rgba(0, 0, 0, 0.1)">
        <c-col class="d-flex gap-5 flex-shrink-0 justify-content-end py-3">
          <div class="d-flex gap-2">
            <button
              type="button"
              class="btn-custom-normalBlue fw-semibold btn btn-primary"
              (click)="navigateClosePage()"
            >
              Tutup
            </button>
            <button
              type="button"
              class="btn-custom-normalBlue fw-semibold btn btn-primary"
            >
              Hantar
            </button>
          </div>

          <div class="d-flex">
            <button
              type="button"
              class="btn-custom-normalWhite fw-semibold btn btn-light"
              (click)="navigatePreviousPage()"
            >
              &lt;
            </button>
            <button
              type="button"
              class="btn-custom-normalWhite fw-semibold btn btn-light"
              (click)="navigateNextPage()"
            >
              &gt;
            </button>
          </div>
        </c-col>
      </c-row>
    </c-row>
  </c-card-body>
</c-card>
