<c-card>
  <c-card-body>
    <c-row class="g-5">
      <c-col xs="12" md="6" lg="6">
        <c-card
          (click)="onCardClick('Pendaftaran Kakitangan')"
          style="cursor: pointer"
        >
          <c-card-body
            class="d-flex justify-content-center align-items-center"
            style="min-height: 150px"
          >
            <img src="your-logo.png" alt="LOGO" class="img-fluid" />
          </c-card-body>
          <c-card-footer class="bg-secondary text-center text-white">
            Pengurusan Pendaftaran Kenderaan
          </c-card-footer>
        </c-card>
      </c-col>

      <c-col xs="12" md="6" lg="6">
        <c-card
          (click)="onCardClick('Kemas Kini Maklumat Profil Kakitangan')"
          style="cursor: pointer"
        >
          <c-card-body
            class="d-flex justify-content-center align-items-center"
            style="min-height: 150px"
          >
            <img src="your-logo.png" alt="LOGO" class="img-fluid" />
          </c-card-body>
          <c-card-footer class="bg-secondary text-center text-white">
            Pengagihan / Permidahan Kenderaan
          </c-card-footer>
        </c-card>
      </c-col>

      <c-col xs="12" md="6" lg="6">
        <c-card (click)="onCardClick('Maklumat Cuti')" style="cursor: pointer">
          <c-card-body
            class="d-flex justify-content-center align-items-center"
            style="min-height: 150px"
          >
            <img src="your-logo.png" alt="LOGO" class="img-fluid" />
          </c-card-body>
          <c-card-footer class="bg-secondary text-center text-white">
            Permohonan Kebenaran Memandu
          </c-card-footer>
        </c-card>
      </c-col>

      <c-col xs="12" md="6" lg="6">
        <c-card
          (click)="onCardClick('Maklumat Waran Perjawatan')"
          style="cursor: pointer"
        >
          <c-card-body
            class="d-flex justify-content-center align-items-center"
            style="min-height: 150px"
          >
            <img src="your-logo.png" alt="LOGO" class="img-fluid" />
          </c-card-body>
          <c-card-footer class="bg-secondary text-center text-white">
            Pengurusan Tempahan Kenderaan
          </c-card-footer>
        </c-card>
      </c-col>

      <c-col xs="12" md="6" lg="6">
        <c-card
          (click)="onCardClick('Maklumat Waran Perjawatan')"
          style="cursor: pointer"
        >
          <c-card-body
            class="d-flex justify-content-center align-items-center"
            style="min-height: 150px"
          >
            <img src="your-logo.png" alt="LOGO" class="img-fluid" />
          </c-card-body>
          <c-card-footer class="bg-secondary text-center text-white">
            Pengurusan Penyelenggaraan Kenderaan
          </c-card-footer>
        </c-card>
      </c-col>

      <c-col xs="12" md="6" lg="6">
        <c-card
          (click)="onCardClick('Maklumat Waran Perjawatan')"
          style="cursor: pointer"
        >
          <c-card-body
            class="d-flex justify-content-center align-items-center"
            style="min-height: 150px"
          >
            <img src="your-logo.png" alt="LOGO" class="img-fluid" />
          </c-card-body>
          <c-card-footer class="bg-secondary text-center text-white">
            Pengurusan Penyelenggaraan Kenderaan (Major)
          </c-card-footer>
        </c-card>
      </c-col>

      <c-col xs="12" md="6" lg="6">
        <c-card
          (click)="onCardClick('Maklumat Waran Perjawatan')"
          style="cursor: pointer"
        >
          <c-card-body
            class="d-flex justify-content-center align-items-center"
            style="min-height: 150px"
          >
            <img src="your-logo.png" alt="LOGO" class="img-fluid" />
          </c-card-body>
          <c-card-footer class="bg-secondary text-center text-white">
            Pelupusan Kenderaan
          </c-card-footer>
        </c-card>
      </c-col>

      <c-col xs="12" md="6" lg="6">
        <c-card
          (click)="onCardClick('Maklumat Waran Perjawatan')"
          style="cursor: pointer"
        >
          <c-card-body
            class="d-flex justify-content-center align-items-center"
            style="min-height: 150px"
          >
            <img src="your-logo.png" alt="LOGO" class="img-fluid" />
          </c-card-body>
          <c-card-footer class="bg-secondary text-center text-white">
            Pengurusan Saman Kenderaan
          </c-card-footer>
        </c-card>
      </c-col>

      <c-col xs="12" md="6" lg="6">
        <c-card
          (click)="onCardClick('Maklumat Waran Perjawatan')"
          style="cursor: pointer"
        >
          <c-card-body
            class="d-flex justify-content-center align-items-center"
            style="min-height: 150px"
          >
            <img src="your-logo.png" alt="LOGO" class="img-fluid" />
          </c-card-body>
          <c-card-footer class="bg-secondary text-center text-white">
            Kehilangan Kenderaan
          </c-card-footer>
        </c-card>
      </c-col>

      <c-col xs="12" md="6" lg="6">
        <c-card
          (click)="onCardClick('Maklumat Waran Perjawatan')"
          style="cursor: pointer"
        >
          <c-card-body
            class="d-flex justify-content-center align-items-center"
            style="min-height: 150px"
          >
            <img src="your-logo.png" alt="LOGO" class="img-fluid" />
          </c-card-body>
          <c-card-footer class="bg-secondary text-center text-white">
            Pengurusan Tempahan Kenderaan
          </c-card-footer>
        </c-card>
      </c-col>

      <c-col xs="12" md="6" lg="6">
        <c-card
          (click)="onCardClick('Maklumat Waran Perjawatan')"
          style="cursor: pointer"
        >
          <c-card-body
            class="d-flex justify-content-center align-items-center"
            style="min-height: 150px"
          >
            <img src="your-logo.png" alt="LOGO" class="img-fluid" />
          </c-card-body>
          <c-card-footer class="bg-secondary text-center text-white">
            Pengendalian Kepuasan Pelanggan
          </c-card-footer>
        </c-card>
      </c-col>

      <c-col xs="12" md="6" lg="6">
        <c-card
          (click)="onCardClick('Maklumat Waran Perjawatan')"
          style="cursor: pointer"
        >
          <c-card-body
            class="d-flex justify-content-center align-items-center"
            style="min-height: 150px"
          >
            <img src="your-logo.png" alt="LOGO" class="img-fluid" />
          </c-card-body>
          <c-card-footer class="bg-secondary text-center text-white">
            E-Reporting (Laporan Operasi)
          </c-card-footer>
        </c-card>
      </c-col>
    </c-row>
  </c-card-body>
</c-card>

