<div class="container">
    <!-- Header Section -->
    <header class="header">
      <div class="header-content">
        <img src="assets/logo.png" alt="Logo" class="logo" />
        <h1>Jabatan Imigresen Malaysia</h1>
        <p>Official Portal of Immigration Department of Malaysia</p>
      </div>
    </header>
  
    <!-- Banner Image Section -->
    <section class="banner">
      <img src="assets/banner.png" alt="Banner" class="banner-image" />
    </section>
  
    <!-- Links Section -->
    <section class="links">
      <p>Sila klik pautan di bawah untuk log masuk</p>
      <div class="link-icons">
        <div class="link-item">
          <div class="icon-wrapper">
            <img src="assets/icon1.png" alt="Pegawai Atasan JIM" />
          </div>
          <p>Pegawai Atasan JIM</p>
        </div>
        <div class="link-item">
          <div class="icon-wrapper">
            <img src="assets/icon2.png" alt="Warga JIM" />
          </div>
          <p>Warga JIM</p>
        </div>
        <div class="link-item">
          <div class="icon-wrapper">
            <img src="assets/icon3.png" alt="Agensi Kerajaan dan Swasta" />
          </div>
          <p>Agensi Kerajaan dan Swasta</p>
        </div>
        <div class="link-item">
          <div class="icon-wrapper">
            <img src="assets/icon4.png" alt="Orang Awam" />
          </div>
          <p>Orang Awam</p>
        </div>
      </div>
    </section>
  
    <!-- Footer Section -->
    <footer class="footer">
      <p>Portal Rasmi Jabatan Imigresen Malaysia (c) 2021 Hak Cipta Terpelihara</p>
      <p>Kemaskini terakhir: Isnin 04 November 2024, 18:59:58</p>
      <div class="social-icons">
        <a href="#"><img src="assets/facebook-icon.png" alt="Facebook" /></a>
        <a href="#"><img src="assets/twitter-icon.png" alt="Twitter" /></a>
        <a href="#"><img src="assets/instagram-icon.png" alt="Instagram" /></a>
      </div>
    </footer>
  </div>
  