<head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<c-container fluid>
  
    <div class="form form-section h-100">
        <h2 class="section-title">Maklumat Permohonan</h2>

        <form [formGroup]="configForm" (ngSubmit)="onSubmit()" class="form-group5">

            <!-- Row 1 -->
            <div class="row mb-3">
                <div class="col-2 text-start">
                <label for="nama"  class="col-auto col-form-label">Nama</label>
                </div>
                <div class="col-md">
                    <input type="text" maxlength="100" class="form-control field-medium" 
                    id="nama" 
                    formControlName="name" 
                    placeholder="Assume ada data" readonly>
                </div>
                
            </div>

            <!-- Row 2 -->
             <div class="row mb-3">
                <!-- Kad Pengenalan -->
                 <div class="col-2 text-start">
                    <label for="kp" class="col-auto col-form-label">No. Kad Pengenalan</label>
                 </div>
                 <div class="col-md">
                    <input type="text" maxlength="20" class="form-control field-medium"
                    id="kp" 
                    formControlName="icNo" 
                    placeholder="Assume ada data" readonly>
                 </div>         
             </div>

             <div class="row mb-3">
                <!-- No Perkhidmatan -->
                  <div class="col-2 text-start">
                    <label for="noPerkhidmatan" class="col-auto col-form-label">No. Perkhidmatan</label>
                  </div>
                  <div class="col-md">
                    <input type="text" maxlength="20" class="form-control field-medium"
                    id="noPerkhidmatan"
                    formControlName="serviceNo" 
                    placeholder="Assume ada data" readonly>
                  </div>
             </div>

             <!-- Row 3 -->
              <!-- Emel -->
              <div class="row mb-3">
                 <div class="col-2 text-start">
                <label for="emel"  class="col-auto col-form-label">E-mel</label>
                </div>
                <div class="col-md">
                    <input type="text" maxlength="30" class="form-control field-medium" 
                    id="emel" 
                    formControlName="email" 
                    placeholder="Assume ada data" readonly>
                </div>  
              </div>

             <!-- Row 4 -->
             <!-- Jawatan -->
              <div class="row align-items-center mb-3">
                 <div class="col-2 text-start">
                <label for="jawatan" class="col-auto col-form-label">Jawatan</label>
                </div>
                <div class="col-md">
                    <input type="text" maxlength="30" class="form-control field-medium" 
                    id="jawatan" 
                    formControlName="position" 
                    placeholder="Assume ada data" readonly>
                </div>
              </div>

             <!-- Row 5 -->
              <!-- Cawangan (Dropdown)-->
               <div class="row align-items-center mb-3">
                <div class="col-2 text-start">
                <label for="cawangan"  class="col-auto col-form-label">Cawangan</label>
                </div>
                <div class="col-md">
                    <input type="text" maxlength="30" class="form-control field-medium" 
                    id="cawangan" 
                     formControlName="branchCode" 
                    placeholder="Assume ada data" readonly>
                </div>
              </div>

              <!-- Row 6 -->
               <!-- Nama Vaksin -->
                <div class="row align-items-center mb-3">
                     <div class="col-2 text-start">
                        <label for="namaVaksin" class="col-auto col-form-label">Nama Vaksin</label>
                     </div>
                    <div class="col-md">
                        <input type="text" maxlength="50" class="form-control field-medium" 
                        id="namaVaksin" formControlName="vaccName" placeholder="Assume ada data" readonly>
                    </div>
                    
                </div>

              <!-- Row 7 -->
               <!-- Setuju Vaksin -->
                <div class="row align-items-center mb-3">
                    <div class="col-2 text-start">
                        <label class="col-auto col-form-label">Persetujuan Vaksin</label>
                    </div>
                    <div class="col-md d-flex gap-3">
                        
                        <!-- YA -->
                        <div class="form-check">
                        <input 
                            type="radio" 
                            id="setujuYa" 
                            class="form-check-input" 
                            formControlName="setujuVaksin"
                            value="YA"
                            >
                            
                        <label for="setujuYa" class="form-check-label" >YA</label>
                        </div>
                        

                        <!-- TIDAK -->
                        <div class="form-check">
                        <input 
                            type="radio" 
                            id="setujuTidak" 
                            class="form-check-input" 
                            formControlName="setujuVaksin" 
                            value="TIDAK"
                            >
                        <label for="setujuTidak" class="form-check-label" >TIDAK</label>
                        </div>
                        
                    </div>
                </div>

                <!-- Row 8 -->
                <!-- Catatan -->
                <div class="row align-items-center mb-3" >
                    <div class="col-2 text-start">
                    <label for="catatan" class="col-auto col-form-label" >Catatan (Jika Tidak)</label>
                    </div>
                    <div class="col-10">
                        <input type="text" maxlength="100" class="form-control field-medium" id="catatan" formControlName="remarks" 
                         placeholder="" readonly>
                    </div>
                </div>

                <!-- Row 9 -->
                <!-- Dokumen -->
                 <div class="row align-items-center mb-3">
                    <div class="col-2 text-start">
                        <label for="dokumen" class="col-auto col-form-label">Dokumen Sokongan</label>
                    </div>
                    <div class="col-2">
                        <input type="file" id="dokumen" class="form-control" disabled>
                    </div>
                    <div *ngIf="configForm.get('dokumen')?.invalid && configForm.get('dokumen')?.touched" 
                    class="text-danger">Sila muat naik dokumen sokongan
                    </div>
                    
                </div>

                <!-- Row 10 (Keputusan) -->
                <!-- Kelulusan -->
                <div class="row align-items-center mb-3">
                    <div class="col-2 text-start">
                        <label class="col-auto col-form-label">Keputusan</label>
                    </div>
                    <div class="col-md d-flex gap-3">
                        
                        <!-- LULUS -->
                        <div class="form-check">
                        <input 
                            type="radio" 
                            id="resultLulus" 
                            class="form-check-input" 
                            
                            value="Lulus"
                            >
                            
                        <label for="resultLulus" class="form-check-label" >Lulus</label>
                        </div>
                        

                        <!-- GAGAL -->
                        <div class="form-check">
                        <input 
                            type="radio" 
                            id="resultGagal" 
                            class="form-check-input" 
                            
                            value="Gagal"
                            >
                        <label for="resultGagal" class="form-check-label" >Gagal</label>
                        </div>
                        
                    </div>
                </div>

                <!-- Row 11 -->
                <!-- Tarikh Permohonan -->
                <div class="row align-items-center mb-3" >
                    <div class="col-2 text-start">
                    <label for="tarikhMohon" class="col-auto col-form-label" >Catatan</label>
                    </div>
                    <div class="col-10">
                        <input type="text" maxlength="100" class="form-control field-medium" id="tarikhMohon" 
                         placeholder="" >
                    </div>
                    
                </div>

        </form>

        <div class="col-auto">
            <button type="button" class="blue-btn" (click)="onHantar()"><i class="fa fa-send"></i>Hantar</button>
           
        </div>
    </div>

     <app-modal-simpan [isSuccessModalVisible]="showModalSimpan" (modalClosed)="onModalSimpanClosed()"></app-modal-simpan>
     <app-modal-hantar [isSuccessModalVisible]="showModalHantar" (modalClosed)="onModalHantarClosed()"></app-modal-hantar>
   
</c-container>
