<c-card>
  <h4 class="fw-bold m-3 mt-5">
      MAKLUMAT PEJABAT
  </h4>
  <div class="m-3">
      <app-stepper
      [currentMainStep]="currentMainStep"
      [currentSubStep]="currentSubStep"
      ></app-stepper>
  </div>
  <c-card-body class="p-5">
      <c-row>
          <h6 class="fw-bold mb-5">Maklumat Kontrak Pembekalan Makanan</h6>
      </c-row>
      <c-col class="mb-3 d-flex align-items-start flex-column">
        <span class="ms-2 mb-2">{{ selectedFileName || 'Tiada fail dipilih' }}</span>
        <label for="file" class="btn primary-custom-btn">
          Muat Naik
        </label>
        <input
          type="file"
          id="file"
          hidden
          (change)="onFileChange($event)"
        />
      </c-col>
      <hr>
      <br>
      <c-row class="mb-3" [md]="2" [xs]="1">
          <c-col>
              <label for="noDokumen" cLabel>Nombor Dokumen</label>
              <input type="text" id="noDokumen" class="form-control" placeholder="PENY/2025/002"/>
          </c-col>
          <c-col></c-col>
          <c-col>
              <label for="tarikhMulaKontrak" cLabel>Tarikh Mula Kontrak</label>
              <input type="text" id="tarikhMulaKontrak" class="form-control" placeholder="01/03/2025"/>
          </c-col>
          <c-col>
              <label for="tarikhTamatKontrak" cLabel>Tarikh Tamat Kontrak</label>
              <input type="text" id="tarikhTamatKontrak" class="form-control" placeholder="28/02/2027"/>
          </c-col>
          <c-col>
              <label for="tempohKontrak" cLabel>Tempoh (Tahun)</label>
              <input type="text" id="tempohKontrak" class="form-control" placeholder="2"/>
          </c-col>
          <c-col>
              <label for="jumlahKontrak" cLabel>Jumlah Kontrak (RM)</label>
              <input type="text" id="jumlahKontrak" class="form-control" placeholder="RM 250,000"/>
          </c-col>
      </c-row>
      <c-row class="mb-3">
          <label for="jadualHarga" cLabel>Jadual Harga</label>
          <div class="table-responsive">
          <table cTable hover>
              <thead>
                  <tr>
                      <th>Bil.</th>
                      <th>Item Makanan/ Perkhidmatan</th>
                      <th>Kuantiti/ Hidangan</th>
                      <th>Harga Seunit (RM)</th>
                      <th>Jumlah (RM)</th>
                  </tr>
              </thead>
              <tbody>
                  <tr>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                  </tr>
              </tbody>
              <tfoot>
                  <tr colspan="4">Jumlah Keseluruhan Bulanan</tr>
                  <tr></tr>
              </tfoot>
          </table>
          </div>
          <button class="btn primary-custom-btn w-auto px-4 ">
              <mat-icon>add</mat-icon>
              Tambah Maklumat
          </button>
      </c-row>
      <br>
      <hr>
      <br>
      <button class="btn primary-custom-btn w-auto px-4 ">
        Daftar Maklumat Majikan
      </button>
      <c-row class="mb-3 mt-2" [md]="1" [xs]="1">
        <div class="table-responsive">
        <table cTable hover>
          <thead>
            <tr>
              <th>Bil.</th>
              <th>Nama Syarikat</th>
              <th>Nombor Pendaftaran Syarikat</th>
              <th>Nombor Telefon Pejabat</th>
              <th>Tindakan</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td class="text-nowrap">
                <button cButton color="secondary" class="me-2">X</button>
                <button cButton color="secondary">X</button>
              </td>
            </tr>
          </tbody>
        </table>
        </div>
      </c-row>
      <button class="btn primary-custom-btn w-auto px-4 ">
        Daftar Maklumat Pekerja
      </button>
      <c-row class="mb-3 mt-2" [md]="1" [xs]="1">
        <div class="table-responsive">
        <table cTable hover>
          <thead>
            <tr>
              <th>Bil.</th>
              <th>Nama Pekerja</th>
              <th>No. Dokumen/ ID</th>
              <th>Warganegara</th>
              <th>Status Biometrik</th>
              <th>Tindakan</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td class="text-nowrap">
                <button cButton color="secondary" class="me-2">X</button>
                <button cButton color="secondary">X</button>
              </td>
            </tr>
          </tbody>
        </table>
        </div>
      </c-row>
  </c-card-body>
  <c-card-footer>
      <c-row>
          <div class="d-flex justify-content-end">
              <button color="primary" class="primary-custom-btn w-auto px-4 me-2" (click)="SimpanRekod()">
                  <c-icon name="cilCheckCircle" class="me-2"></c-icon>
                  Simpan</button>
              <button color="primary" class="primary-custom-btn w-auto px-4 me-2" (click)="HantarRekod()">
                  Hantar</button>
              <button class="l-custom-btn" (click)="navigatePreviousPage()">&lsaquo;</button>
              <button class="r-custom-btn" (click)="navigateNextPage()">&rsaquo;</button>
          </div>
      </c-row>
  </c-card-footer>
</c-card>

<app-modal-component
  [visible]="simpanRekodModal"
  title=""
  message="Rekod Telah Berjaya Disimpan"
  mode="ok"
  icon="tick"
  (close)="closeSimpanRekodModal()"
></app-modal-component>

<app-modal-component
  [visible]="hantarRekodModal"
  title=""
  message="Rekod Telah Berjaya Dihantar"
  mode="ok"
  icon="tick"
  (close)="closeHantarRekodModal()"
></app-modal-component>

<!-- Tidak Dapat Muat Naik Modal -->
<app-modal-component
  [visible]="tidakDapatMuatNaikVisible"
  title=""
  message="Dokumen tidak dapat dimuat naik. Sila cuba lain"
  mode="ok"
  icon="danger"
  (close)="tidakDapatMuatNaikModalconfirm()"
></app-modal-component>

<!-- Bacaan OCR Tidak Berjaya Modal -->
<app-modal-component
  [visible]="bacaanOCRTidakBerjayaVisible"
  title=""
  message="Bacaan OCR tidak berjaya."
  mode="ok"
  icon="danger"
  (close)="bacaanOCRTidakBerjayaModalconfirm()"
></app-modal-component>
