<c-container fluid>
  <div class="form-section h-100">
    <h2 class="section-title">Maklumat Lokasi</h2>
    <form cform>
      <!-- Schedule Table -->
      <div class="schedule-wrapper">
        <table class="schedule-table">
          <thead>
            <tr>
              <th class="header-corner">
                <div class="diagonal-header">
                  <span class="top-label">TARIKH</span>
                  <span class="bottom-label">HARI</span>
                </div>
              </th>
              <th *ngFor="let day of scheduleDays">
                {{day.dateStr}}<br><small>{{day.dayName}}</small>
              </th>
            </tr>
          </thead>
          <tbody>
            <!-- TUGASAN Row -->
            <tr>
              <td class="row-header tugasan-header">TUGASAN</td>
              <td *ngFor="let day of scheduleDays" 
                  class="tugasan-cell" 
                  [class.feri]="day.tugasan === 'FERI'">
                {{day.tugasan}}
              </td>
            </tr>
            
            <!-- PETANG (HAKIKI) Row -->
            <tr>
              <td class="row-header petang-header">PETANG<br>(HAKIKI)</td>
              <td *ngFor="let day of scheduleDays" class="shift-cell">
                {{day.petang}}
              </td>
            </tr>
            
            <!-- ANJAL (HAKIKI) Row -->
            <tr>
              <td class="row-header anjal-header">ANJAL<br>(HAKIKI)</td>
              <td *ngFor="let day of scheduleDays" class="shift-cell">
                {{day.anjal}}
              </td>
            </tr>
            
            <!-- PAGI (HAKIKI) Row -->
            <tr>
              <td class="row-header pagi-header">PAGI<br>(HAKIKI)</td>
              <td *ngFor="let day of scheduleDays" class="shift-cell">
                {{day.pagi}}
              </td>
            </tr>
            
            <!-- OFF Row -->
            <tr>
              <td class="row-header off-header">OFF</td>
              <td *ngFor="let day of scheduleDays" class="shift-cell">
                {{day.off}}
              </td>
            </tr>
            
            <!-- Green separator row -->
            <tr class="green">
              <td [attr.colspan]="scheduleDays.length + 1"></td>
            </tr>
            
            <!-- CATATAN Row -->
            <tr>
              <td class="row-header">CATATAN</td>
              <td class="row-header">CUTI UMUM</td>
              <td *ngFor="let day of scheduleDays.slice(1)" class="shift-cell"></td>
            </tr>
          </tbody>
        </table>
      </div>
    </form>
  </div>
</c-container>