<div class="d-flex flex-column flex-lg-row" style="min-height: 100vh">
  <!-- Left Panel -->
  <div class="d-flex flex-column flex-lg-row p-3 bg-light w-100 w-lg-50">
    <!-- Left: 4 Widgets stacked vertically -->
    <div
      class="d-flex flex-column justify-content-between mb-4 mb-lg-0 me-lg-4 mx-lg-0 mx-auto"
      style="width: 100%; height: 100%; max-width: 200px"
    >
      <!-- widget 1 --> 
      <c-widget-stat-e
        [title]="'Widget Title'"
        [value]="'1,123'"
        
        style="width: 100%"
      >
        <c-chart
          [data]="data[0]"
          [options]="barOptions"
          class="mx-auto"
          height="40"
          width="80"
        />
      </c-widget-stat-e>

      <!-- widget 2 -->
      <c-widget-stat-e
        [title]="'Widget Title'"
        [value]="'1,123'"
        
        style="width: 100%"
      >
        <c-chart
          [data]="data[0]"
          [options]="barOptions"
          class="mx-auto"
          height="40"
          width="80"
        />
      </c-widget-stat-e>

      <!-- widget 3 -->
      <c-widget-stat-e
        [title]="'Widget Title'"
        [value]="'1,123'"
       
        style="width: 100%"
      >
        <c-chart
          [data]="data[0]"
          [options]="barOptions"
          class="mx-auto"
          height="40"
          width="80"
        />
      </c-widget-stat-e>

      <!-- widget 4 -->
      <c-widget-stat-e
        [title]="'Widget Title'"
        [value]="'1,123'"
        
        style="width: 100%"
      >
        <c-chart
          [data]="data[0]"
          [options]="barOptions"
          class="mx-auto"
          height="40"
          width="80"
        />
      </c-widget-stat-e>
    </div>

    <!-- Right of Left Panel: 3 Cards with Tabs -->
    <div class="d-flex flex-column justify-content-between gap-4 flex-grow-1">
      <c-card
        class="shadow-sm"
        *ngFor="let tabCard of [0, 1, 2]; let i = index"
      >
        <c-card-header>
          <ul class="nav nav-tabs card-header-tabs" role="tablist">
            <li class="nav-item" *ngFor="let tab of tabs">
              <a
                class="nav-link"
                [class.active]="leftCardTabs[i] === tab"
                (click)="selectLeftCardTab(i, tab)"
                role="tab"
              >
                {{ tab }}
              </a>
            </li>
          </ul>
        </c-card-header>
        <c-card-body class="text-center" style="min-height: 110px">
          <img
            [src]="getLeftCardImage(i)"
            alt="{{ leftCardTabs[i] }} view"
            class="img-fluid"
          />
        </c-card-body>
      </c-card>
    </div>
  </div>

  <!-- Right Panel -->
  <div class="p-4 bg-white w-100 overflow-auto">
    <!-- Image Row -->
    <div class="d-flex flex-wrap justify-content-center gap-4 mb-4">
      <div
        class="bg-primary border rounded p-3 text-center position-relative"
        style="width: 100px; height: 100px"
      >
        <img
          src="your-image-1.jpg"
          alt="First image"
          class="img-fluid rounded position-absolute top-50 start-50 translate-middle"
          style="max-height: 90%; max-width: 90%; object-fit: contain"
        />
      </div>
      <div
        class="bg-primary border rounded p-3 text-center position-relative"
        style="width: 100px; height: 100px"
      >
        <img
          src="your-image-2.jpg"
          alt="Second image"
          class="img-fluid rounded position-absolute top-50 start-50 translate-middle"
          style="max-height: 90%; max-width: 90%; object-fit: contain"
        />
      </div>
    </div>

    <!-- Form Section -->
    <h6>Maklumat Dokumen Perjalanan</h6>
    <form cForm class="p-3 border rounded mb-4" action="#" method="post">
      <fieldset>
        <div class="row gx-3 gy-3">
          <div class="col-12 col-md-4">
            <label for="jenisDokumen">Jenis Dokumen</label>
            <input
              type="text"
              id="jenisDokumen"
              name="jenisDokumen"
              class="form-control"
              value="P-Passport"
              disabled
            />
          </div>
          <div class="col-12 col-md-4">
            <label for="jantina">Jantina</label>
            <select id="jantina" name="jantina" class="form-control" disabled>
              <option value="M">M - Male</option>
              <option value="F">F - Female</option>
            </select>
          </div>
          <div class="col-12 col-md-4">
            <label for="umur">Umur</label>
            <input
              type="text"
              id="umur"
              name="umur"
              class="form-control"
              [(ngModel)]="umur"
              (ngModelChange)="onUmurChange($event)" disabled
            />
            <p *ngIf="umurError" class="text-danger mb-1">{{ umurError }}</p>
          </div>

          <div class="col-12 col-md-4">
            <label for="noDokumen">No Dokumen</label>
            <input type="text" id="noDokumen" name="noDokumen" class="form-control" disabled/>
          </div>
          <div class="col-12 col-md-4">
            <label for="noPengenalan">No Pengenalan</label>
            <input
              type="text"
              id="noPengenalan"
              name="noPengenalan"
              class="form-control"
              [(ngModel)]="noPengenalan"
              (ngModelChange)="onNoPengenalanChange($event)"
            />
            <p *ngIf="noPengenalanError" class="text-danger mb-1">{{ noPengenalanError }}</p>
          </div>
          <div class="col-12 col-md-4">
            <label for="tarikhTamat">Tarikh Tamat</label>
            <input type="date" id="tarikhTamat" name="tarikhTamat" class="form-control" disabled />
          </div>

          <div class="col-12 col-md-8">
            <label for="nama">Nama</label>
            <input type="text" id="nama" name="nama" class="form-control" disabled />
          </div>

          <div class="col-12 col-md-4">
            <label for="warganegara">Warganegara</label>
            <input type="text" id="warganegara" name="warganegara" class="form-control" disabled  />
          </div>

          <div class="col-12 col-md-4">
            <label for="tarikhDikeluarkan">Tarikh Dikeluarkan</label>
            <input
              type="date"
              name="tarikhDikeluarkan"
              id="tarikhDikeluarkan"
              class="form-control"
            />
          </div>
          <div class="col-12 col-md-4">
            <!-- Empty spacer -->
          </div>
          <div class="col-12 col-md-4">
            <label for="negaraPengeluar">Negara Pengeluar</label>
            <input
              type="text"
              name="negaraPengeluar"
              id="negaraPengeluar"
              class="form-control"
            />
          </div>
        </div>

        <div class="row justify-content-center mt-4">
          <div class="col-12 col-lg-8">
            <c-widget-stat-f
              [title]="'Widget Title'"
              class="mb-3"
              color="primary"
              padding
              value="89.9%"
            >
              <ng-template cTemplateId="widgetIconTemplate">
                <svg [cIcon]="icons.cilChartPie" size="xl" width="24"></svg>
              </ng-template>
            </c-widget-stat-f>
          </div>
        </div>

        <!-- Buttons -->
        <div class="text-end mt-3">
          <div class="d-inline-flex flex-wrap gap-2 justify-content-end">
            <button class="btn btn-dark" (click)="onDisyakiPalsuClick()" id="palsu">
              Disyaki Palsu
            </button>
            <button class="btn btn-dark" (click)="onValidateFormClick()" id="tutup">Tutup</button>
          </div>
        </div>
      </fieldset>
    </form>
  </div>
</div>
<app-notification-modal
  [modalTitle]="modalTitle"
  [visible]="showModal"
  [showBiometricModal]="showBiometricModal"
  [showModalAlert]="showModalAlert"
  (close)="closeModal()"
></app-notification-modal>
