<div class="container-fluid">
    <div class="card">
        <div class="ms-4 me-4">
            <div class="mt-2 mb-2">
                <h3 class="mb-2 mt-4"><b>Penumpang Gelap <i>(Stowaway)</i></b></h3>
            </div>
            <div class="mt-4">
                <!-- Left Side: Step Info -->
                <reusable-tab [currentStep]="currentStep" [steps]="steps"></reusable-tab>
                <div class="col-md-6 mb-4">
                  <p class="mb-0">Maklumat Penumpang Gelap</p>
                </div>

                <!-- Main Content Area -->
                <div class="row flex-column flex-lg-row">
                    <div class="col-md-2 mb-3 mb-md-0">
                        <div class="d-flex flex-column align-items-center">
                            <img src="assets/images/avatars/9.jpg" alt="Profile Image" class="img-fluid rounded-2"
                style="width: 150px; height: 150px; object-fit: cover;">

                        </div>
                    </div>
                    <div class="col-10">

                        <div class="row ps-3">
                        <label class="form-label">Penumpang Gelap <i>(Stowaway)</i></label>
                        <div class="d-flex gap-3">
                          <div class="form-check form-check-inline">
                            <input 
                              class="form-check-input" 
                              type="radio" 
                              id="Org_ada" 
                              [(ngModel)]="formData.PenumpangGelap" 
                              name="SaveOrg" 
                              value="Ada"
                              (change)="onStowawayChange()"
                            />
                            <label class="form-check-label" for="Org_ada">Ada</label>
                          </div>
                          <div class="form-check form-check-inline">
                            <input 
                              class="form-check-input" 
                              type="radio" 
                              id="Org_tiada" 
                              [(ngModel)]="formData.PenumpangGelap" 
                              name="SaveOrg" 
                              value="Tiada"
                              (change)="onStowawayChange()"
                            />
                            <label class="form-check-label" for="Org_tiada">Tiada</label>
                          </div>
                        </div>
                        </div>
                        <br>

                        <div class="row ps-3">
                            <div class="col-md-12">
                                <div class="mb-3">
                                    <label class="form-label">Nama</label>
                                    <input type="text" class="form-control" [(ngModel)]="formData.Nama" name="Nama"
                                    [disabled]="isStowawayFieldsDisabled">
                                </div>              
                            </div>
                            
                        </div>

                        <div class="row ps-3">
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label class="form-label">Jantina</label>
                                    <input type="text" class="form-control" [(ngModel)]="formData.Jantina" name="Jantina"
                                    [disabled]="isStowawayFieldsDisabled">
                                </div>              
                            </div>
                            
                        </div>

                        <div class="row ps-3">
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label class="form-label">Tarikh Lahir</label>
                                    <input type="date" class="form-control" [(ngModel)]="formData.TarikhLahir" name="TarikhLahir"
                                    [disabled]="isStowawayFieldsDisabled">
                                </div>              
                            </div>
                        </div>

                        <div class="row ps-3">
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label class="form-label">Warganegara</label>
                                    <input type="text" class="form-control" [(ngModel)]="formData.Warganegara" name="Warganegara"
                                    [disabled]="isStowawayFieldsDisabled">
                                </div>              
                            </div>
                        </div>

                        <div class="row ps-3">
                        <div class="col-md-6">
                          <div class="mb-3">
                            <label class="form-label">Status Penumpang</label>
                            <select
                              class="form-select"
                              id="StatusPenumpang"
                              [(ngModel)]="formData.StatusPenumpang"
                              name="StatusPenumpang"
                              [disabled]="isStowawayFieldsDisabled"
                            >
                              <option value="" disabled selected>-Sila Pilih-</option>
                              <option value="Aktif">Aktif</option>
                              <option value="Sakit">Sakit</option>
                              <option value="Mati">Mati</option>
                            </select>
                          </div>
                        </div>            
                      </div>

                      <div class="row ps-3">
                        <div class="col-md-6">
                          <div class="mb-3">
                            <label class="form-label">Status Pemeriksaan</label>
                            <select
                              class="form-select"
                              id="StatusPemeriksaan"
                              [(ngModel)]="formData.StatusPemeriksaan"
                              name="StatusPemeriksaan"
                              [disabled]="isStowawayFieldsDisabled"
                            >
                              <option value="" disabled selected>-Sila Pilih-</option>
                              <option value="Belum">Belum</option>
                              <option value="Semak">Semak</option>
                              <option value="NTL">NTL</option>
                            </select>
                          </div>
                        </div>

                    </div>
                </div>

            <!-- Bottom Navigation -->
            <div class="row mt-4">
                <div class="col-12">
                    <div class="d-flex justify-content-end gap-2 mb-4">
                        <button 
                          class="btn btn-submit d-flex align-items-center gap-1" 
                          [disabled]="isStowawayFieldsDisabled"
                          (click)="saveForm()">
                          <i class="bi bi-check-circle"></i>
                          Simpan
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <c-row class="mt-4 mb-3 footer-row">
            <c-col class="d-flex justify-content-end align-items-center gap-2">          
            <div class="d-flex gap-2 ms-4">
                        <button class="btn btn-all" (click)="goToPrevious()">
                            &lt;
                        </button>
                        <button class="btn btn-all" (click)="goToNext()">
                            &gt;
                        </button>
            </div>
            </c-col>
        </c-row>
    </div>
</div>
<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet">

