<!--<p>maklumat-profil-pengembara-ibc works!</p> -->

<c-card class="mb-3">
  <!-- HEADER PROFIL -->
  <c-card-header class="card-header">
    <h4 class="card-header-title">Rayuan NTL</h4>
  </c-card-header>

  <!-- CONTENT CARD BODY -->
  <c-card-body>
    <!-- FORMS -->
    <c-col class="col-12">
      <!-- FORMS START -->
      <form
        cForm
        class="form col-10"
        #formRef="ngForm"
        (ngSubmit)="handleSubmit(formRef)"
      >
        <!-- Form Title -->
        <h5 class="mb-4">Maklumat Profil Pengembara</h5>

        <!-- Photo Placeholder -->
        <div class="photo-placeholder mb-4">
          <img [src]="'assets/placeholder-image.png'" alt="Gambar Pengembara" />
        </div>

        <!-- Jenis Pelawat -->
        <c-row class="g-3 mb-3 mt-3">
          <c-col>
            <label cLabel for="visitorType" class="mb-2">Jenis Pelawat *</label>
            <input
              cFormControl
              id="visitorType"
              type="text"
              class="form-control"
              name="visitorType"
               [(ngModel)]="pengembara.visitorType"
              required
            />
          </c-col>
          <c-col>
            <!-- Empty right column -->
          </c-col>
        </c-row>

        <!-- Jenis Dokumen dan Jantina -->
        <c-row class="g-3 mb-3">
          <!-- Jenis Dokumen -->
          <c-col>
            <label cLabel for="docType" class="mb-2">Jenis Dokumen *</label>
            <input
              cFormControl
              id="docType"
              type="text"
              class="form-control"
              name="docType"
               [(ngModel)]="pengembara.docType"
              required
            />
          </c-col>
          <!-- Jantina -->
          <c-col>
            <label cLabel for="gender" class="mb-2">Jantina *</label>
            <input
              cFormControl
              id="gender"
              type="text"
              class="form-control"
              name="gender"
               [(ngModel)]="pengembara.gender"
              required
            />
          </c-col>
        </c-row>

        <!-- No Dokumen dan No Kad Pengenalan -->
        <c-row class="g-3 mb-3">
          <!-- No Dokumen -->
          <c-col>
            <label cLabel for="docNo" class="mb-2">No. Dokumen *</label>
            <input
              cFormControl
              id="docNo"
              type="text"
              class="form-control"
               name="docNo"
               [(ngModel)]="pengembara.docNo"
              required
            />
          </c-col>
          <!-- No Pengenalan -->
          <c-col>
            <label cLabel for="kpNo" class="mb-2">No. Pengenalan *</label>
            <input cFormControl id="kpNo" type="text" class="form-control" 
            name="kpNo"
               [(ngModel)]="pengembara.kpNo" required/>
          </c-col>
        </c-row>

        <!-- Nama -->
        <c-row class="g-3 mb-3">
          <c-col md="12">
            <label cLabel for="name" class="mb-2">Nama *</label>
            <input cFormControl id="name" type="text" class="form-control" 
             name="name"
               [(ngModel)]="pengembara.name" required />
          </c-col>
        </c-row>

        <!-- Tarikh Dikeluarkan dan Tarikh Tamat -->
        <c-row class="g-3 mb-3">
          <!-- Tarikh Dikeluarkan -->
          <c-col>
            <label cLabel for="issueDatePassport" class="mb-2"
              >Tarikh Dikeluarkan *</label
            >
            <input
              cFormControl
              id="issueDatePassport"
              type="text"
              class="form-control"
               name="issueDatePassport"
               [(ngModel)]="pengembara.issueDatePassport" required
            />
          </c-col>
          <!-- Tarikh Tamat Pas -->
          <c-col>
            <label cLabel for="expiryDate" class="mb-2">Tarikh Tamat *</label>
            <input
              cFormControl
              id="expiryDate"
              type="text"
              class="form-control"
              name="expiryDate"
               [(ngModel)]="pengembara.expiryDate"
              required
            />
          </c-col>
        </c-row>

        <!-- Umur dan Warganegara -->
        <c-row class="g-3 mb-3">
          <!-- Umur -->
          <c-col>
            <label cLabel for="age" class="mb-2">Umur *</label>
            <input
              cFormControl
              id="age"
              type="text"
              class="form-control"
              name="age"
               [(ngModel)]="pengembara.age"
              required
            />
          </c-col>
          <!-- Warganegara -->
          <c-col>
            <label cLabel for="nationality" class="mb-2">Warganegara *</label>
            <input
              cFormControl
              id="nationality"
              type="text"
              class="form-control"
              name="nationality"
               [(ngModel)]="pengembara.nationality"
              required
            />
          </c-col>
        </c-row>

        <c-row class="g-3 mb-3">
          <c-col>
            <label cLabel for="countryIssue" class="mb-2"
              >Negara Pengeluar *</label
            >
            <input
              cFormControl
              id="countryIssue"
              type="text"
              class="form-control"
              name="countryIssue"
               [(ngModel)]="pengembara.countryIssue"
              required
            />
          </c-col>
          <c-col>
            <label cLabel for="status" class="mb-2">Status *</label>
            <input
              cFormControl
              id="status"
              type="text"
              class="form-control"
              name="status"
               [(ngModel)]="pengembara.status"
              required
            />
          </c-col>
        </c-row>
        <c-row class="g-3 mb-3">
          <c-col md="12">
            <label cLabel for="categoryNTL" class="mb-2">Kategori NTL *</label>
            <input
              cFormControl
              id="categoryNTL"
              type="text"
              class="form-control"
              name="categoryNTL"
               [(ngModel)]="pengembara.categoryNTL"
              required
            />
          </c-col>
        </c-row>
        <c-row class="g-3 mb-3">
          <c-col md="12">
            <label cLabel for="sebabNTL" class="mb-2">Sebab-Sebab NTL *</label>
            <input
              cFormControl
              id="sebabNTL"
              type="text"
              class="form-control"
               name="sebabNTL"
               [(ngModel)]="pengembara.sebabNTL"
              required
            />
          </c-col>
        </c-row>
        <c-row class="g-3 mb-3">
          <c-col class="col-md-6">
            <label cLabel for="kelayakanRayuan" class="mb-2">Kelayakan Rayuan NTL *</label>
            <input
              cFormControl
              id="kelayakanRayuan"
              type="text"
              class="form-control"
                name="kelayakanRayuan"
               [(ngModel)]="pengembara.kelayakanRayuan"
              required
            />
          </c-col>
        </c-row>
        <c-row class="g-3 mb-3">
          <c-col class="md-12">
            <label cLabel for="catatan" class="mb-2">Catatan *</label>
            <input
              cFormControl
              id="catatan"
              type="text"
              class="form-control"
              name="catatan"
               [(ngModel)]="pengembara.catatan"
              required
            />
          </c-col>
        </c-row>
        <c-row class="g-3 mb-3 mt-3">
          <label class="col-12">Dokumen Sokongan *</label>
          <button
            cButton
            class="btn btn-dark col-4 col-md-2 m-3"
            (click)="showModal = true"
          >
            + Muat Naik
          </button>
        </c-row>
        <c-row class="g-3 mb-3 mt-3">
          <c-col class="col-12">
            <table class="table table-hover table-responsive">
              <thead>
                <tr>
                  <th *ngFor="let header of tableHeaders" class="text-center">
                    {{ header }}
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let row of tableData; let i = index">
                  <td class="text-center">{{ i + 1 }}</td>
                  <td class="text-center">{{ row.keterangan }}</td>
                  <td class="text-center">{{ row.file?.name }}</td>
                  <td class="text-center">
                    <div
                      class="d-flex flex-column flex-md-row justify-content-center gap-2"
                    >
                      <!-- <button
                        class="btn btn-sm btn-primary col-md-6"
                        (click)="viewFile(row)"
                      >
                        Lihat File
                      </button> -->
                      <button
                        class="btn btn-sm btn-danger col-md-6"
                        (click)="deleteRow(i)"
                      >
                        Hapus
                      </button>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </c-col>
        </c-row>
        <c-row class="g-3 mb-3 mt-3">
          <c-col class="col-12">
            <div class="row">
              <div class="col-6 offset-8 text-end">
                <button cButton color="primary" type="submit">Hantar</button>
              </div>
            </div>
          </c-col>
        </c-row>
      </form>
    </c-col>
  </c-card-body>
</c-card>
<!-- toaster -->
<div class="toast-container position-fixed bottom-0 end-0 p-3">
  <div
    *ngIf="showToast"
    class="toast show align-items-center text-white bg-success border-0"
    role="alert"
  >
    <div class="d-flex">
      <div class="toast-body">Baris berjaya dipadam.</div>
      <button
        type="button"
        class="btn-close btn-close-white me-2 m-auto"
        (click)="showToast = false"
      ></button>
    </div>
  </div>
</div>

<!-- modal -->
<c-modal
  [visible]="showModal"
  (visibleChange)="showModal = $event"
  size="lg"
  alignment="center"
>
  <c-modal-header>
    <h5 class="modal-title">Muat Naik Dokumen</h5>
    <button
      type="button"
      class="btn-close"
      (click)="showModal = false"
    ></button>
  </c-modal-header>
  <c-modal-body>
    <form #uploadForm="ngForm" (ngSubmit)="submitFormModal()">
      <div class="mb-3">
        <label for="keterangan" class="form-label">Keterangan</label>
        <input
          type="text"
          class="form-control"
          id="keterangan"
          name="keterangan"
          required
          [(ngModel)]="formData.keterangan"
        />
      </div>
      <div class="mb-3">
        <label for="file" class="form-label"> Pilih Fail </label>
        <input
          type="file"
          class="form-control"
          id="file"
          required
          (change)="onFileChange($event)"
        />
        <div class="text-muted small">
          Format dokumen dibenarkan:
          <strong>doc, docx, pdf, xls, xlsx, ppt, jpg, jpeg, png</strong><br />
          Saiz maksimum: <strong>300KB</strong> untuk imej (jpg, jpeg, png),
          <strong>10MB</strong> untuk dokumen
        </div>
      </div>

      <div class="text-end">
        <button
          type="submit"
          class="btn btn-primary"
          [disabled]="!formData.file || !formData.keterangan"
        >
          Hantar
        </button>
      </div>
    </form>
  </c-modal-body>
</c-modal>

<c-modal
  alignment="center"
  [visible]="showError"
  keyboard="false"
  backdrop="static"
  (visibleChange)="showError = $event"
>
  <div
    style="
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      border-radius: 6px;
      width: 300px;
      margin: auto;
      background-color: white;
    "
  >
    <div
      style="width: 100px; height: 90px; border: 1px solid #999; margin: 20px 0"
    ></div>
    <h5 cModalTitle style="margin-top: 25px" class="text-center">
      {{ errorMessage }}
    </h5>
    <button
      cButton
      color="primary"
      style="margin: 50px; padding: 10px 40px"
      (click)="confirm()"
    >
      OK
    </button>
  </div>
</c-modal>
<!-- 
<app-notification-modal
  [modalTitle]="modalTitle"
  [visible]="showModal"
  [showBiometricModal]="showBiometricModal"
  [showModalAlert]="showModalAlert"
  (close)="closeModal()"
></app-notification-modal> -->
