<c-card>
  <c-card-header class="bg-primary text-white"> DASHBOARD </c-card-header>

  <c-card-body>
    <c-row class="mt-4 mb-4">
      <c-col xs="12" md="4" class="mb-3">
        <label class="form-label">Nama Penuh</label>
        <input type="text" [(ngModel)]="searchNama" class="form-control" />
      </c-col>
      <c-col xs="12" md="3" class="mb-3">
        <label class="form-label">Jenis Dokumen</label>
        <select [(ngModel)]="searchJenisDokumen" class="form-select">
          <option value="">Sila Pillih</option>
        </select>
      </c-col>
      <c-col xs="12" md="3" class="mb-3">
        <label class="form-label">No. Doukumen/ ID</label>
        <input type="text" [(ngModel)]="searchNoDokumen" class="form-control" />
      </c-col>
      <c-col xs="12" md="10" class="justify-content-end d-flex gap-3">
        <button type="button" class="btn btn-secondary" (click)="search()">
          Carian
        </button>
        <button type="button" class="btn btn-secondary" (click)="resetSearch()">
          Set Semula
        </button>
      </c-col>
    </c-row>
    <c-row class="mb-5 px-2 table-responsive">
      <table class="table">
        <thead>
          <tr class="align-middle">
            <th class="py-4">Bil.</th>
            <th class="py-4">Nama</th>
            <th class="py-4">No. Dokumen/ ID</th>
            <th class="py-4">Jawatan/ Gred</th>
            <th class="py-4">Tarikh Permohonan</th>
            <th class="py-4">Disediakan Oleh</th>
            <th class="py-4">Tindakan</th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="let item of pagedData; let i = index"
            class="align-middle"
          >
            <td>{{ i + 1 + (currentPage - 1) * pageSize }}</td>
            <td class="py-4">{{ item.nama }}</td>
            <td class="py-4">{{ item.noDokumenID }}</td>
            <td class="py-4">{{ item.jawatanGred }}</td>
            <td class="py-4">{{ item.tarikhPermhonan }}</td>
            <td class="py-4">{{ item.disediakanOleh }}</td>
            <td class="py-4">
              <button
                type="button"
                class="btn btn-secondary"
                (click)="semakSahkanButton(item.noDokumenID)"
              >
                Semak Dan Sahkan
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </c-row>

    <c-row>
      <c-col xs="12" md="5" class="d-flex align-items-center mb-2">
        <small>Sedang memaparkan</small>
        <select
          class="form-select form-select-sm w-auto"
          [(ngModel)]="pageSize"
          (change)="currentPage = 1"
        >
          <option value="10">10</option>
          <option value="25">25</option>
          <option value="50">50</option>
        </select>
        <small>daripada jumlah {{ tableData.length }} rekod</small>
      </c-col>

      <c-col xs="12" md="7" class="d-flex align-items-end justify-content-end">
        <ul class="pagination">
          <li>
            <a
              class="page-link text-dark previousPage"
              (click)="previousPage()"
              [class.disabled]="currentPage === 1"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="20"
                height="20"
                viewBox="0 0 20 20"
                fill="none"
              >
                <path
                  d="M9.99935 15.8327L4.16602 9.99935M4.16602 9.99935L9.99935 4.16602M4.16602 9.99935H15.8327"
                  stroke="#1D293D"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
              <small>Sebelumnya</small>
            </a>
          </li>

          <li *ngFor="let p of paginationNumbers">
            <a
              class="page-link"
              *ngIf="p !== '...'; else dots"
              [class.active]="p === currentPage"
              (click)="goToPage(p)"
            >
              {{ p }}
            </a>
            <ng-template #dots>
              <span class="page-link disabled">...</span>
            </ng-template>
          </li>

          <li>
            <a
              class="page-link text-dark nextPage"
              (click)="nextPage()"
              [class.disabled]="currentPage === totalPages"
            >
              <small>Seterusnya</small>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="20"
                height="20"
                viewBox="0 0 20 20"
                fill="none"
              >
                <path
                  d="M4.16602 9.99935H15.8327M15.8327 9.99935L9.99935 4.16602M15.8327 9.99935L9.99935 15.8327"
                  stroke="#1D293D"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </a>
          </li>
        </ul>
      </c-col>
    </c-row>
  </c-card-body>
</c-card>
