<!-- Sejarah Kelewatan Table -->
<c-card class="mt-4">
  <c-card-header>
    <strong>Kelulusan OT</strong>
  </c-card-header>
  <c-card-body class="table-responsive">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th class="col-2">Bil</th>
          <th class="col-2">Nama Pegawai</th>
          <th class="col-2">Nombor Kad Pengenalan</th>
          <th class="col-2">Gred Jawatan</th>
          <th class="col-2">Bahagian</th>
          <th class="col-2">Unit</th>
          <th class="col-2">Kumpulan</th>
          <th class="col-2">Tarikh</th>
          <th class="col-2">Masa Mula OT</th>
          <th class="col-2">Masa Tamat OT</th>
          <th class="col-2"></th>
          <th class="col-2"></th>
          <th class="col-2">Status</th>
          <th class="col-2">
            <input class="form-check-input" type="checkbox" [(ngModel)]="selectAllLulus"
              (change)="setAllLulus(selectAllLulus)" />
            Pilih Semua
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let record of kelewatanList; let i = index">
          <td>{{ i + 1 }}</td>
          <td>{{ record.namaPegawai }}</td>
          <td>{{ record.nomorKad }}</td>
          <td>{{ record.GredJawatan }}</td>
          <td>{{ record.Bahagian }}</td>
          <td>{{ record.Unit }}</td>
          <td>{{ record.kumpulan }}</td>
          <td>{{ record.Tarikh }}</td>
          <td>{{ record.masaMulaOT }}</td>
          <td>{{ record.masaAkhirOt }}</td>
          <td> <input type="checkbox" class="form-check-input" [(ngModel)]="record.selected" />
          </td>
          <td><button (click)="openDetail()">View</button></td>
          <td>{{ record.Kelulusan }}</td>
          <td></td>
        </tr>
      </tbody>
    </table>
   <c-card-footer>
  <!-- Row 1: Lulus / Tidak Lulus -->
  <!-- <c-row class="justify-content-end mb-2">
    <c-col xs="12" sm="6" md="2">
      <button class="btn btn-dark w-100" (click)="setKelulusan('Lulus')">Lulus</button>
    </c-col>
    <c-col xs="12" sm="6" md="2">
      <button class="btn btn-dark w-100" (click)="setKelulusan('Tidak Lulus')">Tidak Lulus</button>
    </c-col>
  </c-row> -->

  <!-- Row 2: Hantar / Simpan -->
  <!-- <c-row class="justify-content-end">
    <c-col xs="12" sm="6" md="2">
      <button class="btn btn-dark w-100" (click)="showHantarModalsend()">Hantar</button>
    </c-col>
    <c-col xs="12" sm="6" md="2">
      <button class="btn btn-dark w-100" (click)="showHantarModal()">Simpan</button>
    </c-col>
  </c-row> -->
</c-card-footer>
  </c-card-body>
</c-card>
<app-modal-sucess-send-save
  [Hantarmodel]="HantarModalsave"
  (close)="closeModal()">
</app-modal-sucess-send-save>
<app-modal-sucess-send
[Hantarmodel]="HantarModalsend"
  (close)="closeModal()" >
</app-modal-sucess-send>
