<c-card>
  <c-card-header class="bg-primary text-white">
    SAHKAN PERMOHONAN GANTIAN KAD KUASA
  </c-card-header>

  <c-card-body>
    <c-row>
      <c-col xs="12" md="9" class="order-2 order-md-1">
        <c-row class="mb-3">
          <h6>Maklumat Permohonan Untuk kegunaan Pejabat</h6>
        </c-row>
        <c-row class="mb-3 mt-5" style="margin-left: 20px;">
          <h6>Gantian Kerana Rosak</h6>
        </c-row>
        <c-row style="margin-left: 20px;">
            <c-col xs="12" md="6" class="mb-3">
                <label class="d-flex align-items-center gap-4">
                    <input
                    type="checkbox"
                    class="form-check-input custom-checkbox-size"
                    />
                    <span>Kad Kuasa Lama Dikembalikan</span>
                </label>
            </c-col>
        </c-row>
        <c-row style="margin-left: 20px;">
            <c-col xs="12" md="6" class="mb-3">
                    <div class="d-flex align-items-center mb-3 small-input">
                        <span class="text-dark span-size" style="margin-right: 20px;">Kerosakan Kali Ke </span>
                        <input style="width: 50px;"
                            class="form-control"
                        />        
                    </div>
            </c-col>
        </c-row>

        <c-row class="mb-3 mt-3" style="margin-left: 20px;">
          <h6>Gantian Kerana Kenaikan Pangkat</h6>
        </c-row>

        <c-row style="margin-left: 20px;">
            <c-col xs="12" md="6" class="mb-3">
                <label class="d-flex align-items-center gap-4">
                    <input
                    type="checkbox"
                    class="form-check-input custom-checkbox-size"
                    />
                    <span>Kad Kuasa Lama Dikembalikan</span>
                </label>
            </c-col>
        </c-row>

        <c-row style="margin-left: 20px;">
            <c-col xs="12" md="6" class="mb-3">
                <label class="d-flex align-items-center gap-4">
                    <input
                    type="checkbox"
                    class="form-check-input custom-checkbox-size"
                    />
                    <span>Surat Kenaikan Pangkat Disahkan oleh Ketua Pejabat Telah <b>Dimuat Naik</b></span>
                </label>
            </c-col>
        </c-row >
        <c-row class="mb-3 mt-3" style="margin-left: 20px;">
          <h6>Gantian Kerana Pindaan Maklumat Diri</h6>
        </c-row>

        <c-row style="margin-left: 20px;">
            <c-col xs="12" md="6" class="mb-3">
                <label class="d-flex align-items-center gap-4">
                    <input
                    type="checkbox"
                    class="form-check-input custom-checkbox-size"
                    />
                    <span>Kad Kuasa Lama Dikembalikan</span>
                </label>
            </c-col>
        </c-row>

        <c-row style="margin-left: 20px;">
            <c-col xs="12" md="6" class="mb-3">
                <label class="d-flex align-items-center gap-4">
                    <input
                    type="checkbox"
                    class="form-check-input custom-checkbox-size"
                    />
                    <span>Surat Kenaikan Pangkat Disahkan oleh Ketua Pejabat Telah <b>Dimuat Naik</b></span>
                </label>
            </c-col>
        </c-row>

        <c-row class="mb-3 mt-3" style="margin-left: 20px;">
          <h6>Gantian Kerana Kehilangan</h6>
        </c-row>

        <c-row style="margin-left: 20px;">
            <c-col xs="12" md="6" class="mb-3">
                <label class="d-flex align-items-center gap-4">
                    <input
                    type="checkbox"
                    class="form-check-input custom-checkbox-size"
                    />
                    <span>Laporan Polis Disahkan Ketua Polis Daerah Telah <b>Dimuat Naik</b></span>
                </label>
            </c-col>
        </c-row>

        <c-row style="margin-left: 20px;">
            <c-col xs="12" md="6" class="mb-3">
                <label class="d-flex align-items-center gap-4">
                    <input
                    type="checkbox"
                    class="form-check-input custom-checkbox-size"
                    />
                    <span>Borang 2B Telah <b>Dilengkapkan</b> Dan <b>Dimuat Naik</b></span>
                </label>
            </c-col>
        </c-row>

        <c-row style="margin-left: 20px;">
            <label>Sebab-Sebab Kehilangan</label>
        </c-row>

        <c-row style="margin-left: 20px;">
            <c-col xs="12" md="6" class="mb-3">
                <div class="d-flex align-items-center gap-5">

                    <!-- Radio -->
                    <label class="d-flex align-items-center gap-2 mb-0">
                    <input
                        type="radio"
                        name="kadKuasaOption"
                        class="form-check-input custom-radiobutton-size"
                    />
                    <span>Bukan Kecuaian</span>
                    </label>
                    <!-- Radio -->
                    <label class="d-flex align-items-center gap-2 mb-0">
                    <input
                        type="radio"
                        name="kadKuasaOption"
                        class="form-check-input custom-radiobutton-size"
                    />
                    <span>Kecuaian</span>
                    </label>
                </div>
            </c-col>
        </c-row>
        <c-row style="margin-left: 20px;">
            <c-col xs="12" md="6" class="mb-3">
                    <div class="d-flex align-items-center mb-3 small-input">
                        <span class="text-dark span-size" style="margin-right: 20px;">Kerosakan Kali Ke </span>
                        <input style="width: 50px;"
                            class="form-control"
                        />        
                    </div>
            </c-col>
        </c-row>
        <c-row class="mb-3 mt-3" style="margin-left: 20px;">
          <h6>Status Permohonan Gantian Kad Kuasa</h6>
        </c-row>
        <c-row style="margin-left: 20px;">
             <c-col xs="12" md="6" class="mb-3">
                <div class="d-flex align-items-center gap-5">

                    <!-- Radio -->
                    <label class="d-flex align-items-center gap-2 mb-0">
                    <input
                        type="radio"
                        name="kadKuasaOption1"
                        class="form-check-input custom-radiobutton-size"
                    />
                    <span>Lengkap</span>
                    </label>
                    <!-- Radio -->
                    <label class="d-flex align-items-center gap-2 mb-0">
                    <input
                        type="radio"
                        name="kadKuasaOption1"
                        class="form-check-input custom-radiobutton-size"
                    />
                    <span>Tidak Lengkap</span>
                    </label>
                </div>
            </c-col>
        </c-row>
      </c-col>

      <c-col xs="12" md="3" class="order-1 order-md-2">
        <!-- Loop through breadcrumb sections -->
        <ng-container *ngFor="let section of breadcrumbSections; let i = index">
            <!-- Main Step -->
            <div class="d-flex align-items-center mb-3 position-relative">
            <div
                class="step-circle me-3"
                [ngClass]="{
                'active-step': section.mainStep === currentMainStep,
                'completed-step': section.mainStep < currentMainStep
                }"
            >
                <ng-container *ngIf="section.mainStep < currentMainStep; else stepNumber">
                ✔️
                </ng-container>
                <ng-template #stepNumber>
                {{ section.mainStep }}
                </ng-template>
            </div>
            <span>{{ section.mainLabel }}</span>

            <!-- Vertical Line -->
            <div
                *ngIf="i < breadcrumbSections.length - 1"
                class="vertical-line"
            ></div>
            </div>
        </ng-container>
      </c-col>
    </c-row>
  </c-card-body>
  <c-card-body>
      <c-col
        xs="12"
        class="d-flex flex-wrap justify-content-end align-items-center gap-5 my-3 order-3 order-md-3"
      >
        <c-row>
          <c-col class="d-flex gap-3">
            <button type="button" class="btn btn-secondary" style="margin-right: 20px;">&lt;</button>
            <button type="button" class="btn btn-secondary" style="margin-right: 20px;" (click)="next()">&gt;</button>
          </c-col>
        </c-row>
      </c-col>

  </c-card-body>
</c-card>

