<div class="custom-content-wrapper">
  <c-card>
    <c-card-body style="height: 100vh;">
      <c-row class="my-2">
        <h4 class="fw-bold">SAHKAN PERMOHONAN KAD KUASA</h4>
      </c-row>

      <c-row class="my-2 mb-5">
        <c-col>
          <ng-container *ngFor="let section of mainSteps">
            <button
              type="button"
              class="btn-custom-breadcrumbADM btn btn-light d-inline-flex gap-2 fw-semibold"
              [ngClass]="{
                'btn-custom-breadcrumbADM-active':
                  section.mainStep === currentMainStep
              }"
            >
              <span
                class="btn-custom-breadcrumbNoADM"
                [ngClass]="{
                  'btn-custom-breadcrumbNoADM-active':
                    section.mainStep === currentMainStep
                }"
                >{{ section.mainStep }}</span
              >
              <span class="btn-custom-breadcrumbLabelADM">{{
                section.mainLabel
              }}</span>
            </button>
          </ng-container>
        </c-col>
      </c-row>

      <c-row>
        <c-col xs="12" md="12" class="order-2 order-md-1">
        <c-row class="mb-5">
          <h5 class="fw-semibold">Pengesahan Kad Kuasa</h5>
        </c-row>
          <c-row>
            <label class="fw-semibold">Status Pengesahan</label>
            <c-col class="d-flex gap-3 mb-5 mt-3">
              <button type="button" class="custom-button" style="width: 150px;">Sah</button>
              <button type="button" class="btn btn-primary" style="width: 150px;">Tidak Sah</button>
            </c-col>
          </c-row>
          <c-row>
            <c-col xs="12" md="12" class="mb-3">
              <label class="fw-semibold mb-2">Disahkan Oleh</label>
              <input
                class="form-control"
                [(ngModel)]="maklumatPemohon.namaPenuh"
                [readonly]="readonlyField"
                [ngClass]="{ 'bg-light text-muted': readonlyField }"
              />
            </c-col>
          </c-row>

          <c-row>
            <c-col xs="12" md="12" class="mb-3">
              <label class="fw-semibold mb-2">Catatan</label>
              <textarea
                class="form-control"
              ></textarea>
            </c-col>
          </c-row>

          <c-row>
            <c-col xs="12" md="6" class="mb-3">
              <label class="fw-semibold mb-2">Tarkih Pengesahan</label>
              <input
                type="date"
                class="form-control"
              />
            </c-col>
            <c-col xs="12" md="6" class="mb-3">
              <label class="fw-semibold mb-2">Masa Pengesahan</label>
              <input
                class="form-control"
              />
            </c-col>
          </c-row>
        </c-col>
      </c-row>
    </c-card-body>
    <c-card-body>
        <c-row style="border-top: 1px solid rgba(0, 0, 0, 0.1)">
          <c-col class="d-flex gap-5 flex-shrink-0 justify-content-end py-3">

            <div class="d-flex">
              <button type="button" class="btn btn-primary" style="margin-right: 30px;" (click)="showRekodDihantar()">
              <img src="../../../../../../assets/images/circle-check.svg" alt="send" style="margin-right: 5px;margin-bottom: 2px;">
               Hantar</button>
              <button
                type="button"
                class="btn-custom-normalWhite fw-semibold btn btn-light"
              >
                &lt;
              </button>
              <button
                type="button"
                class="btn-custom-normalWhite fw-semibold btn btn-light"
              >
                &gt;
              </button>
            </div>

          </c-col>
        </c-row>
    </c-card-body>
  </c-card>
</div> 

<app-rekod-berjaya-dihantar
[RekodDihantar]="HantarRekodDihantar"
  (close)="closeModal()" >
</app-rekod-berjaya-dihantar>
