<div class="container-fluid">
    <div class="card">
        <div class="ms-4 me-4">
            <div class="mt-2 mb-2">
                <h3 class="mb-2 mt-4"><b>Anak Kapal</b></h3>
            </div>
            <div class="mt-4">
                <!-- Left Side: Step Info -->
                <reusable-tab [currentStep]="currentStep" [steps]="steps"></reusable-tab>
                <div class="col-md-6 mb-4">
                  <p class="mb-0">Maklumat Anak Kapal - (IMO FAL <i>Form</i> 5)</p>
                </div>

                <!-- Main Content Area -->
                <div class="row flex-column flex-lg-row">
                    <div class="col-md-2 mb-3 mb-md-0">
                        <div class="d-flex flex-column align-items-center">
                            <img src="assets/images/avatars/9.jpg" alt="Profile Image" class="img-fluid rounded-2"
                style="width: 150px; height: 150px; object-fit: cover;">

                        </div>
                    </div>
                    <div class="col-10">
                        <!-- Profile Image Section -->
                        <!-- <h6 class="mb-3">Maklumat Pengembara</h6> -->
                        <!-- Form Fields -->
                        <div class="row ps-3">
                            <div class="col-md-6">
                                <!-- Nama -->
                                <div class="mb-3">
                                    <label class="form-label">Nama Kapal</label>
                                    <input type="text" class="form-control" [(ngModel)]="formData.NamaKapal" name="NamaKapal">
                                </div>              
                            </div>
                            <div class="col-md-6">
                                <!-- Nama -->
                                <div class="mb-3">
                                    <label class="form-label">Jenis Kapal</label>
                                    <input type="text" class="form-control" [(ngModel)]="formData.JenisKapal" name="JenisKapal">
                                </div>              
                            </div>
                        </div>

                        <div class="row ps-3">
                            <div class="col-md-6">
                                <!-- Nama -->
                                <div class="mb-3">
                                    <label class="form-label">IMO No.</label>
                                    <input type="text" class="form-control" [(ngModel)]="formData.IMONo" name="IMONo">
                                </div>              
                            </div>
                            <div class="col-md-6">
                                <!-- Nama -->
                                <div class="mb-3">
                                    <label class="form-label"><i>Call Sign</i></label>
                                    <input type="text" class="form-control" [(ngModel)]="formData.CallSign" name="CallSign">
                                </div>              
                            </div>
                        </div>

                        <div class="row ps-3">
                            <div class="col-md-6">
                                <!-- Nama -->
                                <div class="mb-3">
                                    <label class="form-label">Voyage No.</label>
                                    <input type="text" class="form-control" [(ngModel)]="formData.VoyageNo" name="VoyageNo">
                                </div>              
                            </div>
                        </div>

                        <div class="row ps-3">
                            <div class="col-md-12">
                                <!-- Nama -->
                                <div class="mb-3">
                                    <label class="form-label">Nama Anak Kapal</label>
                                    <input type="text" class="form-control" [(ngModel)]="formData.NamaAnakKapal" name="NamaAnakKapal">
                                </div>              
                            </div>
                        </div>
                        <div class="row ps-3">
                            <div class="col-md-6">
                                <!-- Nama -->
                                <div class="mb-3">
                                    <label class="form-label">Jawatan</label>
                                    <input type="text" class="form-control" [(ngModel)]="formData.Jawatan" name="Jawatan">
                                </div>              
                            </div>
                        </div>
                        <div class="row ps-3">
                            <div class="col-md-6">
                                <!-- Nama -->
                                <div class="mb-3">
                                    <label class="form-label">No. Pasport</label>
                                    <input type="text" class="form-control" [(ngModel)]="formData.NoPasport" name="NoPasport">
                                </div>              
                            </div>
                            <div class="col-md-6">
                                <!-- Nama -->
                                <div class="mb-3">
                                    <label class="form-label">Tarikh Tamat</label>
                                    <input type="date" class="form-control" [(ngModel)]="formData.TarikhTamat" name="TarikhTamat">
                                </div>              
                            </div>
                        </div>
                        <div class="row ps-3">
                            <div class="col-md-6">
                                <!-- Nama -->
                                <div class="mb-3">
                                    <label class="form-label">Buku Pelaut <i>(Seaman Book)</i></label>
                                    <input type="text" class="form-control" [(ngModel)]="formData.BukuPelaut" name="BukuPelaut">
                                </div>              
                            </div>
                            <div class="col-md-6">
                                <!-- Nama -->
                                <div class="mb-3">
                                    <label class="form-label">Tarikh Tamat</label>
                                    <input type="date" class="form-control" [(ngModel)]="formData.TarikhTamatBukuPelaut" name="TarikhTamatBukuPelaut">
                                </div>              
                            </div>
                        </div>
                        <div class="row ps-3">
                            <div class="col-md-6">
                                <!-- Nama -->
                                <div class="mb-3">
                                    <label class="form-label">Warganegara</label>
                                    <input type="text" class="form-control" [(ngModel)]="formData.Warganegara" name="Warganegara">
                                </div>              
                            </div>
                        </div>

                        

                        <div class="row ps-3">
                            <div class="col-md-6">
                                <!-- Nama -->
                                <div class="mb-3">
                                    <label class="form-label">Tarikh Lahir</label>
                                    <input type="date" class="form-control" [(ngModel)]="formData.TarikhLahir" name="TarikhLahir">
                                </div>              
                            </div>
                            <div class="col-md-6">
                                <!-- Nama -->
                                <div class="mb-3">
                                    <label class="form-label">Tempat Lahir</label>
                                    <input type="text" class="form-control" [(ngModel)]="formData.TempatLahir" name="TempatLahir">
                                </div>              
                            </div>
                        </div> 
                        
                        <div class="row ps-3">
                        <label class="form-label">Melengkapkan e-IMM.26</label>
                        <div class="d-flex gap-3">
                          <div class="form-check form-check-inline">
                            <input 
                              class="form-check-input" 
                              type="radio" 
                              id="IMM26_ya" 
                              [(ngModel)]="formData.IMM26" 
                              name="IMM26" 
                              value="ya"
                            />
                            <label class="form-check-label" for="IMM26_ya">Ya</label>
                          </div>
                          <div class="form-check form-check-inline">
                            <input 
                              class="form-check-input" 
                              type="radio" 
                              id="IMM26_tidak" 
                              [(ngModel)]="formData.IMM26" 
                              name="IMM26" 
                              value="tidak"
                            />
                            <label class="form-check-label" for="IMM26_tidak">Tidak</label>
                          </div>
                        </div>
                        </div>
                        <br>
              
                        <div class="row ps-3">
                        <div class="col-md-6">
                          <div class="mb-3">
                            <label class="form-label">Status Anak Kapal</label>
                            <select
                              class="form-select"
                              id="StatusAnakKapal"
                              [(ngModel)]="formData.StatusAnakKapal"
                              name="StatusAnakKapal"
                            >
                              <option value="" disabled selected>-Sila Pilih-</option>
                              <option value="visa1">Sakit</option>
                              <option value="visa2">Mati</option>
                            </select>
                          </div>
                        </div>
                      </div>

                    </div>
                </div>

            <!-- Bottom Navigation -->
            <div class="row mt-4">
                <div class="col-12">
                    <div class="d-flex justify-content-end gap-2 mb-4">
                        <!-- <button 
                          class="btn btn-submit d-flex align-items-center gap-1" 
                          [disabled]="!isFormValid" 
                          (click)="saveForm()">
                          <i class="bi bi-check-circle"></i>
                          Hantar
                        </button> -->
                    </div>
                </div>
            </div>
        </div>
        <c-row class="mt-4 mb-3 footer-row">
            <c-col class="d-flex justify-content-end align-items-center gap-2">          
            <div class="d-flex gap-2 ms-4">
                        <button class="btn btn-all" (click)="goToPrevious()">
                            &lt;
                        </button>
                        <button class="btn btn-all" (click)="goToNext()">
                            &gt;
                        </button>
            </div>
            </c-col>
        </c-row>
    </div>
</div>
<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet">

