<c-card class="border-0 shadow-none">
    <c-card-header class="config-data-header">
        <h5 class="config-data-title">SELENGGARA TEMPLAT SURAT/BORANG/E-MEL/MEMO</h5>
    </c-card-header>

    <c-card-body class="ps-lg-4">
        <div class="search-container">
            <div class="table-title">
                CARIAN TEMPLAT
            </div>

            <c-row class="mt-3 mb-2 align-items-center">
                <c-col xs="12" lg="8">
                    <div class="d-flex flex-column">
                        <label class="form-label kod-templat-label mb-2" for="kodTemplat">Kod Templat</label>
                        <div class="d-flex align-items-center flex-wrap gap-2">
                            <input type="text" [(ngModel)]="kodTemplat" id="kodTemplat"
                                class="form-control kod-templat-input"
                                style="min-width: 200px; width: 100%; max-width: 300px;" placeholder="Kod Templat" />
                            <button class="btn-cari" (click)="onCariClick()">
                                <span class="btn-cari-icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="21" viewBox="0 0 20 21"
                                        fill="none">
                                        <path
                                            d="M17.5 17.8335L13.9167 14.2502M15.8333 9.50016C15.8333 13.1821 12.8486 16.1668 9.16667 16.1668C5.48477 16.1668 2.5 13.1821 2.5 9.50016C2.5 5.81826 5.48477 2.8335 9.16667 2.8335C12.8486 2.8335 15.8333 5.81826 15.8333 9.50016Z"
                                            stroke="fill" stroke-width="1.5" stroke-linecap="round"
                                            stroke-linejoin="round" />
                                    </svg>
                                </span>
                                <span class="btn-cari-text">Cari</span>
                            </button>
                        </div>
                    </div>
                </c-col>
            </c-row>
        </div>
    </c-card-body>

    <c-card-body>
        <div class="d-flex justify-content-end gap-2">
            <button class="btn-custom">
                <span class="btn-custom-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="21" fill="currentColor"
                        viewBox="0 0 640 640" class="me-1">
                        <path
                            d="M480 576L192 576C139 576 96 533 96 480L96 160C96 107 139 64 192 64L496 64C522.5 64 544 85.5 544 112L544 400C544 420.9 530.6 438.7 512 445.3L512 512C529.7 512 544 526.3 544 544C544 561.7 529.7 576 512 576L480 576zM192 448C174.3 448 160 462.3 160 480C160 497.7 174.3 512 192 512L448 512L448 448L192 448zM224 216C224 229.3 234.7 240 248 240L424 240C437.3 240 448 229.3 448 216C448 202.7 437.3 192 424 192L248 192C234.7 192 224 202.7 224 216zM248 288C234.7 288 224 298.7 224 312C224 325.3 234.7 336 248 336L424 336C437.3 336 448 325.3 448 312C448 298.7 437.3 288 424 288L248 288z" />
                    </svg>
                </span>
                <span class="btn-custom-text">e-Library</span>
            </button>
            <button class="btn-custom" title="Tambah">
                <span class="btn-custom-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="21" viewBox="0 0 20 21" fill="none">
                        <path d="M4.16663 10.3333H15.8333M9.99996 4.5V16.1667" stroke="white" stroke-width="1.5"
                            stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                </span>
                <span class="btn-custom-text">Tambah</span>
            </button>
        </div>

        <div class="table-title">
            SENARAI TEMPLAT
        </div>

        <div class="custom-table-container">
            <table class="custom-table">
                <thead class="custom-table-header">
                    <tr>
                        <th class="header-cell">No.</th>
                        <th class="header-cell">Kod Templat</th>
                        <th class="header-cell">Jenis Templat</th>
                        <th class="header-cell">Keterangan Templat</th>
                        <th class="header-cell">Status</th>
                        <th class="header-cell">Tindakan</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let record of currentPageData; let i = index">
                        <td class="body-cell">{{ record.No }}</td>
                        <td class="body-cell">{{ record.kodTemplat }}</td>
                        <td class="body-cell">{{ record.jenisTemplat }}</td>
                        <td class="body-cell">{{ record.keteranganTemplat }}</td>
                        <td class="body-cell">

                            <div class="wrapContent"
                                [ngClass]="record.status === 'Aktif' ? 'badanActive' : 'badanTidakActive'">
                                <svg xmlns="http://www.w3.org/2000/svg" width="8" height="9" viewBox="0 0 8 9"
                                    fill="none">
                                    <circle cx="4" cy="4.3335" r="3" />
                                </svg>
                                {{ record.status }}
                            </div>

                        </td>
                        <td class="body-cell">

                            <div class="d-flex justify-content-center gap-2">
                                <!-- Kemas Kini -->
                                <button cButton color="light" class="text-nowrap" style="background: transparent; border: none; padding: 0.25rem;
                                    color: #0B6BC1; cursor: pointer; display: inline-flex;
                                    align-items: center; justify-content: center; border-radius: 4px;
                                    transition: background 0.2s ease; font-size: 14px;" (mouseover)="hoveringIndex = i"
                                    (mouseout)="hoveringIndex = null"
                                    [ngStyle]="{ 'background-color': hoveringIndex === i ? 'rgba(11, 107, 193, 0.1)' : 'transparent' }"
                                    (focus)="focused = true" (blur)="focused = false"
                                    [ngClass]="{ 'outline': focused }">
                                    Kemas Kini
                                </button>

                                <!-- Nyahaktif -->
                                <button *ngIf="record.status === 'Aktif'" cButton color="dark" class="text-nowrap"
                                    style="background: transparent; border: none; padding: 0.25rem;
                                    color: #0B6BC1; cursor: pointer; display: inline-flex;
                                    align-items: center; justify-content: center; border-radius: 4px;
                                    transition: background 0.2s ease; font-size: 14px;"
                                    (mouseover)="hoveringIndex2  = i" (mouseout)="hoveringIndex2  = null"
                                    [ngStyle]="{ 'background-color': hoveringIndex2 === i ? 'rgba(11, 107, 193, 0.1)' : 'transparent' }"
                                    (focus)="focused2 = true" (blur)="focused2 = false"
                                    [ngClass]="{ 'outline': focused2 }">
                                    Nyahaktif
                                </button>

                                <!-- Aktifkan -->
                                <button *ngIf="record.status === 'Tidak Aktif'" cButton color="dark" class="text-nowrap"
                                    style="background: transparent; border: none; padding: 0.25rem;
                                    color: #0B6BC1; cursor: pointer; display: inline-flex;
                                    align-items: center; justify-content: center; border-radius: 4px;
                                    transition: background 0.2s ease; font-size: 14px;"
                                    (mouseover)="hoveringIndex2  = i" (mouseout)="hoveringIndex2  = null"
                                    [ngStyle]="{ 'background-color': hoveringIndex2 === i ? 'rgba(11, 107, 193, 0.1)' : 'transparent' }"
                                    (focus)="focused2 = true" (blur)="focused2 = false"
                                    [ngClass]="{ 'outline': focused2 }">
                                    Aktif
                                </button>
                            </div>

                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </c-card-body>

    <c-card-footer class="custom-footer">
        <div class="footer-left">
            <small class="pagination-label me-2">Sedang memaparkan</small>
            <select id="itemsPerPage" class="form-select form-select-sm w-auto" [(ngModel)]="itemsPerPage"
                (change)="onItemsPerPageChange()">
                <option [value]="1">1</option>
                <option [value]="2">2</option>
                <option [value]="3">3</option>
                <option [value]="4">4</option>
                <option [value]="5">5</option>
                <option [value]="6">6</option>
                <option [value]="7">7</option>
                <option [value]="8">8</option>
                <option [value]="9">9</option>
                <option [value]="10">10</option>
            </select>
            <small class="pagination-label">daripada jumlah {{ totalItems }} rekod</small>
        </div>

        <div class="footer-right">
            <div class="pagination-button-group">
                <!-- Previous Button -->
                <button class="pagination-button prev-button" [disabled]="currentPage === 1"
                    (click)="goToPreviousPage()">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                        <path
                            d="M10.0001 15.8332L4.16675 9.99984M4.16675 9.99984L10.0001 4.1665M4.16675 9.99984H15.8334"
                            stroke="#1D293D" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                </button>

                <!-- Page Numbers -->
                <ng-container *ngFor="let pageNum of getVisiblePages()">
                    <div *ngIf="pageNum !== -1" class="page-number-button" [class.active]="currentPage === pageNum"
                        (click)="goToPage(pageNum)">
                        {{ pageNum }}
                    </div>
                    <div *ngIf="pageNum === -1" class="page-number-ellipsis">
                        ...
                    </div>
                </ng-container>

                <!-- Next Button -->
                <button class="pagination-button next-button" [disabled]="currentPage === totalPages"
                    (click)="goToNextPage()">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                        <path
                            d="M4.16675 9.99984H15.8334M15.8334 9.99984L10.0001 4.1665M15.8334 9.99984L10.0001 15.8332"
                            stroke="#1D293D" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                </button>
            </div>
        </div>
    </c-card-footer>
</c-card>