<c-card>
 <c-card-header class="bg-primary text-white">
    SAHKAN PERMOHONAN KAD KUASA
  </c-card-header>

  <c-card-body style="height: 100vh;">
    <c-row>
      <c-col xs="12" md="9" class="order-2 order-md-1">
        <c-row class="mb-3">
          <h6>Pengesahan Kad Kuasa</h6>
        </c-row>
        <c-row>
          <label>Status Pengesahan</label>
          <c-col class="d-flex gap-3 mb-5 mt-3">
            <button type="button" class="btn btn-secondary" style="width: 150px;">Sah</button>
            <button type="button" class="btn btn-secondary" style="width: 150px;">Tidak Sah</button>
          </c-col>
        </c-row>
        <c-row>
          <c-col xs="12" md="10" class="mb-3">
            <label>Disahkan Oleh</label>
            <input
              class="form-control"
              [(ngModel)]="maklumatPemohon.namaPenuh"
              [readonly]="readonlyField"
              [ngClass]="{ 'bg-light text-muted': readonlyField }"
            />
          </c-col>
        </c-row>

        <c-row>
          <c-col xs="12" md="10" class="mb-3">
            <label>Catatan</label>
            <textarea
              class="form-control"
            ></textarea>
          </c-col>
        </c-row>

        <c-row>
          <c-col xs="12" md="5" class="mb-3">
            <label>Tarkih Pengesahan</label>
            <input
              type="date"
              class="form-control"
            />
          </c-col>
          <c-col xs="12" md="5" class="mb-3">
            <label>Masa Pengesahan</label>
            <input
              class="form-control"
            />
          </c-col>
        </c-row>
      </c-col>

      <c-col xs="12" md="3" class="order-1 order-md-2">
        <!-- Loop through breadcrumb sections -->
        <ng-container *ngFor="let section of breadcrumbSections; let i = index">
            <!-- Main Step -->
            <div class="d-flex align-items-center mb-3 position-relative">
            <div
                class="step-circle me-3"
                [ngClass]="{
                'active-step': section.mainStep === currentMainStep,
                'completed-step': section.mainStep < currentMainStep
                }"
            >
                <ng-container *ngIf="section.mainStep < currentMainStep; else stepNumber">
                ✔️
                </ng-container>
                <ng-template #stepNumber>
                {{ section.mainStep }}
                </ng-template>
            </div>
            <span>{{ section.mainLabel }}</span>

            <!-- Vertical Line -->
            <div
                *ngIf="i < breadcrumbSections.length - 1"
                class="vertical-line"
            ></div>
            </div>
        </ng-container>
      </c-col>

    </c-row>
  </c-card-body>
  <c-card-body>
      <c-col
        xs="12"
        class="d-flex flex-wrap justify-content-end align-items-center gap-5 my-3 order-3 order-md-3"
      >
        <c-row>
          <c-col class="d-flex gap-3">
            <button type="button" class="btn btn-secondary" style="width: 150px;margin-right: 30px;" (click)="showRekodDihantar()">hantar</button>
            <button type="button" class="btn btn-secondary">&lt;</button>
            <button type="button" class="btn btn-secondary" disabled>&gt;</button>
          </c-col>
        </c-row>
      </c-col>

  </c-card-body>
</c-card>

<app-rekod-berjaya-dihantar
[RekodDihantar]="HantarRekodDihantar"
  (close)="closeModal()" >
</app-rekod-berjaya-dihantar>