<c-card>
  <c-card-header class="bg-primary text-white"> DASHBOARD </c-card-header>

  <c-card-body>
    <c-row class="mt-4 mb-4">
      <c-col xs="12" md="4" class="mb-3">
        <label class="form-label">Nama Penuh</label>
        <input type="text" id="" class="form-control" />
      </c-col>
      <c-col xs="12" md="3" class="mb-3">
        <label class="form-label">Jenis Dokumen</label>
        <select id="" class="form-select">
          <option value="">Sila Pillih</option>
        </select>
      </c-col>
      <c-col xs="12" md="3" class="mb-3">
        <label class="form-label">No. Doukumen/ ID</label>
        <input type="text" id="" class="form-control" />
      </c-col>
      <c-col xs="12" md="3" class="mb-3">
        <label class="form-label">Jenis Permohonan</label>
        <select id="" class="form-select">
          <option value="">Sila Pillih</option>
        </select>
      </c-col>
      <c-col xs="12" md="3" class="mb-3">
        <label class="form-label">Status Permohonan</label>
        <select id="" class="form-select">
          <option value="">Sila Pillih</option>
        </select>
      </c-col>
      <c-col xs="12" md="2" class="mb-3">
        <label class="form-label">Tarikh Permohonan</label>
            <div class="d-flex align-items-center mb-3 small-input">
                <span class="text-dark span-size" style="margin-right: 20px;">Dari</span>
                <input
                    class="form-control"
                    type="date"
                />
                <span class="text-dark span-size" style="margin-left: 20px;margin-right: 20px;">Hingga</span>
                <input
                 class="form-control"
                 type="date"
                />
            </div>
      </c-col>
      <c-col xs="12" md="10" class="justify-content-end d-flex gap-3">
        <button type="button" class="btn btn-secondary">Carian</button>
        <button type="button" class="btn btn-secondary">Set Semula</button>
      </c-col>
    </c-row>
    <c-row class="mb-5 px-2 table-responsive">
      <table class="table">
        <thead>
          <tr class="align-middle">
            <th class="py-4">Bil.</th>
            <th class="py-4">Nama</th>
            <th class="py-4">No. Dokumen/ ID</th>
            <th class="py-4">Pangkat/ Gred</th>
            <th class="py-4">Tarikh Permohonan</th>
            <th class="py-4">Status Permohonan</th>
            <th class="py-4">Tindakan</th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="let item of tableData; let i = index"
            class="align-middle"
          >
            <td class="py-4 small-cell" style="width: 80px;">{{ i + 1 }}</td>
            <td class="py-4 small-cell" style="width: 200px;">{{ item.nama }}</td>
            <td class="py-4 small-cell" style="width: 150px;">{{ item.noDokumenID }}</td>
            <td class="py-4 small-cell" style="width: 200px;">{{ item.jawatanGred }}</td>
            <td class="py-4 small-cell" style="width: 150px;">{{ item.tarikhPermohonan }}</td>
            <td class="py-4 small-cell" style="width: 200px;">{{ item.statusPermohonan }}</td>
            <td class="py-4" style="width: 200px;">
              <button type="button" class="btn btn-secondary">
                Semak Dan Sahkan
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </c-row>
    <c-row>
      <c-col
        xs="12"
        md="4"
        class="align-items-start justify-content-start mb-2"
      >
        <select id="" class="form-select form-select-sm" style="width: 60px">
          <option value="10">10</option>
          <option value="25">25</option>
          <option value="50">50</option>
        </select>
      </c-col>

      <nav class="col-12 col-md-5">
        <ul class="pagination justify-content-end">
          <li>
            <a
              class="page-link text-dark"
              href="#/notifikasi"
              aria-label="Previous"
            >
              <span aria-hidden="true">&laquo;&laquo;</span>
            </a>
          </li>
          <li>
            <a
              class="page-link text-dark"
              href="#/notifikasi"
              aria-label="FirstPage"
            >
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          <li><a class="page-link text-dark" href="#/notifikasi">1</a></li>
          <li><a class="page-link text-dark" href="#/notifikasi">2</a></li>
          <li><a class="page-link text-dark" href="#/notifikasi">3</a></li>
          <li>
            <a
              class="page-link text-dark"
              href="#/notifikasi"
              aria-label="Next"
            >
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
          <li>
            <a
              class="page-link text-dark"
              href="#/notifikasi"
              aria-label="LastPage"
            >
              <span aria-hidden="true">&raquo;&raquo;</span>
            </a>
          </li>
        </ul>
      </nav>

      <c-col
        xs="12"
        md="3"
        class="d-flex align-items-start justify-content-end gap-2"
      >
        <label class="form-label">Pergi ke</label>
        <input
          type="number"
          class="form-control form-control-sm"
          style="width: 50px"
        />
      </c-col>
    </c-row>
  </c-card-body>
</c-card>

