<c-card class="mb-3">
  <!-- HEADER -->
  <c-card-header class="card-header">
    <h5 class="card-header-title">Semakan/ Kelulusan Permohonan Ejen Perkapalan</h5>
  </c-card-header>

  <!-- BODY -->
  <c-card-body>
    <!-- Jenis Permohonan -->
    <h6 class="fw-bold mb-4">Jenis Permohonan</h6>

    <!-- Permohonan Table -->
    <h6 class="text-center mb-3">Permohonan Ejen Perkapalan</h6>

    <div class="table-responsive">
      <table class="table table-bordered text-center align-middle rounded">

        <thead class="table-secondary">
          <tr>
            <th scope="col">Bil.</th>
            <th scope="col">Nama Syarikat Perkapalan</th>
            <th scope="col">Pelabuhan</th>
            <th colspan="2">Status Permohonan</th>
            <th scope="col">Catatan</th>
          </tr>
          <tr>
            <th colspan="3"></th>
            <th>Lulus</th>
            <th>Gagal</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of permohonanList; let i = index">
            <td>{{ i + 1 }}</td>
            <td><a href="#">{{ item.namaSyarikat }}</a></td>
            <td>{{ item.pelabuhan }}</td>
            <td>
              <input type="radio" name="status{{ i }}" value="Lulus" [(ngModel)]="item.statusPermohonan" />
            </td>
            <td>
              <input type="radio" name="status{{ i }}" value="Gagal" [(ngModel)]="item.statusPermohonan" />
            </td>
            <td>{{ item.catatan }}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <!-- PAGINATION: centered -->
    <c-row class="mt-4">
    <c-col class="d-flex justify-content-center">
        <button cButton color="secondary" class="me-2" disabled>&lt;</button>
        <button cButton color="secondary">&gt;</button>
    </c-col>
    </c-row>

    <!-- BUTTON: right aligned -->
    <c-row class="mt-2">
    <c-col class="d-flex justify-content-end">
        <button cButton color="dark" class="text-white" (click)="generateDecisionLetter()">
        Jana Surat Keputusan
        </button>
    </c-col>
    </c-row>
  </c-card-body>
</c-card>

<!-- Modal 1 -->
<app-coreui-modal
  [title]="'Makluman'"
  [show]="openModal === 'modal-wajib-diisi'"
  (close)="close()"
>
  <div class="text-center">
    <img src="assets/images/camera-guide.png" alt="" class="" style="max-height: 200px;">
    <p class="mb-3">Medan mandatori yang bertanda * wajib diisi</p>
  </div>
</app-coreui-modal>

