<c-card>
  <c-card-body>
    <c-row>
      <c-col xs="12" md="8">

        <!-- example only, if backends wants to remove, go ahead. -->
        <c-row>
          <c-col xs="12" md="6" class="border d-flex justify-content-center align-items-center" style="height: 300px;">WIDGET</c-col>
          <c-col xs="12" md="6" class="border d-flex justify-content-center align-items-center" style="height: 300px;">WIDGET</c-col>
          <c-col xs="12" md="6" class="border d-flex justify-content-center align-items-center" style="height: 300px;">WIDGET</c-col>
          <c-col xs="12" md="6" class="border d-flex justify-content-center align-items-center" style="height: 300px;">WIDGET</c-col>
        </c-row>
      </c-col>

      <!-- example only, if backends wants to remove, go ahead. -->
      <c-col xs="12" md="4">
        <c-col xs="12" md="12" class="border d-flex justify-content-center align-items-center" style="height: 600px;">SLIDERS</c-col>
      </c-col>
    </c-row>
  </c-card-body>
  <c-card-body>
    <c-row class="g-3 justify-content-end">
      <h5>TUGASAN SEMASA</h5>
      <c-col xs="12" md="3">
        <select id="" class="form-select">
          <option value="">Pilih Modul</option>
        </select>
      </c-col>

      <c-col xs="12" md="3">
        <select id="" class="form-select">
          <option value="">Pilih Lajur</option>
        </select>
      </c-col>
    </c-row>

    <c-row class="mb-5 table-responsive">
      <table class="table">
        <thead>
          <tr class="align-middle">
            <th class="py-4">Bil.</th>
            <th class="py-4">Keterangan</th>
            <th class="py-4">Tarikh</th>
            <th class="py-4">Masa</th>
            <th class="py-4">Status</th>
            <th class="py-4">Modul</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of tableData" class="align-middle">
            <td class="py-4">{{ item.bil }}</td>
            <td class="py-4">{{ item.keterangan }}</td>
            <td class="py-4">{{ item.tarikh }}</td>
            <td class="py-4">{{ item.masa }}</td>
            <td class="py-4"><button type="button" class="btn btn-secondary"> {{ item.status }} </button></td>
            <td class="py-4">{{ item.modul }}</td>
          </tr>
        </tbody>
      </table>
    </c-row>

    <c-row>
      <c-col
        xs="12"
        md="4"
        class="align-items-start justify-content-start mb-2"
      >
        <select id="" class="form-select form-select-sm" style="width: 60px">
          <option value="10">10</option>
          <option value="25">25</option>
          <option value="50">50</option>
        </select>
      </c-col>
      <c-col xs="12" md="6" tag="nav">
        <ul class="pagination justify-content-end">
          <li>
            <a
              class="page-link text-dark"
              href="#/notifikasi"
              aria-label="Previous"
            >
              <span aria-hidden="true">&laquo;&laquo;</span>
            </a>
          </li>
          <li>
            <a
              class="page-link text-dark"
              href="#/notifikasi"
              aria-label="FirstPage"
            >
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          <li><a class="page-link text-dark" href="#/notifikasi">1</a></li>
          <li><a class="page-link text-dark" href="#/notifikasi">2</a></li>
          <li><a class="page-link text-dark" href="#/notifikasi">3</a></li>
          <li>
            <a
              class="page-link text-dark"
              href="#/notifikasi"
              aria-label="Next"
            >
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
          <li>
            <a
              class="page-link text-dark"
              href="#/notifikasi"
              aria-label="LastPage"
            >
              <span aria-hidden="true">&raquo;&raquo;</span>
            </a>
          </li>
        </ul>
      </c-col>
      <c-col
        xs="12"
        md="2"
        class="d-flex align-items-start justify-content-end gap-2"
      >
        <label class="form-label mb-0">Pergi ke</label>
        <input
          type="number"
          class="form-control form-control-sm"
          style="width: 50px"
        />
      </c-col>
    </c-row>
  </c-card-body>
</c-card>
