<div class="custom-content-wrapper">  
  <c-card>
    <c-card-body>
      <c-row class="my-2">
        <h4 class="fw-bold">MAKLUMAT PROFIL KAKITANGAN</h4>
      </c-row>

      <c-row class="my-2">
        <c-col>
          <ng-container *ngFor="let section of mainSteps">
            <button
              type="button"
              class="btn-custom-breadcrumbADM btn btn-light d-inline-flex gap-2 fw-semibold"
              [ngClass]="{
                'btn-custom-breadcrumbADM-active':
                  section.mainStep === currentMainStep
              }"
            >
              <span
                class="btn-custom-breadcrumbNoADM"
                [ngClass]="{
                  'btn-custom-breadcrumbNoADM-active':
                    section.mainStep === currentMainStep
                }"
                >{{ section.mainStep }}</span
              >
              <span class="btn-custom-breadcrumbLabelADM">{{
                section.mainLabel
              }}</span>
            </button>
          </ng-container>
        </c-col>
      </c-row>

      <c-row class="my-2">
        <c-col class="d-flex flex-nowrap overflow-auto align-items-stretch">
          <ng-container *ngFor="let section of subSteps">
            <button
              type="button"
              class="btn-custom-breadcrumbADM btn btn-light fw-bold d-inline-flex gap-2 flex-shrink-0"
              #subButton
              [ngClass]="{
                'btn-custom-breadcrumbADM-active':
                  section.mainStep === currentMainStep &&
                  section.subStep === currentSubStep
              }"
            >
              <span
                class="btn-custom-breadcrumbNoADM"
                [ngClass]="{
                  'btn-custom-breadcrumbNoADM-active':
                    section.mainStep === currentMainStep &&
                    section.subStep === currentSubStep
                }"
                >{{ section.subStep }}</span
              >
              <span class="btn-custom-breadcrumbLabelADM">{{
                section.subLabel
              }}</span>
            </button>
          </ng-container>
        </c-col>
      </c-row>

      <c-row>
        <c-col xs="12" md="12" class="order-2 order-md-1 mt-3">
          <c-row class="mb-2">
            <h5 class="fw-semibold">Maklumat Keluarga (Tanggungan)</h5>
          </c-row>
          <c-container class="overflow-x-auto" style="max-width: 100vw;">
            <c-row class="align-items-end flex-md-nowrap">
              <c-col xs="12" md="6">
                <label class="fw-semibold">Nama</label>
                <input
                  class="form-control mb-3 mb-3"
                  [(ngModel)]="maklumatTanggungan1.nama1"
                />
                <input
                  class="form-control mb-3 mb-3"
                  [(ngModel)]="maklumatTanggungan1.nama2"
                />
                <input
                  class="form-control mb-3"
                  [(ngModel)]="maklumatTanggungan1.nama3"
                />
                <input
                  class="form-control mb-3"
                  [(ngModel)]="maklumatTanggungan1.nama4"
                />
                <input
                  class="form-control mb-3"
                  [(ngModel)]="maklumatTanggungan1.nama5"
                />
                <input
                  class="form-control mb-3"
                  [(ngModel)]="maklumatTanggungan1.nama6"
                />
                <input
                  class="form-control mb-3"
                  [(ngModel)]="maklumatTanggungan1.nama7"
                />
              </c-col>
              <c-col xs="12" md="4">
                <label class="fw-semibold">Nombor Kad Pengenalan</label>
                <input
                  class="form-control mb-3"
                  [(ngModel)]="maklumatTanggungan1.kadpengenalan1"
                />
                <input
                  class="form-control mb-3"
                  [(ngModel)]="maklumatTanggungan1.kadpengenalan2"
                />
                <input
                  class="form-control mb-3"
                  [(ngModel)]="maklumatTanggungan1.kadpengenalan3"
                />
                <input
                  class="form-control mb-3"
                  [(ngModel)]="maklumatTanggungan1.kadpengenalan4"
                />
                <input
                  class="form-control mb-3"
                  [(ngModel)]="maklumatTanggungan1.kadpengenalan5"
                />
                <input
                  class="form-control mb-3"
                  [(ngModel)]="maklumatTanggungan1.kadpengenalan6"
                />
                <input
                  class="form-control mb-3"
                  [(ngModel)]="maklumatTanggungan1.kadpengenalan7"
                />
              </c-col>
              <c-col xs="12" md="4">
                <label class="fw-semibold">Tarikh Lahir</label>
                <input
                  class="form-control mb-3"
                  [(ngModel)]="maklumatTanggungan1.tarikhLahir1"
                />
                <input
                  class="form-control mb-3"
                  [(ngModel)]="maklumatTanggungan1.tarikhLahir2"
                />
                <input
                  class="form-control mb-3"
                  [(ngModel)]="maklumatTanggungan1.tarikhLahir3"
                />
                <input
                  class="form-control mb-3"
                  [(ngModel)]="maklumatTanggungan1.tarikhLahir4"
                />
                <input
                  class="form-control mb-3"
                  [(ngModel)]="maklumatTanggungan1.tarikhLahir5"
                />
                <input
                  class="form-control mb-3"
                  [(ngModel)]="maklumatTanggungan1.tarikhLahir6"
                />
                <input
                  class="form-control mb-3"
                  [(ngModel)]="maklumatTanggungan1.tarikhLahir7"
                />
              </c-col>
              <c-col xs="12" md="4">
                <label class="fw-semibold">Hubungan</label>
                <input
                  class="form-control mb-3"
                  [(ngModel)]="maklumatTanggungan1.hubungan1"
                />
                <input
                  class="form-control mb-3"
                  [(ngModel)]="maklumatTanggungan1.hubungan2"
                />
                <input
                  class="form-control mb-3"
                  [(ngModel)]="maklumatTanggungan1.hubungan3"
                />
                <input
                  class="form-control mb-3"
                  [(ngModel)]="maklumatTanggungan1.hubungan4"
                />
                <input
                  class="form-control mb-3"
                  [(ngModel)]="maklumatTanggungan1.hubungan5"
                />
                <input
                  class="form-control mb-3"
                  [(ngModel)]="maklumatTanggungan1.hubungan6"
                />
                <input
                  class="form-control mb-3"
                  [(ngModel)]="maklumatTanggungan1.hubungan7"
                />
              </c-col>
            </c-row>
          </c-container>

          <button class="btn btn-primary mb-3" style="margin-top: 20px;"> + Tambah Maklumat</button>
          
        </c-col>
      </c-row>

      <c-row style="border-top: 1px solid rgba(0, 0, 0, 0.1)">
        <c-col class="d-flex gap-5 flex-shrink-0 justify-content-end py-3">

          <div class="d-flex">
            <button
              type="button"
              class="btn-custom-normalWhite fw-semibold btn btn-light"
              (click)="back()"
            >
              &lt;
            </button>
            <button
              type="button"
              class="btn-custom-normalWhite fw-semibold btn btn-light"
            >
              &gt;
            </button>
          </div>
        </c-col>
      </c-row>
    </c-card-body>
  </c-card>
</div>