<!-- <p>imbasan-cap-jari-kanan works!</p> -->
<!--
<c-container fluid class="p-3" style="height: 100vh;">
    <c-card class="h-100">
        <c-card-header>
            PEMERIKSAAN MASUK (EGATE) - BAHAGIAN DATA BIOMETRIK [CAP JARI]
        </c-card-header>

        <c-card-body class="">
            <c-row>
              
                <c-col class="">
                    <h5 class="mb-4">Maklumat Dokumen Perjalanan</h5>
                </c-col>

                
                <c-col class="">
                    
                </c-col>

            </c-row>
        </c-card-body>
    </c-card>

</c-container> -->

<c-container class="p-3">
    <!-- <p>imbasan-cap-jari-kanan works!</p> -->

    <c-container class="p-3">
        <c-card>
            <c-card-header>
                PEMERIKSAAN MASUK (EGATE) - BAHAGIAN DATA BIOMETRIK [CAP JARI]
            </c-card-header>
            <c-card-body>
                <c-row class="p-3 justify-content-center align-items-center" style="min-height: 60vh; gap: 2rem;">

                    <!-- Left: CAP JARI -->
                    <c-col xs="12" md="5" class="d-flex flex-column align-items-center">
                        <h5 class="mb-3">Jari Telunjuk Kanan</h5>
                        <div
                                style="border: 1px solid #ccc; border-radius: 6px; padding: 1rem; width: 200px; min-width: 200px; max-width: 200px;">
                                <div
                                    style="border: 1px solid #ccc; border-radius: 6px; padding:60px 30px; text-align: center;">
                                    <img src="" alt="CAP JARI KANAN">
                                </div>
                            </div>
                    </c-col>

                    <!-- Right: % Nilai -->
                    <c-col xs="12" md="5" class="d-flex align-items-center justify-content-center">
                        <div style="min-width: 200px;">
                            <label cLabel for="nilaiJariHidup" class="mb-2">% Nilai Jari Hidup</label>
                            <c-progress [value]="75">
                                <span class="text-white px-2">75%</span>
                            </c-progress>
                            <!-- <input cFormControl id="nilaiJariHidup" type="text" class="form-control" value="67%"
                                readonly /> -->
                        </div>
                    </c-col>

                </c-row>

            </c-card-body>
        </c-card>
    </c-container>

