<c-card class="mb-3">  
  <!-- HEADER PROFIL -->
  <c-card-header class="card-header">
    <h3 class="card-header-title"><b>Rekod Pengembara</b></h3>
  </c-card-header>

  <!-- STEPPER -->
  <div class="px-4 py-3 mb-4 stepper-container">
    <ul class="stepper-list d-flex justify-content-between">
      <li 
        class="stepper-item text-center flex-fill"
        *ngFor="let step of steps">
        
        <div 
          class="stepper-content"
          [class.active-box]="currentStep === step.number">
          
          <span 
            class="step-number"
            [class.active]="currentStep === step.number">
            {{ step.number }}
          </span>

          <span 
            class="step-title"
            [class.active]="currentStep === step.number">
            {{ step.title }}
          </span>

        </div>
      </li>
    </ul>
  </div>

  <!-- CARD BODY -->
  <c-card-body>
    <c-row class="align-items-start">
      <!-- KIRI: GAMBAR + BUTTON -->
      <c-col md="4">
        <div style="width: 260px; margin-left: 82px;">

          <!-- GAMBAR -->
          <div class="photo-placeholder mb-3" style="width: 100%; height: 260px;">
            <img [src]="photoUrl || 'assets/figma/userimg.png'" alt="image user"
                style="max-height: 100%; max-width: 100%; object-fit: contain;">
          </div>

          <!-- BUTTONS -->
          <button
            class="custom-blue-btn w-100"
            style="box-sizing: border-box; padding: 10px 0;"
            (click)="captureFaceAndIris()">
            Ambil Wajah & Iris
          </button>

          <button
            class="custom-blue-btn w-100 mt-2"
            style="box-sizing: border-box; padding: 10px 0;"
            (click)="captureFingerprint()">
            Ambil Cap Jari
          </button>
        </div>
      </c-col>

      <!-- KANAN: FORM -->
      <c-col md="8">
        <!-- FORMS START -->
        <form [formGroup]="pasForm" class="form" >

          <!-- No Pas dan QR VDS -->
          <c-row class="g-3 mb-3">
            <c-col>
              <label cLabel for="pasNo" class="mb-2">No Pas</label>
              <input cFormControl id="pasNo" type="text" formControlName="pasNo" class="form-control" />
            </c-col>
            <c-col>
              <label cLabel for="QrDvs" class="mb-2">No Rujukan QR VDS</label>
              <input cFormControl id="QrDvs" type="text" formControlName="QrDvs" class="form-control" />
            </c-col>
          </c-row>

          <!-- Jenis Pas -->
          <c-row class="g-3 mb-3">
            <c-col>
              <label cLabel for="pasType" class="mb-2">Jenis Pas</label>
              <input cFormControl id="pasType" type="text" formControlName="pasType" class="form-control" />
            </c-col>
            <c-col></c-col>
          </c-row>

          <!-- Tarikh Dikeluarkan dan Tarikh Tamat Pas -->
          <c-row class="g-3 mb-3">
            <c-col>
              <label cLabel for="pasIssueDate" class="mb-2">Tarikh Dikeluarkan</label>
              <input cFormControl id="pasIssueDate" type="text" formControlName="pasIssueDate" class="form-control" />
            </c-col>
            <c-col>
              <label cLabel for="pasExpiryDate" class="mb-2">Tarikh Tamat Pas</label>
              <input cFormControl id="pasExpiryDate" type="text" formControlName="pasExpiryDate" class="form-control" />
            </c-col>
          </c-row>

          <!-- Nama Pas -->
          <c-row class="g-3 mb-3">
            <c-col md="12">
              <label cLabel for="name" class="mb-2">Nama</label>
              <input cFormControl id="name" type="text" formControlName="name" class="form-control" />
            </c-col>
          </c-row>

          <!-- Tarikh Lahir dan Jantina -->
          <c-row class="g-3 mb-3">
            <c-col>
              <label cLabel for="dob" class="mb-2">Tarikh Lahir</label>
              <input cFormControl id="dob" type="text" formControlName="dob" class="form-control" />
            </c-col>
            <c-col>
              <label cLabel for="gender" class="mb-2">Jantina</label>
              <input cFormControl id="gender" type="text" formControlName="gender" class="form-control" />
            </c-col>
          </c-row>

          <!-- Warganegara Visa -->
          <c-row class="g-3 mb-3">
            <c-col>
              <label cLabel for="nationality" class="mb-2">Warganegara</label>
              <input cFormControl id="nationality" type="text" formControlName="nationality" class="form-control" />
            </c-col>
            <c-col></c-col>
          </c-row>

          <!-- No Dokumen -->
          <c-row class="g-3 mb-3">
            <c-col>
              <label cLabel for="docNo" class="mb-2">No Dokumen</label>
              <input cFormControl id="docNo" type="text" formControlName="docNo" class="form-control" />
            </c-col>
            <c-col></c-col>
          </c-row>
        </form>
      </c-col>
    </c-row>

    <!-- FOOTER CONTENT FOR BUTTONS -->
    <c-row class="mt-4 mb-3">
      <c-col class="d-flex justify-content-end align-items-center gap-2">
                <!-- Action Buttons -->
              <div class="button-row single-button">
          <button class="reset-btn" (click)="resetForm()">
            <span class="icon-circle">⟳</span>
            <span>SET SEMULA</span>
          </button>

          <button class="simpan-btn" (click)="onSubmit()" [disabled]="true">
            <span class="icon-circle">✓</span>
            <span>SIMPAN</span>
          </button>
        </div>
        <div class="d-flex ms-4">
          <button cButton type="button" class="nav-btn rounded-end-0" (click)="goBack()">
            &lt;
          </button>
          <button cButton type="button" class="nav-btn rounded-start-0" (click)="goNext()">
            &gt;
          </button>
        </div>
      </c-col>
    </c-row>
  </c-card-body>
</c-card>
