<c-card>
    <c-container>
        <c-row>
            <c-col md="9" class="p-4" style="border-right: 1px solid #ddd;">
                <h3>Tetapan e-Digital Stamping</h3>
                <form cForm class="row g-3">
                    <p class="mb-3">2.0 Kandungan Data Asas pada e-Digital Stamping</p>
                    <h5 class="mb-5">A. Rekod Terperinci dalam Machine-Readable Zone (MRZ)</h5>

                    <c-row class="mb-3">
                        <c-col md="6">
                            <label cLabel class="form-label d-block">EFCOM (Header)</label>
                            <input cFormControl type="text" />
                        </c-col>

                        <c-col md="6">
                            <label cLabel class="form-label d-block">Jenis Dokumen</label>
                            <input cFormControl type="text" />
                        </c-col>
                    </c-row>

                    <c-row class="mb-3">
                        <c-col md="6">
                            <label cLabel class="form-label d-block">Negara yang mengeluarkan/Organisasi</label>
                            <input cFormControl type="text" />
                        </c-col>

                        <c-col md="6">
                            <label cLabel class="form-label d-block">Nama Pemegang Dokumen</label>
                            <input cFormControl type="text" />
                        </c-col>
                    </c-row>

                    <c-row class="mb-3">
                        <c-col md="6">
                            <label cLabel class="form-label d-block">Nombor Dokumen</label>
                            <input cFormControl type="text" />
                        </c-col>

                        <c-col md="6">
                            <label cLabel class="form-label d-block">Warganegara</label>
                            <select aria-label="Default select example" cSelect>
                                <option>Open this select menu</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                            </select>
                        </c-col>
                    </c-row>

                    <c-row class="mb-3">
                        <c-col md="6">
                            <label cLabel class="form-label d-block">Tarikh Lahir</label>
                            <input cFormControl type="date" />
                        </c-col>

                        <c-col md="6">
                            <label cLabel class="form-label d-block">Jantina</label>
                            <select aria-label="Default select example" cSelect>
                                <option>Open this select menu</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                            </select>
                        </c-col>
                    </c-row>

                    <c-row class="mb-3">
                        <c-col md="6">
                            <label cLabel class="form-label d-block">Tarikh Tamat</label>
                            <input cFormControl type="date" />
                        </c-col>
                        <c-col md="6"></c-col>
                    </c-row>

                    <c-row class="mb-3">
                        <c-col md="7">
                            <label cLabel class="form-label d-block">Data Tambahan</label>
                            <input cFormControl type="text" />
                        </c-col>
                        <c-col md="3"></c-col>
                    </c-row>

                    <!--table-->
                    <div class="d-flex justify-content-end mb-3 mt-5">
                        <button class="btn btn-dark btn-sm">
                            + Muat Naik
                        </button>
                    </div>

                    <div class="table-responsive">
                        <table class="table table-borderless table-sm align-middle">
                            <thead>
                                <tr class="border-bottom">
                                    <th scope="col" class="fw-normal text-muted">Bil.</th>
                                    <th scope="col" class="fw-normal text-muted">Keterangan</th>
                                    <th scope="col" class="fw-normal text-muted">Nama Dokumen</th>
                                    <th scope="col" class="fw-normal text-muted">Format</th>
                                    <th scope="col" class="fw-normal text-muted"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let person of personList">
                                    <td>{{ person.bil }}</td>
                                    <td>{{ person.keterangan }}</td>
                                    <td>{{ person.namadok }}</td>
                                    <td>{{ person.format }}</td>
                                    <td></td>
                                    <td class="text-end">
                                        <button class="btn btn-dark btn-sm">
                                            + Muat Naik
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="border-top mt-2 mb-2">
                        <small class="text-muted fst-italic">*Saiz fail maximum: 6MB</small>
                    </div>


                    <h5 class="mb-2">B. Ciri Pengenalan yang Dikodkan</h5>
                    <c-row class="mb-3">
                        <c-col md="6">
                            <label cLabel class="form-label d-block">Wajah yang dikodkan</label>
                            <input cFormControl type="text" />
                        </c-col>
                        <c-col md="6"></c-col>
                        <c-col md="6">
                            <label cLabel class="form-label d-block">Cap Jari yang dikodkan</label>
                            <input cFormControl type="text" />
                        </c-col>
                        <c-col md="6"></c-col>
                        <c-col md="6">
                            <label cLabel class="form-label d-block">Iris yang dikodkan</label>
                            <input cFormControl type="text" />
                        </c-col>
                        <c-col md="6"></c-col>
                    </c-row>

                    <h5 class="mb-2">C. Ciri Pengenalan yang Dipaparkan</h5>
                    <c-row class="mb-3">
                        <c-col md="6">
                            <label cLabel class="form-label d-block">Paparan Potret</label>
                            <input cFormControl type="text" />
                        </c-col>
                        <c-col md="6"></c-col>
                        <c-col md="6">
                            <label cLabel class="form-label d-block">Reserved for Future Use</label>
                            <input cFormControl type="text" />
                        </c-col>
                        <c-col md="6"></c-col>
                        <c-col md="6">
                            <label cLabel class="form-label d-block">Paparan Tandatangan / Tanda Biasa</label>
                            <input cFormControl type="text" />
                        </c-col>
                        <c-col md="6"></c-col>
                    </c-row>

                    <h5 class="mb-2">D. Ciri Keselamatan yang Dikodkan</h5>
                    <c-row class="mb-3">
                        <c-col md="6">
                            <label cLabel class="form-label d-block">Ciri-ciri Data</label>
                            <input cFormControl type="text" />
                        </c-col>
                        <c-col md="6"></c-col>
                        <c-col md="6">
                            <label cLabel class="form-label d-block">Structure Features</label>
                            <input cFormControl type="text" />
                        </c-col>
                        <c-col md="6"></c-col>
                        <c-col md="6">
                            <label cLabel class="form-label d-block">Substance Features</label>
                            <input cFormControl type="text" />
                        </c-col>
                        <c-col md="6"></c-col>
                    </c-row>

                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                        <button cButton color="primary" class="me-md-2">Padam</button>
                    </div>
                </form>
            </c-col>

            <c-col md="3">
                <div class="form-section h-100 p-4">
                    <app-progress-flow [currentStep]="step" (stepChange)="onStepChange($event)"></app-progress-flow>
                </div>
            </c-col>

        </c-row>
    </c-container>
    <!-- Navigation Footer -->
    <div class="bg-light border-top p-3">
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
            <button cButton color="primary" class="me-md-2 text-wrap" style="white-space: normal;">
                Papar Contoh e-Digital Stamping
            </button>
            <button cButton color="primary" class="me-md-2 text-wrap" style="white-space: normal;">
                Mereka Templat E-Mel e-Digital Stamping
            </button>

            <div class="ms-auto d-flex gap-2">
                <button cButton color="secondary">Simpan</button>
                <button cButton color="secondary">Hantar</button>
                <button cButton color="dark" class="btn-back" (click)="previousStep()">&lt;</button>
                <button cButton color="dark" class="btn-back" (click)="nextStep()">&gt;</button>
            </div>
        </div>
    </div>
</c-card>