.step {
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 30px;

    .circle {
        width: 28px;
        height: 28px;
        border-radius: 50%;
        background-color: #ccc;
        color: white;
        text-align: center;
        line-height: 28px;
        font-weight: bold;
        z-index: 1;
    }

    .label {
        margin-left: 10px;
        color: #333;
    }

    &::before {
        content: "";
        position: absolute;
        top: 28px;
        left: 13px;
        width: 2px;
        height: 100%;
        background: #ccc;
        z-index: 0;
    }

    &:last-child::before {
        display: none;
    }

    &.active {
        .circle {
        background-color: black;
        }

        .label {
        font-weight: bold;
        }
    }

    &.completed {
        .circle {
        background-color: green;
        }
    }
}