
h6{
  margin-top: 20px;
}

.full-width-underline {
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  margin-bottom: 1px;
  margin-top:30px;
}

.custom-table td,
.custom-table th {
  text-align: center;
  vertical-align: middle;
  white-space: normal;
  overflow: hidden;
  word-break: break-word;
}

.custom-button {
  background-color: white;
  color: black;
  border: 1px solid #CAD5E2;
  padding: 8px 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.custom-button:hover {
  background-color: #f0f0f0;
  border-color: #a9b8c9;
}

.custom-button:active {
  background-color: #e0e0e0;
  border-color: #90a0b0;
}

.find-icon{
  width: 20px;
  height: 20px;
}

.saveIcon{
  width:20px;
  height:20px;
}

th{
  color:#62748E;
  font-weight: normal;
}

td{
  color:#1D293D;
}