<c-card class="mb-3">
    <c-card-body>
        <c-row>
            <h5 class="mb-4 custom-header">
                Senarai Individu
            </h5>
        </c-row>
        <c-row>
            <!-- Horizontal Stepper -->
            <div class="horizontal-stepper">
                <ul class="stepper-list d-flex align-items-center justify-content-start flex-wrap">
                    <li class="stepper-item" *ngFor="let step of steps" [class.active]="isStepActive(step.number)">
                        <button type="button" class="step-btn" (click)="navigateTo(step)">
                            <span class="step-number">{{ step.number }}</span>
                            <span class="step-title">{{ step.title }}</span>
                        </button>
                    </li>
                </ul>
            </div>
        </c-row>
        <c-col class="md-12">
            <!-- Table -->
            <div class="table-responsive custom-table-container" style="margin-top: 20px; margin-bottom: 30px;">
                <table class="custom-table">
                    <thead>
                        <tr>
                            <th style="width: 5%;">Bil.</th>
                            <th style="width: 30%;">No. Pengenalan</th>
                            <th style="width: 55%;">Nama</th>
                            <th style="width: 10%;">Tindakan</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <c-row class="mb-4">
                <c-col class="col-md-3 ms-auto d-flex justify-content-end">
                    <button cButton class="custom-btn w-60" (click)="goToMaklumatPage()">
                        Tambah
                    </button>
                </c-col>
            </c-row>
        </c-col>
        <div class="action-footer">
            <div class="nav-buttons">
                <button type="button" class="action-btn">
                    <svg cIcon name="cil-check-circle" class="me-2"></svg>
                    Simpan
                </button>
                <!-- Prev Button -->
                <button type="button" class="nav-btn prev-btn" (click)="goBack()">
                    <svg cIcon name="cil-chevron-circle-left-alt"></svg>
                </button>

                <!-- Next Button -->
                <button type="button" class="nav-btn next-btn" disabled>
                    <svg cIcon name="cil-chevron-circle-right-alt"></svg>
                </button>
            </div>
        </div>
    </c-card-body>
</c-card>