<!-- Show this only when card is hidden -->
<!-- <c-card-body *ngIf="!showClockOutCard">
    <c-col>
        <button class="btn btn-dark btn-search" (click)="toggleClockOutCard()">Clock Out</button>
    </c-col>
</c-card-body> -->

<!-- Show this card only when button is clicked -->
<!-- <c-card *ngIf="showClockOutCard"> -->
<c-card-body>
    <c-row>
        <h5>Carian Biometrik (Wajah / Iris)</h5>
    </c-row>

    <c-row>
        <h4>Wajah</h4>
    </c-row>
    <c-row>
        <c-col md="9">


            <c-row>
                <c-col class="d-flex justify-content-start">
                    <div
                        style="border: 1px solid #ccc; border-radius: 6px; padding:60px 30px; text-align: center; height: 200px;">

                        <!-- If showing fingerprint image -->
                        <img *ngIf="fingerprintImage" [src]="fingerprintImage" alt="Fingerprint Scan"
                            class="img-fluid rounded shadow" style="height: 100%;" />

                        <!-- If still scanning, show video feed -->
                        <video *ngIf="!fingerprintImage" #video autoplay muted playsinline
                            class="img-fluid rounded shadow" style="height: 100%;">
                        </video>
                    </div>
                </c-col>
                <c-col md="2">

                </c-col>
                <c-col md="4">
                    <label class="form-label">% Pengecaman Iris</label>
                    <input type="text" class="form-control" disabled>
                </c-col>
            </c-row>
            <c-row>
                <h4>Iris</h4>
            </c-row>

            <c-row>
                <c-col class="d-flex justify-content-start">
                    <div
                        style="border: 1px solid #ccc; border-radius: 6px; padding:60px 30px; text-align: center; height: 200px;">

                        <!-- If showing fingerprint image -->
                        <img *ngIf="fingerprintImage" [src]="fingerprintImage" alt="Fingerprint Scan"
                            class="img-fluid rounded shadow" style="height: 100%;" />

                        <!-- If still scanning, show video feed -->
                        <video *ngIf="!fingerprintImage" #video autoplay muted playsinline
                            class="img-fluid rounded shadow" style="height: 100%;">
                        </video>
                    </div>
                </c-col>
                <c-col md="2"></c-col>
                <c-col md="4">
                    <label class="form-label">% Pengecaman Iris</label>
                    <input type="text" class="form-control" disabled>
                </c-col>
            </c-row>
        </c-col>
        <c-col md="3" class="d-flex align-items-center">
            <div class="w-100">
                <input type="text" class="form-control" placeholder="Lulus">
            </div>
        </c-col>
    </c-row>
    <c-row>
        <!-- <c-col>
            <button class="btn btn-dark btn-search m-2 " (click)="null">Ambil Wajah & Iris</button>
            <button class="btn btn-dark btn-search m-2" (click)="openModal()">Pengecualian Biometrik</button>
        </c-col> -->

        <div class="bottom-navigation d-flex justify-content-end p-3">
            <c-col>
                </c-col>
            <c-col>
                </c-col>
        </div>
        <div class="bottom-navigation d-flex justify-content-end p-3">
            <div class="right-buttons">
                <button class="btn btn-dark btn-search mt-5" (click)="null">Pengecualian Biometrik </button>
            
                <button class="btn btn-dark btn-search mt-5 mx-5" (click)="Ibujari()">Imbas</button>
            
            </div>
        </div>
    </c-row>
</c-card-body>
<!-- </c-card> -->