<div class="container-fluid">
    <div class="card">
        <div class="ms-4 me-4">
            <div class="mt-2 mb-2">
                <h3 class="mb-2 mt-4"><b>Penumpang</b></h3>
            </div>
            <div class="mt-4">
                <!-- Left Side: Step Info -->
                <reusable-tab [currentStep]="currentStep" [steps]="steps"></reusable-tab>
                <div class="col-md-6 mb-4">
                  <p class="mb-0">Maklumat Penumpang - (IMO FAL <i>Form</i> 6)</p>
                </div>

                <!-- Main Content Area -->
                <div class="row flex-column flex-lg-row">
                    <div class="col-md-2 mb-3 mb-md-0">
                        <div class="d-flex flex-column align-items-center">
                            <img src="assets/images/avatars/9.jpg" alt="Profile Image" class="img-fluid rounded-2"
                style="width: 150px; height: 150px; object-fit: cover;">

                        </div>
                    </div>
                    <div class="col-10">

                        <div class="row ps-3">
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label class="form-label">Negara Asal Kapal</label>
                                    <input type="text" class="form-control" [(ngModel)]="formData.NegaraAsalKapal" name="NegaraAsalKapal"
                                    >
                                </div>              
                            </div>
                        </div>

                        <div class="row ps-3">
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label class="form-label">Pelabuhan Ketibaan</label>
                                    <input type="text" class="form-control" [(ngModel)]="formData.PelabuhanKetibaan" name="PelabuhanKetibaan"
                                    >
                                </div>              
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label class="form-label">Pelabuhan Pelepasan</label>
                                    <input type="text" class="form-control" [(ngModel)]="formData.PelabuhanPelepasan" name="PelabuhanPelepasan"
                                    >
                                </div>              
                            </div>
                        </div>

                        <div class="row ps-3">
                            <div class="col-md-12">
                                <div class="mb-3">
                                    <label class="form-label">Nama Penumpang</label>
                                    <input type="text" class="form-control" [(ngModel)]="formData.NamaPenumpang" name="NamaPenumpang"
                                    >
                                </div>              
                            </div>     
                        </div>

                        <div class="row ps-3">
                            <div class="col-md-12">
                                <div class="mb-3">
                                    <label class="form-label">Nama Keluarga</label>
                                    <input type="text" class="form-control" [(ngModel)]="formData.NamaKeluarga" name="NamaKeluarga"
                                    >
                                </div>              
                            </div>     
                        </div>

                        <div class="row ps-3">
                            <div class="col-md-12">
                                <div class="mb-3">
                                    <label class="form-label">Warganegara</label>
                                    <input type="text" class="form-control" [(ngModel)]="formData.Warganegara" name="Warganegara"
                                    >
                                </div>              
                            </div>     
                        </div>

                        <div class="row ps-3">
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label class="form-label">Tarikh Lahir</label>
                                    <input type="date" class="form-control" [(ngModel)]="formData.TarikhLahir" name="TarikhLahir"
                                    >
                                </div>              
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label class="form-label">Tempat Lahir</label>
                                    <input type="text" class="form-control" [(ngModel)]="formData.TempatLahir" name="TempatLahir"
                                    >
                                </div>              
                            </div>
                        </div>

                        <div class="row ps-3">
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label class="form-label">Jantina</label>
                                    <input type="text" class="form-control" [(ngModel)]="formData.Jantina" name="Jantina"
                                    >
                                </div>              
                            </div>       
                        </div>

                        
                        <div class="row ps-3">
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label class="form-label">Jenis Dokumen Perjalanan</label>
                                    <input type="text" class="form-control" [(ngModel)]="formData.JenisDokumenPerjalanan" name="JenisDokumenPerjalanan"
                                    >
                                </div>              
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label class="form-label">No. Dokumen Perjalanan</label>
                                    <input type="text" class="form-control" [(ngModel)]="formData.NoDokumenPerjalanan" name="NoDokumenPerjalanan"
                                    >
                                </div>              
                            </div>
                        </div>

                        <div class="row ps-3">
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label class="form-label">Negara Pengeluar Dokumen Perjalanan</label>
                                    <input type="text" class="form-control" [(ngModel)]="formData.JenisDokumenPerjalanan" name="NegaraPengeluarDokumenPerjalanan"
                                    >
                                </div>              
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label class="form-label">Tarikh Tamat Dokumen Perjalanan</label>
                                    <input type="date" class="form-control" [(ngModel)]="formData.NoDokumenPerjalanan" name="TarikhTamatDokumenPerjalanan"
                                    >
                                </div>              
                            </div>
                        </div>

                        <div class="row ps-3">
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label class="form-label">Pelabuhan Embarkation</label>
                                    <input type="text" class="form-control" [(ngModel)]="formData.PelabuhanEmbarkation" name="PelabuhanEmbarkation"
                                    >
                                </div>              
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label class="form-label">No. Visa</label>
                                    <input type="text" class="form-control" [(ngModel)]="formData.NoVisa" name="NoVisa"
                                    >
                                </div>              
                            </div>
                        </div>

                      <div class="row ps-3">
                        <div class="col-md-6">
                          <div class="mb-3">
                            <label class="form-label">Jenis Penumpang</label>
                            <select
                              class="form-select"
                              id="JenisPenumpang"
                              [(ngModel)]="formData.JenisPenumpang"
                              name="JenisPenumpang"    
                            >
                              <option value="" disabled selected>-Sila Pilih-</option>
                              <option value="Belum">Transit</option>
                              <option value="Semak">Singgahan</option>
                            </select>
                          </div>
                        </div>

                    </div>

                    <div class="row ps-3">
                        <div class="col-md-6">
                          <div class="mb-3">
                            <label class="form-label">Status Penumpang</label>
                            <select
                              class="form-select"
                              id="StatusPenumpang"
                              [(ngModel)]="formData.StatusPenumpang"
                              name="StatusPenumpang"
                              
                            >
                              <option value="" disabled selected>-Sila Pilih-</option>
                              <option value="Aktif">Aktif</option>
                              <option value="Sakit">Sakit</option>
                              <option value="Mati">Mati</option>
                            </select>
                          </div>
                        </div>

                    </div>

                    <div class="row ps-3">
                        <div class="col-md-6">
                          <div class="mb-3">
                            <label class="form-label">Status Pemeriksaan</label>
                            <select
                              class="form-select"
                              id="StatusPemeriksaan"
                              [(ngModel)]="formData.StatusPemeriksaan"
                              name="StatusPemeriksaan" 
                            >
                              <option value="" disabled selected>-Sila Pilih-</option>
                              <option value="Belum">Belum</option>
                              <option value="Semak">Semak</option>
                              <option value="NTL">NTL</option>
                            </select>
                          </div>
                        </div>
                    </div>
                </div>

            <div class="row mt-4">
                <div class="col-12">
                    <div class="d-flex justify-content-end gap-2 mb-4">
                        <button 
                          class="btn btn-submit d-flex align-items-center gap-1"                       
                          (click)="saveForm()">
                          <i class="bi bi-check-circle"></i>
                          Simpan
                        </button>
                    </div>
                </div>
            </div>
            
        </div>
        <c-row class="mt-4 mb-3 footer-row">
            <c-col class="d-flex justify-content-end align-items-center gap-2">          
            <div class="d-flex gap-2 ms-4">
                        <button class="btn btn-all" (click)="goToPrevious()">
                            &lt;
                        </button>
                        <button class="btn btn-all" (click)="goToNext()">
                            &gt;
                        </button>
            </div>
            </c-col>
        </c-row>
    </div>
</div>
<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet">

