<c-card>
    <h4 class="fw-bold m-3 mt-5">
        KEMASUKAN MAKLUMAT TETAPAN KEJADIAN e-OCCURENCE
    </h4>
    <div class="m-3">
        <app-stepper
        [currentMainStep]="currentMainStep"
        [currentSubStep]="currentSubStep"
        ></app-stepper>
    </div>
    <c-card-body class="p-5">
        <form [formGroup]="form">
        <c-row>
            <h6 class="fw-bold mb-5">Maklumat Tetapan Kejadian</h6>
        </c-row>
        <c-row>
            <c-col md="2" xs="12">
                <label for="jenisKejadian" cLabel>Jenis Kejadian</label>
            </c-col>
            <c-col class="col-md-6">
                <select class="form-select" id="jenisKejadian" formControlName="jenisKejadian">
                    <option value="">-Sila Pilih-</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                </select>
            </c-col>
        </c-row>
        <c-row>
            <c-col md="2" xs="12">
                <label for="jenisKejadian" cLabel>Kategori Kejadian</label>
            </c-col>
            <c-col class="col-md-6">
                <select class="form-select" id="jenisKejadian" formControlName="kategoriKejadian">
                    <option value="">-Sila Pilih-</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                </select>
            </c-col>
        </c-row>
        <c-row>
            <c-col md="2" xs="12">
                <label for="jenisKejadian" cLabel>Sub Kategori Kejadian</label>
            </c-col>
            <c-col class="col-md-6">
                <select class="form-select" id="jenisKejadian" formControlName="subKategoriKejadian">
                    <option value="">-Sila Pilih-</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                </select>
            </c-col>
        </c-row>
        <c-row>
            <c-col md="2" xs="12">
                <label for="jenisKejadian" cLabel>Tahap Kejadian</label>
            </c-col>
            <c-col class="col-md-6">
                <select class="form-select" id="jenisKejadian" formControlName="tahapKejadian">
                    <option value="">-Sila Pilih-</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                </select>
                </c-col>
            </c-row>
        </form>
    </c-card-body>
    <c-card-footer>
        <c-row>
            <div class="d-flex justify-content-end">
                <button color="primary" class="primary-custom-btn w-auto px-4 me-2" (click)="SimpanRekod(form)">
                    <c-icon name="cilCheckCircle" class="me-2"></c-icon>
                    Simpan</button>
                <button color="primary" class="primary-custom-btn w-auto px-4 me-2" (click)="HantarRekod(form)">
                    Hantar</button>
                <button class="l-custom-btn" (click)="navigatePreviousPage()">&lsaquo;</button>
                <button class="r-custom-btn" (click)="navigateNextPage()">&rsaquo;</button>
            </div>
        </c-row>
    </c-card-footer>
  </c-card>
  
  <app-modal-component
    [visible]="simpanRekodModal"
    title=""
    message="Rekod Telah Berjaya Disimpan"
    mode="ok"
    icon="tick"
    (close)="closeSimpanRekodModal()"
  ></app-modal-component>
  
  <app-modal-component
    [visible]="hantarRekodModal"
    title=""
    message="Rekod Telah Berjaya Dihantar"
    mode="ok"
    icon="tick"
    (close)="closeHantarRekodModal()"
  ></app-modal-component>
  
  <!-- Tidak Dapat Muat Naik Modal -->
  <app-modal-component
    [visible]="medanMandatoriVisible"
    title=""
    message="Medan Mandatori diperlukan"
    mode="ok"
    icon="danger"
    (close)="medanMandatoriModalconfirm()"
  ></app-modal-component>