<c-card class="mb-3">
  <!-- HEADER PROFIL -->
  <c-card-header class="card-header">
    <h4 class="card-header-title">Semakan/Kelulusan Permohonan Ejen Perkapalan</h4>
  </c-card-header>

  <!-- CONTENT CARD BODY -->
  <c-card-body>
    <c-row>
      <!-- FORMS -->
      <c-col md="8">
        <!-- FORMS START -->
        <form [formGroup]="profilForm" class="form" (ngSubmit)="onSubmit()">
          <!-- Form Title -->
          <h5 class="mb-4">Maklumat Syarikat Perkapalan</h5>

          <!-- Photo Placeholder -->
          <div class="photo-placeholder mb-4">
            <img [src]="photoUrl || ''" alt="Gambar Pengembara" />
          </div>


          <!-- Nama pelawat No SSM -->
          <c-row class="g-3 mb-3 mt-3">
            <c-col>
              <label cLabel for="companyName" class="mb-2">Nama Syarikat</label>
              <input cFormControl id="companyName" type="text" formControlName="companyName" class="form-control" />
            </c-col>
            <c-col>
              <label cLabel for="noSSM" class="mb-2">No Pendaftaran Syarikat (No SSM)</label>
              <input cFormControl id="noSSM" type="text" formControlName="noSSM" class="form-control" />
            </c-col>
          </c-row>

          <c-row class="g-3 mb-3">
            <!-- Alamat Syarikat -->
            <c-col>
              <label cLabel for="companyAddress" class="mb-2">Alamat Syarikat</label>
              <input cFormControl id="companyAddress" type="text" formControlName="companyAddress"
                class="form-control" />
            </c-col>
          </c-row>

          <!-- Poskod n Negeri -->
          <c-row class="g-3 mb-3">
            <!-- Poskod -->
            <c-col>
              <label cLabel for="postcode" class="mb-2">Poskod</label>
              <input cFormControl id="postcode" type="text" formControlName="postcode" class="form-control" />
            </c-col>
            <!-- Negeri -->
            <c-col>
              <label cLabel for="negeri" class="mb-2">Negeri</label>
              <input cFormControl id="negeri" type="text" formControlName="negeri" class="form-control" />
            </c-col>
          </c-row>


          <!-- No Phone dan Email -->
          <c-row class="g-3 mb-3">
            <!-- No Phone -->
            <c-col>
              <label cLabel for="phoneNo" class="mb-2">No. Telefon</label>
              <input cFormControl id="kpNo" type="text" formControlName="kpNo" class="form-control" />
            </c-col>
            <!-- Email -->
            <c-col>
              <label cLabel for="email" class="mb-2">Email</label>
              <input cFormControl id="email" type="text" formControlName="email" class="form-control" />
            </c-col>
          </c-row>

<br>
<br>

          <c-row class="g-3 mb-3">
            <!-- Nama Pengurus Syarikat -->
            <c-col>
              <label cLabel for="namaPengurus" class="mb-2">Nama Pengurus Besar Syarikat</label>
              <input cFormControl id="namaPengurus" type="text" formControlName="namaPengurus" class="form-control" />
            </c-col>
          </c-row>

          <!-- Jenis Dokumen dan No Dokumen -->
          <c-row class="g-3 mb-3">
            <!-- Jenis Dokumen -->
            <c-col>
              <label cLabel for="docType" class="mb-2">Jenis Dokumen</label>
              <input cFormControl id="docType" type="text" formControlName="docType" class="form-control" />
            </c-col>
            <!-- No Dokumen -->
            <c-col>
              <label cLabel for="docNo" class="mb-2">No. Dokumen</label>
              <input cFormSelect id="docNo" type="text" formControlName="docNo" class="form-control" />
            </c-col>
          </c-row>

          <!-- No Tel Syarikat dan Emel Syarikat -->
          <c-row class="g-3 mb-3">
            <!-- No Tel Syarikat -->
            <c-col>
              <label cLabel for="companyPhoneNo" class="mb-2">No. Telefon Syarikat</label>
              <input cFormControl id="companyPhoneNo" type="text" formControlName="companyPhoneNo" class="form-control" />
            </c-col>
            <!-- Emel Syarikat -->
            <c-col>
              <label cLabel for="companyEmail" class="mb-2">Emel Syarikat</label>
              <input cFormControl id="companyEmail" type="text" formControlName="companyEmail" class="form-control" />
            </c-col>
          </c-row>
          </form>
      </c-col>
    </c-row>
    <!-- END OF CONTENT -->

    <!-- FOOTER CONTENT FOR BUTTONS -->
    <c-row class="mt-4 mb-3">
      <c-col class="d-flex justify-content-end align-items-center gap-2">

        <!-- Navigation Buttons -->
        <div class="d-flex gap-2 ms-4">
          <button cButton type="button" color="primary" class="text-white px-3 nav-btn"
            (click)="goBack()" [disabled]="isFirstStep()">
            &lt;
          </button>

          <button cButton type="button" color="primary" class="text-white px-3 nav-btn"
            (click)="goNext()" [disabled]="isLastStep()">
            &gt;
          </button>
        </div>
      </c-col>
    </c-row>
  </c-card-body>
</c-card>

