<div class="login-container">
    <img src="assets/niise_logo.png" alt="Logo" class="logo" />
    <h2>Log masuk ke akaun anda</h2>
  
    <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
      <!-- Username Input -->
      <div class="input-group">
        <input
          type="text"
          placeholder="ID pengguna"
          [(ngModel)]="username"
          name="username"
          required
          class="input-field"
        />
        <div class="error-message" *ngIf="!username && loginForm.submitted">
          ID pengguna tidak tepat.
        </div>
      </div>
  
      <!-- Password Input -->
      <div class="input-group">
        <input
          type="password"
          placeholder="Kata laluan"
          [(ngModel)]="password"
          name="password"
          required
          class="input-field"
        />
        <div class="error-message" *ngIf="!password && loginForm.submitted">
          Kata laluan tidak tepat.
        </div>
      </div>
  
      <!-- reCAPTCHA Placeholder -->
      <div class="recaptcha-placeholder">
        <re-captcha siteKey="6Le4pnYqAAAAAEI9Nw8xXsaE-Nso7zRyZMIiUJyA"
            (resolved)="onCaptchaResolved($event)">
        </re-captcha>
     </div>
  
      <!-- Forgot Password Link -->
      <a href="#" class="forgot-password">Lupa kata laluan?</a>
  
      <!-- Login Button -->
      <button type="submit" [disabled]="!captchaResponse" class="login-button">Log Masuk</button>
  
      <!-- Register Link -->
      <div class="register-link">
        <span>Tiada akaun?</span>
        <a href="#">Daftar / Log masuk kali pertama</a>
      </div>
    </form>
  </div>
  
