<c-modal [visible]="Hantarmodel" (close)="closeModal()">
  <c-modal-body class="d-flex justify-content-center align-items-center flex-column" style="min-height: 150px;">
    <div class="text-center mb-3">
      <img src="assets/images/success.png" alt="Success" class="img-fluid rounded shadow" style="width: 100px; height: 100px;" />
    </div>
    <h5 class="text-center m-0">Anda berada diluar kawasan. Sila pilih sebab berada diluar kawasan</h5>
  </c-modal-body>
  <c-modal-footer class="d-flex justify-content-center">
    <button class="btn btn-secondary" (click)="closeModal()">OK</button>
  </c-modal-footer>
</c-modal>
<!--modal BKP S003-->