<c-card>
    <h4 class="fw-bold m-3 mt-5">
        SEMAK LAPORAN POLIS
    </h4>

    <c-card-body>
        <form cForm>
<c-row [xs]="1">
  <c-row [xs]="2">
    <c-col class="mb-3">
      <label for="IbuPejabatKontinjen" cLabel>Nama Ibu Pejabat Kontinjen Polis</label>
      <input type="text" class="form-control" id="IbuPejabatKontinjen" placeholder="Ibu Pejabat Kontinjen Polis" disabled value="{{maklumatLaporan.ibuPejabatKontinjen}}">
    </c-col>

    <c-col class="mb-3">
      <label for="IbuPejabatDaerah" cLabel>Nama Ibu Pejabat Daerah Polis</label>
      <input type="text" class="form-control" id="IbuPejabatDaerah" placeholder="Ibu Pejabat Daerah Polis" disabled value="{{maklumatLaporan.ibuPejabatDaerah}}">
    </c-col>

    <c-col class="mb-3">
      <label for="NomborLaporan" cLabel>Nombor Laporan Polis</label>
      <input type="text" class="form-control" id="NomborLaporan" placeholder="Nombor Laporan Polis" disabled value="{{maklumatLaporan.nomborLaporan}}">
    </c-col>

    <c-col class="mb-3">
      <label for="TarikhLaporan" cLabel>Tarikh Laporan Polis</label>
      <input type="text" class="form-control" id="TarikhLaporan" placeholder="Tarikh Laporan Polis" disabled value="{{maklumatLaporan.tarikhLaporan}}">
      <br>    
    </c-col>
  </c-row>

  <!-- Full-width row just for the button -->
  <c-row>
    <br>
    <c-col class="d-flex justify-content-center">
      <button type="button" class="btn btn-primary">Semak</button>
    </c-col>
  </c-row>
</c-row>

            <br>
            <hr>
            <br>

            <c-row [xs]="1">
            </c-row>
            <c-row [xs]="2">
                <c-col class="mb-3">
                    <label for="NomborLaporan" cLabel>Nombor Laporan Polis</label>
                    <input type="text" class="form-control" id="NomborLaporan" placeholder="Nombor Laporan Polis" disabled value="{{maklumatLaporan.nomborLaporan}}">
                </c-col>
                </c-row>
               <c-row [xs]="1">
                <c-col class="mb-3">
                    <label for="NamaPegawai" cLabel>Nama Pegawai Penyiasat</label>
                    <textarea class="form-control" id="NamaPegawai" placeholder="Nama Pegawai Penyiasat" disabled value="{{maklumatLaporan.namaPegawai}}"> </textarea>
                </c-col>
            </c-row>
             <c-row [xs]="1">
                <c-col class="mb-3">
                    <label for="SeksyenKesalahan" cLabel>Seksyen Kesalahan</label>
                    <textarea class="form-control" id="SeksyenKesalahan" placeholder="Seksyen Kesalahan" disabled value="{{maklumatLaporan.seksyenKesalahan}}"> </textarea>
                </c-col>
            </c-row>
        </form>
    </c-card-body>
    <c-card-footer>
        <c-row>
            <div class="d-flex justify-content-end">
                 
      <button type="button" class="btn btn-primary">Pengesahan</button>
    
            </div>
        </c-row>          
    </c-card-footer>
</c-card>