<div class="container-fluid">
    <div class="form-section">
      <h5 class="section-title2">Maklumat Kekunci Carian</h5>
      <form>
        <!-- Row 1 -->
        <div class="form-group5 d-flex align-items-center2">
            <label class="form-label">Nama Pegawai</label>
            <input type="text" class="form-control" value="Azmi" />
          </div>
  
        <!-- Row 2 -->
        <div class="form-group5 d-flex align-items-center2">
            <label class="form-label">Nombor Perkhidmatan</label>
            <input type="text" class="form-control" value="J1234567" />
          </div>
  
        <!-- Row 3 -->
        <div class="form-group5 d-flex align-items-center2">
            <label class="form-label">Nombor Draf</label>
            <input type="text" class="form-control" value="DRAF-IMI-2025-001" />
          </div>

        <!-- Cari Button
        <div class="text-end">
          <button type="button" class="btn btn-dark" (click)="onSearch()">
            Cari
          </button>
        </div>
      </form>
    </div>
  </div> -->

   <!-- Cari & Daftar Buttons -->
      <div class="text-end">
        <button type="button" class="blue-btn" (click)="onSearch()">
          Cari
        </button> <br><br>
        <button type="button" class="blue-btn" (click)="onDaftar()">
          Daftar
        </button>
      </div>
    </form>
  </div>
</div>
  
  <!-- Not found Popup -->
  <div class="popup-overlay" *ngIf="showNotFoundPopup">
    <div class="popup-box">
      <p>Maklumat carian tidak wujud. Sila masukkan kunci carian lain.</p>
      <button (click)="closePopup()">Okay</button>
    </div>
  </div> 
  
