<c-card>
    <c-card-header class="bg-primary text-white">
        Butiran Saya
    </c-card-header>
    <c-card-body>
        <p><strong>No. Pengenalan :</strong> 8123456781</p>
        <p><strong>Nama :</strong> MUSTAFA BIN JALALUDDIN</p>
        <p><strong>Kategori :</strong> ORANG AWAM MALAYSIA (MAL)</p>
    </c-card-body>
</c-card>

<c-card>
  <c-card-header class="bg-primary text-white">
    Maklumat Pemilik
  </c-card-header>
  <c-card-body>
    <c-row>
      <c-col md="6">
        <p><strong>Nama:</strong> MUSTAFA BIN JALALUDDIN</p>
        <p><strong>Alamat:</strong> 44 JALAN BARU 7<br>TAMAN BUKIT KAJANG BARU</p>
        <p><strong>Bandar:</strong> KAJANG</p>
        <p><strong>Negeri:</strong> SELANGOR</p>
        <p><strong>Jantina:</strong> LELAKI</p>
        <p><strong>Telefon:</strong> 0191234567</p>
      </c-col>
      <c-col md="6">
        <p><strong>Poskod:</strong> 43000</p>
        <p><strong>Negara:</strong> MALAYSIA</p>
        <p><strong>Tarikh Lahir:</strong> 24/12/1985</p>
        <p><strong>E-mel:</strong> mustafa.jalaluddinXgmail.com</p>
        <p><strong>Status Pemilik:</strong> Hidup</p>
      </c-col>
    </c-row>
  </c-card-body>
</c-card>

<c-card>
  <c-card-header class="bg-primary text-white">
    Maklumat Lesen
  </c-card-header>
  <c-card-body>
    <img src="assets/images/lesen_contoh.png" alt="Logo" class="img-fluid" style="width:100%">
  </c-card-body>
</c-card>

<c-card>
  <c-card-header class="bg-primary text-white">
    Sekatan Fizikal
  </c-card-header>
  <c-card-body>
    Tiada rekod sekatan fizikal.
  </c-card-body>
</c-card>

<c-card>
  <c-card-header class="bg-primary text-white">
    Maklumat SPIM
  </c-card-header>
  <c-card-body>
    Tiada Maklumat Sijil Pengajar / SPIM record not exist
  </c-card-body>
</c-card>
