<div class="container-fluid">
    <app-horizontal-stepper [currentStep]="currentStep"> </app-horizontal-stepper>
    <div class="form-section">
        <div class="row">
            <!-- Left Side: Officer Info -->
            <div class="pe-4"> <!-- <div class="col-md-8 border-end pe-4"> -->
                <h5 class="section-title">Maklumat Draf Cadangan</h5>
                <form #cadanganForm="ngForm" novalidate>
                    <!-- Draf Cadangan & Process Owner-->
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <label class="form-label required">Draf Cadangan</label>
                            <input 
                                id="drafCadangan"
                                type="text" 
                                class="form-control" 
                                maxlength="100"
                                [(ngModel)]="draf.drafCadangan"
                                name="drafCadangan"
                                required
                                #drafCadangan="ngModel"
                                [ngClass]="{'is-invalid': drafCadangan.invalid && (drafCadangan.touched || submitted)}"
                            />
                            <div *ngIf="drafCadangan.invalid && (drafCadangan.touched || submitted)" class="invalid-feedback">
                                Sila isi Draf Cadangan
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label class="form-label required">Process Owner</label>
                            <input 
                                id="processOwner"
                                type="text" 
                                class="form-control" 
                                maxlength="100"
                                [(ngModel)]="draf.processOwner"
                                name="processOwner"
                                required
                                #processOwner="ngModel"
                                [ngClass]="{'is-invalid': processOwner.invalid && (processOwner.touched || submitted)}"
                                readonly
                            />
                            <div *ngIf="processOwner.invalid && (processOwner.touched || submitted)" class="invalid-feedback">
                                Sila isi Process Owner
                            </div>
                        </div>
                    </div>
                    <!-- Tajuk & Bidang (Umum)-->
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <label class="form-label required">Tajuk</label>
                            <input
                                id="tajuk"
                                type="text"
                                class="form-control"
                                maxlength="100"
                                [(ngModel)]="draf.tajuk"
                                name="tajuk"
                                required
                                #tajuk="ngModel"
                                [ngClass]="{ 'is-invalid': tajuk.invalid && (tajuk.touched || submitted) }"
                            />
                            <div *ngIf="tajuk.invalid && (tajuk.touched || submitted)" class="invalid-feedback">
                                Sila isi Tajuk
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label class="form-label required">Bidang (Umum)</label>
                            <input
                                id="bidangUmum"
                                type="text"
                                class="form-control"
                                maxlength="100"
                                [(ngModel)]="draf.bidangUmum"
                                name="bidangUmum"
                                required
                                #bidangUmum="ngModel"
                                [ngClass]="{ 'is-invalid': bidangUmum.invalid && (bidangUmum.touched || submitted) }"
                            />
                            <div *ngIf="bidangUmum.invalid && (bidangUmum.touched || submitted)" class="invalid-feedback">
                                Sila isi Bidang (Umum)
                            </div>
                        </div>
                    </div>
                    <!-- Bidang (Khusus) & Tujuan-->
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <label class="form-label required">Bidang (Khusus)</label>
                            <input
                                id="bidangKhusus"
                                type="text"
                                class="form-control"
                                maxlength="100"
                                [(ngModel)]="draf.bidangKhusus"
                                name="bidangKhusus"
                                required
                                #bidangKhusus="ngModel"
                                [ngClass]="{ 'is-invalid': bidangKhusus.invalid && (bidangKhusus.touched || submitted) }"
                            />
                            <div *ngIf="bidangKhusus.invalid && (bidangKhusus.touched || submitted)" class="invalid-feedback">
                                Sila isi Bidang (Khusus)
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label class="form-label required">Tujuan</label>
                            <input
                                id="tujuan"
                                type="text"
                                class="form-control"
                                maxlength="100"
                                [(ngModel)]="draf.tujuan"
                                name="tujuan"
                                required
                                #tujuan="ngModel"
                                [ngClass]="{ 'is-invalid': tujuan.invalid && (tujuan.touched || submitted) }"
                            />
                            <div *ngIf="tujuan.invalid && (tujuan.touched || submitted)" class="invalid-feedback">
                                Sila isi Tujuan
                            </div>
                        </div>
                    </div>
                    <!-- Punca Kuasa & Tafsiran-->
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <label class="form-label required">Punca Kuasa</label>
                            <input 
                                id="puncaKuasa"
                                type="text"
                                class="form-control"
                                maxlength="100"
                                [(ngModel)]="draf.puncaKuasa"
                                name="puncaKuasa"
                                required
                                #puncaKuasa="ngModel"
                                [ngClass]="{ 'is-invalid': puncaKuasa.invalid && (puncaKuasa.touched || submitted) }"
                            />
                            <div *ngIf="puncaKuasa.invalid && (puncaKuasa.touched || submitted)" class="invalid-feedback">
                                Sila isi Punca Kuasa
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label class="form-label required">Tafsiran</label>
                            <input 
                                id="tafsiran"
                                type="text"
                                class="form-control"
                                maxlength="100"
                                [(ngModel)]="draf.tafsiran"
                                name="tafsiran"
                                required
                                #tafsiran="ngModel"
                                [ngClass]="{ 'is-invalid': tafsiran.invalid && (tafsiran.touched || submitted) }"
                            />
                            <div *ngIf="tafsiran.invalid && (tafsiran.touched || submitted)" class="invalid-feedback">
                                Sila isi Tafsiran
                            </div>
                        </div>
                    </div>
                    <!-- Latar Belakang & Praktis-->
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <label class="form-label required">Latar Belakang</label>
                            <input 
                                id="latarBelakang"
                                type="text"
                                class="form-control"
                                maxlength="100"
                                [(ngModel)]="draf.latarBelakang"
                                name="latarBelakang"
                                required
                                #latarBelakang="ngModel"
                                [ngClass]="{ 'is-invalid': latarBelakang.invalid && (latarBelakang.touched || submitted) }"
                            />
                            <div *ngIf="latarBelakang.invalid && (latarBelakang.touched || submitted)" class="invalid-feedback">
                                Sila isi Latar Belakang
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label class="form-label required">Praktis</label>
                            <input 
                                id="praktis"
                                type="text"
                                class="form-control"
                                maxlength="100"
                                [(ngModel)]="draf.praktis"
                                name="praktis"
                                required
                                #praktis="ngModel"
                                [ngClass]="{ 'is-invalid': praktis.invalid && (praktis.touched || submitted) }"
                            />
                            <div *ngIf="praktis.invalid && (praktis.touched || submitted)" class="invalid-feedback">
                                Sila isi Praktis
                            </div>
                        </div>
                    </div>
                    <!-- Arahan Baharu & Tarikh Kuat Kuasa-->
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <label class="form-label required">Arahan Baharu</label>
                            <input 
                                id="arahanBaharu"
                                type="text"
                                class="form-control"
                                maxlength="100"
                                [(ngModel)]="draf.arahanBaharu"
                                name="arahanBaharu"
                                required
                                #arahanBaharu="ngModel"
                                [ngClass]="{ 'is-invalid': arahanBaharu.invalid && (arahanBaharu.touched || submitted) }"
                            />
                            <div *ngIf="arahanBaharu.invalid && (arahanBaharu.touched || submitted)" class="invalid-feedback">
                                Sila isi Arahan Baharu
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label class="form-label required">Tarikh Kuat Kuasa</label>
                            <input 
                                id="tarikhKuatKuasa"
                                type="date"
                                class="form-control"
                                [(ngModel)]="draf.tarikhKuatKuasa"
                                name="tarikhKuatKuasa"
                                required
                                #tarikhKuatKuasa="ngModel"
                                [ngClass]="{ 'is-invalid': tarikhKuatKuasa.invalid && (tarikhKuatKuasa.touched || submitted) }"
                            />
                            <div *ngIf="tarikhKuatKuasa.invalid && (tarikhKuatKuasa.touched || submitted)" class="invalid-feedback">
                                Sila pilih Tarikh Kuat Kuasa
                            </div>
                        </div>
                    </div>
                    <!-- Proses Kerja -->
                    <div class="mb-3">
                        <label class="form-label d-block">Proses Kerja</label>
                        <div class="row">
                            <div class="col-md-4" *ngFor="let option of prosesKerjaOptions">
                                <div class="form-check">
                                    <!-- Code used for adding value to array could probably be removed if only single option -->
                                    <input
                                        class="form-check-input"
                                        type="checkbox"
                                        [id]="'prosesKerja-' + option.code"
                                        [value]="option.code"
                                        (change)="onCheckboxChange($event, option.code, 'prosesKerja')"
                                        [checked]="draf.prosesKerja.includes(option.code)"
                                    >
                                    <label
                                        class="form-check-label"
                                        [ngClass]="{ 'fst-italic': option.label === 'Flow Chart' }"
                                        [for]="'prosesKerja-' + option.code"
                                    >
                                        {{ option.label }}
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div
                            *ngIf="draf.prosesKerja.length === 0 && submitted"
                            class="invalid-feedback d-block"
                        >
                            Sila pilih sekurang-kurangnya satu Proses Kerja.
                        </div>
                    </div>
                    <!-- Termasuk -->
                    <div class="mb-3">
                        <label class="form-label d-block">Termasuk</label>
                        <div class="d-flex flex-wrap gap-4 align-items-center">
                            <div class="form-check">
                                <input
                                    class="form-check-input"
                                    type="checkbox"
                                    id="sabah"
                                    [checked]="draf.termasuk.sabah === 'Y'"
                                    (change)="onCheckboxYNChange($event, 'sabah')"
                                >
                                <label class="form-check-label" for="sabah">Sabah</label>
                            </div>
                            <div class="form-check">
                                <input
                                    class="form-check-input"
                                    type="checkbox"
                                    id="sarawak"
                                    [checked]="draf?.termasuk?.sarawak === 'Y'"
                                    (change)="onCheckboxYNChange($event, 'sarawak')"
                                >
                                <label class="form-check-label" for="sarawak">Sarawak</label>
                            </div>
                        </div>
                    </div>
                    <!-- Pematuhan & Pembatalan-->
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <label class="form-label required">Pematuhan</label>
                            <input 
                                id="pematuhan"
                                type="text"
                                class="form-control"
                                maxlength="100"
                                [(ngModel)]="draf.pematuhan"
                                name="pematuhan"
                                required
                                #pematuhan="ngModel"
                                [ngClass]="{ 'is-invalid': pematuhan.invalid && (pematuhan.touched || submitted) }"
                            />
                            <div *ngIf="pematuhan.invalid && (pematuhan.touched || submitted)" class="invalid-feedback">
                                Sila isi Pematuhan
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label class="form-label required">Pembatalan</label>
                            <input 
                                id="pembatalan"
                                type="text"
                                class="form-control"
                                maxlength="100"
                                [(ngModel)]="draf.pembatalan"
                                name="pembatalan"
                                required
                                #pembatalan="ngModel"
                                [ngClass]="{ 'is-invalid': pembatalan.invalid && (pembatalan.touched || submitted) }"
                            />
                            <div *ngIf="pembatalan.invalid && (pembatalan.touched || submitted)" class="invalid-feedback">
                                Sila isi Pembatalan.
                            </div>
                        </div>
                    </div>
                    <!-- Edaran Dalaman & Luaran (side-by-side) -->
                    <div class="row mb-3 g-4">
                        <!-- Edaran Dalaman -->
                        <div class="col-md-6">
                            <h6 class="mb-2">Edaran Dalaman</h6>
                            <!-- Jawatan -->
                            <div class="mb-3">
                                <label class="form-label">Jawatan</label>
                                <div class="d-flex w-100">
                                    <select
                                        class="form-select"
                                        [(ngModel)]="draf.edaranDalaman.jawatan"
                                        name="edaranDalamanJawatan"
                                        required
                                        #edaranDalamanJawatan="ngModel"
                                        [ngClass]="{
                                            'is-invalid':
                                            edaranDalamanJawatan.invalid &&
                                            (edaranDalamanJawatan.touched || submitted)
                                        }"
                                    >
                                        <option value="" disabled selected>-Sila Pilih-</option>
                                        <option
                                            *ngFor="let option of jawatanOptions"
                                            [value]="option.piRankCode"
                                        >
                                            {{ option.piRankBMDesc }}
                                        </option>
                                    </select>
                                    <button type="button" class="btn ms-2">+</button>
                                </div>
                                <div
                                    *ngIf="
                                        edaranDalamanJawatan.invalid &&
                                        (edaranDalamanJawatan.touched || submitted)
                                    "
                                    class="invalid-feedback d-block"
                                >
                                    Sila pilih Jawatan.
                                </div>
                            </div>
                            <!-- Unit -->
                            <div class="mb-3">
                                <label class="form-label">Unit</label>
                                <div class="d-flex w-100">
                                    <select
                                        class="form-select"
                                        [(ngModel)]="draf.edaranDalaman.unit"
                                        name="edaranDalamanUnit"
                                        required
                                        #edaranDalamanUnit="ngModel"
                                        [ngClass]="{
											'is-invalid':
                                            edaranDalamanUnit.invalid &&
                                            (edaranDalamanUnit.touched || submitted)
                                        }"
                                    >
                                        <option value="" disabled selected>-Sila Pilih-</option>
                                        <option
											*ngFor="let option of unitOptions"
                                            [value]="option.unitCode"
										>
											{{ option.unitBMDesc }}
                                        </option>
                                    </select>
                                    <button type="button" class="btn ms-2">+</button>
                                </div>
                                <div
                                *ngIf="
                                    edaranDalamanUnit.invalid &&
                                    (edaranDalamanUnit.touched || submitted)
                                "
                                    class="invalid-feedback d-block"
                                >
                                    Sila pilih Unit.
                                </div>
                            </div>
                            <!-- Bahagian -->
                            <div class="mb-3">
                                <label class="form-label">Bahagian</label>
                                <div class="d-flex w-100">
                                    <select
                                        class="form-select"
                                        [(ngModel)]="draf.edaranDalaman.bahagian"
                                        name="edaranDalamanBahagian"
                                        required
                                        #edaranDalamanBahagian="ngModel"
                                        [ngClass]="{
                                        'is-invalid':
                                            edaranDalamanBahagian.invalid &&
                                            (edaranDalamanBahagian.touched || submitted)
                                        }"
                                        (change)="onBahagianChange($event)"
                                    >
                                        <option value="" disabled selected>-Sila Pilih-</option>
                                        <option
											*ngFor="let option of bahagianOptions"
                                            [value]="option.deptCode"
										>
											{{ option.deptBMDesc }}
                                        </option>
                                    </select>
                                    <button type="button" class="btn ms-2">+</button>
                                </div>
                                <div
                                *ngIf="
                                    edaranDalamanBahagian.invalid &&
                                    (edaranDalamanBahagian.touched || submitted)
                                "
                                    class="invalid-feedback d-block"
                                >
                                    Sila pilih Bahagian.
                                </div>
                            </div>
                            <!-- Negeri -->
                            <div class="mb-1">
                                <label class="form-label">Negeri</label>
                                <div class="d-flex w-100">
                                    <select
                                        class="form-select"
                                        [(ngModel)]="draf.edaranDalaman.negeri"
                                        name="edaranDalamanNegeri"
                                        required
                                        #edaranDalamanNegeri="ngModel"
                                        [ngClass]="{
                                        'is-invalid':
                                            edaranDalamanNegeri.invalid &&
                                            (edaranDalamanNegeri.touched || submitted)
                                        }"
                                    >
                                        <option value="" disabled selected>-Sila Pilih-</option>
                                        <option
											*ngFor="let option of negeriOptions"
                                            [value]="option.stateCode"
										>
											{{ option.stateBMDesc }}
                                        </option>
                                    </select>
                                    <button type="button" class="btn ms-2">+</button>
                                </div>
                                <div
                                *ngIf="
                                    edaranDalamanNegeri.invalid &&
                                    (edaranDalamanNegeri.touched || submitted)
                                "
                                    class="invalid-feedback d-block"
                                >
                                    Sila pilih Negeri.
                                </div>
                            </div>
                        </div>
                        <!-- Edaran Luaran -->
                        <div class="col-md-6">
                            <h6 class="mb-2">Edaran Luaran</h6>
                            <!-- Kementerian / Jabatan -->
                            <!-- <div class="mb-3">
                                <label class="form-label">Kementerian / Jabatan</label>
                                <div class="d-flex w-100">
                                    <select
                                        class="form-select"
                                        [(ngModel)]="draf.edaranLuaran.kementerianJabatan"
                                        name="edaranLuaranKementerian"
                                        required
                                        #edaranLuaranKementerian="ngModel"
                                        [ngClass]="{
                                        'is-invalid':
                                            edaranLuaranKementerian.invalid &&
                                            (edaranLuaranKementerian.touched || submitted)
                                        }"
                                    >
                                        <option value="" disabled selected>-Sila Pilih-</option>
                                        <option value="KDN">KDN</option>
                                        <option value="MOF">MOF</option>
                                    </select>
                                    <button type="button" class="btn ms-2">+</button>
                                </div>
                                <div
                                *ngIf="
                                    edaranLuaranKementerian.invalid &&
                                    (edaranLuaranKementerian.touched || submitted)
                                "
                                    class="invalid-feedback d-block"
                                >
                                    Sila pilih Kementerian / Jabatan.
                                </div>
                            </div> -->

                            <!-- Agensi -->
                            <div class="mb-3">
                                <label class="form-label">Agensi</label>
                                <div class="d-flex w-100">
                                    <select
                                        class="form-select"
                                        [(ngModel)]="draf.edaranLuaran.agensi"
                                        name="edaranLuaranAgensi"
                                        required
                                        #edaranLuaranAgensi="ngModel"
                                        [ngClass]="{
                                        'is-invalid':
                                            edaranLuaranAgensi.invalid &&
                                            (edaranLuaranAgensi.touched || submitted)
                                        }"
                                    >
                                        <option value="" disabled selected>-Sila Pilih-</option>
                                        <option
											*ngFor="let option of agensiOptions"
                                            [value]="option.agencyCode"
										>
											{{ option.agencyBMDesc }}
                                        </option>
                                    </select>
                                    <button type="button" class="btn ms-2">+</button>
                                </div>
                                <div
                                *ngIf="
                                    edaranLuaranAgensi.invalid &&
                                    (edaranLuaranAgensi.touched || submitted)
                                "
                                    class="invalid-feedback d-block"
                                >
                                    Sila pilih Agensi.
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- RUJUKAN -->
                    <div class="mb-3">
                        <label class="form-label d-block">Rujukan</label>
                        <div class="row">
                            <div class="col-md-4" *ngFor="let option of rujukanOptions">
                                <div class="form-check">
                                    <input
                                        class="form-check-input"
                                        type="checkbox"
                                        [id]="option"
                                        [value]="option"
                                        (change)="onCheckboxChange($event, option, 'rujukan')"
                                        [checked]="draf.rujukan.includes(option)"
                                        [disabled]="draf.rujukan.length > 0 && !draf.rujukan.includes(option)"
                                    >
                                    <label class="form-check-label" [for]="option">{{ option }}</label>
                                </div>
                            </div>
                        </div>
                        <div
                            *ngIf="draf.rujukan.length === 0 && submitted"
                            class="invalid-feedback d-block"
                        >
                            Sila pilih satu Rujukan.
                        </div>
                    </div>
                    <!-- JENIS DRAF -->
                    <div class="mb-3">
                        <label class="form-label d-block">Jenis Draf</label>  
                        <div class="row">
                            <div class="col-md-4" *ngFor="let option of jenisDrafOptions">
                                <div class="form-check">
                                    <!-- Code used for adding value to array could probably be removed if only single option -->
                                    <input
                                        class="form-check-input"
                                        type="checkbox"
                                        name="jenisDraf" 
                                        [id]="'jenisDraf-' + option.code"
                                        [value]="option.code"
                                        (change)="onSingleCheckboxChange($event, option.code)"
                                        [checked]="draf.jenisDraf === option.code"
                                        [disabled]="draf.jenisDraf && draf.jenisDraf !== option.code"
                                    >   
                                    <label class="form-check-label" [for]="'jenisDraf-' + option.code">{{ option.label }}</label>
                                </div>
                            </div>
                        </div>
                        <div
                            *ngIf="draf.jenisDraf.length === 0 && submitted"
                            class="invalid-feedback d-block"
                        >
                            Sila pilih satu Jenis Draf.
                        </div>
                    </div>
                    <!-- LAMPIRAN -->
                    <div class="mb-3">
                        <label class="form-label d-block">Lampiran</label>
                        <!-- Attachment Row
                        <div class="d-flex align-items-center gap-2 flex-wrap">
                            Example uploaded file
                            <div class="border p-2 bg-light">
                                DOC.doc
                            </div>
                            Black Buttons
                            <button type="button" class="btn btn-dark btn-sm">Muat Turun</button>
                            <button type="button" class="btn btn-dark btn-sm">Cetak</button>
                            Optional upload icon
                            <i class="bi bi-file-earmark-text" style="color: purple;"></i>
                        </div> -->
                        <!-- Upload button + file input -->
                        <div class="d-flex align-items-center gap-3">
                            <div>
                                <input
                                    #lampiranInput
                                    type="file"
                                    id="lampiranInput"
                                    class="d-none"
                                    multiple
                                    accept=".doc,.docx,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document"
                                    (change)="onLampiranChange(lampiranInput)"
                                />
                                <label for="lampiranInput" class="btn">+ Muat Naik</label>
                            </div>

                            <!-- Show uploaded file list -->
                            <div class="d-flex flex-wrap gap-2">
                                <ng-container *ngFor="let file of draf.lampiranFiles; let i = index">
                                    <div class="d-flex align-items-center me-2">
                                        <c-icon name="cil-copy" size="xl" style="color:#666;"></c-icon>
                                        <span class="ms-1">
                                            {{ file.name }} ({{ formatFileSize(file.size) }})
                                        </span>
                                        <button
                                            type="button"
                                            class="text-danger ms-1 border-0 bg-transparent p-0"
                                            (click)="removeLampiran(i)"
                                            aria-label="Remove file"
                                        >
                                            ✕
                                        </button>
                                    </div>
                                </ng-container>
                            </div>
                        </div>
                    </div>
                    <!-- CATATAN -->
                    <div class="mb-3">
                        <label for="catatan" class="form-label">Catatan</label>
                        <textarea 
                            id="catatan" 
                            class="form-control"
                            maxlength="100"
                            rows="3"
                            [(ngModel)]="draf.catatan"
                            name="catatan"
                        >
                        <!-- In Case Needed -->
                            <!-- required
                            #catatan="ngModel"
                            [ngClass]="{ 'is-invalid': catatan.invalid && (catatan.touched || submitted) }" -->
                        </textarea>
                        <!-- <div *ngIf="catatan.invalid && (catatan.touched || submitted)" class="invalid-feedback">
                            Sila isi Catatan.
                        </div> -->
                    </div>
                    <!-- DARURAT -->
                    <div class="mb-3">
                        <label for="catatan" class="form-label">Darurat</label>
                        <div class="d-flex flex-wrap gap-4 align-items-center">
                            <div class="form-check">
                                <input
                                    class="form-check-input"
                                    type="radio"
                                    id="daruratYa"
                                    name="darurat"
                                    [(ngModel)]="draf.darurat"
                                    value="Y"
                                />
                                <label class="form-check-label" for="daruratYa">Ya</label>
                            </div>
                            <div class="form-check">
                                <input
                                    class="form-check-input"
                                    type="radio"
                                    id="daruratTidak"
                                    name="darurat"
                                    [(ngModel)]="draf.darurat"
                                    value="N"
                                />
                                <label class="form-check-label" for="daruratTidak">Tidak</label>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <!-- Right Side: Steps with vertical line -->
            <!-- <div class="col-md-4 ps-4 border-start">
                <app-step-indicator [currentStep]="currentStep"> </app-step-indicator>
            </div> -->
        </div>

        <div class="bottom-navigation">
            <div class="d-flex justify-content-between align-items-center w-100">
                <!-- Empty spacer (left side) -->
                <div></div>

                <!-- Center buttons -->
                <div class="center-buttons d-flex justify-content-center">
                    <button cButton type="button" class="btn" style="min-width: 135px;" (click)="resetDraf()">
                        Set Semula
                    </button>
                    <button cButton type="button" class="btn" style="min-width: 135px;" (click)="onHantar(cadanganForm)" [disabled]="!draftIsSaved">
                        Hantar
                    </button>
                    <button cButton type="button" class="btn" style="min-width: 135px;" (click)="onSimpan(cadanganForm)" [disabled]="draftIsSaved">
                        Simpan
                    </button>
                </div>

                <!-- Navigation buttons -->
                <div class="nav-buttons">
                    <button
                        type="button"
                        class="btn btn-primary"
                        (click)="goPrevStep()"
                        [disabled]="currentStep === 1"
                    >
                        &lt; <!--HTML entity that renders as the < character for button text-->
                    </button>
                    <button
                        class="btn btn-primary"
                        (click)="goNextStep()"
                        [disabled]="currentStep === maxStep"
                    >
                        &gt; <!--HTML entity that renders as the > character for button text-->
                    </button>
                </div>
            </div>
        </div>
        <div *ngIf="pegawai; else noData">
            <h3>Pegawai Data Passed:</h3>
            <pre>{{ pegawai | json }}</pre>
        </div>

        <ng-template #noData>
            <p>No pegawai data received.</p>
        </ng-template>

        <div *ngIf="draf; else noData">
            <pre>{{ draf | json }}</pre>
        </div>
        <ul>
            <li *ngFor="let f of draf.lampiranFiles">
                {{ f.name }} — {{ (f.size / 1024) | number:'1.0-2' }} KB — {{ f.type }}
            </li>
        </ul>
    </div>
</div>

<!-- Muat Naik Popup -->
<c-modal 
    [visible]="showSubmitPopup" 
    (visibleChange)="showUploadPopup = $event"
    id="noDataModal"
    size="lg"
    alignment="center"
    [backdrop]="true">
    
    <c-modal-header class="modal-header-custom">
        <div class="modal-icon-container">
            <div class="modal-square-icon">
                <div class="modal-check-line-1"></div>
                <div class="modal-check-line-2"></div>
            </div>
        </div>
    </c-modal-header>
    
    <c-modal-body class="modal-body-custom">
        <p class="modal-message">
            Dokumen telah berjaya dimuatnaik
        </p>
    </c-modal-body>
    
    <c-modal-footer class="modal-footer-custom">
        <div class="modal-button-container">
            <button 
                type="button" 
                class="modal-ok-button"
                (click)="closePopup()">
                OK
            </button>
        </div>
    </c-modal-footer>
</c-modal>

<!-- Hantar Popup -->
<c-modal 
    [visible]="showSubmitPopup" 
    (visibleChange)="showSubmitPopup = $event"
    id="noDataModal"
    size="lg"
    alignment="center"
    [backdrop]="true">
    
    <c-modal-header class="modal-header-custom">
        <div class="modal-icon-container">
            <div class="modal-square-icon">
                <div class="modal-check-line-1"></div>
                <div class="modal-check-line-2"></div>
            </div>
        </div>
    </c-modal-header>
    
    <c-modal-body class="modal-body-custom">
        <p class="modal-message">
            Rekod telah berjaya dihantar
        </p>
    </c-modal-body>
    
    <c-modal-footer class="modal-footer-custom">
        <div class="modal-button-container">
            <button 
                type="button" 
                class="modal-ok-button"
                (click)="closePopup()">
                OK
            </button>
        </div>
    </c-modal-footer>
</c-modal>

<!-- Simpan Popup -->
 <c-modal 
    [visible]="showSavePopup" 
    (visibleChange)="showSavePopup = $event"
    id="noDataModal"
    size="lg"
    alignment="center"
    [backdrop]="true">
    
    <c-modal-header class="modal-header-custom">
        <div class="modal-icon-container">
            <div class="modal-square-icon">
                <div class="modal-check-line-1"></div>
                <div class="modal-check-line-2"></div>
            </div>
        </div>
    </c-modal-header>
    
    <c-modal-body class="modal-body-custom">
        <p class="modal-message">
            Rekod telah berjaya disimpan
        </p>
    </c-modal-body>
    
    <c-modal-footer class="modal-footer-custom">
        <div class="modal-button-container">
            <button 
                type="button" 
                class="modal-ok-button"
                (click)="closePopup()">
                OK
            </button>
        </div>
    </c-modal-footer>
</c-modal>

<div class="text-center">
  <div *ngIf="isLoading" class="spinner-border text-primary" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>
