<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
<div class="dashboard-container">
    <div class="welcome-section">
        <h1>Selamat Datang, Adam Bin Adli</h1>
        <div class="user-info">
            <p><strong>Jabatan :</strong> Jabatan Pendaftaran Negara (JPN)</p>
            <p><strong>E-mel :</strong> adamadli&#64;jpn.gov.my</p>
            <p><strong>Log Masuk Terakhir:</strong> 9 Julai 2025, 10:30 Pagi</p>
        </div>
    </div>

    <div class="divider"></div>
    
    <div class="user-guide">
        <div class="guide-header">
             <div class="icon-container">
            <i class="fas fa-book"></i>
            </div>
            <h2>Panduan Pengguna</h2>
        </div>

        <div class="notification-section">
            <h3>NOTIFIKASI</h3>
            <div class="notification-list">
                <div class="notification-item approved">
                    <div class="notification-text">Permohonan Visa Pelajar anda telah diluluskan</div>
                    <span class="notification-date">05 Julai 2025, 2:43 PM</span>
                    <button class="view-button">LIHAT</button>
                </div>

                <div class="notification-item rejected">
                    <div class="notification-text">Rayuan PR anda telah ditolak</div>
                    <span class="notification-date">02 Julai 2025, 1:00 PM</span>
                    <button class="view-button">LIHAT</button>
                </div>
            </div>
        </div>
    </div>
</div>