c-card {
  padding: 20px;
}

.previousPage {
  border-radius: 8px 0 0 8px;
}

.nextPage {
  border-radius: 0 8px 8px 0;
}

//table css
th {
  color: #62748e;
  font-weight: normal;
}

td {
  color: #1d293d;
}