<c-row class="my-2">
  <c-col>
    <ng-container *ngFor="let section of mainSteps">
      <!-- Main Step -->
      <button
        type="button"
        class="btn-custom-breadcrumbADM btn btn-light d-inline-flex gap-2 fw-semibold"
        [ngClass]="{
          'btn-custom-breadcrumbADM-active':
            section.mainStep === currentMainStep
        }"
        (click)="navigatePageStepper('/step-' + section.mainStep)"
      >
        <span
          class="btn-custom-breadcrumbNoADM"
          [ngClass]="{
            'btn-custom-breadcrumbNoADM-active':
              section.mainStep === currentMainStep
          }"
        >
          {{ section.mainStep }}
        </span>
        <span class="btn-custom-breadcrumbLabelADM">
          {{ section.mainLabel }}
        </span>
      </button>

      <!-- Step 5 substeps -->
      <div *ngIf="section.mainStep === 5">
        <div *ngIf="currentMainStep === 5" class="ms-5 mt-2">
          <button
            *ngFor="let sub of section.subSteps"
            #subButton
            type="button"
            class="btn-custom-breadcrumbADM btn btn-light d-inline-flex gap-2 fw-semibold ms-4"
            [ngClass]="{
              'btn-custom-breadcrumbADM-active': currentSubStep === sub.subStep
            }"
            (click)="navigatePageStepper('/step-5-' + sub.subStep)"
          >
            <span
              class="btn-custom-breadcrumbNoADM"
              [ngClass]="{
                'btn-custom-breadcrumbNoADM-active':
                  currentSubStep === sub.subStep
              }"
            >
              {{ section.mainStep }}.{{ sub.subStep }}
            </span>
            <span class="btn-custom-breadcrumbLabelADM">
              {{ sub.subLabel }}
            </span>
          </button>
        </div>
      </div>
    </ng-container>
  </c-col>
</c-row>
