<c-container class="p-3">
    <c-card>
        <c-card-header>
            PEMERIKSAAN MASUK (EGATE) - BAHAGIAN DATA BIOMETRIK [WAJAH & IRIS]
        </c-card-header>
        <c-card-body>
            <c-row>
                <!-- LEFT SIDE -->
                <c-col class="col-12 col-md-8 p-3 border-end" style="border-right: 1px solid #ccc;">

                    <!-- WAJAH -->
                    <c-row class="p-3">
                        <!-- Pengecaman Wajah -->
                        <c-col class="d-flex align-items-center">
                            <div
                                style="border: 1px solid #ccc; border-radius: 6px; padding: 1rem; width: 200px; min-width: 200px; max-width: 200px;">
                                <div
                                    style="border: 1px solid #ccc; border-radius: 6px; padding:60px 30px; text-align: center;">
                                    <img src="" alt="WAJAH">
                                </div>
                            </div>
                        </c-col>

                        <!-- Percentage -->
                        <c-col class="d-flex align-items-center">
                            <div class="w-100">
                                <label cLabel for="pengecamanWajah" class="mb-2">% Pengecaman Wajah</label>
                                <c-progress [value]="75">
                                    <span class="text-white px-2">75%</span>
                                </c-progress>
                                <!-- <input cFormControl id="pengecamanWajah" type="text" class="form-control" /> -->
                            </div>
                        </c-col>
                    </c-row>

                    <!-- IRIS -->
                    <c-row class="p-3">
                        <!-- Pengecaman Iris -->
                        <c-col class="d-flex align-items-center">
                            <div
                                style="border: 1px solid #ccc; border-radius: 6px; padding: 1rem; width: 200px; min-width: 200px; max-width: 200px;">
                                <div
                                    style="border: 1px solid #ccc; border-radius: 6px; padding:60px 30px; text-align: center;">
                                    <img src="" alt="IRIS">
                                </div>
                            </div>
                        </c-col>

                        <!-- Percentage -->
                        <c-col class="d-flex align-items-center">
                            <div class="w-100">
                                <label cLabel for="pengecamanIris" class="mb-2">% Pengecaman Iris</label>
                                <c-progress [value]="75">
                                    <span class="text-white px-2">75%</span>
                                </c-progress>
                                <!-- <input cFormControl id="pengecamanIris" type="text" class="form-control" /> -->
                            </div>
                        </c-col>

                    </c-row>
                </c-col>

                <!-- RIGHT SIDE -->
                <c-col class="col-12 col-md-4 d-flex justify-content-center align-items-center p-3">
                    <button cButton color="primary" disabled>STATUS IMBASAN</button>
                </c-col>
            </c-row>
        </c-card-body>
    </c-card>
</c-container>

<!-- MODAL -->

<!-- Trigger -->
<br /><br />

<!-- Modal 1: Show image -->
<app-coreui-modal
  [title]="'Makluman'"
  [show]="openModal === 'modal-wajah-iris'"
  (close)="close()"
>
  <div class="text-center">
    <img src="assets/images/camera-guide.png" alt="" class="img-fluid" style="max-height: 200px;">
    <p class="mb-3">Sila lihat ke arah kamera untuk imbasan wajah dan iris</p>
  </div>
</app-coreui-modal>

<!-- Trigger -->
<button (click)="open('modal-wajah-iris')" cButton color="primary">
  MODAL IBC-N015
</button>

<br />

<!-- Modal 2 -->
<app-coreui-modal
  [title]="'Makluman'"
  [show]="openModal === 'modal-passport'"
  (close)="close()"
>
  <div class="text-center">
    <img src="assets/images/camera-guide.png" alt="" class="" style="max-height: 200px;">
    <p class="mb-3">Sila Letakkan Muka Biodata Passport didalam Slot Pembaca Dokumen Perjalan</p>
  </div>
</app-coreui-modal>

<!-- Trigger -->
<button (click)="open('modal-passport')" cButton color="secondary">
  MODAL IBC-N001
</button>

<br />

<!-- Modal 3 -->
<app-coreui-modal
  [title]="'Kawalan eGate'"
  [show]="openModal === 'modal-people-counting'"
  (close)="close()"
>
  <div class="text-center">
  <div style="text-align: center;">

      <!-- Image Placeholder -->
      <div style="width: 60px; height: 60px; border: 1px solid black; margin: 0 auto 20px;"></div>

      <!-- Success Message -->
      <h5>Pemeriksaan Masuk Berjaya!</h5>
      <p>People Counting: 1</p>

      <!-- Info Rows -->
      <!-- <div style="display: flex; justify-content: center; align-items: center; margin: 10px 0;">
        <div style="width: 150px; text-align: right; margin-right: 10px;">Jenis Pas</div>
        <input type="text" value="Visa Transit" disabled style="text-align: center; padding: 5px; width: 200px; border: 1px solid gray; border-radius: 4px;">
      </div>

      <div style="display: flex; justify-content: center; align-items: center; margin: 10px 0;">
        <div style="width: 150px; text-align: right; margin-right: 10px;">Tarikh Tamat Pas</div>
        <input type="text" value="21 Mac 2025" disabled style="text-align: center; padding: 5px; width: 200px; border: 1px solid gray; border-radius: 4px;">
      </div> -->
      <div class="row align-items-center mb-3">
        <div class="col-4 text-end">
          <label cLabel for="jenisPas">Jenis Pas</label>
        </div>
        <div class="col-6">
          <input cFormControl id="jenisPas" type="text" readonly value="Visa Transit" class="form-control-plaintext bg-light border rounded px-2">
        </div>
      </div>

      <div class="row align-items-center mb-3">
        <div class="col-4 text-end">
          <label cLabel for="tamatPas">Tarikh Tamat Pas</label>
        </div>
        <div class="col-6">
          <input cFormControl id="tamatPas" type="text" readonly value="21 Mac 2025" class="form-control-plaintext bg-light border rounded px-2">
        </div>
      </div>
      <!-- Footer Text -->
      <p style="margin-top: 30px;">
        Sila Keluar dari Laluan eGate.<br>
        Kod QR e-Digital Stamping akan dihantar ke e-mel anda.
      </p>
    </div>
    </div>
    
</app-coreui-modal>

<!-- Trigger -->
<button (click)="open('modal-people-counting')" cButton color="secondary">
  MODAL People Counting
</button>

<br />

<!-- Modal 4 -->
<app-coreui-modal
  [title]="'Makluman'"
  [show]="openModal === 'modal-imbasan-gagal'"
  (close)="close()"
>
  <div class="text-center">
    <img src="assets/images/camera-guide.png" alt="" class="" style="max-height: 200px;">
    <p class="mb-3">Imbasan Wajah dan Iris gagal!</p>
    <p class="mb-3">Sila Letakkan dua (2) Jari Telunjuk di Pengimbas Cap Jari</p>
  </div>
</app-coreui-modal>

<!-- Trigger -->
<button (click)="open('modal-imbasan-gagal')" cButton color="secondary">
  MODAL IBC-N010
</button>


