<c-card>
  <c-card-body>
    <c-row class="my-2">
      <h4 class="fw-bold">KEMAS KINI MAKLUMAT PROFIL KAT</h4>
    </c-row>

    <app-stepper
      [currentMainStep]="currentMainStep"
      [currentSubStep]="currentSubStep"
    ></app-stepper>

    <c-row class="my-5">
      <c-row class="mb-3">
        <c-col xs="12" md="6">
          <h5>Maklumat Kegiatan Luar</h5>
        </c-col>
        <c-col xs="12" md="6" class="d-flex justify-content-end">
          <button type="button" class="btn btn-primary">Kemas Kini</button>
        </c-col>
      </c-row>
      <c-container class="overflow-x-auto">
        <c-row class="align-items-end flex-md-nowrap">
          <c-col xs="12" md="4">
            <label>Jenis Kegiatan</label>
            <input
              class="form-control mb-3"
              *ngFor="
                let item of maklumatKegiatanLuar1.jenisKegiatan;
                let i = index
              "
              [(ngModel)]="maklumatKegiatanLuar1.jenisKegiatan[i]"
              [readonly]="readonlyField"
              [ngClass]="{ 'bg-light text-muted': readonlyField }"
            />
          </c-col>
          <c-col xs="12" md="4">
            <label>Jenis Kumpulan/ Pertubuhan</label>
            <input
              class="form-control mb-3"
              *ngFor="
                let item of maklumatKegiatanLuar1.jenisKumpulanPertubuhan;
                let i = index
              "
              [(ngModel)]="maklumatKegiatanLuar1.jenisKumpulanPertubuhan[i]"
              [readonly]="readonlyField"
              [ngClass]="{ 'bg-light text-muted': readonlyField }"
            />
          </c-col>
          <c-col xs="12" md="4">
            <label>Jawatan</label>
            <input
              class="form-control mb-3"
              *ngFor="let item of maklumatKegiatanLuar1.jawatan; let i = index"
              [(ngModel)]="maklumatKegiatanLuar1.jawatan[i]"
              [readonly]="readonlyField"
              [ngClass]="{ 'bg-light text-muted': readonlyField }"
            />
          </c-col>
          <c-col xs="12" md="4">
            <label>Tahap Pencapaian</label>
            <input
              class="form-control mb-3"
              *ngFor="
                let item of maklumatKegiatanLuar1.tahapPencapaian;
                let i = index
              "
              [(ngModel)]="maklumatKegiatanLuar1.tahapPencapaian[i]"
              [readonly]="readonlyField"
              [ngClass]="{ 'bg-light text-muted': readonlyField }"
            />
          </c-col>
        </c-row>
      </c-container>
      <c-row>
        <c-col xs="12" md="4">
          <button
            type="button"
            class="btn btn-primary"
            (click)="addMaklumatKegiatanLuar()"
            [disabled]="readonlyField"
          >
            + Tambah Maklumat
          </button>
        </c-col>
      </c-row>
    </c-row>

    <c-row>
      <c-row style="border-top: 1px solid rgba(0, 0, 0, 0.1)">
        <c-col class="d-flex gap-5 flex-shrink-0 justify-content-end py-3">
          <div class="d-flex gap-2">
            <button
              type="button"
              class="btn-custom-normalBlue fw-semibold btn btn-primary"
              (click)="navigateClosePage()"
            >
              Tutup
            </button>
          </div>

          <div class="d-flex">
            <button
              type="button"
              class="btn-custom-normalWhite fw-semibold btn btn-light"
              (click)="navigatePreviousPage()"
            >
              &lt;
            </button>
            <button
              type="button"
              class="btn-custom-normalWhite fw-semibold btn btn-light"
              (click)="navigateNextPage()"
            >
              &gt;
            </button>
          </div>
        </c-col>
      </c-row>
    </c-row>
  </c-card-body>
</c-card>
