<c-card>
  <c-card-body>
    <c-row class="my-2">
      <h4 class="fw-bold">MAKLUMAT PROFIL KAKITANGAN</h4>
    </c-row>

    <app-stepper
      [currentMainStep]="currentMainStep"
      [currentSubStep]="currentSubStep"
    ></app-stepper>

    <c-row class="my-5">
      <c-row class="mb-3">
        <h5>Maklumat Pakaian Seragam</h5>
      </c-row>
      <c-row class="mb-4">
        <label class="mb-3">1. Pakaian Seragam</label>
        <c-col xs="12" md="6"
          ><label>Senarai Pakaian Seragam</label>
          <select
            class="form-select mb-3"
            [(ngModel)]="pakaianSeragamLengap.senaraiPakaian"
            [disabled]="readonlyField"
            [ngClass]="{ 'bg-light text-muted': readonlyField }"
          >
            <option value="" disabled hidden>Sila Pilih</option>
          </select></c-col
        >
        <c-col xs="12" md="2"
          ><label>Kuantiti</label>
          <input
            class="form-control mb-3"
            [(ngModel)]="pakaianSeragamLengap.kuantiti"
            [readonly]="true"
            [ngClass]="{ 'bg-light text-muted': true }"
          />
        </c-col>
        <c-col xs="12" md="2"
          ><label>Jenis Saiz</label>
          <select
            class="form-select mb-3"
            [(ngModel)]="pakaianSeragamLengap.jenisSaiz"
            [disabled]="readonlyField"
            [ngClass]="{ 'bg-light text-muted': readonlyField }"
          >
            <option value="" disabled hidden>Sila Pilih</option>
          </select>
        </c-col>
        <c-col xs="12" md="2"
          ><label>Saiz</label>
          <input
            class="form-control mb-3"
            [(ngModel)]="pakaianSeragamLengap.saiz"
            [readonly]="readonlyField"
            [ngClass]="{ 'bg-light text-muted': readonlyField }"
          />
        </c-col>
        <c-col xs="12" md="4">
          <button
            type="button"
            class="btn btn-primary"
            [disabled]="readonlyField"
          >
            + Tambah Maklumat
          </button>
        </c-col>
      </c-row>

      <c-row class="mb-4">
        <label class="mb-3">2. Inner/ Lapisan Tambahan</label>
        <c-col xs="12" md="6"
          ><label>Senarai Pakaian Seragam</label>
          <select
            class="form-select mb-3"
            [(ngModel)]="innerLapisanTambahan.senaraiPakaian"
            [disabled]="readonlyField"
            [ngClass]="{ 'bg-light text-muted': readonlyField }"
          >
            <option value="" disabled hidden>Sila Pilih</option>
          </select></c-col
        >
        <c-col xs="12" md="2"
          ><label>Kuantiti</label>
          <input
            class="form-control mb-3"
            [(ngModel)]="innerLapisanTambahan.kuantiti"
            [readonly]="true"
            [ngClass]="{ 'bg-light text-muted': true }"
          />
        </c-col>
        <c-col xs="12" md="2"
          ><label>Jenis Saiz</label>
          <select
            class="form-select mb-3"
            [(ngModel)]="innerLapisanTambahan.jenisSaiz"
            [disabled]="readonlyField"
            [ngClass]="{ 'bg-light text-muted': readonlyField }"
          >
            <option value="" disabled hidden>Sila Pilih</option>
          </select>
        </c-col>
        <c-col xs="12" md="2"
          ><label>Saiz</label>
          <input
            class="form-control mb-3"
            [(ngModel)]="innerLapisanTambahan.saiz"
            [readonly]="readonlyField"
            [ngClass]="{ 'bg-light text-muted': readonlyField }"
          />
        </c-col>
        <c-col xs="12" md="4">
          <button
            type="button"
            class="btn btn-primary"
            [disabled]="readonlyField"
          >
            + Tambah Maklumat
          </button>
        </c-col>
      </c-row>

      <c-row class="mb-4">
        <label class="mb-3"
          >3. Penutup Kepala (Beret/ Bowler/ Peak Cap/ Tudung)</label
        >
        <c-col xs="12" md="6"
          ><label>Senarai Pakaian Seragam</label>
          <select
            class="form-select mb-3"
            [(ngModel)]="penutupKepala.senaraiPakaian"
            [disabled]="readonlyField"
            [ngClass]="{ 'bg-light text-muted': readonlyField }"
          >
            <option value="" disabled hidden>Sila Pilih</option>
          </select></c-col
        >
        <c-col xs="12" md="2"
          ><label>Kuantiti</label>
          <input
            class="form-control mb-3"
            [(ngModel)]="penutupKepala.kuantiti"
            [readonly]="true"
            [ngClass]="{ 'bg-light text-muted': true }"
          />
        </c-col>
        <c-col xs="12" md="2"
          ><label>Jenis Saiz</label>
          <select
            class="form-select mb-3"
            [(ngModel)]="penutupKepala.jenisSaiz"
            [disabled]="readonlyField"
            [ngClass]="{ 'bg-light text-muted': readonlyField }"
          >
            <option value="" disabled hidden>Sila Pilih</option>
          </select>
        </c-col>
        <c-col xs="12" md="2"
          ><label>Saiz</label>
          <input
            class="form-control mb-3"
            [(ngModel)]="penutupKepala.saiz"
            [readonly]="readonlyField"
            [ngClass]="{ 'bg-light text-muted': readonlyField }"
          />
        </c-col>
        <c-col xs="12" md="4">
          <button
            type="button"
            class="btn btn-primary"
            [disabled]="readonlyField"
          >
            + Tambah Maklumat
          </button>
        </c-col>
      </c-row>

      <c-row class="mb-4">
        <label class="mb-3">4. Kasut/ But</label>
        <c-col xs="12" md="6"
          ><label>Senarai Pakaian Seragam</label>
          <select
            class="form-select mb-3"
            [(ngModel)]="kasutBut.senaraiPakaian"
            [disabled]="readonlyField"
            [ngClass]="{ 'bg-light text-muted': readonlyField }"
          >
            <option value="" disabled hidden>Sila Pilih</option>
          </select></c-col
        >
        <c-col xs="12" md="2"
          ><label>Kuantiti</label>
          <input
            class="form-control mb-3"
            [(ngModel)]="kasutBut.kuantiti"
            [readonly]="true"
            [ngClass]="{ 'bg-light text-muted': true }"
          />
        </c-col>
        <c-col xs="12" md="2"
          ><label>Jenis Saiz</label>
          <select
            class="form-select mb-3"
            [(ngModel)]="kasutBut.jenisSaiz"
            [disabled]="readonlyField"
            [ngClass]="{ 'bg-light text-muted': readonlyField }"
          >
            <option value="" disabled hidden>Sila Pilih</option>
          </select>
        </c-col>
        <c-col xs="12" md="2"
          ><label>Saiz</label>
          <input
            class="form-control mb-3"
            [(ngModel)]="kasutBut.saiz"
            [readonly]="readonlyField"
            [ngClass]="{ 'bg-light text-muted': readonlyField }"
          />
        </c-col>
        <c-col xs="12" md="4">
          <button
            type="button"
            class="btn btn-primary"
            [disabled]="readonlyField"
          >
            + Tambah Maklumat
          </button>
        </c-col>
      </c-row>

      <c-row class="mb-4">
        <label class="mb-3">5. Pakaian Seragam Kawalan Udara</label>
        <c-col xs="12" md="6"
          ><label>Senarai Pakaian Seragam</label>
          <select
            class="form-select mb-3"
            [(ngModel)]="pakaianSeragamKawalanUdara.senaraiPakaian"
            [disabled]="readonlyField"
            [ngClass]="{ 'bg-light text-muted': readonlyField }"
          >
            <option value="" disabled hidden>Sila Pilih</option>
          </select></c-col
        >
        <c-col xs="12" md="2"
          ><label>Kuantiti</label>
          <input
            class="form-control mb-3"
            [(ngModel)]="pakaianSeragamKawalanUdara.kuantiti"
            [readonly]="true"
            [ngClass]="{ 'bg-light text-muted': true }"
          />
        </c-col>
        <c-col xs="12" md="2"
          ><label>Jenis Saiz</label>
          <select
            class="form-select mb-3"
            [(ngModel)]="pakaianSeragamKawalanUdara.jenisSaiz"
            [disabled]="readonlyField"
            [ngClass]="{ 'bg-light text-muted': readonlyField }"
          >
            <option value="" disabled hidden>Sila Pilih</option>
          </select>
        </c-col>
        <c-col xs="12" md="2"
          ><label>Saiz</label>
          <input
            class="form-control mb-3"
            [(ngModel)]="pakaianSeragamKawalanUdara.saiz"
            [readonly]="readonlyField"
            [ngClass]="{ 'bg-light text-muted': readonlyField }"
          />
        </c-col>
        <c-col xs="12" md="4">
          <button
            type="button"
            class="btn btn-primary"
            [disabled]="readonlyField"
          >
            + Tambah Maklumat
          </button>
        </c-col>
      </c-row>

      <c-row class="mb-4">
        <label class="mb-3">6. Aksesori Pakaian Seragam</label>
        <c-col xs="12" md="6"
          ><label>Senarai Pakaian Seragam</label>
          <select
            class="form-select mb-3"
            [(ngModel)]="aksesori.senaraiPakaian"
            [disabled]="readonlyField"
            [ngClass]="{ 'bg-light text-muted': readonlyField }"
          >
            <option value="" disabled hidden>Sila Pilih</option>
          </select></c-col
        >
        <c-col xs="12" md="2"
          ><label>Kuantiti</label>
          <input
            class="form-control mb-3"
            [(ngModel)]="aksesori.kuantiti"
            [readonly]="true"
            [ngClass]="{ 'bg-light text-muted': true }"
          />
        </c-col>
        <c-col xs="12" md="2"
          ><label>Jenis Saiz</label>
          <select
            class="form-select mb-3"
            [(ngModel)]="aksesori.jenisSaiz"
            [disabled]="readonlyField"
            [ngClass]="{ 'bg-light text-muted': readonlyField }"
          >
            <option value="" disabled hidden>Sila Pilih</option>
          </select>
        </c-col>
        <c-col xs="12" md="2"
          ><label>Saiz</label>
          <input
            class="form-control mb-3"
            [(ngModel)]="aksesori.saiz"
            [readonly]="readonlyField"
            [ngClass]="{ 'bg-light text-muted': readonlyField }"
          />
        </c-col>
        <c-col xs="12" md="4">
          <button
            type="button"
            class="btn btn-primary"
            [disabled]="readonlyField"
          >
            + Tambah Maklumat
          </button>
        </c-col>
      </c-row>

      <c-row class="mb-4">
        <label class="mb-3">7. Lencana dan Lambang</label>
        <c-col xs="12" md="6"
          ><label>Senarai Pakaian Seragam</label>
          <select
            class="form-select mb-3"
            [(ngModel)]="lencanaLambang.senaraiPakaian"
            [disabled]="readonlyField"
            [ngClass]="{ 'bg-light text-muted': readonlyField }"
          >
            <option value="" disabled hidden>Sila Pilih</option>
          </select></c-col
        >
        <c-col xs="12" md="2"
          ><label>Kuantiti</label>
          <input
            class="form-control mb-3"
            [(ngModel)]="lencanaLambang.kuantiti"
            [readonly]="true"
            [ngClass]="{ 'bg-light text-muted': true }"
          />
        </c-col>
        <c-col xs="12" md="2"
          ><label>Jenis Saiz</label>
          <select
            class="form-select mb-3"
            [(ngModel)]="lencanaLambang.jenisSaiz"
            [disabled]="readonlyField"
            [ngClass]="{ 'bg-light text-muted': readonlyField }"
          >
            <option value="" disabled hidden>Sila Pilih</option>
          </select>
        </c-col>
        <c-col xs="12" md="2"
          ><label>Saiz</label>
          <input
            class="form-control mb-3"
            [(ngModel)]="lencanaLambang.saiz"
            [readonly]="readonlyField"
            [ngClass]="{ 'bg-light text-muted': readonlyField }"
          />
        </c-col>
        <c-col xs="12" md="4">
          <button
            type="button"
            class="btn btn-primary"
            [disabled]="readonlyField"
          >
            + Tambah Maklumat
          </button>
        </c-col>
      </c-row>

      <c-row class="mb-4">
        <label class="mb-3">8. Pingat/ Anugerah</label>
        <c-col xs="12" md="6"
          ><label>Senarai Pakaian Seragam</label>
          <select
            class="form-select mb-3"
            [(ngModel)]="pingatAnugerah.senaraiPakaian"
            [disabled]="readonlyField"
            [ngClass]="{ 'bg-light text-muted': readonlyField }"
          >
            <option value="" disabled hidden>Sila Pilih</option>
          </select></c-col
        >
        <c-col xs="12" md="2"
          ><label>Kuantiti</label>
          <input
            class="form-control mb-3"
            [(ngModel)]="pingatAnugerah.kuantiti"
            [readonly]="true"
            [ngClass]="{ 'bg-light text-muted': true }"
          />
        </c-col>
        <c-col xs="12" md="2"
          ><label>Jenis Saiz</label>
          <select
            class="form-select mb-3"
            [(ngModel)]="pingatAnugerah.jenisSaiz"
            [disabled]="readonlyField"
            [ngClass]="{ 'bg-light text-muted': readonlyField }"
          >
            <option value="" disabled hidden>Sila Pilih</option>
          </select>
        </c-col>
        <c-col xs="12" md="2"
          ><label>Saiz</label>
          <input
            class="form-control mb-3"
            [(ngModel)]="pingatAnugerah.saiz"
            [readonly]="readonlyField"
            [ngClass]="{ 'bg-light text-muted': readonlyField }"
          />
        </c-col>
        <c-col xs="12" md="4">
          <button
            type="button"
            class="btn btn-primary"
            [disabled]="readonlyField"
          >
            + Tambah Maklumat
          </button>
        </c-col>
      </c-row>

      <c-row class="mb-4">
        <label class="mb-3">9. Pakaian Istiadat (Tidak Dibekalkan)</label>
        <c-col xs="12" md="6"
          ><label>Senarai Pakaian Seragam</label>
          <select
            class="form-select mb-3"
            [(ngModel)]="pakaianIstidat.senaraiPakaian"
            [disabled]="readonlyField"
            [ngClass]="{ 'bg-light text-muted': readonlyField }"
          >
            <option value="" disabled hidden>Sila Pilih</option>
          </select></c-col
        >
        <c-col xs="12" md="2"
          ><label>Kuantiti</label>
          <input
            class="form-control mb-3"
            [(ngModel)]="pakaianIstidat.kuantiti"
            [readonly]="true"
            [ngClass]="{ 'bg-light text-muted': true }"
          />
        </c-col>
        <c-col xs="12" md="2"
          ><label>Jenis Saiz</label>
          <select
            class="form-select mb-3"
            [(ngModel)]="pakaianIstidat.jenisSaiz"
            [disabled]="readonlyField"
            [ngClass]="{ 'bg-light text-muted': readonlyField }"
          >
            <option value="" disabled hidden>Sila Pilih</option>
          </select>
        </c-col>
        <c-col xs="12" md="2"
          ><label>Saiz</label>
          <input
            class="form-control mb-3"
            [(ngModel)]="pakaianIstidat.saiz"
            [readonly]="readonlyField"
            [ngClass]="{ 'bg-light text-muted': readonlyField }"
          />
        </c-col>
        <c-col xs="12" md="4">
          <button
            type="button"
            class="btn btn-primary"
            [disabled]="readonlyField"
          >
            + Tambah Maklumat
          </button>
        </c-col>
      </c-row>
    </c-row>

    <c-row>
      <c-row style="border-top: 1px solid rgba(0, 0, 0, 0.1)">
        <c-col class="d-flex gap-5 flex-shrink-0 justify-content-end py-3">
          <div class="d-flex gap-2">
            <button
              type="button"
              class="btn-custom-normalBlue fw-semibold btn btn-primary"
              (click)="navigateClosePage()"
            >
              Tutup
            </button>
            <button
              type="button"
              class="btn-custom-normalBlue fw-semibold btn btn-primary"
            >
              Hantar
            </button>
          </div>

          <div class="d-flex">
            <button
              type="button"
              class="btn-custom-normalWhite fw-semibold btn btn-light"
              (click)="navigatePreviousPage()"
            >
              &lt;
            </button>
            <button
              type="button"
              class="btn-custom-normalWhite fw-semibold btn btn-light"
              (click)="navigateNextPage()"
              disabled
            >
              &gt;
            </button>
          </div>
        </c-col>
      </c-row>
    </c-row>
  </c-card-body>
</c-card>
