<c-card>
    <h4 class="fw-bold m-3 mt-5">
        DASHBOARD
    </h4>
    <c-card-body>
        <form [formGroup]="searchForm">
        <c-row class="mb-3">
            <c-col [xs]="4">
                <label for="nama">Nama Penuh</label>
                <input type="text" class="form-control" id="nama" formControlName="nama" />
            </c-col>
            <c-col [xs]="3">
                <label for="jenisDokumen" cLabel>Jenis Dokumen</label>
                <select
                  name="jenisDokumen"
                  id="jenisDokumen"
                  class="form-select"
                  formControlName="jenisDokumen"
                  required
                >
                  <option value="">-Sila Pilih-</option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                </select>
              </c-col>
              
            <c-col [xs]="3">
                <label for="noDokumen">No Dokumen/ ID</label>
                <input type="text" class="form-control" id="noDokumen" formControlName="noDokumen" />
            </c-col>
        </c-row>
        <c-row class="mb-3">
            <c-col [xs]="3">
                <label for="jenisPermohonan" cLabel>Jenis Peromohonan</label>
                <select
                  name="jenisPermohonan"
                  id="jenisPermohonan"
                  class="form-select" 
                  formControlName="jenisPermohonan"
                  required
                >
                  <option value="">-Sila Pilih-</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                </select>
            </c-col>
                        <c-col [xs]="3">
                <label for="jenisPermohonan" cLabel>Status Permohonan</label>
                <select
                  name="statusPermohonan"
                  id="statusPermohonan"
                  class="form-select" 
                  formControlName="statusPermohonan"
                  required
                >
                  <option value="">-Sila Pilih-</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                </select>
            </c-col>
            <c-col [xs]="6">
                <label for="tarikhTerimaLaporan">Tarikh Peromohonan</label>
                <c-row class="align-items-center">
                    <c-col class="d-flex align-items-center gap-2">
                        <label for="tarikhTerimaLaporan">Dari</label>
                        <input type="date" class="form-control" id="tarikhDari" formControlName="tarikhDari" />
                    </c-col>
                    <c-col class="d-flex align-items-center gap-2">    
                        <label for="tarikhTerimaLaporan">Hingga</label>
                        <input type="date" class="form-control" id="tarikhHingga" formControlName="tarikhHingga" />
                    </c-col>
                </c-row>
            </c-col>
        </c-row>
        <!-- Button Carian dan Set Semula -->
        <c-row class="mb-3">
          <c-col class="d-flex justify-content-end gap-2">
            <button color="primary" class="primary-custom-btn px-4" (click)="search()">Carian</button>
            <button color="primary" class="secondary-custom-btn px-4" (click)="reset()">
              <c-icon name="cilSync" class="me-2"></c-icon>
              Set Semula</button>
          </c-col>
      </c-row>
        </form>
          <h6 class="mb-3 fw-bold">Senarai Laporan Kehilangan Kad Kuasa</h6>
          <table cTable hover responsive>
            <thead>
              <tr>
                <th>
                    <c-form-check>
                        <input cFormCheckInput type="checkbox" (change)="toggleAllCheckboxes($event)" />
                    </c-form-check>
                </th>
                <th>Bil.</th>
                <th (click)="sort('nama')" style="cursor:pointer">Nama</th>
                <th>No Dokumen/ ID</th>
                <th>Pangkat/ Gred</th>
                <th>Tarikh Terima Laporan</th>
                <th>Status Permohonan</th>
                <th>Tindakan</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let user of paginatedData(); let i = index">
                <td>
                    <c-form-check>
                        <input cFormCheckInput type="checkbox" [checked]="user.checkbox"/>
                    </c-form-check>
                </td>
                <td>{{ i + 1 + (currentPage - 1) * rowsPerPage }}.</td>
                <td>{{ user.nama }}</td>
                <td>{{ user.noDokumen }}</td>
                <td>{{ user.pangkat }}</td>
                <td>{{ user.tarikhTerimaLaporan }}</td>
                <td>{{ user.statusSiasatan }}</td>
                <td class="text-nowrap">
                  <button cButton color="secondary" class="me-2" (click)="navigateToPengesahanLaporanSiasatan()">X</button>
                  <button cButton color="secondary" (click)="navigateToKelulusanLaporanSiasatan()">X</button>
                </td>
              </tr>
            </tbody>
          </table>
          
          <!-- Pagination Controls -->
          <c-row>
            <c-col
              [xs]="12"
              [md]="8"
              class="align-items-start justify-content-start mb-2"
            >
              <select class="form-select form-select-sm" style="width: 70px" [(ngModel)]="rowsPerPage">
                <option value="5">5</option>
                <option value="10">10</option>
                <option value="25">25</option>
                <option value="50">50</option>
              </select>
            </c-col>
      
            <c-col [xs]="12" [md]="2">
              <ul class="pagination justify-content-end">
                <li>
                  <a
                    class="page-link text-dark"
                    (click)="prevPage()"
                    style="cursor: pointer;"
                    aria-label="Previous"
                  >
                    <span aria-hidden="true">&laquo;</span>
                  </a>
                </li>
                <li>
                  <a
                    class="page-link text-dark"
                    (click)="goToFirstPage()"
                    style="cursor: pointer;"
                    aria-label="FirstPage"
                  >
                    <span aria-hidden="true">&lsaquo;</span>
                  </a>
                </li>
                <li *ngFor="let page of getPageNumbers()">
                  <a 
                    class="page-link text-dark" 
                    (click)="goToPage(page)"
                    style="cursor: pointer;"
                    [class.active]="page === currentPage"
                  >{{ page }}</a>
                </li>
                <li>
                  <a
                    class="page-link text-dark"
                    (click)="nextPage()"
                    style="cursor: pointer;"
                    aria-label="Next"
                  >
                    <span aria-hidden="true">&rsaquo;</span>
                  </a>
                </li>
                <li>
                  <a
                    class="page-link text-dark"
                    (click)="goToLastPage()"
                    style="cursor: pointer;"
                    aria-label="LastPage"
                  >
                    <span aria-hidden="true">&raquo;</span>
                  </a>
                </li>
              </ul>
            </c-col>
      
            <c-col
              [xs]="12"
              [md]="2"
              class="d-flex align-items-start justify-content-end gap-2"
            >
              <label class="form-label">Pergi ke</label>
              <input
                type="number"
                class="form-control form-control-sm"
                style="width: 50px"
                [(ngModel)]="pageInput"
                (keyup.enter)="goToPage()"
                min="1"
                [max]="totalPages"
              />
            </c-col>
          </c-row>
    </c-card-body>
</c-card>