<head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<c-container fluid>
  <c-row class="justify-content-center">

    <!-- Stepper Navigation -->
         <div class="row mb-3">
            <div class="horizontal-stepper">
                <!-- Stepper -->
                <div class="stepper-list">
                    <app-navigation-flow 
                        [currentStep]="step" 
                        (stepChange)="onStepChange($event)">
                    </app-navigation-flow>
                </div>

                <!-- Buttons -->
                <div class="d-flex align-items-center gap-2 ms-3">
                <button class="horizontal-stepper step-btn" (click)="prevStep()">&lt;</button>
                <button class="horizontal-stepper step-btn" (click)="nextStep()" disabled>&gt;</button>
                </div>
            </div>
         </div>

    <div class="section-title h-100">

        <!-- Error Validation -->
        <div *ngIf="errorMessage" class="alert alert-danger">
           {{ errorMessage }}
        </div>

        <h2 class="section-title">Maklumat Vaksin</h2>

        <form [formGroup]="configForm" class="form-group5">
            <!-- Row 1 -->
            <div class="row mb-3">
            <!-- Tahun -->
             <div class="col-2 text-start">
            <label for="tahun" class="col-auto col-form-label required">Tahun</label>
            </div>
            <div class="col-md-4">
                <input type="text" maxlength="100" class="form-control field-medium" id="tahun" 
                formControlName="tahun" value="2025" required/>
            </div>

            <!-- Tarikh Luput -->
            <div class="col-2 text-start">
            <label for="tluput" class="col-auto col-form-label required">Tarikh Luput</label>
            </div>
            <div class="col-md-4">
                <input type="date" class="form-control field-medium" id="tluput" 
                formControlName="tluput" value="2026-09-05" required/>
            </div>
            </div>

            <!-- Row 2 -->
            <!-- Nama Vaksin-->
            <div class="row mb-3">
                <div class="col-2 text-start">
                 <label for="namaVaksin" class="col-form-label required">Nama Vaksin</label>
                </div>
                    <div class="col-10">
                        <input type="text" maxlength="100" class="form-control w-100" id="namaVaksin" formControlName="namaVaksin" value="Tetanus Toxoid" required>
                    </div>
            </div>
            <!-- <div class="d-flex align-items-center mb-3">
  <div class="me-3" style="width: 150px; text-align: left;">
    <label for="namaVaksin" class="col-2 text-start required">Nama Vaksin</label>
  </div>
  <input type="text" maxlength="100" class="form-control flex-grow-1" id="namaVaksin" formControlName="namaVaksin" value="" required>
</div> -->



            <!-- Row 3 -->
            <!-- Syarikat Pengeluar-->
            <div class="row align-items-center mb-3">
                <div class="col-2 text-start">
                 <label for="syarikat" class="col-auto col-form-label">Syarikat Pengeluar</label>
                </div> 
                    <div class="col">
                        <input type="text" maxlength="100" class="form-control w-100" id="syarikat" formControlName="syarikat" value="" required>
                    </div>
            </div>

            <!-- Row 4 -->
            <!-- Jumlah Dos, Kuota dan Harga Tahunan-->
           <div class="row align-items-center mb-4">
                <!-- Jumlah Suntikan Dos -->
                <div class="col-2 text-start">
                 <label for="dos" class="col-auto col-form-label required">Jumlah Suntikan Dos</label>
                </div>
                <div class="col-2">
                    <input
                    type="text"
                    maxlength="100"
                    class="form-control form-control-sm input-small field-medium"
                    id="dos"
                    formControlName="dos"
                    value="200"
                    required
                    />
                </div>

                <!-- Kuota Peruntukan Dos -->
                <div class="col-2 text-start">
                 <label for="kuota" class="col-auto col-form-label required">Kuota Peruntukan Dos</label>
                </div>
                <div class="col-2">
                    <input
                    type="text"
                    maxlength="100"
                    class="form-control form-control-sm input-small field-medium"
                    id="kuota"
                    formControlName="kuota"
                    value="200"
                    required
                    />
                </div>

                <!-- Harga Peruntukan Tahunan -->
                <div class="col-2 text-start">
                 <label for="hargaTahunan" class="col-auto col-form-label required">Harga Peruntukan Tahunan</label>
                </div>
                <div class="col-2">
                    <input
                    type="text"
                    maxlength="100"
                    class="form-control form-control-sm input-small field-medium"
                    id="hargaTahunan"
                    formControlName="hargaTahunan"
                    value="16 000.00"
                    required
                    />
                </div>
            </div>

            <!-- Row 5 -->
            <!-- Cawangan-->
            <div class="row align-items-center mb-3">
            <div class="col-2 text-start">
                <label for="cawangan" class="col-form-label">
                Cawangan/ Bahagian/ Unit  <br>yang Menerima
                </label>
            </div>
            <div class="col">
                <select class="form-control form-select w-100" id="cawangan" formControlName="cawangan">
                <option value="">-Sila Pilih-</option>    
                <option *ngFor="let branch of branches" [value]="branch.branchCode">
                    {{ branch.shortName }}
                </option>
                </select>
            </div>
            </div>

            <!-- Row 6 -->
            <div class="row mb-3">
                <!-- Tarikh Mula -->
                <div class="col-2 text-start">
                <label for="tarikhMula" class="col-auto col-form-label required">Tarikh Mula</label>
                </div>
                    <div class="col-md-4">
                        <input type="date" class="form-control field-medium" id="tarikhMula" formControlName="tarikhMula" value="10/04/2025" required>
                    </div>

                <!-- Tarikh Tamat -->
                <div class="col-2 text-start">
                <label for="tarikhTamat" class="col-auto col-form-label required">Tarikh Tamat</label>
                </div>
                    <div class="col-md-4">
                        <input type="date" class="form-control field-medium" id="tarikhTamat" formControlName="tarikhTamat" value="10/10/2025" required>
                    </div>
            </div>

            <!-- Row 7 -->
            <!-- Catatan-->
            <div class="row align-items-center mb-3">
                 <div class="col-2 text-start">
                 <label for="catatan" class="col-auto col-form-label">Catatan</label>
                 </div>
                    <div class="col-10">
                        <!-- <input type="text" maxlength="100" class="form-control w-100" id="catatan" formControlName="catatan" value="" required> -->
                        <textarea type="text" maxlength="100" class="form-control field-medium" id="catatan" formControlName="catatan" value="" required></textarea>
                    </div>
            </div>
        </form>
         
         <!-- Button--> 
            <div class="d-flex justify-content-end mb-3">
            <button type="button" class="set-semula-button" (click)="onSetSemula()"><i class="fa fa-refresh"></i>Set Semula</button>
            </div>

            <div class="col">
                <div class="d-flex justify-content-end gap-2">
                    <button type="button" class="blue-btn"  (click)="onSimpan()"  [disabled]="activeSTS === 1" ><i class="fa fa-save"></i>Simpan</button>
                    <button type="button" class="blue-btn"  (click)="onHantar()"  [disabled]="activeSTS === 0" ><i class="fa fa-send"></i>Hantar</button>
                    <button type="button" class="blue-btn"  (click)="onBatal()"><i class="fa fa-arrow-left"></i>Batal</button>
                </div>
            </div>
    </div>


  <!-- MODAL SIMPAN -->
  <c-modal
    [visible]="isSuccessModalVisible"
    (visibleChange)="onVisibleChange($event)"
    id="successModal"
    size="sm"
    alignment="center"
    [backdrop]="true"
  >
  <!-- Modal Body  -->
  <c-modal-body class="text-center p-4">
  
      <!-- Success Icon -->
  <div class="success-icon mb-3">
  <i class="fa fa-check"></i>
  </div>
  
    <!-- Success Message  -->
  <p class="modal-message">
        Rekod telah berjaya disimpan.
  </p>
  
      <!-- OK Button  -->
  <button type="button" class="modal-ok-button" (click)="onSuccessModalOk()">
        OK
  </button>
  </c-modal-body>
  </c-modal>


  <!-- MODAL HANTAR -->
  <c-modal
    [visible]="isHantarModalVisible"
    (visibleChange)="onVisibleChange($event)"
    id="hantarModal"
    size="sm"
    alignment="center"
    [backdrop]="true"
  >
  <!-- Modal Body  -->
  <c-modal-body class="text-center p-4">
  
      <!-- Success Icon -->
  <div class="success-icon mb-3">
  <i class="fa fa-check"></i>
  </div>
  
    <!-- Success Message  -->
  <p class="modal-message">
        Rekod telah berjaya dihantar.
  </p>
  
      <!-- OK Button  -->
  <button type="button" class="modal-ok-button" (click)="onHantarModalOk()">
        OK
  </button>
  </c-modal-body>
  </c-modal>


    <!-- <app-modal-simpan [isSuccessModalVisible]="showModalSimpan" (modalClosed)="onModalSimpanClosed()"></app-modal-simpan>
    <app-modal-hantar [isSuccessModalVisible]="showModalHantar" (modalClosed)="onModalHantarClosed()"></app-modal-hantar>
     -->

 </c-row>
</c-container>
