        .form.form-section.h-100 {
            background-color: white;
            border: 2px solid #dee2e6;
            // border-radius: 8px;
            border-color: gray;
            padding: 20px;
            height: 100%;
            box-sizing: border-box;
            }

        .section-title {
            font-size: 1.5rem;
            font-weight: 700;
            margin-bottom: 2rem;
            color: #333;
        }

        .action-button {
            margin-top: 3.0rem;
            margin-bottom: 2.0rem;
            
        }

        .action-button:hover {
            background-color: #222;
            border-color: #222;
        }

        .action-btn {
            margin-right: 1.0rem;
        }

        .btn.btn-secondary.action-button{
            margin-bottom: 2.0rem;
        }