<c-container fluid>
  <c-row class="justify-content-center">
    <c-col xl="10" lg="12">
      <c-row class="g-5">
        
        <c-col md="6">
          <c-card class="h-100 text-center" (click)="onDaftarSuratPertukaran()">
            <c-card-body class="d-flex flex-column justify-content-center">
              <!-- Logo placeholder -->
              <div class="mb-4">LOGO</div>
              <h5>Daftar Surat Pertukaran</h5>
            </c-card-body>
          </c-card>
        </c-col>

        <c-col md="6">
          <c-card class="h-100 text-center" (click)="onCarian()">
            <c-card-body class="d-flex flex-column justify-content-center">
              <!-- Logo placeholder -->
              <div class="mb-4">LOGO</div>
              <h5>Carian</h5>
            </c-card-body>
          </c-card>
        </c-col>

      </c-row>
    </c-col>
  </c-row>
</c-container>