c-card {
  padding: 20px;
}

.btn-custom-normalWhite {
  border: 1px solid #cad5e2;
  background-color: #ffffff;
  font-size: 14px;
}

.btn-custom-normalBlue {
  border: 1px solid #cad5e2;
  font-size: 14px;
  padding: 10px 16px;
}

.btn-custom-sahButton {
  background: var(
    --brand-gradient-primary,
    linear-gradient(
      259deg,
      var(--_root-color-niise-teal-500, #00bba7) 0%,
      var(--_root-color-niise-blue-900, #122640) 98.29%
    )
  );
}
