<div class="container-fluid">
  <!-- Main Row -->
  <div class="row">
    <!-- Left Column: Main Form (9 columns) -->
    <div class=" pe-0">
      <c-card>
        <c-card-body>
          <h5 class="card-title">Maklumat Carian</h5>
          <form>

            <!-- Julat Tarikh -->
            <c-row class="mb-3">
              <c-col md="3">
              <label class="form-label" >Julat Tarikh<span class="text-danger">*</span></label>
              </c-col>
              <c-col md="3">
                <input type="date" class="form-control" [(ngModel)]="fromDate" name="fromDate" />
              </c-col>
              <c-col md="3">
                <input type="date" class="form-control" [(ngModel)]="toDate" name="toDate"/>
              </c-col>
            </c-row>
            
            <!--  Kumpulan -->
            <c-row class="mb-3">
              <c-col md="3"><label >Kumpulan</label></c-col>
              <c-col md="3">
                <select class="form-select" [(ngModel)]="kumpulan" name="kumpulan">
                  <option value="" disabled selected>Sila Pilih</option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                </select>
              </c-col>
            </c-row>

            <!-- lokasi -->
            <c-row class="mb-3">
              <c-col md="3">
                <label >Nama Pegawai</label>
              </c-col>
              <c-col md="6">
                <input type="text" class="form-control"  [(ngModel)]="nama" name="nama">
              </c-col>
              
            </c-row>

           <c-row class="mb-3">
              <c-col md="3">
                <label >No Kad Pengenalan</label>
              </c-col>
              <c-col md="6">
                <input type="text" class="form-control" [(ngModel)]="ic" name="ic">
              </c-col>
            </c-row>
            <c-row class="mb-3">
              <c-col md="3">
                <label >Jenis Laporan</label>
              </c-col>
              <c-col md="6">
                <select class="form-select" [(ngModel)]="laporan" name="laporan" >
                  <option value="" disabled selected>Sila Pilih</option>
                  <option value="Laporan Pegawai">Laporan Pegawai</option>
                  <option value="Laporan Kelewatan">Laporan Kelewatan</option>
                  <option value="Laporan Keluar Pejabat">Laporan Keluar Pejabat</option>
                  <option value="Laporan OT">Laporan OT</option>
                </select> 
              </c-col>
            </c-row>
            <div class="action-footer d-flex justify-content-end">
                <button class="btn btn-back btn-dark m-2" (click)="JanaLaporan()">Jana</button>
            </div>
          </form>
        </c-card-body>
      </c-card>
    </div>

  </div>
</div>