<c-card class="mb-3">
    <c-card-body>
        <c-row>
            <h5 class="mb-4 custom-header">
                Maklumat Pemohon
            </h5>
        </c-row>
        <c-row>
            <!-- Horizontal Stepper -->
            <div class="horizontal-stepper">
                <ul class="stepper-list d-flex align-items-center justify-content-start flex-wrap">
                    <li class="stepper-item" *ngFor="let step of steps" [class.active]="isStepActive(step.number)">
                        <button type="button" class="step-btn" (click)="navigateTo(step)">
                            <span class="step-number">{{ step.number }}</span>
                            <span class="step-title">{{ step.title }}</span>
                        </button>
                    </li>
                </ul>
            </div>
        </c-row>
        <c-col class="md-12">
            <c-row class="mb-4">
                <c-col class="col-md-3 ms-auto d-flex justify-content-end">
                    <button cButton class="custom-btn w-60">
                        Semakan Individu
                    </button>
                </c-col>
            </c-row>

            <c-row class="mb-3">
                <c-col class="col-md-4">
                    <label class="form-label custom-label">Warganegara</label>
                    <select class="form-select custom-dropdown">
                        <option>-Sila Pilih-</option>
                        <option>Warganegara</option>
                        <option>Bukan Warganegara</option>
                    </select>
                </c-col>

                <c-col class="col-md-4">
                    <label class="form-label custom-form-label">No. Passport</label>
                    <input type="text" class="form-control">
                </c-col>
            </c-row>

            <c-row class="mb-3">
                <c-col class="col-md-4">
                    <label class="form-label custom-form-label">Nama</label>
                    <input type="text" class="form-control">
                </c-col>
            </c-row>
            <c-row class="mb-3">
                <c-col class="col-md-4">
                    <label class="form-label custom-form-label">Tarikh Lahir</label>
                    <input type="date" class="form-control">
                </c-col>

                <c-col class="col-md-4">
                    <label class="form-label custom-label">Jantina</label>
                    <select class="form-select custom-dropdown">
                        <option>-Sila Pilih-</option>
                        <option>Lelaki</option>
                        <option>Perempuan</option>
                    </select>
                </c-col>
            </c-row>

            <c-row class="mb-3">
                <c-col class="col-md-4">
                    <label class="form-label custom-form-label">Tempoh Passport</label>
                    <input type="date" class="form-control">
                </c-col>
            </c-row>
        </c-col>
        <!-- Table -->
        <div class="table-responsive custom-table-container" style="margin-top: 20px; margin-bottom: 30px;">
            <table class="custom-table">
                <thead>
                    <tr>
                        <th style="width: 5%;">Bil.</th>
                        <th style="width: 40%;">Keterngan</th>
                        <th style="width: 30%;">Nama Dokumen</th>
                        <th style="width: 10%;">Format</th>
                        <th style="width: 15%;">Tindakan</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Salinan Passport</td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
            <p class="text-muted mt-2" style="font-size: 0.9rem;">
                <em>*Saiz fail maksimum: 10MB</em>
            </p>
        </div>
        <!-- footer -->
        <div class="action-footer">
            <div class="nav-buttons">
                <button type="button" class="action-btn">
                    <svg cIcon name="cil-check-circle" class="me-2"></svg>
                    Set Semula
                </button>
                <button type="button" class="action-btn">
                    <svg cIcon name="cil-check-circle" class="me-2"></svg>
                    Simpan
                </button>
                <!-- Prev Button -->
                <button type="button" class="nav-btn prev-btn" (click)="goBack()">
                    <svg cIcon name="cil-chevron-circle-left-alt"></svg>
                </button>

                <!-- Next Button -->
                <button type="button" class="nav-btn next-btn" disabled>
                    <svg cIcon name="cil-chevron-circle-right-alt"></svg>
                </button>
            </div>
        </div>
    </c-card-body>
</c-card>