<c-card>
    <c-card-body>
        <c-row class="g-5">
            <c-col xs="12" md="6" lg="6">
                <c-card (click)="onCardClick('Permohonan Kad Kuasa')" style="cursor: pointer">
                    <c-card-body class="d-flex justify-content-center align-items-center" style="min-height: 150px">
                        <img src="your-logo.png" alt="LOGO" class="img-fluid" />

                    </c-card-body>
                    <c-card-footer>
                        Permohonan Kad Kuasa
                    </c-card-footer>
                </c-card>
            </c-col>
            <c-col xs="12" md="6" lg="6">
                <c-card (click)="onCardClick('Kehilangan Kad Kuasa')" style="cursor: pointer">
                    <c-card-body class="d-flex justify-content-center align-items-center" style="min-height: 150px">
                        <img src="your-logo.png" alt="LOGO" class="img-fluid" />

                    </c-card-body>
                    <c-card-footer>
                        Kehilangan Kad Kuasa
                    </c-card-footer>
                </c-card>
            </c-col>
            <c-col xs="12" md="6" lg="6">
                <c-card (click)="onCardClick('Penggantungan/ Batal Penggantungan Kad Kuasa')" style="cursor: pointer">
                    <c-card-body class="d-flex justify-content-center align-items-center" style="min-height: 150px">
                        <img src="your-logo.png" alt="LOGO" class="img-fluid" />

                    </c-card-body>
                    <c-card-footer>
                        Penggantungan/ Batal Penggantungan Kad Kuasa
                    </c-card-footer>
                </c-card>
            </c-col>
            <c-col xs="12" md="6" lg="6">
                <c-card (click)="goToPemulanganPerampasanKadKuasa()" style="cursor: pointer">
                    <c-card-body class="d-flex justify-content-center align-items-center" style="min-height: 150px">
                        <img src="your-logo.png" alt="LOGO" class="img-fluid" />

                    </c-card-body>
                    <c-card-footer>
                        Pemulangan/ Perampasan Kad Kuasa
                    </c-card-footer>
                </c-card>
            </c-col>
            <c-col xs="12" md="6" lg="6">
                <c-card (click)="goToPelupusanKadKuasa()" style="cursor: pointer">
                    <c-card-body class="d-flex justify-content-center align-items-center" style="min-height: 150px">
                        <img src="your-logo.png" alt="LOGO" class="img-fluid" />

                    </c-card-body>
                    <c-card-footer>
                        Pelupusan Kad Kuasa
                    </c-card-footer>
                </c-card>
            </c-col>
        </c-row>
    </c-card-body>
</c-card>