<!-- <p>imbasan-cap-jari works!</p> -->
<c-container class="p-3">
    <c-card>
        <c-card-header>
            PEMERIKSAAN MASUK (EGATE) - BAHAGIAN DATA BIOMETRIK [CAP JARI]
        </c-card-header>
        <c-card-body>
            <c-row>
                <!-- LEFT SIDE -->
                <c-col class="col-12 col-md-8 p-3 border-end" style="border-right: 1px solid #ccc;">

                    <!-- CAP JARI  -->
                    <c-row>
                        <!-- KANAN -->
                        <c-col>
                            <h6 class="mb-3">Jari Telunjuk Kanan</h6>
                            <div
                                style="border: 1px solid #ccc; border-radius: 6px; padding: 1rem; width: 200px; min-width: 200px; max-width: 200px;">
                                <div
                                    style="border: 1px solid #ccc; border-radius: 6px; padding:60px 30px; text-align: center;">
                                    <img src="" alt="CAP JARI KANAN">
                                </div>
                            </div>
                        </c-col>

                        <!-- KIRI -->
                        <c-col>
                            <h6 class="mb-3">Jari Telunjuk Kiri</h6>
                            <div
                                style="border: 1px solid #ccc; border-radius: 6px; padding: 1rem; width: 200px; min-width: 200px; max-width: 200px;">
                                <div
                                    style="border: 1px solid #ccc; border-radius: 6px; padding:60px 30px; text-align: center;">
                                    <img src="" alt="CAP JARI KIRI">
                                </div>
                            </div>
                        </c-col>

                    </c-row>
                </c-col>

                <!-- RIGHT SIDE -->
                <c-col class="col-12 col-md-4 d-flex justify-content-center align-items-center p-3">
                    <button cButton color="primary" disabled>STATUS IMBASAN</button>
                </c-col>
            </c-row>
        </c-card-body>
    </c-card>
</c-container>

<!-- MODAL -->
<app-modal-notifikasi-standard 
  [visible]="showModal" 
  [responseCode]="currentResponseCode">
</app-modal-notifikasi-standard>