<!-- CARD CONTENT -->
<c-card class="mb-3">  
  <!-- HEADER PROFIL -->
  <c-card-header class="card-header">
    <h3 class="card-header-title"><b>Rekod Pengembara</b></h3>
  </c-card-header>

   <!-- STEPPER -->
  <div class="px-4 py-3 mb-4 stepper-container">
    <ul class="stepper-list d-flex justify-content-start">
      <ng-container *ngFor="let step of steps">
        <li 
          class="stepper-item text-center"
          *ngIf="step.title">


          <div 
            class="stepper-content"
            [class.active-box]="currentStep === step.number">
            
            <span 
              class="step-number"
              [class.active]="currentStep === step.number">
              {{ step.number }}
            </span>

            <span 
              class="step-title"
              [class.active]="currentStep === step.number">
              {{ step.title }}
            </span>

          </div>
        </li>
      </ng-container>
    </ul>
  </div>

  <!-- CARD BODY -->
  <c-card-body>
    <c-row class="align-items-start">
      
      <!-- KIRI: GAMBAR + BUTTON -->
      <c-col md="4">
        <div style="width: 260px; margin-left: 82px;">

          <!-- GAMBAR -->
          <div class="photo-placeholder mb-3" style="width: 100%; height: 260px;">
            <img src="assets/figma/userimg.png" alt="image user"
                style="max-height: 100%; max-width: 100%; object-fit: contain;">
          </div>

          <!-- BUTTONS -->
          <button
            #ambilWajahIrisButton
            class="custom-blue-btn w-100"
            style="box-sizing: border-box; padding: 10px 0;"
            [disabled]="dariCapJariEmpatPost"
            (click)="captureFaceAndIris()">
            Ambil Wajah & Iris
          </button>

          <button
            class="custom-blue-btn w-100 mt-2"
            style="box-sizing: border-box; padding: 10px 0;"
            [disabled]="dariCapJariEmpatPost"
            (click)="captureFingerprint()">
            Ambil Cap Jari
          </button>
        </div>
      </c-col>

      <!-- KANAN: FORM -->
      <c-col md="8">
        <form [formGroup]="profilForm" class="form" (ngSubmit)="onSubmit()">

          <!-- JENIS PELAWAT -->
          <c-row class="g-3 mb-3">
            <c-col>
              <label cLabel for="visitorType" class="mb-2">Jenis Pelawat</label>
              <input cFormControl id="visitorType" type="text" formControlName="visitorType" class="form-control" />
            </c-col>
            <c-col></c-col>
          </c-row>

          <c-row class="g-3 mb-3">
            <c-col>
              <label cLabel for="jenisPemeriksaan" class="mb-2">Jenis Pemeriksaan</label>
              <input cFormControl id="jenisPemeriksaan" type="text" formControlName="jenisPemeriksaan" class="form-control" />
            </c-col>
            <c-col>
              <label cLabel for="journeyType" class="mb-2">Jenis Perjalanan</label>
              <input cFormControl id="journeyType" type="text" formControlName="journeyType" class="form-control" />
            </c-col>
          </c-row>

          <c-row class="g-3 mb-3">
            <c-col>
              <label cLabel for="docType" class="mb-2">Jenis Dokumen</label>
              <input cFormControl id="docType" type="text" formControlName="docType" class="form-control" />
            </c-col>
            <c-col>
              <label cLabel for="docNo" class="mb-2">No. Dokumen</label>
              <input cFormControl id="docNo" type="text" formControlName="docNo" class="form-control" />
            </c-col>
          </c-row>

          <c-row class="g-3 mb-3">
            <c-col>
              <label cLabel for="kpNo" class="mb-2">No. Pengenalan</label>
              <input cFormControl id="kpNo" type="text" formControlName="kpNo" class="form-control" />
            </c-col>
            <c-col>
              <label cLabel for="nationality" class="mb-2">Warganegara</label>
              <input cFormControl id="nationality" type="text" formControlName="nationality" class="form-control" />
            </c-col>
          </c-row>

          <c-row class="g-3 mb-3">
            <c-col>
              <label cLabel for="expiryDate" class="mb-2">Tarikh Tamat</label>
              <input cFormControl id="expiryDate" type="date" formControlName="expiryDate" class="form-control" />
            </c-col>
            <c-col>
              <label cLabel for="countryIssue" class="mb-2">Negara Pengeluar</label>
              <input cFormControl id="countryIssue" type="text" formControlName="countryIssue" class="form-control" />
            </c-col>
          </c-row>

          <c-row class="g-3 mb-3">
            <c-col md="12">
              <label cLabel for="name" class="mb-2">Nama</label>
              <input cFormControl id="name" type="text" formControlName="name" class="form-control" />
            </c-col>
          </c-row>

          <c-row class="g-3 mb-3">
            <c-col md="12">
              <label cLabel for="printedName" class="mb-2">Nama Dicetak</label>
              <input cFormControl id="printedName" type="text" formControlName="printedName" class="form-control" />
            </c-col>
          </c-row>

          <c-row class="g-3 mb-3">
            <c-col>
              <label cLabel for="dob" class="mb-2">Tarikh Lahir</label>
              <input cFormControl id="dob" type="date" formControlName="dob" class="form-control" />
            </c-col>
            <c-col></c-col>
          </c-row>

          <c-row class="g-3 mb-3">
            <c-col>
              <label cLabel for="pasType" class="mb-2">Jenis Pas</label>
              <select cFormSelect id="pasType" formControlName="pasType" class="form-control" aria-label="Jenis Pas">
                <option value="" disabled selected>Pilih Jenis Pas</option>
                <option value="1">Pas Sosial</option>
                <option value="2">Pas Pelajar</option>
                <option value="3">Pas Pekerja</option>
              </select>
            </c-col>
            <c-col>
              <label cLabel for="pasExpiryDate" class="mb-2">Tarikh Tamat Pas</label>
              <input cFormControl id="pasExpiryDate" type="date" formControlName="pasExpiryDate" class="form-control" />
            </c-col>
          </c-row>

          <c-row class="g-3 mb-3">
            <c-col>
              <label cLabel for="vesselNo" class="mb-2">No Vessel/Kenderaan</label>
              <input cFormControl id="vesselNo" type="text" formControlName="vesselNo" class="form-control" />
            </c-col>
            <c-col>
              <label cLabel for="movementType" class="mb-2">Jenis Pergerakan</label>
              <input cFormControl id="movementType" type="text" formControlName="movementType" class="form-control" />
            </c-col>
          </c-row>

          <c-row class="g-3 mb-3">
            <c-col>
              <label cLabel for="entryBranch" class="mb-2">Pintu Masuk</label>
              <input cFormControl id="entryBranch" type="text" formControlName="entryBranch" class="form-control" />
            </c-col>
            <c-col></c-col>
          </c-row>

          <c-row class="g-3 mb-3">
            <c-col>
              <label cLabel for="entryDate" class="mb-2">Tarikh Masuk</label>
              <input cFormControl id="entryDate" type="date" formControlName="entryDate" class="form-control" />
            </c-col>
            <c-col>
              <label cLabel for="entryTime" class="mb-2">Masa Masuk</label>
              <input cFormControl id="entryTime" type="time" formControlName="entryTime" class="form-control" />
            </c-col>
          </c-row>

        </form>
      </c-col>
    </c-row>

     <!-- Action Buttons -->
          <div class="button-row single-button">
          <button class="reset-btn" 
          (click)="resetForm()">
            <span class="icon-circle">⟳</span>
            <span>SET SEMULA</span>
          </button>

          <button class="simpan-btn" 
          (click)="handleSimpanClick()" 
          [disabled]="!ambilWajahIrisDisabled">
            <span class="icon-circle">✓</span>
            <span>SIMPAN</span>
          </button>
        </div>


    <!-- MODAL -->
    <app-notification-modal
      [modalTitle]="modalTitle"
      [visible]="showModal"
      [showBiometricModal]="showBiometricModal"
      [showModalAlert]="showModalAlert"
      (close)="closeModal()">
    </app-notification-modal>
  </c-card-body>
</c-card>
