<c-card class="top-buttons-container">
  <c-card-body class="text-center align-content-center">
  <button cButton color="success" class="top-button">Home</button>
  <button cButton color="primary" class="top-button">Perkhidmatan Utama</button>
  <button cButton color="info" class="top-button">Pasport Malaysia Antarabangsa</button>
  <button cButton color="warning" class="top-button">Visa, Pas & Permit</button>
  <button cButton color="danger" class="top-button">Permohonan Dalam Talian</button>
  <button cButton color="light" class="top-button">Sistem Temujanji Online</button>
  <button cButton color="secondary" class="top-button">Hubungi Kami</button>
  <button cButton color="warning" class="top-button">Kementerian Dalam Negeri</button>
</c-card-body>

</c-card>


<c-card class="main-column">
  <table>
    <tr>
      <td class="left-column">
        <app-left-content/>
      </td>
      <td class="center-column">
        <app-center-content/>
      </td>
      <td class="right-column">
        <app-employee-notifications/>
      </td>
    </tr>
  </table>
</c-card>
