<c-card class="top-buttons-container">
  <c-card-body class="text-center align-content-center">
    <button cButton color="success" class="top-button">Home</button>
    <button cButton color="primary" class="top-button">Emel</button>
    <button cButton color="info" class="top-button">Kalendar & Acara</button>
    <button cButton color="warning" class="top-button">mySIKAP</button>
    <button cButton color="danger" class="top-button">Capaian Mudah</button>
    <button cButton color="light" class="top-button">Sumber Manusia</button>
    <button cButton color="secondary" class="top-button">Direktori Kakitangan</button>
    <button cButton color="warning" class="top-button">Bina JPJ</button>
  </c-card-body>
</c-card>


<c-card class="main-column">
  <table>
    <tr>
      <td class="left-column">
        <app-left-content/>
      </td>
      <td class="center-column">
        <app-center-content/>
      </td>
      <td class="right-column">
        <app-employee-notifications/>
      </td>
    </tr>
  </table>
</c-card>
