.buttonPanel{
  width: 400px;
  height: 300px;
  margin: 10px;
}

.container {
  display: grid;
  place-items: center; /* Centers both horizontally and vertically */
  height: 100vh; /* Full viewport height */
}

.menu-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 columns */
  gap: 20px;
  padding: 20px;
}


app-menu-content {
  width: 100%;
  height: auto; /* Adjust as needed */
}
