<c-card>
    <c-container>
        <c-row>
            <c-col md="12" class="p-4">
                 <!-- Horizontal Stepper
                <div class="horizontal-stepper">
                    <ul class="stepper-list d-flex align-items-center justify-content-start flex-wrap">
                    <li
                        class="stepper-item"
                        *ngFor="let step of steps"
                        (click)="navigateTo(step)"
                        [class.active]="isStepActive(step.number)">
                        <button type="button" class="step-btn">
                        <span class="step-number">{{ step.number }}</span>
                        <span class="step-title">{{ step.title }}</span>
                        </button>
                    </li>
                    </ul>
                </div><br> -->
                <h2 class="mb-4">Transaksi</h2>
                <form cForm class="row g-3">
                    <!-- Row 1 -->
                    <div class="mb-3 text-justify">
                        <br>
                        <h6>Adalah saya dengan ini mengaku bahawa perhatian saya telah ditarik kepada peruntukan Akta Rahsia Rasmi 1972(Akta88)
                            dan bahawa saya faham dengan sepenuhnya akan segala yang dimaksudkan dalam akta itu. Khususnya saya faham bahawa menyampaikan,
                            menggunakan atau menyimpan dengan salah dan tidak menjaga dengan cara yang berpatutan sesuatu rahsia rasmi dan suratan rasmi atau
                            apa-apa tingkah laku yang membahayakan keselamatan atau kerahsiaan sesuatu rahsia rasmi adalah menjadi suatu kesalahan di bawah seksyen 8 Akta tersebut,
                            yang boleh dihukum dengan penjara selama tempoh tidak kurang daripada satu tahun tetapi tidak lebih daripada tujuh tahun.
                        </h6>
                    </div>
                    <div>
                         <input type="checkbox" id="setuju" name="setuju" [(ngModel)]="agreed">
                         <label for="setuju"> Setuju</label><br>
                    </div>

                </form>
            </c-col>
        </c-row>
    </c-container>
    <!-- Navigation Footer -->
    <div class="bg-light border-top p-3">
        <div class="d-grid gap-2 d-md-flex justify-content-center">
            <button cButton color="primary" [disabled]="!agreed" (click)="teruskan()">
                Teruskan {{ actionLabel }}
            </button>

            <!-- <div class="ms-auto d-flex gap-2">
                <button cButton color="dark" class="btn-back" (click)="previousStep()">&lt;</button>
                <button cButton color="dark" class="btn-back" (click)="nextStep()">&gt;</button>
            </div> -->
        </div>
    </div>
</c-card>
