<!-- Using CoreUI Angular components -->
<c-card style="border: 1px solid #000; margin: 0; height: 450px;padding-bottom: 40%;" >
    <c-card-header>
        <h6 style="margin: 18px 0 10px 30px;" >PEMERIKSAAN MASUK (EGATE) - BAHAGIAN DATA BIOMETRIK [CAP JARI]</h6>
    </c-card-header>
    <c-row style="margin-left: 0%;margin-right: 0%; margin-top: auto; margin-bottom: auto; border-top: 1px solid #000;">
        <!-- First Fingerprint Image -->
        <c-col md="4" style="margin: 5rem 1rem 0 1rem; padding-left: 10%;">
            <c-col>
                <p>Jari Telunjuk Kiri</p>
            </c-col>
            <c-col md="8">
                <c-card style="margin: auto; margin-left: 10%;">
                    <c-card-body style="text-align: center; padding: 60px 30px; height: 200px; padding-right: 0%;" >
                        <img 
                        src="" alt="CAP JARI KANAN" cImg>
                    </c-card-body>
                </c-card>
            </c-col>
            <!-- Second Fingerprint Image -->
        </c-col>
        <c-col md="3" style="margin: 5rem 1rem 0 0;">
            <c-col>
                <p>Jari Telunjuk Kiri</p>
            </c-col>
            <c-col md="8">
                <c-card style="margin: auto; margin-left: 10%;">
                    <c-card-body style="text-align: center; padding: 60px 30px; height: 200px;" >
                        <img 
                        src="" alt="CAP JARI KIRI" cImg>
                    </c-card-body>
                </c-card>
            </c-col>
        </c-col>

        <!-- Fingerprint Quality Indicator -->
        <c-col style="margin: 9rem 1rem 0 1rem; height: 100%; text-align: center;justify-content: center;">
            <input 
            cFormControl 
            type="text" 
            id="fingerQuality" 
            placeholder="STATUS IMBASAN"
            style="width: 40; height: 100px; text-align: center;"
            disabled>
        </c-col>
    </c-row>
</c-card>