<!--belum ada navigation button | manual type manual-tindakan dkt url-->

<div class="container-fluid">
    <!-- Tab Content -->
    <div class="tab-content" id="myTabContent">
        <div class="row g-0">
            <div class="col-md-9">
                <div class="form-section h-100">
                    <h2 class="section-title">Maklumat Tindakan</h2>
                    <form>
                        <!-- Basic Personal Information -->
                        <div class="row mb-3">
                            <div class="col-md-4">
                                <label class="form-label required">Kod NAP/NAS*</label>
                                <select class="form-select" [(ngModel)]="kodnapnas" name="kodnapnas">
                                    <option value="">Pilih Kod</option>
                                    <option value="AP002">AP002</option>
                                    <option value="AP001">AP001</option>
                                    <option value="AP003">AP003</option>
                                </select>
                            </div>
                            <div class="col-md-2"></div>
                            <div class="col-md-4">
                                <label class="form-label required">Nombor NAP/NAS*</label>
                                <input type="text" class="form-control" [(ngModel)]="nonapnas" name="nonapnas"
                                    placeholder="Masukkan Nombor NAP/NAS">
                            </div>
                            <div class="col-md-2"></div>
                        </div>

                        <div class="row mb-3">
                            <div class="col-md-4">
                                <label class="form-label required">Kod Tindakan*</label>
                                <select class="form-select" [(ngModel)]="kodTindakan" name="kodTindakan">
                                    <option value="">Pilih Kod Tindakan</option>
                                    <option value="BLX">BLX</option>
                                    <option value="DPT">DPT</option>
                                    <option value="KES">KES</option>
                                </select>
                            </div>
                            <div class="col-md-2"></div>
                            <div class="col-md-4">
                                <label class="form-label required">Tarikh NAP/NAS*</label>
                                <input type="date" class="form-control" [(ngModel)]="tarikhNapNas" name="tarikhNapNas">
                            </div>
                            <div class="col-md-2"></div>
                        </div>

                        <div class="row mb-3">
                            <div class="col-md-4">
                                <label class="form-label">Tarikh KuatKuasa</label>
                                <input type="date" class="form-control" [(ngModel)]="tarikhKuatKuasa"
                                    name="tarikhKuatKuasa">
                            </div>
                            <div class="col-md-2"></div>
                            <div class="col-md-4">
                                <label class="form-label">Tempat Kesalahan</label>
                                <input type="text" class="form-control" [(ngModel)]="tempatKesalahan"
                                    name="tempatKesalahan" placeholder="Masukkan Tempat Kesalahan">
                            </div>
                            <div class="col-md-2"></div>
                        </div>

                        <div class="row mb-3">
                            <div class="col-md-4">
                                <label class="form-label">Pilih Tempoh</label>
                                <select class="form-select" [(ngModel)]="pilihTempoh" name="pilihTempoh">
                                    <option value="">Pilih Tempoh</option>
                                    <option value="1 Bulan">1 Bulan</option>
                                    <option value="3 Bulan">3 Bulan</option>
                                    <option value="6 Bulan">6 Bulan</option>
                                    <option value="1 Tahun">1 Tahun</option>
                                </select>
                            </div>
                            <div class="col-md-2"></div>
                            <div class="col-md-4">
                                <label class="form-label">Tarikh Tamat Kes</label>
                                <input type="date" class="form-control" [(ngModel)]="tarikhTamatKes"
                                    name="tarikhTamatKes">
                            </div>
                            <div class="col-md-2"></div>
                        </div>

                        <div class="row mb-3">
                            <div class="col-md-6">
                                <label class="form-label required">No. Fail Imigresen*</label>
                                <input type="text" class="form-control" [(ngModel)]="noFailImigresen"
                                    name="noFailImigresen" placeholder="Masukkan No. Fail Imigresen">
                            </div>
                            <div class="col-md-6"></div>
                        </div>

                        <div class="row mb-3">
                            <div class="col-md-6">
                                <label class="form-label required">No. Agensi*</label>
                                <input type="text" class="form-control" [(ngModel)]="noAgensi" name="noAgensi"
                                    placeholder="Masukkan No. Agensi">
                            </div>
                            <div class="col-md-6"></div>
                        </div>

                        <div class="row mb-3">
                            <div class="col-md-4">
                                <label class="form-label">Nombor Rujukan Agensi</label>
                                <input type="text" class="form-control" [(ngModel)]="nomborRujukanAgensi"
                                    name="nomborRujukanAgensi">
                            </div>
                            <div class="col-md-2"></div>
                            <div class="col-md-6">
                                <label class="form-label">Agensi Pelapor</label>
                                <input type="text" class="form-control" [(ngModel)]="agensiPelapor" name="agensiPelapor"
                                    value="KEMENTERIAN DALAM NEGERI">
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="col-md-12">
                                <label class="form-label">Arahan Khusus (jika ada)</label>
                                <textarea class="form-control" rows="3" [(ngModel)]="arahanKhusus"
                                    name="arahanKhusus"></textarea>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="col-md-8">
                                <label class="form-label">Nama Pegawai Untuk Dihubungi</label>
                                <input type="text" class="form-control" [(ngModel)]="namaPegawai" name="namaPegawai"
                                    value="MAZLINA BINTI ABDUL KARIM">
                            </div>
                            <div class="col-md-4"></div>
                        </div>

                        <div class="row mb-3">
                            <div class="col-md-6">
                                <label class="form-label">No Telefon Pegawai Untuk Dihubungi</label>
                                <input type="text" class="form-control" [(ngModel)]="noTelefonPegawai"
                                    name="noTelefonPegawai" value="0198765678">
                            </div>
                            <div class="col-md-8"></div>
                        </div>

                        <div class="row mb-3">
                            <div class="col-md-12">
                                <label class="form-label">Maklumat Agensi</label>
                                <textarea class="form-control" rows="3" [(ngModel)]="maklumatAgensi"
                                    name="maklumatAgensi"></textarea>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="col-md-8">
                                <label class="form-label">E-Mel Agensi</label>
                                <input type="email" class="form-control" [(ngModel)]="emelAgensi" name="emelAgensi">
                            </div>
                            <div class="col-md-4"></div>
                        </div>

                        <div class="row mb-3">
                            <div class="col-md-12">
                                <label class="form-label">Keterangan Kes</label>
                                <textarea class="form-control" rows="3" [(ngModel)]="keteranganKes"
                                    name="keteranganKes"></textarea>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="col-md-8">
                                <label class="form-label">Cawangan</label>
                                <select class="form-select" [(ngModel)]="cawangan" name="cawangan">
                                    <option value="">Pilih Cawangan</option>
                                </select>
                            </div>
                            <div class="col-md-4"></div>
                        </div>
                    </form>
                </div>
            </div>

            <!-- Right section - Steps -->
            <div class="col-md-3">
                <div class="form-section h-100 steps-container">
                    <app-progress-flow [currentStep]="step" (stepChange)="onStepChange($event)"></app-progress-flow>
                </div>
            </div>
        </div>

       <!-- Navigation Footer -->
       <div class="bg-light border-top p-3">
            <div class="d-flex justify-content-end align-items-center flex-wrap gap-2">
                <button class="btn btn-back btn-dark" (click)="resetForm()">Set Semula</button>
                <button class="btn btn-back btn-dark" (click)="previousStep()">Kembali</button>
                <button class="btn btn-back btn-dark" (click)="previousStep()">&lt;</button>
                <button class="btn btn-back btn-dark    " (click)="nextStep()">&gt;</button>
            </div>
        </div>
    </div>
</div>