<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<c-card>
  <c-container>
    <c-row>
      <c-col md="12" class="p-4">
         <!-- Horizontal Stepper -->
        <div class="horizontal-stepper">
            <ul class="stepper-list d-flex align-items-center justify-content-start flex-wrap">
            <li
                class="stepper-item"
                *ngFor="let step of steps"
                (click)="navigateTo(step)"
                [class.active]="isStepActive(step.number)">
                <button type="button" class="step-btn">
                <span class="step-number">{{ step.number }}</span>
                <span class="step-title">{{ step.title }}</span>
                </button>
            </li>
            </ul>
        </div><br>
        <h3 class="mb-4">Pilihan Folder</h3>

        <!-- Reactive Form -->
        <form cForm class="row g-3" [formGroup]="folderForm" (ngSubmit)="goToFolderWujud()">
          <!-- Row 1 -->
          <div class="form-group5 d-flex align-items-center2">
            <label for="namaFolder">Nama Folder</label>
            <input
              type="text"
              class="form-control"
              formControlName="folder_name"
              placeholder="Masukkan nama folder"
            />
          </div>
          <!-- Navigation Footer -->
          <div class="p-3">
            <div class="d-grid gap-2 d-md-flex justify-content-center">
            <button cButton color="primary" type="submit" [disabled]="!folderForm.valid">
                <i class="fa fa-upload"></i> Muat Naik
              </button>
            </div>
          </div>
        </form>

      </c-col>
    </c-row>
  </c-container>

  
</c-card>
