<c-card class="mb-3">
  <!-- HEADER PROFIL -->
  <c-card-header class="card-header">
    <h4 class="card-header-title">Semakan/Kelulusan Permohonan Ejen Perkapalan</h4>
  </c-card-header>

  <!-- CONTENT CARD BODY -->
  <c-card-body>
    <c-row>
      <!-- FORMS -->
      <c-col md="8">
        <!-- FORMS START -->
        <form [formGroup]="profilForm" class="form" (ngSubmit)="onSubmit()">
          <!-- Form Title -->
          <h5 class="mb-4">Maklumat Cawangan</h5>

          <!-- Photo Placeholder -->
          <div class="photo-placeholder mb-4">
            <img [src]="photoUrl || 'assets/placeholder-image.png'" alt="" />
          </div>


          <!-- Nama Cawangan -->
          <c-row class="g-3 mb-3 mt-3">
            <c-col>
              <label cLabel for="branchName" class="mb-2">Nama Cawangan</label>
              <input cFormControl id="branchName" type="text" formControlName="branchName" class="form-control" />
            </c-col>
            <c-col>
              
            </c-col>
          </c-row>

          <c-row class="g-3 mb-3">
            <!-- Alamat Cawangan -->
            <c-col>
              <label cLabel for="branchAddress" class="mb-2">Alamat Cawangan</label>
              <input cFormControl id="branchAddress" type="text" formControlName="branchAddress"
                class="form-control" />
            </c-col>
          </c-row>

          <!-- Poskod n Negeri -->
          <c-row class="g-3 mb-3">
            <!-- Poskod -->
            <c-col>
              <label cLabel for="postcode" class="mb-2">Poskod</label>
              <input cFormControl id="postcode" type="text" formControlName="postcode" class="form-control" />
            </c-col>
            <!-- Negeri -->
            <c-col>
              <label cLabel for="negeri" class="mb-2">Negeri</label>
              <input cFormControl id="negeri" type="text" formControlName="negeri" class="form-control" />
            </c-col>
          </c-row>


          <!-- No Phone dan Email -->
          <c-row class="g-3 mb-3">
            <!-- No Phone -->
            <c-col>
              <label cLabel for="branchPhoneNo" class="mb-2">No. Telefon Cawangan</label>
              <input cFormControl id="branchPhoneNo" type="text" formControlName="branchPhoneNo" class="form-control" />
            </c-col>
            <!-- Email -->
            <c-col>
              <label cLabel for="branchEmail" class="mb-2">Email Cawangan</label>
              <input cFormControl id="branchEmail" type="text" formControlName="branchEmail" class="form-control" />
            </c-col>
          </c-row>

           <!-- Nama Pengurus Cawangan -->
          <c-row class="g-3 mb-3">
            <c-col>
              <label cLabel for="branchAdminName" class="mb-2">Nama Pengurus Cawangan</label>
              <input cFormControl id="branchAdminName" type="text" formControlName="branchAdminName" class="form-control" />
            </c-col>
          </c-row>

          <!-- No Tel Syarikat dan Emel Syarikat -->
          <c-row class="g-3 mb-3">
            <!-- No Tel Syarikat -->
            <c-col>
              <label cLabel for="companyPhoneNo" class="mb-2">No. Telefon Syarikat</label>
              <input cFormControl id="companyPhoneNo" type="text" formControlName="companyPhoneNo" class="form-control" />
            </c-col>
            <!-- Emel Syarikat -->
            <c-col>
              <label cLabel for="companyEmail" class="mb-2">Emel Syarikat</label>
              <input cFormControl id="companyEmail" type="text" formControlName="companyEmail" class="form-control" />
            </c-col>
          </c-row>

          <br>
          <br>

          <c-row class="g-3 mb-3">
            <!-- Nama Kapal -->
            <c-col>
              <label cLabel for="shipName" class="mb-2">Nama Kapal</label>
              <input cFormControl id="shipName" type="text" formControlName="shipName" class="form-control" />
            </c-col>
          </c-row>

          <!-- Indikator dan Jenis Kapal -->
          <c-row class="g-3 mb-3">
            <!-- Indikator -->
            <c-col>
              <label cLabel for="indikator" class="mb-2">Indikator</label>
                <select
                cFormSelect
                id="indikator"
                formControlName="indikator"
                class="form-select"
                aria-label="Indikator"
                >
                <option value="Kapal Tempatan">Kapal Tempatan</option>
                <option value="Kapal Asing">Kapal Asing</option>
                </select>
            </c-col>
            <!-- Jenis Kapal -->
            <c-col>
              <label cLabel for="shipType" class="mb-2">Jenis Kapal (Rujuk)</label>
              <input cFormSelect id="shipType" type="text" formControlName="shipType" class="form-control" />
            </c-col>
          </c-row>

          <c-row class="g-3 mb-3">
            <!-- Kategori Kapal -->
            <c-col>
              <label cLabel for="shipCategory" class="mb-2">Kategori Kapal</label>
                <select
                cFormSelect
                id="shipCategory"
                formControlName="shipCategory"
                class="form-select"
                aria-label="shipCategory"
                >
                <option value="Kapal Dagang">Kapal Dagang</option>
                <option value="Kapal Penumpang">Kapal Penumpang</option>
                <option value="Kedua-duanya">Kedua-duanya</option>
                </select>
            </c-col>
            <c-col>
              
            </c-col>
          </c-row>
          </form>
      </c-col>

      
    </c-row>
    <!-- END OF CONTENT -->

    <!-- FOOTER CONTENT FOR BUTTONS -->
    <c-row class="mt-4 mb-3">
      <c-col class="d-flex justify-content-end align-items-center gap-2">

        <!-- Navigation Buttons in separate container with margin-start -->
        <div class="d-flex gap-2 ms-4">
          <button cButton type="button" color="primary" class="text-white px-3 nav-btn" (click)="goBack()"
            [disabled]="isFirstStep()">
            &lt;
          </button>

          <button cButton type="button" color="primary" class="text-white px-3 nav-btn" (click)="goNext()">
            &gt;
          </button>
        </div>
      </c-col>
    </c-row>
  </c-card-body>
</c-card>

<!-- Modal 1 -->
<app-coreui-modal
  [title]="'Makluman'"
  [show]="openModal === 'modal-wajib-diisi'"
  (close)="close()"
>
  <div class="text-center">
    <img src="assets/images/camera-guide.png" alt="" class="" style="max-height: 200px;">
    <p class="mb-3">Medan mandatori yang bertanda * wajib diisi</p>
  </div>
</app-coreui-modal>
