<c-card>
    <c-container>
        <c-row>
            <c-col md="9" class="p-4" style="border-right: 1px solid #ddd;">
                <h3>Tetapan e-Digital Stamping</h3>
                <p class="mb-3">3.0 Kandungan Data Tambahan Pada e-Digital Stamping</p>

                <c-row class="mb-3">
                    <c-col md="6">
                        <label cLabel class="form-label d-block">Modul</label>
                        <select aria-label="Default select example" cSelect>
                            <option>Open this select menu</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                    </c-col>
                </c-row>

                <c-row class="mb-3">
                    <c-col md="6">
                        <label cLabel class="form-label d-block">Kandungan Data Tambahan Yang Diperlukan</label>
                        <div class="d-flex align-items-center">
                            <input cFormControl type="text" class="form-control me-2" />
                            <button class="btn btn-dark" type="button">
                                <svg [cIcon]="icons.cilPlus" width="20" title="Shield Icon"></svg>
                            </button>
                        </div>
                    </c-col>
                </c-row>

                <div class="d-grid gap-2 d-md-flex justify-content-md-end mb-3">
                    <button cButton color="dark">Tambah</button>
                </div>

                <p class="mb-3">4.0 Status</p>
                <c-form-check>
                    <input cFormCheckInput type="radio" value="aktif" name="flexRadioDefault" />
                    <label cFormCheckLabel>Aktif</label>
                </c-form-check>
                <c-form-check>
                    <input cFormCheckInput type="radio" value="nyahaktif" name="flexRadioDefault" />
                    <label cFormCheckLabel>Nyahaktif</label>
                </c-form-check>
                <div class="d-grid gap-2 d-md-flex justify-content-md-end mt-5">
                    <button cButton color="dark">Padam</button>
                </div>

            </c-col>

            <c-col md="3">
                <div class="form-section h-100 p-4">
                    <app-progress-flow [currentStep]="step" (stepChange)="onStepChange($event)"></app-progress-flow>
                </div>
            </c-col>
        </c-row>
    </c-container>
    <!-- Navigation Footer -->
    <div class="bg-light border-top p-3">
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
            <button cButton color="primary" class="me-md-2 text-wrap" style="white-space: normal;">
                Papar Contoh e-Digital Stamping
            </button>
            <button cButton color="primary" class="me-md-2 text-wrap" style="white-space: normal;">
                Mereka Templat E-Mel e-Digital Stamping
            </button>

            <div class="ms-auto d-flex gap-2">
                <button cButton color="secondary">Simpan</button>
                <button cButton color="secondary">Hantar</button>
                <button cButton color="dark" class="btn-back" (click)="previousStep()">&lt;</button>
            </div>
        </div>
    </div>
</c-card>