<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet">

<div class="custom-content-wrapper">
    <c-card>
        <c-card-body>
            <!-- PAGE TITLE -->
            <c-row>
                <h3>Rekod Pengembara</h3>
            </c-row>

            <!-- STEPPER -->
            <c-row>
                <reusable-tab [currentStep]="currentStep" [steps]="steps"></reusable-tab>
            </c-row>

            <!-- FORM -->
            <c-row>
                <form [formGroup]="ftfForm">
                    <!-- LEFT -->
                    <c-row>
                        <c-col xs="12" md="3" class="d-flex flex-column align-items-center">
                            <!-- PHOTO -->
                            <img src="assets/images/avatars/9.jpg" alt="Profile Image" class="img-fluid mb-3"
                                style="width: 200px; height: 200px; object-fit: cover; border-radius: 10px;" />

                            <!-- ACTION BUTTONS -->
                            <div style="width: 200px;">
                                <button cButton type="button" class="action-button mb-2 w-100"
                                    (click)="captureFaceAndIris()" [disabled]="isMaklumatLengkap">
                                    <i class="bi bi-check-circle" [class.d-none]="!isMaklumatLengkap"></i> Ambil Wajah &
                                    Iris
                                </button>

                                <button cButton type="button" class="action-button mb-2  w-100"
                                    (click)="captureFingerprint()" [disabled]="isMaklumatLengkap">
                                    <i class="bi bi-check-circle" [class.d-none]="!isMaklumatLengkap"></i> Ambil Cap
                                    Jari
                                </button>
                            </div>
                        </c-col>

                        <!-- RIGHT -->
                        <c-col xs="12" md="9">
                            <!-- No Pas dan No Rujukan QR VDS -->
                             <c-row class="g-3 mb-3">
                                <!-- No Pas -->
                                <c-col  xs="12" md="6">
                                    <label cLabel for="noFTF" class="mb-2">No Pas</label>
                                    <input cFormControl id="noFTF" type="text" formControlName="noFTF"
                                        class="form-control" />
                                </c-col>
                                <!-- No Rujukan QR VDS -->
                                <c-col  xs="12" md="6">
                                    <label cLabel for="QrVds" class="mb-2">No Rujukan QR VDS</label>
                                    <input cFormControl id="QrVds" type="text" formControlName="QrVds"
                                        class="form-control" />
                                </c-col>

                            </c-row>

                            <!-- Jenis Pas -->
                            <c-row class="g-3 mb-3">
                                <c-col  xs="12" md="6">
                                    <label cLabel for="indFTF" class="mb-2">Jenis Pas</label>
                                    <input cFormControl id="indFTF" type="text" formControlName="indFTF"
                                        class="form-control" />
                                </c-col>
                                <c-col>
                                    <!-- Empty right column -->
                                </c-col>
                            </c-row>

                            <!-- Tarikh Dikeluarkan dan Tarikh Tamat Pas -->
                            <c-row class="g-3 mb-3">
                                <!-- Tarikh Dikeluarkan -->
                                <c-col  xs="12" md="6">
                                    <label cLabel for="issueDateFTF" class="mb-2">Tarikh Dikeluarkan</label>
                                    <input cFormControl id="issueDateFTF" type="text" formControlName="issueDateFTF"
                                        class="form-control" />
                                </c-col>
                                <!-- Tarikh Tamat Visa -->
                                <c-col  xs="12" md="6">
                                    <label cLabel for="expiryFTF" class="mb-2">Tarikh Tamat Pas</label>
                                    <input cFormControl id="expiryFTF" type="text" formControlName="expiryFTF"
                                        class="form-control" />
                                </c-col>
                            </c-row>

                            <!-- Nama -->
                            <c-row class="g-3 mb-3">
                                <!-- Nama -->
                                <c-col  xs="12" md="12">
                                    <label cLabel for="name" class="mb-2">Nama</label>
                                    <input cFormControl id="name" type="text" formControlName="name"
                                        class="form-control" />
                                </c-col>
                            </c-row>

                            <!-- Tarikh Lahir dan Jantina -->
                            <c-row class="g-3 mb-3">
                                <!-- Tarikh Lahir -->
                                <c-col  xs="12" md="6">
                                    <label cLabel for="dob" class="mb-2">Tarikh Lahir</label>
                                    <input cFormControl id="dob" type="text" formControlName="dob"
                                        class="form-control" />
                                </c-col>
                                <!-- Jantina -->
                                <c-col  xs="12" md="6">
                                    <label cLabel for="gender" class="mb-2">Jantina</label>
                                    <input cFormControl id="gender" type="text" formControlName="gender"
                                        class="form-control" />
                                </c-col>
                            </c-row>
                         
                            <!-- Warganegara -->
                            <c-row class="g-3 mb-3">
                                <c-col  xs="12" md="6">
                                    <label cLabel for="nationality" class="mb-2">Warganegara</label>
                                    <input cFormControl id="nationality" type="text" formControlName="nationality"
                                        class="form-control" />
                                </c-col>
                            </c-row>

                            <!-- No Dokumen -->
                            <c-row class="g-3 mb-3">
                                <c-col  xs="12" md="6">
                                    <label cLabel for="docNo" class="mb-2">No Dokumen</label>
                                    <input cFormControl id="docNo" type="text" formControlName="docNo"
                                        class="form-control" />
                                </c-col>
                                <c-col>
                                    <c-col  xs="12" md="6">
                                    <label cLabel for="kpNo" class="mb-2">No Dokumen</label>
                                    <input cFormControl id="kpNo" type="text" formControlName="kpNo"
                                        class="form-control" />
                                </c-col>
                                </c-col>
                            </c-row>
                        </c-col>
                    </c-row>

                    <c-row>
                        <!-- Bottom Navigation -->
                        <div class="row mt-4">
                            <div class="col-12">
                                <div class="d-flex justify-content-end gap-2 mb-4">
                                    <!-- Reset Button -->
                                    <button class="btn btn-outline-secondary d-flex align-items-center gap-1"
                                        type="reset" (click)="resetForm()">
                                        <i class="bi bi-arrow-clockwise"></i>
                                        Set Semula
                                    </button>

                                    <!-- Save Button -->
                                    <button class="btn btn-submit d-flex align-items-center gap-1 me-4"
                                        (click)="saveForm()" [disabled]="!canSave">
                                        <i class="bi bi-check-circle"></i>
                                        Simpan
                                    </button>

                                    <!-- Navigation Button -->
                                    <c-button-group aria-label="navigation buttons" role="group">
                                        <button cButton variant="outline" color="secondary" (click)="goBack()">
                                            &lt;
                                        </button>
                                        <button cButton variant="outline" color="secondary" (click)="goNext()">
                                            &gt;
                                        </button>
                                    </c-button-group>
                                </div>
                            </div>
                        </div>
                    </c-row>
                </form>
            </c-row>
        </c-card-body>
    </c-card>
</div>