<c-card>
  <h4 class="fw-bold m-3 mt-5">
      MAKLUMAT PEJABAT
  </h4>
  <div class="m-3">
      <app-stepper
      [currentMainStep]="currentMainStep"
      [currentSubStep]="currentSubStep"
      ></app-stepper>
  </div>
    <c-card-body class="p-5">
        <c-row>
            <h6 class="fw-bold mb-5">Maklumat Kontrak Pembersihan</h6>
        </c-row>
        <c-col class="mb-3 d-flex align-items-start flex-column">
          <span class="ms-2 mb-2">{{ selectedFileName || 'Tiada fail dipilih' }}</span>
          <label for="file" class="btn primary-custom-btn">
            Muat Naik
          </label>
          <input
            type="file"
            id="file"
            hidden
            (change)="onFileChange($event)"
          />
        </c-col>
        <hr>
        <br>
        <c-row class="mb-3" [md]="2" [xs]="1">
            <c-col>
                <label for="noDokumen" cLabel>Nombor Dokumen</label>
                <input type="text" id="noDokumen" class="form-control" placeholder="JIM/2024/PB/017"/>
            </c-col>
            <c-col></c-col>
            <c-col>
                <label for="tarikhMulaKontrak" cLabel>Tarikh Mula Kontrak</label>
                <input type="text" id="tarikhMulaKontrak" class="form-control" placeholder="01/03/2025"/>
            </c-col>
            <c-col>
                <label for="tarikhTamatKontrak" cLabel>Tarikh Tamat Kontrak</label>
                <input type="text" id="tarikhTamatKontrak" class="form-control" placeholder="28/02/2027"/>
            </c-col>
            <c-col>
                <label for="tempohKontrak" cLabel>Tempoh (Tahun)</label>
                <input type="text" id="tempohKontrak" class="form-control" placeholder="2"/>
            </c-col>
            <c-col>
                <label for="jumlahKontrak" cLabel>Jumlah Kontrak (RM)</label>
                <input type="text" id="jumlahKontrak" class="form-control" placeholder="RM 250,000"/>
            </c-col>
        </c-row>
        <c-row class="mb-3">
            <label for="jadualHarga" cLabel>Jadual Harga</label>
            <div class="table-responsive-sm">
              <table cTable hover>
                  <thead>
                      <tr>
                          <th>Bil.</th>
                          <th>Perkhidmatan/ Lokasi</th>
                          <th>Kekerapan</th>
                          <th>Harga Bulanan (RM)</th>
                          <th>Jumlah (RM)</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                      </tr>
                  </tbody>
                  <tfoot>
                      <tr colspan="4">Jumlah Keseluruhan</tr>
                      <tr></tr>
                  </tfoot>
              </table>
            </div>
            <button class="btn primary-custom-btn w-auto px-4 ">
                <mat-icon>add</mat-icon>
                Tambah Maklumat
            </button>
        </c-row>
        <br>
        <hr>
        <br>
        <button class="btn primary-custom-btn w-auto px-4 ">
          Daftar Maklumat Majikan
        </button>
        <c-row class="mb-3 mt-2" [md]="1" [xs]="1">
          <div class="table-responsive-sm">
            <table cTable hover>
              <thead>
                <tr>
                  <th>Bil.</th>
                  <th>Nama Syarikat</th>
                  <th>Nombor Pendaftaran Syarikat</th>
                  <th>Nombor Telefon Pejabat</th>
                  <th>Tindakan</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td class="text-nowrap">
                    <button cButton color="secondary" class="me-2">X</button>
                    <button cButton color="secondary">X</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </c-row>
        <button class="btn primary-custom-btn w-auto px-4 ">
          Daftar Maklumat Pekerja
        </button>
        <c-row class="mb-3 mt-2" [md]="1" [xs]="1">
          <div class="table-responsive-md">
            <table cTable hover>
              <thead>
                <tr>
                  <th>Bil.</th>
                  <th>Nama Pekerja</th>
                  <th>No. Dokumen/ ID</th>
                  <th>Warganegara</th>
                  <th>Status Biometrik</th>
                  <th>Tindakan</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td class="text-nowrap">
                    <button cButton color="secondary" class="me-2">X</button>
                    <button cButton color="secondary">X</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </c-row>
    </c-card-body>
    <c-card-footer>
        <c-row>
            <div class="d-flex justify-content-end">
                <button color="primary" class="primary-custom-btn w-auto px-4 me-2" (click)="SimpanRekod()">
                    <c-icon name="cilCheckCircle" class="me-2"></c-icon>
                    Simpan</button>
                <button class="l-custom-btn" (click)="navigatePreviousPage()">&lsaquo;</button>
                <button class="r-custom-btn" (click)="navigateNextPage()">&rsaquo;</button>
            </div>
        </c-row>
    </c-card-footer>
  </c-card>

<!-- ------------------------ BREAKPOINT ------------------------ -->

<c-card>
  <h4 class="fw-bold m-3 mt-5">
    DAFTAR MAKLUMAT MAJIKAN
  </h4>
  <div class="m-3">
      <app-stepper
      [currentMainStep]="currentMainStep"
      [currentSubStep]="currentSubStep"
      ></app-stepper>
  </div>
  <c-card-body class="p-5">
      <c-row>
          <h6 class="fw-bold mb-5">Maklumat Majikan (Organisasi/ Syarikat)</h6>
      </c-row>
      <c-row class="mb-3">
          <c-col>
              <label for="namaOrganisasi" cLabel>Nama Organisasi/ Syarikat</label>
              <input type="text" id="namaOrganisasi" class="form-control" placeholder="Infrasmart Solutions Sdn Bhd"/>
          </c-col>
      </c-row>
      <c-row class="mb-3" [md]="2" [xs]="1">
        <c-col>
            <label for="noPendaftaran" cLabel>Nombor Pendaftaran Organisasi/Syarikat</label>
            <input type="text" id="noPendaftaran" class="form-control" placeholder="9876543-X"/>
        </c-col>
        <c-col>
          <label for="jenisOrganisasi" cLabel class="mt-3">Jenis Organisasi/ Syarikat</label>
          <select id="jenisOrganisasi" class="form-select">
              <option value="">-Sila Pilih-</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
          </select>
        </c-col>
        <c-col>
            <label for="noTelefonPejabat" cLabel class="mt-3">Nombor Telefon Pejabat</label>
            <input type="text" id="noTelefonPejabat" class="form-control" placeholder="03-8319 4567"/>
        </c-col>
        <c-col>
            <label for="emelRasmi" cLabel class="mt-3">Emel Rasmi Organisasi/ Syarikat</label>
            <input type="text" id="emelRasmi" class="form-control" placeholder="info@infrasmart.com.my"/>
        </c-col>
    </c-row>
      <c-row class="mb-3 d-flex flex-column gap-2" [md]="1" [xs]="1">
          <c-col>
              <label for="alamatBerdaftar" cLabel>Alamat Berdaftar</label>
              <input type="text" id="alamatBerdaftar" class="form-control" placeholder="Suite 23, Blok B, Menara inovasi,"/>
          </c-col>
          <c-col>
              <input type="text" id="alamat2" class="form-control" placeholder="Persiaran Teknologi,"/>
          </c-col>
          <c-col>
              <input type="text" id="alamat3" class="form-control" placeholder="63000 Cyberjaya, Selangor, Malaysia"/>
          </c-col>
      </c-row>
      <c-row class="mb-3" [md]="2" [xs]="1">
          <c-col>
              <label for="poskod" cLabel>Poskod</label>
              <input type="text" id="poskod" class="form-control" placeholder="63000"/>
          </c-col>
          <c-col>
              <label for="bandar" cLabel>Bandar</label>
              <input type="text" id="bandar" class="form-control" placeholder="Cyberjaya"/>
          </c-col>
          <c-col>
              <label for="negeri" cLabel class="mt-3">Negeri</label>
              <input type="text" id="negeri" class="form-control" placeholder="Selangor"/>
          </c-col>
          <c-col>
              <label for="negaraBerdaftar" cLabel class="mt-3">Negara Berdaftar</label>
              <input type="text" id="negaraBerdaftar" class="form-control" placeholder="Malaysia"/>
          </c-col>
      </c-row>
  </c-card-body>
  <c-card-footer>
      <c-row>
          <div class="d-flex justify-content-end">
              <button color="primary" class="primary-custom-btn w-auto px-4 me-2" (click)="SimpanRekod()">
                  <c-icon name="cilCheckCircle" class="me-2"></c-icon>
                  Simpan</button>
              <button class="l-custom-btn" (click)="navigatePreviousPage()">&lsaquo;</button>
              <button class="r-custom-btn" (click)="navigateNextPage()">&rsaquo;</button>
          </div>
      </c-row>
  </c-card-footer>
</c-card>

<c-card>
  <h4 class="fw-bold m-3 mt-5">
    DAFTAR MAKLUMAT PEKERJA
  </h4>
  <div class="m-3">
      <app-stepper
      [currentMainStep]="currentMainStep"
      [currentSubStep]="currentSubStep"
      ></app-stepper>
  </div>
    <c-card-body class="p-5">
        <c-row class="d-flex flex-row justify-content-between align-items-center">
            <h6 class="fw-bold mb-5 w-25">Maklumat Pekerja</h6>
            <button class="btn primary-custom-btn w-auto px-4" (click)="navigateToRekodBiometrik()">
              Rekod Biometrik
            </button>
        </c-row>
        <c-row class="mb-3">
            <c-col>
                <label for="namaPekerja" cLabel>Nama</label>
                <input type="text" id="namaPekerja" class="form-control" placeholder="Aiman Hakimi Bin Sazali"/>
            </c-col>
        </c-row>
        <c-row class="mb-3" [md]="2" [xs]="1">
          <c-col>
              <label for="noDokumenPekerja" cLabel>No Dokumen/ ID</label>
              <input type="text" id="noDokumenPekerja" class="form-control" placeholder="670214-14-0507"/>
          </c-col>
          <c-col>
            <label for="tarikhLahirPekerja" cLabel class="mt-3">Tarikh Lahir</label>
            <input type="text" id="tarikhLahirPekerja" class="form-control" placeholder="14/02/1967"/>
          </c-col>
          <c-col>
              <label for="noTelefonPekerja" cLabel class="mt-3">Nombor Telefon</label>
              <input type="text" id="noTelefonPekerja" class="form-control" placeholder="011-64082754"/>
          </c-col>
          <c-col>
              <label for="warganegaraPekerja" cLabel class="mt-3">Warganegara</label>
              <select id="warganegaraPekerja" class="form-select">
                <option value="">-Sila Pilih-</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
              </select>
          </c-col>
      </c-row>
        <c-row class="mb-3 d-flex flex-column gap-2" [md]="1" [xs]="1">
            <c-col>
                <label for="alamatPekerja" cLabel>Alamat</label>
                <input type="text" id="alamatPekerja1" class="form-control" placeholder="No. 18, Jalan Bukit Setia 3, Taman Bukit Setia"/>
            </c-col>
            <c-col>
                <input type="text" id="alamatPekerja2" class="form-control" placeholder="Wilayah Persekutuan"/>
            </c-col>
            <c-col>
                <input type="text" id="alamatPekerja3" class="form-control" placeholder="Kuala Lumpur"/>
            </c-col>
        </c-row>
        <c-row class="mb-3" [md]="2" [xs]="1">
            <c-col>
                <label for="poskodPekerja" cLabel>Poskod</label>
                <input type="text" id="poskodPekerja" class="form-control" placeholder="50490"/>
            </c-col>
            <c-col>
                <label for="bandarPekerja" cLabel>Bandar</label>
                <input type="text" id="bandarPekerja" class="form-control" placeholder="Kuala Lumpur"/>
            </c-col>
            <c-col>
                <label for="negeriPekerja" cLabel class="mt-3">Negeri</label>
                <input type="text" id="negeriPekerja" class="form-control" placeholder="Wilayah Persekutuan"/>
            </c-col>
        </c-row>
    </c-card-body>
    <c-card-footer>
        <c-row>
            <div class="d-flex justify-content-end">
                <button color="primary" class="primary-custom-btn w-auto px-4 me-2" (click)="SimpanRekod()">
                    <c-icon name="cilCheckCircle" class="me-2"></c-icon>
                    Simpan</button>
                <button class="l-custom-btn" (click)="navigatePreviousPage()">&lsaquo;</button>
                <button class="r-custom-btn" (click)="navigateNextPage()">&rsaquo;</button>
            </div>
        </c-row>
    </c-card-footer>
  </c-card>

<app-modal-component
  [visible]="simpanRekodModal"
  title=""
  message="Rekod Telah Berjaya Disimpan"
  mode="ok" 
  icon="tick"
  (close)="closeSimpanRekodModal()"
></app-modal-component>

<app-modal-component
  [visible]="tidakDapatMuatNaikVisible"
  title=""
  message="Dokumen tidak dapat dimuat naik. Sila cuba lain"
  mode="ok" 
  icon="danger"
  (close)="tidakDapatMuatNaikModalconfirm()"
></app-modal-component>

<app-modal-component
  [visible]="bacaanOCRTidakBerjayaVisible"
  title=""
  message="Bacaan OCR tidak berjaya."
  mode="ok" 
  icon="danger"
  (close)="bacaanOCRTidakBerjayaModalconfirm()"
></app-modal-component>