<div class="container-fluid">
    <div class="card">
        <div class="ms-4 me-4">
            <div class="mt-2 mb-2">
                <h3 class="mb-2 mt-4"><b>Anak Kapal (dan Supernumerary)</b></h3>
            </div>
            <div class="mt-4">
                <!-- Left Side: Step Info -->
                <reusable-tab [currentStep]="currentStep" [steps]="steps"></reusable-tab>
                <div class="col-md-6 mb-4">
                  <p class="mb-0">Maklumat Anak Kapal - (IMO FAL <i>Form</i> 5)</p>
                </div>

                <!-- Main Content Area -->
                <div class="row flex-column flex-lg-row">
                    <div class="col-md-2 mb-3 mb-md-0">
                        <div class="d-flex flex-column align-items-center">
                            <img src="assets/images/avatars/9.jpg" alt="Profile Image" class="img-fluid rounded-2"
                style="width: 150px; height: 150px; object-fit: cover;">

                        </div>
                    </div>
                    <div class="col-10">

                        <div class="row ps-3">
                            <div class="col-md-12">
                                <div class="mb-3">
                                    <label class="form-label">Nama Anak Kapal</label>
                                    <input type="text" class="form-control" [(ngModel)]="formData.NamaAnakKapal" name="NamaAnakKapal"
                                    >
                                </div>              
                            </div>
                        </div>

                        <div class="row ps-3">
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label class="form-label">Jawatan</label>
                                    <input type="text" class="form-control" [(ngModel)]="formData.Jawatan" name="Jawatan"
                                    >
                                </div>              
                            </div>     
                        </div>

                        <div class="row ps-3">
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label class="form-label">No. Pasport</label>
                                    <input type="text" class="form-control" [(ngModel)]="formData.NoPasport" name="NoPasport"
                                    >
                                </div>              
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label class="form-label">Tarikh Tamat</label>
                                    <input type="date" class="form-control" [(ngModel)]="formData.TarikhTamat" name="TarikhTamat"
                                    >
                                </div>              
                            </div>
                        </div>

                        <div class="row ps-3">
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label class="form-label">Buku Pelaut <i>(Seaman Book)</i></label>
                                    <input type="text" class="form-control" [(ngModel)]="formData.NoPasport" name="NoPasport"
                                    >
                                </div>              
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label class="form-label">Tarikh Tamat</label>
                                    <input type="date" class="form-control" [(ngModel)]="formData.TarikhTamatPelaut" name="TarikhTamatPelaut"
                                    >
                                </div>              
                            </div>
                        </div>

                        <div class="row ps-3">
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label class="form-label">Warganegara</label>
                                    <input type="text" class="form-control" [(ngModel)]="formData.Warganegara" name="Warganegara"
                                    >
                                </div>              
                            </div>
                        </div>

                        <div class="row ps-3">
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label class="form-label">Tarikh Lahir</label>
                                    <input type="date" class="form-control" [(ngModel)]="formData.TarikhLahir" name="TarikhLahir"
                                    >
                                </div>              
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label class="form-label">Tempat Lahir</label>
                                    <input type="text" class="form-control" [(ngModel)]="formData.TempatLahir" name="TempatLahir"
                                    >
                                </div>              
                            </div>
                        </div>

                        <div class="row ps-3">
                        <label class="form-label">Melengkapkan e-IMM.26</label>
                        <div class="d-flex gap-3">
                          <div class="form-check form-check-inline">
                            <input 
                              class="form-check-input" 
                              type="radio" 
                              id="Org_ada" 
                              [(ngModel)]="formData.IMM26" 
                              name="IMM26" 
                              value="Ya"
                              
                            />
                            <label class="form-check-label" for="Org_ada">Ya</label>
                          </div>
                          <div class="form-check form-check-inline">
                            <input 
                              class="form-check-input" 
                              type="radio" 
                              id="Org_tiada" 
                              [(ngModel)]="formData.IMM26" 
                              name="IMM26" 
                              value="Tidak"
                              
                            />
                            <label class="form-check-label" for="Org_tiada">Tidak</label>
                          </div>
                        </div>
                        </div>
                        <br>

                        <div class="row ps-3">
                        <!-- Sign On (Left) -->
                        <div class="col-md-6">
                          <label class="form-label">Sign On</label>
                          <div class="d-flex gap-3">
                            <div class="form-check form-check-inline">
                              <input class="form-check-input" type="radio" id="Org_ada" [(ngModel)]="formData.SignOn" name="SignOn" value="Ada" />
                              <label class="form-check-label" for="Org_ada">Ya</label>
                            </div>
                            <div class="form-check form-check-inline">
                              <input class="form-check-input" type="radio" id="Org_tiada" [(ngModel)]="formData.SignOn" name="SignOn" value="Tiada" />
                              <label class="form-check-label" for="Org_tiada">Tidak</label>
                            </div>
                          </div>
                        </div>

                        <!-- Sign Off (Right) -->
                        <div class="col-md-6">
                          <label class="form-label">Sign Off</label>
                          <div class="d-flex gap-3">
                            <div class="form-check form-check-inline">
                              <input class="form-check-input" type="radio" id="Org_ada_off" [(ngModel)]="formData.SignOff" name="SignOff" value="Ada" />
                              <label class="form-check-label" for="Org_ada_off">Ada</label>
                            </div>
                            <div class="form-check form-check-inline">
                              <input class="form-check-input" type="radio" id="Org_tiada_off" [(ngModel)]="formData.SignOff" name="SignOff" value="Tiada" />
                              <label class="form-check-label" for="Org_tiada_off">Tiada</label>
                            </div>
                          </div>
                        </div>
                      </div>
                      <br>

                      <div class="row ps-3">
                        <div class="col-md-6">
                          <div class="mb-3">
                            <label class="form-label">Status Anak Kapal</label>
                            <select
                              class="form-select"
                              id="StatusPenumpang"
                              [(ngModel)]="formData.StatusPenumpang"
                              name="StatusPenumpang"
                              
                            >
                              <option value="" disabled selected>-Sila Pilih-</option>
                              <option value="Aktif">Aktif</option>
                              <option value="Sakit">Sakit</option>
                              <option value="Mati">Mati</option>
                              <option value="Mati">Lawatan Pelabuhan</option>
                              <option value="Mati">Ketinggalan Kapal</option>
                              <option value="Mati">Memo Periksa Telah Dikeluarkan</option>
                              <option value="Mati">Batal</option>
                              <option value="Mati">Kematian Anak Kapal</option>
                            </select>
                          </div>
                        </div>            
                      </div>

                      <div class="row ps-3">
                        <div class="col-md-6">
                          <div class="mb-3">
                            <label class="form-label">Status Pemeriksaan</label>
                            <select
                              class="form-select"
                              id="StatusPemeriksaan"
                              [(ngModel)]="formData.StatusPemeriksaan"
                              name="StatusPemeriksaan"
                              
                            >
                              <option value="" disabled selected>-Sila Pilih-</option>
                              <option value="Belum">Belum</option>
                              <option value="Semak">Semak</option>
                              <option value="NTL">NTL</option>
                            </select>
                          </div>
                        </div>

                    </div>
                        

                        <div class="row ps-3">
                            <div class="col-md-12">
                                <div class="mb-3">
                                    <label class="form-label">Nama Anak Kapal</label>
                                    <input type="text" class="form-control" [(ngModel)]="formData.NamaAnakKapal" name="NamaAnakKapal"
                                    >
                                </div>              
                            </div>
                        
                        </div>

                        <div class="row ps-3">
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label class="form-label">Jawatan</label>
                                    <input type="text" class="form-control" [(ngModel)]="formData.Jawatan" name="Jawatan"
                                    >
                                </div>              
                            </div>       
                        </div>

                        <div class="row ps-3">
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label class="form-label">No. Pasport</label>
                                    <input type="text" class="form-control" [(ngModel)]="formData.NoPasport" name="NoPasport"
                                    >
                                </div>              
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label class="form-label">Tarikh Tamat</label>
                                    <input type="date" class="form-control" [(ngModel)]="formData.TarikhTamat" name="TarikhTamat"
                                    >
                                </div>              
                            </div>
                        </div>

                        <div class="row ps-3">
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label class="form-label">Warganegara</label>
                                    <input type="text" class="form-control" [(ngModel)]="formData.Warganegara" name="Warganegara"
                                    >
                                </div>              
                            </div>
                        </div>

                        <div class="row ps-3">
                        <label class="form-label">Melengkapkan e-IMM.26</label>
                        <div class="d-flex gap-3">
                          <div class="form-check form-check-inline">
                            <input 
                              class="form-check-input" 
                              type="radio" 
                              id="IMM262nd_ada" 
                              [(ngModel)]="formData.IMM262nd" 
                              name="IMM262nd" 
                              value="Ya"
                              
                            />
                            <label class="form-check-label" for="IMM262nd_ada">Ya</label>
                          </div>
                          <div class="form-check form-check-inline">
                            <input 
                              class="form-check-input" 
                              type="radio" 
                              id="IMM262nd_tidak" 
                              [(ngModel)]="formData.IMM262nd" 
                              name="IMM262nd" 
                              value="Tidak"
                              
                            />
                            <label class="form-check-label" for="IMM262nd_tidak">Tidak</label>
                          </div>
                        </div>
                        </div>
                        <br>

                      <div class="row ps-3">
                        <div class="col-md-6">
                          <div class="mb-3">
                            <label class="form-label">Status Supernumerary</label>
                            <select
                              class="form-select"
                              id="StatusSupernumerary"
                              [(ngModel)]="formData.StatusSupernumerary"
                              name="StatusSupernumerary"
                              
                            >
                              <option value="" disabled selected>-Sila Pilih-</option>
                              <option value="Belum">Belum</option>
                              <option value="Semak">Semak</option>
                              <option value="NTL">NTL</option>
                            </select>
                          </div>
                        </div>

                    </div>
                </div>

            <!-- Bottom Navigation -->
            <div class="row mt-4">
                <div class="col-12">
                    <div class="d-flex justify-content-end gap-2 mb-4">
                      <!-- <button class="btn btn-outline-secondary d-flex align-items-center gap-1">
                          Hantar
                        </button>
                        
                        <button class="btn btn-outline-secondary d-flex align-items-center gap-1" type="reset" (click)="resetForm()">
                          <i class="bi bi-arrow-clockwise"></i>
                          Set Semula
                        </button> -->

                        <!-- Save Button -->
                        <button 
                          class="btn btn-submit d-flex align-items-center gap-1" 
                          
                          (click)="saveForm()">
                          <i class="bi bi-check-circle"></i>
                          Simpan
                        </button>
                        <button class="btn btn-all" (click)="goToPrevious()">
                            &lt;
                        </button>
                        <button class="btn btn-all" (click)="goToNext()">
                            &gt;
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet">

