<!-- <p>modal-notifikasi-standard works!</p> -->

<!-- Modal -->
<c-modal #standardModal [visible]="visible" alignment="center" backdrop="static">
    <c-modal-header class="justify-content-center border-0">
        <h6 cModalTitle class="text-center">
            <div class="d-flex flex-column align-items-center">
                <div style="width: 100px; height: 90px; border: 1px solid #999; margin: 20px 0;"></div>
                <div [innerHTML]="modalTitle"></div>
            </div>
        </h6>
    </c-modal-header>
</c-modal>