<head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<c-container fluid>
  <div class="form search-input-group">
    <div class="form-section h-100">
      <h2 class="section-title">Maklumat Carian</h2>
       <form (ngSubmit)="onSearch()" #searchForm="ngForm" class="form-group5">
            <div class="container">

                <!-- Row 1: Nama Vaksin with Button-->
                <div class="row align-items-center mb-3">
                    <div class="col-2 text-start">
                        <label for="namaVaksin" class="col-form-label">Nama Vaksin</label>
                    </div>
                    <div class="col-6 d-flex">
                        <input 
                        type="text" 
                        class="form-control" 
                        id="namaVaksin" 
                        name="namaVaksin" 
                        [(ngModel)]="filters.namaVaksin">
                    </div>
                    <!-- <div class="col-auto">
                        <button type="submit" class="blue-btn"><i class="fa fa-search"></i> Cari</button>
                    </div> -->
                </div>

                <!-- Row 2: Tahun -->
                <div class="row align-items-center mb-3">
                    <div class="col-2 text-start">
                        <label for="tahunVaksin" class="col-form-label">Tahun</label>
                    </div>
                    <div class="col-6 d-flex">
                        <input 
                        type="text" 
                        class="form-control " 
                        id="tahunVaksin" 
                        name="tahunVaksin" 
                        [(ngModel)]="filters.tahunVaksin">
                    </div>

                    <!-- button Cari -->
                    <div class="col-auto">
                        <button type="submit" class="blue-btn"><i class="fa fa-search"></i> Cari</button>
                    </div>  
                </div>
            </div>
        </form>
    </div>

    <!--Only show after search -->
    <div class="results-section" *ngIf="hasSearched && searchResults.length > 0">
        <h3 class="results-title">Maklumat Vaksin</h3>
        <div class="table-container">
            <table class="table">
                <!-- <table class="table"> -->
                <thead>
                    <tr>
                        <th class="col-bil">Bil</th>
                        <th class="col-year">Tahun</th>
                        <th class="col-name">Nama Vaksin</th>
                        <th class="col-company">Syarikat Pengeluar</th>
                        <th class="col-date">Tarikh Luput</th>
                        <th class="col-price">Harga Perunit(RM)</th>
                        <!-- <th class="col-action"></th> -->
                    </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let vaksin of searchResults; let i = index">
                        <td class="text-left">{{ i + 1 }}</td> 
                        <td>{{ vaksin.vaccYear }}</td>
                         <!-- Go to Kemaskini Vaksin  -->
                        <td>
                        <a (click)="goToUpdate(vaksin.vaccName)" class="text-primary"> {{ vaksin.vaccName }}
                        </a>
                        </td>
                        <td>{{ vaksin.compName }}</td>
                        <td>{{ vaksin.expYear }}</td>
                        <td>{{ formatPrice(vaksin.alloPrice) }}</td>
                        <!-- <td class="col-action" style="visibility: hidden;"></td>  -->
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!-- Modal for No Data Found -->
  <c-modal 
    [visible]="isModalVisible" 
    (visibleChange)="isModalVisible = $event"
    id="noDataModal"
    size="lg"
    centered="true"
    [backdrop]="true">
    
    <c-modal-header class="modal-header-custom">
        <div class="error-icon">
            <i class="fa fa-exclamation"></i>
        </div>
    </c-modal-header>
    
    <c-modal-body class="modal-body-custom">
        <p class="modal-message">
            Maklumat carian tidak wujud. Sila masukkan kunci<br>
            carian lain.
        </p>
    </c-modal-body>
    
    <c-modal-footer class="modal-footer-custom">
        <div class="modal-button-container">
            <!-- <button 
                type="button" 
                class="modal-ok-button"
                (click)="onModalOk()">
                OK
            </button> -->
            <!-- OK Button -->
            <button type="button" class="modal-ok-button" (click)="onSuccessModalOk()">
                  OK
            </button>
        </div>
    </c-modal-footer>
  </c-modal>
  
  </div>
</c-container>
