<c-card>
  <c-card-body>
    <c-row class="my-4">
      <h4 class="fw-bold">JANA NOMBOR PERKHIDMATAN</h4>
    </c-row>

    <app-stepper
      [currentMainStep]="currentMainStep"
      [currentSubStep]="currentSubStep"
    ></app-stepper>

    <c-row>
      <c-row class="mt-3 mb-3">
        <h6>Maklumat Pendaftaran Kakitangan</h6>
      </c-row>
      <c-row>
        <c-col xs="12" md="12" class="mb-3">
          <label>Nama</label>
          <input
            class="form-control"
            [(ngModel)]="maklumatKakitangan.nama"
            [readonly]="readonlyField"
            [ngClass]="{ 'bg-light text-muted': readonlyField }"
          />
        </c-col>
      </c-row>
      <c-row>
        <c-col xs="12" md="6" class="mb-3">
          <label>No. Dokumen /ID</label>
          <input
            class="form-control"
            [(ngModel)]="maklumatKakitangan.noDokumenID"
            [readonly]="readonlyField"
            [ngClass]="{ 'bg-light text-muted': readonlyField }"
          />
        </c-col>
        <c-col xs="12" md="6" class="mb-3">
          <label>Jawatan</label>
          <input
            class="form-control"
            [(ngModel)]="maklumatKakitangan.jawatan"
            [readonly]="readonlyField"
            [ngClass]="{ 'bg-light text-muted': readonlyField }"
          />
        </c-col>
      </c-row>
      <c-row>
        <c-col xs="12" md="6" class="mb-3">
          <label>Gred</label>
          <input
            class="form-control"
            [(ngModel)]="maklumatKakitangan.gred"
            [readonly]="readonlyField"
            [ngClass]="{ 'bg-light text-muted': readonlyField }"
          />
        </c-col>
      </c-row>
      <c-row class="mt-5 mb-3">
        <h6>Maklumat Nombor Perkhidmatan</h6>
      </c-row>
      <c-row>
        <c-col xs="12" md="6" class="mb-3">
          <label>Nombor Terakhir Sistem</label>
          <input
            class="form-control"
            [(ngModel)]="maklumatPerkhidmatan.nomborTerakhir"
            [readonly]="readonlyField"
            [ngClass]="{ 'bg-light text-muted': readonlyField }"
          />
        </c-col>
        <c-col xs="12" md="6" class="mb-3">
          <label>Nombor Perkhidmatan Baharu</label>
          <input
            class="form-control"
            [(ngModel)]="maklumatPerkhidmatan.nomborBaharu"
            [readonly]="readonlyField"
            [ngClass]="{ 'bg-light text-muted': readonlyField }"
          />
        </c-col>
      </c-row>

      <c-row>
        <c-col xs="12" md="12" class="mb-3">
          <label>Status</label>
          <textarea
            class="form-control"
            style="height: 100px"
            [(ngModel)]="maklumatPerkhidmatan.status"
            [readonly]="readonlyField"
            [ngClass]="{ 'bg-light text-muted': readonlyField }"
          ></textarea>
        </c-col>
      </c-row>
    </c-row>

    <c-row style="border-top: 1px solid rgba(0, 0, 0, 0.1)" class="pt-4">
      <c-col class="d-flex justify-content-end">
        <button
          type="button"
          class="btn-custom-normalBlue fw-semibold btn btn-primary"
        >
          Selesai
        </button>
      </c-col>
    </c-row>
  </c-card-body>
</c-card>
