 <div class="custom-content-wrapper"> 
  <c-card>
    <c-card-body>
      <c-row class="my-2">
        <h4 class="fw-bold">MAKLUMAT CUTI</h4>
      </c-row>

      <c-row class="my-2">
        <c-col>
          <ng-container *ngFor="let section of mainSteps">
            <button
              type="button"
              class="btn-custom-breadcrumbADM btn btn-light d-inline-flex gap-2 fw-semibold"
              [ngClass]="{
                'btn-custom-breadcrumbADM-active':
                  section.mainStep === currentMainStep
              }"
            >
              <span
                class="btn-custom-breadcrumbNoADM"
                [ngClass]="{
                  'btn-custom-breadcrumbNoADM-active':
                    section.mainStep === currentMainStep
                }"
                >{{ section.mainStep }}</span
              >
              <span class="btn-custom-breadcrumbLabelADM">{{
                section.mainLabel
              }}</span>
            </button>
          </ng-container>
        </c-col>
      </c-row>

      <c-row class="my-2 mb-5">
        <c-col class="d-flex flex-nowrap overflow-auto align-items-stretch">
          <ng-container *ngFor="let section of subSteps">
            <button
              type="button"
              class="btn-custom-breadcrumbADM btn btn-light fw-bold d-inline-flex gap-2 flex-shrink-0"
              #subButton
              [ngClass]="{
                'btn-custom-breadcrumbADM-active':
                  section.mainStep === currentMainStep &&
                  section.subStep === currentSubStep
              }"
              (click)="onSubStepClick(section)"
            >
              <span
                class="btn-custom-breadcrumbNoADM"
                [ngClass]="{
                  'btn-custom-breadcrumbNoADM-active':
                    section.mainStep === currentMainStep &&
                    section.subStep === currentSubStep
                }"
                >{{ section.subStep }}</span
              >
              <span class="btn-custom-breadcrumbLabelADM">{{
                section.subLabel
              }}</span>
            </button>
          </ng-container>
        </c-col>
      </c-row>

      <c-row class="mb-4">
        <c-col xs="12" md="12" class="order-2 order-md-1">
          <c-row class="mb-2">
            <h5 class="fw-semibold">Maklumat Cuti Semasa</h5>
          </c-row>

          <c-row class="align-items-end flex-md-nowrap">
            <table class="table align-middle custom-table">
              <colgroup>
                <col style="width: 110px;" />  <!-- Kelayakan Cuti Tahun Semasa -->
                <col style="width: 110px;" />  <!-- Kelayakan Cuti Tahun Semasa -->
                <col style="width: 110px;" />  <!-- Baki Cuti Dibawa Ke Hadapan-->
                <col style="width: 100px;" />  <!-- Jumlah Cuti Semasa -->
                <col style="width: 110px;" />  <!-- Jumlah Cuti Diambil Semasa -->
                <col style="width: 110px;" />  <!-- Jumlah Cuti Diambil Semasa -->
              </colgroup>
              <thead>
                <tr class="align-middle">
                  <th class="py-3">Jenis Cuti</th>
                  <th class="py-3">Kelayakan Cuti Tahun Semasa</th>
                  <th class="py-3">Baki Cuti Dibawa Ke Hadapan</th>
                  <th class="py-3">Jumlah Cuti Semasa</th>
                  <th class="py-3">Jumlah Cuti Diambil Semasa</th>
                  <th class="py-3">Baki Cuti</th>
                </tr>
              </thead>
              <tbody>
                <tr
                    *ngFor="let item of tableData; let i = index"
                    class="align-middle"
                >
                  <td class="py-4">{{ item.jenisCuti }}</td>
                  <td class="py-4">{{ item.kelayakanCutiSemasa }}</td>
                  <td class="py-4">{{ item.bakiCutiCryfwd }}</td>
                  <td class="py-4">{{ item.totalCuti }}</td>
                  <td class="py-4">{{ item.bilHari }}</td>
                  <td class="py-4">{{ item.bakiCuti }}</td>                       
                </tr>
              </tbody>
            </table> 
          </c-row>
        </c-col>
      </c-row>

      <c-row style="border-top: 1px solid rgba(0, 0, 0, 0.1)">
        <c-col class="d-flex gap-5 flex-shrink-0 justify-content-end py-3">

          <div class="d-flex">
            <button
              type="button"
              class="btn-custom-normalWhite fw-semibold btn btn-light"
              disabled
            >
              &lt;
            </button>
            <button
              type="button"
              class="btn-custom-normalWhite fw-semibold btn btn-light"
              (click)="next()"
            >
              &gt;
            </button>
          </div>

        </c-col>
      </c-row>
    </c-card-body>
  </c-card>
</div> 