<c-card class="mb-3">
    <c-card-body>
        <c-row>
            <h5 class="mb-4 custom-header">
                Maklumat SSM
            </h5>
        </c-row>
        <c-row>
            <!-- Horizontal Stepper -->
            <div class="horizontal-stepper">
                <ul class="stepper-list d-flex align-items-center justify-content-start flex-wrap">
                    <li class="stepper-item" *ngFor="let step of steps" [class.active]="isStepActive(step.number)">
                        <button type="button" class="step-btn" (click)="navigateTo(step)">
                            <span class="step-number">{{ step.number }}</span>
                            <span class="step-title">{{ step.title }}</span>
                        </button>
                    </li>
                </ul>
            </div>
        </c-row>
        <c-col class="md-12">


            <c-row class="mb-3">
                <c-col class="col-md-4">
                    <label class="form-label custom-form-label">No. Pendaftaran Syarikat</label>
                    <input type="text" class="form-control" disabled>
                </c-col>

                <c-col class="col-md-6">
                    <label class="form-label custom-form-label">Nama Syarikat</label>
                    <input type="text" class="form-control" disabled>
                </c-col>
            </c-row>

            <!-- Title -->
            <div class="custom-header-row">
                <p class="custom-section-label mb-0">Senarai Pengarah</p>
            </div>

            <!-- Table -->
            <div class="table-responsive custom-table-container" style="margin-top: 20px; margin-bottom: 10px;">
                <table class="custom-table">
                    <thead>
                        <tr>
                            <th style="width: 10%;">Bil.</th>
                            <th style="width: 30%;">No. Pengenalan</th>
                            <th style="width: 70%;">Nama
                            </th>

                        </tr>
                        <tr>
                            <td>1</td>
                            <td></td>
                            <td></td>
                        </tr>
                    </thead>
                </table>
            </div>

            <!-- Title -->
            <div class="custom-header-row">
                <p class="custom-section-label mb-0">Senarai Pemegang Saham</p>
            </div>

            <!-- Table -->
            <div class="table-responsive custom-table-container" style="margin-top: 20px; margin-bottom: 10px;">
                <table class="custom-table">
                    <thead>
                        <tr>
                            <th style="width: 10%;">Bil.</th>
                            <th style="width: 30%;">No. Pengenalan</th>
                            <th style="width: 70%;">Nama
                            </th>

                        </tr>
                        <tr>
                            <td>1</td>
                            <td></td>
                            <td></td>
                        </tr>
                    </thead>
                </table>
            </div>

            <!-- Title -->
            <div class="custom-header-row">
                <p class="custom-section-label mb-0">Alamat Syarikat</p>
            </div>

            <!-- Table -->
            <div class="table-responsive custom-table-container" style="margin-top: 20px; margin-bottom: 10px;">
                <table class="custom-table">
                    <thead>
                        <tr>
                            <th style="width: 10%;">Bil.</th>
                            <th style="width: 30%;">Jenis Alamat</th>
                            <th style="width: 70%;">Alamat
                            </th>

                        </tr>
                        <tr>
                            <td>1</td>
                            <td></td>
                            <td></td>
                        </tr>
                    </thead>
                </table>
            </div>

            <c-row class="mb-3">
                <c-col class="col-md-4">
                    <label class="form-label custom-form-label">Maklumat Gadaian</label>
                    <input type="text" class="form-control" disabled>
                </c-col>

                <c-col class="col-md-4">
                    <label class="form-label custom-form-label">Profit Loss</label>
                    <input type="text" class="form-control" disabled>
                </c-col>

                <c-col class="col-md-4">
                    <label class="form-label custom-form-label">Balance Sheet</label>
                    <input type="text" class="form-control" disabled>
                </c-col>
            </c-row>

            <c-row class="mb-3">
                <c-col class="col-md-4">
                    <label class="form-label custom-form-label">Income Statement</label>
                    <input type="text" class="form-control" disabled>
                </c-col>

                <c-col class="col-md-4">
                    <label class="form-label custom-form-label">Status Syarikat</label>
                    <input type="text" class="form-control" disabled>
                </c-col>
            </c-row>

        </c-col>
        <div class="action-footer">
            <div class="nav-buttons">

                <!-- Prev Button -->
                <button type="button" class="nav-btn prev-btn" (click)="goBack()">
                    <svg cIcon name="cil-chevron-circle-left-alt"></svg>
                </button>

                <!-- Next Button -->
                <button type="button" class="nav-btn next-btn" disabled>
                    <svg cIcon name="cil-chevron-circle-right-alt"></svg>
                </button>
            </div>
        </div>

    </c-card-body>
</c-card>