<c-card>
  <c-card-body>
    <c-row class="my-2">
      <h4 class="fw-bold">KEMAS KINI MAKLUMAT PROFIL KAT</h4>
    </c-row>

    <app-stepper
      [currentMainStep]="currentMainStep"
      [currentSubStep]="currentSubStep"
    ></app-stepper>

    <c-row class="my-5">
      <c-row class="mb-3">
        <c-col xs="12" md="6">
          <h5>Maklumat Harta</h5>
        </c-col>
        <c-col xs="12" md="6" class="d-flex justify-content-end">
          <button type="button" class="btn btn-primary">Kemas Kini</button>
        </c-col>
      </c-row>
      <c-container class="overflow-x-auto">
        <c-row class="align-items-end flex-md-nowrap">
          <c-col xs="12" md="4">
            <label>Jenis Harta</label>
            <input
              class="form-control mb-3"
              *ngFor="let item of maklumatHarta1.jenisHarta; let i = index"
              [(ngModel)]="maklumatHarta1.jenisHarta[i]"
              [readonly]="readonlyField"
              [ngClass]="{ 'bg-light text-muted': readonlyField }"
            />
          </c-col>
          <c-col xs="12" md="6">
            <label>Keterangan Harta</label>
            <input
              class="form-control mb-3"
              *ngFor="let item of maklumatHarta1.keteranganHarta; let i = index"
              [(ngModel)]="maklumatHarta1.keteranganHarta[i]"
              [readonly]="readonlyField"
              [ngClass]="{ 'bg-light text-muted': readonlyField }"
            />
          </c-col>
          <c-col xs="12" md="4">
            <label>Tarikh Diisytiharkan</label>
            <input
              class="form-control mb-3"
              type="date"
              *ngFor="
                let item of maklumatHarta1.tarikhDiisytiharkan;
                let i = index
              "
              [(ngModel)]="maklumatHarta1.tarikhDiisytiharkan[i]"
              [readonly]="readonlyField"
              [ngClass]="{ 'bg-light text-muted': readonlyField }"
            />
          </c-col>
          <c-col xs="12" md="4">
            <label>Sumber Perolehan Harta</label>
            <input
              class="form-control mb-3"
              *ngFor="let item of maklumatHarta1.sumberPerolehan; let i = index"
              [(ngModel)]="maklumatHarta1.sumberPerolehan[i]"
              [readonly]="readonlyField"
              [ngClass]="{ 'bg-light text-muted': readonlyField }"
            />
          </c-col>
          <c-col xs="12" md="4">
            <label>Nilai Harta</label>
            <input
              class="form-control mb-3"
              *ngFor="let item of maklumatHarta1.nilaiHarta; let i = index"
              [(ngModel)]="maklumatHarta1.nilaiHarta[i]"
              [readonly]="readonlyField"
              [ngClass]="{ 'bg-light text-muted': readonlyField }"
            />
          </c-col>
          <c-col xs="12" md="4">
            <label>Anggaran Nilai Semasa Harta</label>
            <input
              class="form-control mb-3"
              *ngFor="
                let item of maklumatHarta1.anggaranNilaiSemasa;
                let i = index
              "
              [(ngModel)]="maklumatHarta1.anggaranNilaiSemasa[i]"
              [readonly]="readonlyField"
              [ngClass]="{ 'bg-light text-muted': readonlyField }"
            />
          </c-col>
          <c-col xs="12" md="6">
            <label>Alamat Harta</label>
            <input
              class="form-control mb-3"
              *ngFor="let item of maklumatHarta1.alamatHarta; let i = index"
              [(ngModel)]="maklumatHarta1.alamatHarta[i]"
              [readonly]="readonlyField"
              [ngClass]="{ 'bg-light text-muted': readonlyField }"
            />
          </c-col>
          <c-col xs="12" md="6">
            <label>Catatan</label>
            <input
              class="form-control mb-3"
              *ngFor="let item of maklumatHarta1.catatan; let i = index"
              [(ngModel)]="maklumatHarta1.catatan[i]"
              [readonly]="readonlyField"
              [ngClass]="{ 'bg-light text-muted': readonlyField }"
            />
          </c-col>
        </c-row>
      </c-container>
      <c-row>
        <c-col xs="12" md="4">
          <button
            type="button"
            class="btn btn-primary"
            (click)="addMaklumatHarta()"
            [disabled]="readonlyField"
          >
            + Tambah Maklumat
          </button>
        </c-col>
      </c-row>
    </c-row>

    <c-row>
      <c-row style="border-top: 1px solid rgba(0, 0, 0, 0.1)">
        <c-col class="d-flex gap-5 flex-shrink-0 justify-content-end py-3">
          <div class="d-flex gap-2">
            <button
              type="button"
              class="btn-custom-normalBlue fw-semibold btn btn-primary"
              (click)="navigateClosePage()"
            >
              Tutup
            </button>
          </div>

          <div class="d-flex">
            <button
              type="button"
              class="btn-custom-normalWhite fw-semibold btn btn-light"
              (click)="navigatePreviousPage()"
            >
              &lt;
            </button>
            <button
              type="button"
              class="btn-custom-normalWhite fw-semibold btn btn-light"
              (click)="navigateNextPage()"
            >
              &gt;
            </button>
          </div>
        </c-col>
      </c-row>
    </c-row>
  </c-card-body>
</c-card>
