c-card {
  padding: 20px;
}

.btn-custom-normalWhite {
  border: 1px solid #cad5e2;
  background-color: #ffffff;
  font-size: 14px;
}

.btn-custom-normalBlue {
  border: 1px solid #cad5e2;
  font-size: 14px;
  padding: 10px 16px;
}

//table css
th {
  color: #62748e;
  font-weight: normal;
}

td {
  color: #1d293d;
}