<c-card>
  <c-card-header class="bg-primary text-white">
    PERMOHONAN GANTIAN KAD KUASA
  </c-card-header>

  <c-card-body style="height: 100vh;">
    <c-row>
      <c-col xs="12" md="9" class="order-2 order-md-1">
        <c-row class="mb-3">
          <h6>Pengesahan Kad Kuasa</h6>
        </c-row>
        <c-row>
          <label>Sebab Memohon Gantian</label>
          <c-col xs="12" md="10" class="mb-3">
            <select id="" class="form-select">
            <option value=""></option>
            </select>
          </c-col>
        </c-row>
        <c-row>
          <c-col xs="12" md="10" class="mb-3">
            <label>Sebab Kehilangan</label>
            <textarea
              class="form-control"
              [readonly]="readonlyField"
              [ngClass]="{ 'bg-light text-muted': readonlyField }"
            ></textarea>
          </c-col>
        </c-row>

        <c-row>
          <c-col xs="12" md="5" class="mb-3">
            <label>Bilangan Kehilangan</label>
            <input
            class="form-control"
            [readonly]="readonlyField"
            [ngClass]="{ 'bg-light text-muted': readonlyField }"
            />
          </c-col>
        </c-row>

        <c-row>
          <c-col xs="12" md="5" class="mb-3">
            <label>Nombor Laporan Polis</label>
            <input
              class="form-control"
              [readonly]="readonlyField"
              [ngClass]="{ 'bg-light text-muted': readonlyField }"
            />
          </c-col>
          <c-col xs="12" md="5" class="mb-3">
            <label>Nombor Rujukan Fail/ Surat</label>
            <input
              class="form-control"
              [readonly]="readonlyField"
              [ngClass]="{ 'bg-light text-muted': readonlyField }"
            />
          </c-col>
        </c-row>
        <c-row>
            <c-col xs="12" md="5" class="mb-3 mt-4">
                <label>Tindakan Bagi Kehilangan Sebelum</label>
            </c-col>
        </c-row>
        <c-row>
            <c-col xs="12" md="5" class="mb-3">
                <label class="d-flex align-items-center gap-4">
                    <input
                    type="checkbox"
                    class="form-check-input custom-checkbox-size"
                    />
                    <span>Kad Kuasa Digantung</span>
                </label>
            </c-col>
            <c-col xs="12" md="5" class="mb-3">
                <div class="d-flex align-items-center gap-5">
                    <!-- Checkbox -->
                    <label class="d-flex align-items-center gap-2 mb-0">
                    <input
                        type="checkbox"
                        class="form-check-input custom-checkbox-size"
                    />
                    </label>

                    <!-- Radio -->
                    <label class="d-flex align-items-center gap-2 mb-0">
                    <input
                        type="radio"
                        name="kadKuasaOption"
                        class="form-check-input custom-radiobutton-size"
                    />
                    <span>Tahun</span>
                    </label>
                    <!-- Radio -->
                    <label class="d-flex align-items-center gap-2 mb-0">
                    <input
                        type="radio"
                        name="kadKuasaOption"
                        class="form-check-input custom-radiobutton-size"
                    />
                    <span>Bulan</span>
                    </label>
                </div>
            </c-col>
        </c-row>
        <c-row>
            <c-col xs="12" md="5" class="mb-3">
                <label class="d-flex align-items-center gap-4">
                    <input
                    type="checkbox"
                    class="form-check-input custom-checkbox-size"
                    />
                    <span>Dikenakan Amaran Rekod Bertulis</span>
                </label>
            </c-col>
        </c-row>
        <c-row>
            <c-col xs="12" md="5" class="mb-3">
                <label class="d-flex align-items-center gap-4">
                    <input
                    type="checkbox"
                    class="form-check-input custom-checkbox-size"
                    />
                    <span>Surcaj dan Kad Kuasa Digantung</span>
                </label>
            </c-col>
            <c-col xs="12" md="5" class="mb-3">
                <div class="d-flex align-items-center gap-5">
                    <!-- Checkbox -->
                    <label class="d-flex align-items-center gap-2 mb-0">
                    <input
                        type="checkbox"
                        class="form-check-input custom-checkbox-size"
                    />
                    </label>

                    <!-- Radio -->
                    <label class="d-flex align-items-center gap-2 mb-0">
                    <input
                        type="radio"
                        name="kadKuasaOption1"
                        class="form-check-input custom-radiobutton-size"
                    />
                    <span>Tahun</span>
                    </label>
                    <!-- Radio -->
                    <label class="d-flex align-items-center gap-2 mb-0">
                    <input
                        type="radio"
                        name="kadKuasaOption1"
                        class="form-check-input custom-radiobutton-size"
                    />
                    <span>Bulan</span>
                    </label>
                </div>
            </c-col>
        </c-row>
        <c-row>
            <c-col xs="12" md="5" class="mb-3">
                <label class="d-flex align-items-center gap-4">
                    <input
                    type="checkbox"
                    class="form-check-input custom-checkbox-size"
                    />
                    <span>Dikenakan Amaran Bertulis Dan Direkod Ke Dalam Buku Prkhidmatan</span>
                </label>
            </c-col>
        </c-row>
        <c-row>
            <c-col xs="12" md="5" class="mb-3">
                <label class="d-flex align-items-center gap-4">
                    <input
                    type="checkbox"
                    class="form-check-input custom-checkbox-size"
                    />
                    <span>Lain-lain tindakan (nyatakan)</span>
                </label>
            </c-col>
        </c-row>
        <c-row>
          <c-col xs="12" md="10" class="mb-3">
            <textarea
              class="form-control"
            ></textarea>
          </c-col>
        </c-row>
      </c-col>

      <c-col xs="12" md="3" class="order-1 order-md-2">
        <!-- Loop through breadcrumb sections -->
        <ng-container *ngFor="let section of breadcrumbSections; let i = index">
        <!-- Main Step (1, 2, 3, etc.) -->
        <div class="d-flex align-items-center mb-3 position-relative">
            <div
            class="step-circle me-3"
            [ngClass]="{ 'active-step': section.mainStep === currentMainStep }"
            >
            {{ section.mainStep }}
            </div>
            <span>
            {{ section.mainLabel }}
            </span>

            <!-- Vertical Line (only if not the last item) -->
            <div
            *ngIf="i < breadcrumbSections.length - 1"
            class="vertical-line"
            ></div>
        </div>
        </ng-container>
      </c-col>
    </c-row>
  </c-card-body>
  <c-card-body>
      <c-col
        xs="12"
        class="d-flex flex-wrap justify-content-end align-items-center gap-5 my-3 order-3 order-md-3"
      >
        <c-row>
          <c-col class="d-flex gap-3">
            <button type="button" class="btn btn-secondary" style="width: 150px;margin-right: 30px;" (click)="showHubungidisimpan()">Simpan</button>
            <button type="button" class="btn btn-secondary" style="width: 150px;margin-right: 30px;" (click)="showRekodDihantar()">hantar</button>
            <button type="button" class="btn btn-secondary">&lt;</button>
            <button type="button" class="btn btn-secondary" disabled>&gt;</button>
          </c-col>
        </c-row>
      </c-col>

  </c-card-body>
</c-card>
<app-maklumat-carian-tidak-wujud
[maklumatCarian]="HantarMaklumatCarian"
  (close)="closeModal()" >
</app-maklumat-carian-tidak-wujud>

<app-rekod-berjaya-dihantar
[RekodDihantar]="HantarRekodDihantar"
  (close)="closeModal()" >
</app-rekod-berjaya-dihantar>

<app-rekod-berjaya-disimpan
[RekodDisimpan]="HantarRekodDisimpan"
  (close)="closeModal()" >
</app-rekod-berjaya-disimpan>
