
<div class="custom-content-wrapper">    
  <c-card style="height: 100vh;">
    <c-card-body>
      <c-row class="my-2">
        <h4 class="fw-bold">PENDAFTARAN KENDERAAN</h4>
      </c-row>

      <c-row class="my-2">
        <c-col>
          <ng-container *ngFor="let section of mainSteps">
            <button
              type="button"
              class="btn-custom-breadcrumbADM btn btn-light d-inline-flex gap-2 fw-semibold"
              [ngClass]="{
                'btn-custom-breadcrumbADM-active':
                  section.mainStep === currentMainStep
              }"
            >
              <span
                class="btn-custom-breadcrumbNoADM"
                [ngClass]="{
                  'btn-custom-breadcrumbNoADM-active':
                    section.mainStep === currentMainStep
                }"
                >{{ section.mainStep }}</span
              >
              <span class="btn-custom-breadcrumbLabelADM">{{
                section.mainLabel
              }}</span>
            </button>
          </ng-container>
        </c-col>
      </c-row>

      <c-row class="my-2">
        <c-col class="d-flex flex-nowrap overflow-auto align-items-stretch">
          <ng-container *ngFor="let section of subSteps">
            <button
              type="button"
              class="btn-custom-breadcrumbADM fw-semibold btn btn-light d-inline-flex gap-2 flex-shrink-0"
              #subButton
              [ngClass]="{
                'btn-custom-breadcrumbADM-active':
                  section.mainStep === currentMainStep &&
                  section.subStep === currentSubStep
              }"
            >
              <span
                class="btn-custom-breadcrumbNoADM"
                [ngClass]="{
                  'btn-custom-breadcrumbNoADM-active':
                    section.mainStep === currentMainStep &&
                    section.subStep === currentSubStep
                }"
                >{{ section.subStep }}</span
              >
              <span class="btn-custom-breadcrumbLabelADM">{{
                section.subLabel
              }}</span>
            </button>
          </ng-container>
        </c-col>
      </c-row>

      <c-row class="mb-4 mt-5">
        <c-col xs="12" md="10">
          <h5 class="fw-semibold">Carian Maklumat Kenderaan</h5>
        </c-col> 
      </c-row>
      <c-row class="mb-4">
        <c-col xs="12" md="3">
          <label class="fw-semibold">No. Pendaftaran Kenderaan</label>
        </c-col>
        <c-col xs="12" md="4">
          <input type="text" id="" class="form-control" />
        </c-col>
        <c-col  md="3" class="d-flex gap-5 flex-shrink-0 justify-content-center" (click)="ShowMaklumatCarianTidakWujud()">
            <div class="d-flex gap-2">
            <button type="button" class="custom-button">
               <img src="../../../../../../assets/images/find-icon.svg" alt="find" class="find-icon" style="margin-right: 5px;margin-bottom: 2px;">
               Carian
            </button>
            <button type="button" class="btn btn-primary">
                <img src="../../../../../../assets/images/circle-check.svg" alt="register" style="margin-right: 5px;margin-bottom: 2px;">
               Daftar
            </button>
            </div>
        </c-col>
      </c-row>
    </c-card-body>
  </c-card>
</div>

<app-maklumat-carian-tidak-wujud
[maklumatCarian]="MaklumatCarianTidakWujud"
(close)="closeModal()" >
</app-maklumat-carian-tidak-wujud>
