<div class="container-fluid">
    <div class="form-section">
      <h5 class="section-title">Maklumat Kekunci Carian</h5>
      <form>
        <!-- Row 1 -->
        <div class="mb-3">
            <label class="form-label">Nama Pegawai</label>
            <input type="text" class="form-control" value="Azmi" />
          </div>
  
        <!-- Row 2 -->
        <div class="mb-3">
            <label class="form-label">Nombor Perkhidmatan</label>
            <input type="text" class="form-control" value="J1234567" />
          </div>
  
        <!-- Row 3 -->
        <div class="mb-3">
            <label class="form-label">Nombor Draf</label>
            <input type="text" class="form-control" value="DRAF-IMI-2025-001" />
          </div>

  
        <!-- Cari Button -->
        <div class="text-end">
          <button type="button" class="btn btn-dark" (click)="onSearch()">
            Cari
          </button>
        </div>

        <!-- Kemaskini Button (Initially hidden) -->
       <div *ngIf="showKemaskiniButton" class="text-end mt-2">
         <button type="button" class="btn btn-primary" (click)="onUpdate()">
          Kemaskini
         </button>
      </div>

        <!-- Daftar Button -->
        <div class="text-end">
          <button type="button" class="btn btn-dark" (click)="onRegister()">
           Daftar
          </button>
        </div>
      </form>
    </div>
  </div>
  
  <!-- Not found Popup -->
  <div class="popup-overlay" *ngIf="showNotFoundPopup">
    <div class="popup-box">
      <p>Maklumat carian tidak wujud. Sila masukkan kunci carian lain.</p>
      <button (click)="closePopup()">Okay</button>
    </div>
  </div>
