<!-- <p>maklumat-profil-pengembara works!</p> -->

<c-card class="mb-3">  
    <!-- HEADER PROFIL -->
    <c-card-header class="card-header">
      <h4 class="card-header-title">PROFIL</h4>
    </c-card-header>

    <!-- CONTENT CARD BODY -->
    <c-card-body>
        <c-row>
            <!-- FORMS -->
            <c-col md="8">
                    <!-- FORMS START -->
                    <form [formGroup]="profilForm" class="form" (ngSubmit)="semakMaklumatPengembara()">
                        <!-- Form Title -->
                        <h5 class="mb-4">Maklumat Pengembara</h5>
                        
                        <!-- Photo Placeholder -->
                        <div class="photo-placeholder mb-4">
                          <img [src]="photoUrl || 'assets/placeholder-image.png'" alt="Gambar Pengembara" />
                        </div>


                        <!-- Jenis Pelawat -->
                        <c-row class="g-3 mb-3 mt-3">
                          <c-col>
                            <label cLabel for="visitorType" class="mb-2">Jenis Pelawat</label>
                            <input
                              cFormControl
                              id="visitorType"
                              type="text"
                              formControlName="visitorType"
                              class="form-control"
                            />
                          </c-col>
                          <c-col>
                            <!-- Empty right column -->
                          </c-col>
                        </c-row>


                        <!-- Jenis Dokumen dan Jantina -->
                        <c-row class="g-3 mb-3">
                          <!-- Jenis Dokumen -->
                          <c-col>
                            <label cLabel for="docType" class="mb-2">Jenis Dokumen</label>
                            <input
                              cFormControl
                              id="docType"
                              type="text"
                              formControlName="docType"
                              class="form-control"
                            />
                          </c-col>
                          <!-- Jantina -->
                          <c-col>
                            <label cLabel for="gender" class="mb-2">Jantina</label>
                            <input
                              cFormControl
                              id="gender"
                              type="text"
                              formControlName="gender"
                              class="form-control"
                            />
                          </c-col>
                        </c-row>


                        <!-- No Dokumen dan No Kad Pengenalan -->
                        <c-row class="g-3 mb-3">
                          <!-- No Dokumen -->
                          <c-col>
                            <label cLabel for="docNo" class="mb-2">No. Dokumen</label>
                            <input
                              cFormControl
                              id="docNo"
                              type="text"
                              formControlName="docNo"
                              class="form-control"
                            />
                          </c-col>
                          <!-- No Pengenalan -->
                          <c-col>
                            <label cLabel for="kpNo" class="mb-2">No. Pengenalan</label>
                            <input
                              cFormControl
                              id="kpNo"
                              type="text"
                              formControlName="kpNo"
                              class="form-control"
                            />
                          </c-col>
                        </c-row>

                        <!-- Nama -->
                        <c-row class="g-3 mb-3">
                          <c-col md="12">
                            <label cLabel for="name" class="mb-2">Nama</label>
                            <input
                              cFormControl
                              id="name"
                              type="text"
                              formControlName="name"
                              class="form-control"
                            />
                          </c-col>
                        </c-row>

                         <!-- Tarikh Dikeluarkan dan Tarikh Tamat -->
                        <c-row class="g-3 mb-3">
                          <!-- Tarikh Dikeluarkan -->
                          <c-col>
                            <label cLabel for="issueDatePassport" class="mb-2">Tarikh Dikeluarkan</label>
                            <input
                              cFormControl
                              id="issueDatePassport"
                              type="text"
                              formControlName="issueDatePassport"
                              class="form-control"
                            />
                          </c-col>
                          <!-- Tarikh Tamat Pas -->
                          <c-col>
                            <label cLabel for="expiryDate" class="mb-2">Tarikh Tamat</label>
                            <input
                              cFormControl
                              id="expiryDate"
                              type="text"
                              formControlName="expiryDate"
                              class="form-control"
                            />
                          </c-col>
                        </c-row> 

                        <!-- Umur dan Warganegara -->
                        <c-row class="g-3 mb-3">
                          <!-- Umur -->
                          <c-col>
                            <label cLabel for="age" class="mb-2">Umur</label>
                            <input
                              cFormControl
                              id="age"
                              type="text"
                              formControlName="age"
                              class="form-control"
                            />
                          </c-col>
                          <!-- Warganegara -->
                          <c-col>
                            <label cLabel for="nationality" class="mb-2">Warganegara</label>
                            <input
                              cFormControl
                              id="nationality"
                              type="text"
                              formControlName="nationality"
                              class="form-control"
                            />
                          </c-col>
                        </c-row>

                        <!-- Negara Pengeluar -->
                        <c-row class="g-3 mb-3">
                          <c-col>
                            <label cLabel for="countryIssue" class="mb-2">Negara Pengeluar</label>
                            <input
                              cFormControl
                              id="countryIssue"
                              type="text"
                              formControlName="countryIssue"
                              class="form-control"
                            />
                          </c-col>
                          <c-col>
                            <!-- Empty right column -->
                          </c-col>
                        </c-row> 
                        
                        <c-row class="g-3 mb-3 mt-3">
                          <c-col class="d-flex flex-column align-items-end gap-2">
                              <button 
                                  cButton 
                                  color="primary" 
                                  class="biometric-btn"
                                  type="submit"
                                  (click)="semakMaklumatPengembara()">
                                  SEMAK
                              </button>
                          </c-col>
                        </c-row>
            </form>                


            </c-col>

            <!-- STEPPER -->
            <c-col md="4" class="px-4 py-3 mt-3 stepper-container">
                <ul class="stepper-list">
                    <li 
                    class="stepper-item"
                    [class.active]="currentStep === step.number"
                    *ngFor="let step of steps; let i = index">
                    <div class="stepper-content">
                        <span 
                        class="step-number"
                        [class.active]="currentStep === step.number">
                        {{ step.number }}
                        </span>
                        <span 
                        class="step-title"
                        [class.active]="currentStep === step.number">
                        {{ step.title }}
                        </span>
                    </div>
                    </li>
                </ul>
            </c-col>
        </c-row>
        <!-- END OF CONTENT -->
    </c-card-body>
</c-card> 

<!-- Modal Area, using MODAL STANDARD ONLY-->

<!-- Modal 1: Standard Notification -->
<c-modal #modalStandard id="modalStandard" [visible]="false">
  <c-modal-body>
  <div class="d-flex flex-column align-items-center justify-content-center text-center" style="min-height: 250px;">
      <!-- Kena ada icon sini -->
      
      <!-- Modal Text-->
      <p class="mb-3" [innerHTML]="modalMessage"></p>
      <br>
      <!-- Modal Button -->
    <button cButton (click)="modalStandardClick()" color="primary">{{ modalButtonText }}</button>
  </div>
</c-modal-body>
</c-modal>

<!-- Modal 2: WFR-IBC-02.1-15 SIGN-ON TO JOIN SHIP called from another component to this page -->
<!-- Modal -->
<!-- <c-modal #modalSignOnToShip id="modalSignOnToShip" scrollable size="lg" [visible]="false">
  <c-modal-header>
    <h5 cModalTitle>Maklumat Anak Kapal</h5>
    <button [cModalToggle]="modalSignOnToShip.id" cButtonClose></button>
  </c-modal-header>

  <c-modal-body>
    <ng-container *ngTemplateOutlet="longContent"></ng-container>
  </c-modal-body>

  <c-modal-footer>
    <button (click)="modalSignOnClick()" cButton color="secondary">
      TUTUP
    </button>
  </c-modal-footer>
</c-modal> -->

<!-- Template Form -->
<!-- <ng-template #longContent> -->
  <!-- Ship Logo Centered -->
  <!-- <div class="text-center mb-4">
    <img src="https://img.icons8.com/ios-filled/100/000000/ship.png" alt="Ship Logo" style="width: 100px; height: auto;">
  </div>

  <form cForm [formGroup]="anakKapalForm"> -->

    <!-- Maklumat Anak Kapal -->
    <!-- <c-card class="mb-4">
      <c-card-header>
        <h5 class="mb-0">Maklumat Anak Kapal</h5>
      </c-card-header>
      <c-card-body> -->
        <!-- row 1 -->
        <!-- <div class="row">
          <div class="col-md-4 mb-3">
            <label cLabel>Jenis Dokumen</label>
            <input cFormControl type="text" class="form-control" formControlName="docType">
          </div>
          <div class="col-md-4 mb-3">
            <label cLabel>Jantina</label>
            <input cFormControl type="text" class="form-control" formControlName="gender">
          </div>
          <div class="col-md-4 mb-3">
            <label cLabel>Tarikh Lahir</label>
            <input cFormControl type="date" class="form-control" formControlName="dob">
          </div>
        </div> -->
        <!-- row 2 -->
        <!-- <div class="row">
          <div class="col-md-4 mb-3">
            <label cLabel>No Dokumen</label>
            <input cFormControl type="text" class="form-control" formControlName="docNo">
          </div>
          <div class="col-md-4 mb-3">
            <label cLabel>No Pengenalan</label>
            <input cFormControl type="text" class="form-control" formControlName="kpNo">
          </div>
          <div class="col-md-4 mb-3">
            <label cLabel>Warganegara</label>
            <input cFormControl type="text" class="form-control" formControlName="nationality">
          </div>
        </div> -->
        <!-- row 3 -->
        <!-- <div class="row">
          <div class="col-md-6 mb-3">
            <label cLabel>Nama</label>
            <input cFormControl type="text" class="form-control" formControlName="name">
          </div>
          <div class="col-md-6 mb-3">
            <label cLabel>Jawatan Atas Kapal</label>
            <input cFormControl type="text" class="form-control" formControlName="jobCode">
          </div>
        </div>
      </c-card-body>
    </c-card> -->

    <!-- Maklumat Visa -->
    <!-- <c-card class="mb-4">
      <c-card-header>
        <h5 class="mb-0">Maklumat Visa</h5>
      </c-card-header>
      <c-card-body>

        <div class="row">
          <div class="col-md-4 mb-3">
            <label cLabel>No Visa</label>
            <input cFormControl type="text" class="form-control" formControlName="visaNo">
          </div>
          <div class="col-md-4 mb-3">
            <label cLabel>No Rujukan QR VDS</label>
            <input cFormControl type="text" class="form-control" formControlName="visaQrVds">
          </div>
          <div class="col-md-4 mb-3">
            <label cLabel>Jenis Visa</label>
            <input cFormControl type="text" class="form-control" formControlName="visaType">
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 mb-3">
            <label cLabel>Tarikh Dikeluarkan</label>
            <input cFormControl type="date" class="form-control" formControlName="visaIssueDate">
          </div>
          <div class="col-md-6 mb-3">
            <label cLabel>Tarikh Tamat Visa</label>
            <input cFormControl type="date" class="form-control" formControlName="visaExpiryDate">
          </div>
        </div>

      </c-card-body>
    </c-card> -->

    <!-- Maklumat Kapal -->
    <!-- <c-card class="mb-4">
      <c-card-header>
        <h5 class="mb-0">Maklumat Kapal</h5>
      </c-card-header>
      <c-card-body> -->

        <!-- <div class="row">
          <div class="col-md-4 mb-3">
            <label cLabel>Nama Kapal</label>
            <input cFormControl type="text" class="form-control" formControlName="shipName">
          </div>
          <div class="col-md-4 mb-3">
            <label cLabel>Jenis Kapal</label>
            <input cFormControl type="text" class="form-control" formControlName="shipType">
          </div>
          <div class="col-md-4 mb-3">
            <label cLabel>IMO No.</label>
            <input cFormControl type="text" class="form-control" formControlName="noIMO">
          </div>
        </div> -->
<!-- 
        <div class="row">
          <div class="col-md-4 mb-3">
            <label cLabel>Call Sign</label>
            <input cFormControl type="text" class="form-control" formControlName="callSign">
          </div>
          <div class="col-md-4 mb-3">
            <label cLabel>Voyage No</label>
            <input cFormControl type="text" class="form-control" formControlName="voyageNo">
          </div>
          <div class="col-md-4 mb-3">
            <label cLabel>Nama Ejen Pelabuhan</label>
            <input cFormControl type="text" class="form-control" formControlName="companyName">
          </div>
        </div>

      </c-card-body>
    </c-card> -->

    <!-- Maklumat Tiba dan Berlepas Kapal -->
    <!-- <c-card class="mb-4">
      <c-card-header>
        <h5 class="mb-0">Maklumat Tiba dan Berlepas Kapal</h5>
      </c-card-header>
      <c-card-body>

        <div class="row">
          <div class="col-md-4 mb-3">
            <label cLabel>Tarikh Jangka Tiba</label>
            <input cFormControl type="date" class="form-control" formControlName="expArrDate">
          </div>
          <div class="col-md-4 mb-3">
            <label cLabel>Masa Jangka Tiba</label>
            <input cFormControl type="time" class="form-control" formControlName="expArrTime">
          </div>
          <div class="col-md-4 mb-3">
            <label cLabel>Jangka Rapat dan Dermaga</label>
            <input cFormControl type="text" class="form-control" formControlName="nextPort">
          </div>
        </div>

        <div class="row">
          <div class="col-md-4 mb-3">
            <label cLabel>Tarikh Jangka Berlepas</label>
            <input cFormControl type="date" class="form-control" formControlName="expDepDate">
          </div>
          <div class="col-md-4 mb-3">
            <label cLabel>Masa Jangka Berlepas</label>
            <input cFormControl type="time" class="form-control" formControlName="expDepTime">
          </div>
        </div>
      </c-card-body>
    </c-card>
  </form>
</ng-template> -->

