<c-card>
  <c-card-header class="bg-primary text-white">
    Butiran Pasport
  </c-card-header>
  <c-card-body>
    <p><strong>No. Pasport :</strong> A1234567</p>
    <p><strong>Nama Pemegang Pasport :</strong> MUSTAFA BIN JALALUDDIN</p>
    <p><strong>Tarikh Dikeluarkan :</strong> 01/01/2020</p>
    <p><strong>Tarikh Luput :</strong> 01/01/2030</p>
    <p><strong>Negara Kewarganegaraan :</strong> MALAYSIA</p>
  </c-card-body>
</c-card>

<c-card>
  <c-card-header class="bg-primary text-white">
    Maklumat Pemegang Pasport
  </c-card-header>
  <c-card-body>
    <c-row>
      <c-col md="6">
        <p><strong>Nama:</strong> MUSTAFA BIN JALALUDDIN</p>
        <p><strong>Alamat:</strong> 44 JALAN BARU 7<br>TAMAN BUKIT KAJANG BARU</p>
        <p><strong>Bandar:</strong> KAJANG</p>
        <p><strong>Negeri:</strong> SELANGOR</p>
        <p><strong>Jantina:</strong> LELAKI</p>
        <p><strong>Telefon:</strong> 0191234567</p>
      </c-col>
      <c-col md="6">
        <p><strong>Poskod:</strong> 43000</p>
        <p><strong>Negara:</strong> MALAYSIA</p>
        <p><strong>Tarikh Lahir:</strong> 24/12/1985</p>
        <p><strong>E-mel:</strong> mustafa.jalaluddinXgmail.com</p>
        <p><strong>Status Pemegang Pasport:</strong> Aktif</p>
      </c-col>
    </c-row>
  </c-card-body>
</c-card>

<c-card>
  <c-card-header class="bg-primary text-white">
    Maklumat Permohonan Pasport
  </c-card-header>
  <c-card-body>
    <p><strong>Tarikh Permohonan:</strong> 15/12/2019</p>
    <p><strong>Status Permohonan:</strong> Lulus</p>
    <p><strong>Jenis Pasport:</strong> Pasport Antarabangsa</p>
    <p><strong>Tempat Permohonan:</strong> Pejabat Imigresen Kuala Lumpur</p>
  </c-card-body>
</c-card>

<c-card>
  <c-card-header class="bg-primary text-white">
    Maklumat Lesen
  </c-card-header>
  <c-card-body>
    <img src="assets/images/passport_2.jpg" alt="Logo" class="img-fluid" style="width:60%">
  </c-card-body>
</c-card>

<c-card>
  <c-card-header class="bg-primary text-white">
    Sekatan Pasport
  </c-card-header>
  <c-card-body>
    Tiada sekatan pada pasport ini.
  </c-card-body>
</c-card>

<c-card>
  <c-card-header class="bg-primary text-white">
    Sejarah Perjalanan
  </c-card-header>
  <c-card-body>
    Tiada rekod perjalanan antarabangsa dalam tempoh terdekat.
  </c-card-body>
</c-card>
