<c-card>
  <c-card-body>
    <c-row class="g-5">
      <c-col xs="12" md="6" lg="6">
        <c-card (click)="LaporanKehilanganKadKuasa()" style="cursor: pointer">
          <c-card-body class="d-flex justify-content-center align-items-center" style="min-height: 150px">
            <img src="your-logo.png" alt="LOGO" class="img-fluid" />
          </c-card-body>
          <c-card-footer class="bg-secondary text-center text-white">
            Laporan Kehilangan Kad Kuasa
          </c-card-footer>
        </c-card>
      </c-col>

      <c-col xs="12" md="6" lg="6">
        <c-card (click)="KemaskiniLaporanSiasatan()" style="cursor: pointer">
          <c-card-body class="d-flex justify-content-center align-items-center" style="min-height: 150px">
            <img src="your-logo.png" alt="LOGO" class="img-fluid" />
          </c-card-body>
          <c-card-footer class="bg-secondary text-center text-white">
            Kemaskini Laporan Siasatan Kehilangan Kad Kuasa
          </c-card-footer>
        </c-card>
      </c-col>
    </c-row>
  </c-card-body>
</c-card>