<c-card-body class="text-center align-content-center">
  <div style="margin: 20px">
    <h2>NIISe</h2>
    <p>
      <br/>
      "NIISe merujuk kepada National Integrated Immigration System,
      iaitu sistem imigresen bersepadu yang sedang dibangunkan oleh
      Jabatan Imigresen Malaysia. Projek ini bertujuan untuk menggantikan
      sistem sedia ada dengan platform digital yang lebih moden, cekap,
      dan berasaskan teknologi kecerdasan buatan (AI)"
    </p>
<!--    <p>-->
<!--      <br/>-->
<!--      "Harapan saya, warga JPJ akan bersama-sama berganding-->
<!--      bahu dan komited dalam melaksanakan tugas yang-->
<!--      diamanahkan agar matlamat untuk menjadikan JPJ-->
<!--      sebagai sebuah institusi yang menerajui bidang-->
<!--      pengurusan dan penguatkuasaan pengangkutan jalan-->
<!--      bertaraf dunia dapat dipenuhi sebagaimana yang telah-->
<!--      digariskan dalam Pelan Strategik JPJ ini."-->
<!--      <br/><br/><b>- YBHG. DATUK AEDY FADLY BIN RAMLI -</b>-->
<!--      <br/>KETUA PENGARAH JABATAN PENGANGKUTAN JALAN MALAYSIA-->
<!--    </p>-->
    <button [active]="true" cButton class="mt-3" color="primary" routerLink="/register">
      Register Now!
    </button>
  </div>
</c-card-body>
