/* You can add global styles to this file, and also import other style files */

// If you want to override variables do it here
@import "variables";

// Import styles with default layout.
@import "@coreui/coreui/scss/coreui";

// Import Chart.js custom tooltips styles
@import "@coreui/chartjs/scss/coreui-chartjs";

// Custom styles for this theme
@import "theme";

// Some temp fixes
//@import "fixes";

// If you want to add custom CSS you can put it here.
@import "custom";

// Examples
// We use those styles to show code examples, you should remove them in your application.
@import "examples";

/* Apply styles to any element using [routerLink] */
//[routerLink] {
//  text-decoration: none;
//  color: #007bff;
//  font-weight: bold;
//  cursor: pointer;
//  transition: color 0.3s ease-in-out;
//}
//
//[routerLink]:hover {
//  color: #0056b3;
//  cursor: pointer;
//  text-decoration: underline;
//}
