<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-9" style="padding-right: 0">
                <div class="form-section">
                    <h2 class="section-title">Maklumat Peribadi Subjek</h2>
                    <form>
                        
                        <div class="row mb-3">
                            <div class="col-md-4">
                                <label class="form-label">Tarikh Masuk</label>
                                <input type="date" class="form-control" value="2015-02-11">
                            </div>
                            <div class="col-md-2"></div>
                            <div class="col-md-6">
                                <label class="form-label">Masa Masuk</label>
                                <input type="time" class="form-control" value="09:03">
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="col-md-12">
                                <label class="form-label required">Pintu Masuk</label>
                                <select class="form-select">
                                    <option value="malaysia">Lapangan Terbang Antarabangsa Kuala Lumpur(KLIA)</option>
                                    <option value="singapore">Sultan Abdul Aziz Shah Airport</option>
                                </select>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="col-md-6">
                                <label class="form-label">Jenis Pas</label>
                                <select class="form-select">
                                    <option value="malaysia">Pas Lawatan Sosial</option>
                                    <option value="singapore">Pas Lawatan Antarabangsa</option>
                                </select>
                            </div>
                            <!-- <div class="col-md-3"></div> -->
                            <div class="col-md-5">
                                <label class="form-label">Tarikh Tamat Pas</label>
                                 <input type="date" class="form-control" value="2015-02-11" >
                            </div>
                            
                            <div class="3"></div>
                        </div>

                        <div class="row mb-3">
                            <div class="col-md-7">
                                <div class="col-md-7">
                                <label class="form-label">Tarikh Tamat Dokumen</label>
                                 <input type="date" class="form-control" value="2015-02-11" >
                            </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
<!-- Bottom Navigation -->
<div class="bottom-navigation  d-flex justify-content-end p-3">
  <div class="nav-buttons d-flex align-items-center ">
    <button class="btn btn-reset btn-dark m-2 " (click)="null">Set Semula</button>
    <div class="right-buttons">
      <button class="btn btn-back btn-dark m-2" (click)="null">Kembali</button>
      <button class="btn btn-next btn-dark m-2" (click)="null">
        < </button>
          <button class="btn btn-next btn-dark m-2" (click)="null">
            >
          </button>
    </div>
  </div>
  </div>