:host {
    display: block;
    padding: 1rem;

    c-card {
        margin-bottom: 1rem;

        .display-5 {
            font-size: 2.5rem;
            font-weight: 300;
            line-height: 1.2;
        }

        c-carousel {
            height: calc(100% - 1.5rem);

            .carousel-inner {
                height: 100%;

                .carousel-item {
                    height: 100%;
                }
            }

            .carousel-inner {
                .carousel-item {
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    img {
                        object-fit: contain;
                        height: auto;
                        width: 100%;
                    }
                }
            }
        }

        .pb-6 {
            padding-bottom: 12rem !important;
        }

        .h-100 {
            display: flex;
            flex-direction: column;
            
            c-card-body {
                flex: 1;
                display: flex;
                flex-direction: column;
                padding-bottom: 0;
                
                h5 {
                    margin-bottom: 1rem !important;
                }
                
                c-carousel {
                    flex: 1;
                    display: flex;
                    flex-direction: column;
                    
                    .carousel-inner {
                        flex: 1;
                    }
                }
            }
        }
    }
}