<!-- Show this only when card is hidden -->
<c-card-body *ngIf="!showClockOutCard">
    <c-col>
        <button class="btn btn-dark btn-search" (click)="toggleClockOutCard()">Clock Out</button>
    </c-col>
</c-card-body>

<!-- Show this card only when button is clicked -->
<c-card *ngIf="showClockOutCard">
    <c-card-body>
        <c-row>
            <h5>Clock Out</h5>
        </c-row>

        <c-row>
            <c-col class="d-flex justify-content-start">
                <div
                    style="border: 1px solid #ccc; border-radius: 6px; padding:60px 30px; text-align: center; height: 200px;">
                    <video #video autoplay muted playsinline class="img-fluid rounded shadow"
                        style="height: 100%;"></video>
                </div>
            </c-col>
            <c-col></c-col>
        </c-row>


        <c-row>
            <c-col class="p-2">
                <button class="btn btn-dark btn-search col-2" (click)="openDetail()">Imbas</button>
            </c-col>
        </c-row>

        <c-row>
            <c-col class="p-2">
                <button class="btn btn-dark btn-search col-3" (click)="openDetaillocation()">Kebenaran Keluar Pejabat</button>
            </c-col>
        </c-row>

        <c-row>
            <c-col class="p-2">
                <button class="btn btn-dark btn-search col-3" (click)="openTanpaKebenaran()">Kebenaran Keluar Pejabat Tanpa
                    Kelulusan</button>
            </c-col>
        </c-row>
    </c-card-body>
</c-card>
<!-- waiting for backend -->
<app-modal-scan-successful
[Hantarmodel]="ModalSuccess"
  (close)="closeModal()">
</app-modal-scan-successful>
<app-modal-scan-unsuccessful
[Hantarmodel]="ModalunSuccess"
  (close)="closeModal()">
</app-modal-scan-unsuccessful>
<app-modal-scan-outside 
[Hantarmodel]="ModalScanOutside"
  (close)="closeModal()">
</app-modal-scan-outside>