<div class="m-4 ms-0 bg-white rounded-3 w-100 h-auto p-4">
  <div class="mt-3">
    <c-row>
      <c-col>
        <!-- PDF Preview using iframe -->
        <iframe
          src="assets/sample.pdf"
          width="100%"
          height="500px"
          title="[Surat Permohonan Pelupusan Bahan Bercetak Jenis Kad Kuasa]"
          style="border: none;"
          ></iframe>
      </c-col>
    </c-row>
  </div>
  <c-row>
      <hr class="my-3">
        <div class="d-flex justify-content-end">
          <button color="primary" class="primary-custom-btn px-4" (click)="showPopUp = true"> <c-icon name="cilPrint" class="me-2"></c-icon>
            Cetak</button>
        </div>
  </c-row>
</div>

<app-modal-component
  [visible]="showPopUp"
  icon="danger"
  message="Tiada Pencetak Dikesan. Sila Sambungkan Pencetak Untuk Meneruskan Cetakan"
  mode="ok"
  (close)="closePopUp()"
></app-modal-component>