<c-card>
    <c-card-header class="bg-primary text-white">
        <h5 class="mb-0">PENGURUSAN DATA</h5>
    </c-card-header>

    <c-card-body>
        <c-row class="mb-4 align-items-center">
            <c-col xs="12" sm="auto">
                <label class="form-label fw-bold mb-2 mb-sm-0">Jenis Selenggaraan:</label>
            </c-col>
            <c-col xs="12" sm="6" md="4">
                <select class="form-select w-100">
                    <option selected disabled>-- Sila Pilih --</option>
                    <option>Data Rujukan</option>
                    <option>Data Konfigurasi</option>
                    <option>Takwim</option>
                    <option>Data dan Perincian Skor RAE</option>
                    <option>Data Mesej/Notifikasi</option>
                </select>
            </c-col>
        </c-row>

        <c-row>
            <c-col class="text-end">
                <button class="btn btn-dark">SETERUSNYA</button>
            </c-col>
        </c-row>
    </c-card-body>
</c-card>