<c-card class="mb-4 shadow-sm" style="margin-top: 25px;">
  <c-card-body>
    <h3 class="fw-semibold mb-3">Dashboard</h3>
    <h6 class="fw-semibold mb-3 pt-3">RINGKASAN PEMERIKSAAN HARI INI</h6>
    <c-row class="g-3">
      <c-col xs="12" sm="6" lg="3">
        <c-card class="h-100" cBorder>
          <c-card-body class="text-center">
<!--            <svg cIcon name="cilPeople" size="xl"></svg>-->
            <img ngSrc="assets/figma/passport.png" alt="" height="61" width="61"/>
            <h3 cCardTitle>Passport</h3>
          </c-card-body>
        </c-card>
      </c-col>
      <c-col xs="12" sm="6" lg="3">
        <c-card class="h-100" cBorder>
          <c-card-body class="text-center">
            <img ngSrc="assets/figma/kad-abtc.png" alt="" height="61" width="61"/>
            <h3 cCardTitle>Kad ABTC</h3>
          </c-card-body>
        </c-card>
      </c-col>
      <c-col xs="12" sm="6" lg="3">
        <c-card class="h-100" cBorder>
          <c-card-body class="text-center">
            <img ngSrc="assets/figma/kod-qr.png" alt="" height="61" width="61"/>
            <h3 cCardTitle>Kod QR</h3>
          </c-card-body>
        </c-card>
      </c-col>
      <c-col xs="12" sm="6" lg="3">
        <c-card class="h-100" cBorder>
          <c-card-body class="text-center">
            <img ngSrc="assets/figma/menu.png" alt="" height="61" width="61"/>
            <h3 cCardTitle>Lain-lain</h3>
          </c-card-body>
        </c-card>
      </c-col>
    </c-row>

    <h6 class="fw-semibold mb-3 pt-4">REKOD MASUK PENGEMBARA HARI INI</h6>
    <c-card>
      <c-card-header>
        <c-row class="g-2 mb-3 dark:bg-light">
          <c-col xs="12" md="4" lg="3">
            <select cSelect aria-label="Status">
              <option selected>Semua status</option>
              <option value="1">Diterima</option>
              <option value="2">Ditolak</option>
            </select>
          </c-col>
          <c-col xs="12" md="4" lg="3"> <c-input-group>
            <span cInputGroupText><i class="cil-calendar"></i></span>
            <input type="month" cFormControl />
          </c-input-group>
          </c-col>
          <c-col xs="12" md="4" lg="6"> <c-input-group>
          <span cInputGroupText id="addon-wrapping">
            <c-icon name="cil-magnifying-glass" />
          </span>
            <input
              aria-describedby="addon-wrapping"
              aria-label="Carian"
              cFormControl
              placeholder="Carian"
            />
          </c-input-group>
          </c-col>
        </c-row>
      </c-card-header>
      <c-card-body>
        <table cTable [hover]="true" responsive="sm">
          <thead>
          <tr>
            <th scope="col">No</th>
            <th scope="col">Dokumen</th>
            <th scope="col">W/N</th>
            <th scope="col">Nama</th>
            <th scope="col">Jantina</th>
            <th scope="col">Log Masuk</th>
            <th scope="col">Status</th>
            <th scope="col"></th>
          </tr>
          </thead>
          <tbody>
            @for (user of users; track user.docNo; let i = $index;) {
              <tr>
                <td>{{ i + 1 }}</td>
                <td>{{ user.docNo }}</td>
                <td>
                  <img [src]="user.country.flag" [alt]="user.country.code + ' flag'" class="me-2" style="height: 15px;">
                  {{ user.country.code }}
                </td>
                <td>{{ user.name }}</td>
                <td>{{ user.gender }}</td>
                <td>{{ user.logIn }}</td>
                <td>
                  <c-badge [color]="user.statusColor" [class.text-dark]="user.statusColor === 'warning'">
                    {{ user.status }}
                  </c-badge>
                </td>
                <td>
                  <c-dropdown variant="btn-group">
                    <button cButton cDropdownToggle color="secondary" size="sm">
                      <c-icon name="cilOptions"></c-icon>
                    </button>
                    <ul cDropdownMenu>
                      <li><button cDropdownItem>Action</button></li>
                      <li><button cDropdownItem>Another action</button></li>
                      <li><button cDropdownItem>Something else here</button></li>
                    </ul>
                  </c-dropdown>
                </td>
              </tr>
            }
          </tbody>
        </table>
      </c-card-body>
      <c-card-footer>
        <div class="d-flex flex-wrap justify-content-center justify-content-md-between align-items-center mt-3">
          <div class="mb-2 mb-md-0"> Sedang memaparkan
            <select class="d-inline-block w-auto mx-2" cSelect> <option>10</option>
              <option>25</option>
              <option>50</option>
            </select>
            daripada jumlah 116 rekod
          </div>
          <nav>
            <ul class="pagination mb-0">
              <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1">&laquo;</a>
              </li>
              <li class="page-item active"><a class="page-link" href="#">1</a></li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item disabled"><a class="page-link" href="#">...</a></li>
              <li class="page-item"><a class="page-link" href="#">8</a></li>
              <li class="page-item"><a class="page-link" href="#">9</a></li>
              <li class="page-item"><a class="page-link" href="#">10</a></li>
              <li class="page-item">
                <a class="page-link" href="#">&raquo;</a>
              </li>
            </ul>
          </nav>
        </div>
      </c-card-footer>
    </c-card>
  </c-card-body>
</c-card>
