<c-card>
  <c-card-body>
    <c-row class="my-2">
      <h4 class="fw-bold">KEMAS KINI MAKLUMAT PROFILE KAKITANGAN</h4>
    </c-row>

    <app-stepper
      [currentMainStep]="currentMainStep"
      [currentSubStep]="currentSubStep"
    ></app-stepper>

    <c-row class="my-5">
      <c-row class="mb-3">
        <c-col xs="12" md="6">
          <h5>Maklumat Penempatan</h5>
        </c-col>
        <c-col xs="12" md="6" class="d-flex justify-content-end">
          <button type="button" class="btn btn-primary">Kemas Kini</button>
        </c-col>
      </c-row>
      <c-container class="overflow-x-auto">
        <c-row class="align-items-end flex-md-nowrap">
          <c-col xs="12" md="4">
            <label>Bahagian</label>
            <select
              class="form-select mb-3"
              *ngFor="let item of maklumatPenempatan1.bahagian; let i = index"
              [(ngModel)]="maklumatPenempatan1.bahagian[i]"
              [disabled]="readonlyField"
              [ngClass]="{ 'bg-light text-muted': readonlyField }"
            >
              <option value="" disabled hidden>Sila Pilih</option>
              <option value="Keselamatan">Keselamatan</option>
            </select>
          </c-col>
          <c-col xs="12" md="4">
            <label>Negeri</label>
            <select
              class="form-select mb-3"
              *ngFor="let item of maklumatPenempatan1.negeri; let i = index"
              [(ngModel)]="maklumatPenempatan1.negeri[i]"
              [disabled]="readonlyField"
              [ngClass]="{ 'bg-light text-muted': readonlyField }"
            >
              <option value="" disabled hidden>Sila Pilih</option>
              <option value="Selangor">Selangor</option>
            </select>
          </c-col>
          <c-col xs="12" md="4">
            <label>Cawangan</label>
            <select
              class="form-select mb-3"
              *ngFor="let item of maklumatPenempatan1.cawangan; let i = index"
              [(ngModel)]="maklumatPenempatan1.cawangan[i]"
              [disabled]="readonlyField"
              [ngClass]="{ 'bg-light text-muted': readonlyField }"
            >
              <option value="" disabled hidden>Sila Pilih</option>
              <option value="Pelabuhan Klang Utara">
                Pelabuhan Klang Utara
              </option>
            </select>
          </c-col>
          <c-col xs="12" md="4">
            <label>Unit</label>
            <select
              class="form-select mb-3"
              *ngFor="let item of maklumatPenempatan1.unit; let i = index"
              [(ngModel)]="maklumatPenempatan1.unit[i]"
              [disabled]="readonlyField"
              [ngClass]="{ 'bg-light text-muted': readonlyField }"
            >
              <option value="" disabled hidden>Sila Pilih</option>
              <option value="Kawalan Imigresen">Kawalan Imigresen</option>
            </select>
          </c-col>
          <c-col xs="12" md="4">
            <label>Lokasi Bertugas</label>
            <input
              class="form-control mb-3"
              *ngFor="
                let item of maklumatPenempatan1.lokasiBertugas;
                let i = index
              "
              [(ngModel)]="maklumatPenempatan1.lokasiBertugas[i]"
              [readonly]="readonlyField"
              [ngClass]="{ 'bg-light text-muted': readonlyField }"
            />
          </c-col>
          <c-col xs="12" md="4">
            <label>Tarikh Bertugas</label>
            <input
              type="date"
              class="form-control mb-3"
              *ngFor="
                let item of maklumatPenempatan1.tarikhBertugas;
                let i = index
              "
              [(ngModel)]="maklumatPenempatan1.tarikhBertugas[i]"
              [readonly]="readonlyField"
              [ngClass]="{ 'bg-light text-muted': readonlyField }"
            />
          </c-col>
          <c-col xs="12" md="4">
            <label>Jenis Penempatan</label>
            <input
              class="form-control mb-3"
              *ngFor="
                let item of maklumatPenempatan1.jenisPenempatan;
                let i = index
              "
              [(ngModel)]="maklumatPenempatan1.jenisPenempatan[i]"
              [readonly]="readonlyField"
              [ngClass]="{ 'bg-light text-muted': readonlyField }"
            />
          </c-col>
          <c-col xs="12" md="4">
            <label>Tempoh Penempatan</label>
            <input
              class="form-control mb-3"
              *ngFor="
                let item of maklumatPenempatan1.tempohPenempatan;
                let i = index
              "
              [(ngModel)]="maklumatPenempatan1.tempohPenempatan[i]"
              [readonly]="readonlyField"
              [ngClass]="{ 'bg-light text-muted': readonlyField }"
            />
          </c-col>
          <c-col xs="12" md="4">
            <label>Kumpuan Syif (Jika Ada)</label>
            <input
              class="form-control mb-3"
              *ngFor="
                let item of maklumatPenempatan1.kumpuanSyif;
                let i = index
              "
              [(ngModel)]="maklumatPenempatan1.kumpuanSyif[i]"
              [readonly]="readonlyField"
              [ngClass]="{ 'bg-light text-muted': readonlyField }"
            />
          </c-col>
        </c-row>
      </c-container>
      <c-row>
        <c-col xs="12" md="4">
          <button
            type="button"
            class="btn btn-primary"
            (click)="addMaklumatPenempatan1()"
            [disabled]="readonlyField"
          >
            + Tambah Maklumat
          </button>
        </c-col>
      </c-row>

      <c-row class="mb-3">
        <c-col xs="12" md="6" class="mt-5">
          <h5>Maklumat Penempatan</h5>
        </c-col>
        <c-col
          xs="12"
          md="6"
          class="mb-5 d-flex align-items-center justify-content-end"
        >
          <button type="button" class="btn btn-primary">Kemas Kini</button>
        </c-col>
      </c-row>
      <c-container class="overflow-x-auto">
        <c-row class="align-items-end flex-md-nowrap">
          <c-col xs="12" md="4">
            <label>Negara</label>
            <select
              class="form-select mb-3"
              *ngFor="let item of maklumatPenempatan2.negeri; let i = index"
              [(ngModel)]="maklumatPenempatan2.negeri[i]"
              [disabled]="readonlyField"
              [ngClass]="{ 'bg-light text-muted': readonlyField }"
            >
              <option value="" disabled hidden>Sila Pilih</option>
            </select>
          </c-col>
          <c-col xs="12" md="4">
            <label>Nama Pejabat Atase</label>
            <select
              class="form-select mb-3"
              *ngFor="
                let item of maklumatPenempatan2.namaPejabat;
                let i = index
              "
              [(ngModel)]="maklumatPenempatan2.namaPejabat[i]"
              [disabled]="readonlyField"
              [ngClass]="{ 'bg-light text-muted': readonlyField }"
            >
              <option value="" disabled hidden>Sila Pilih</option>
            </select>
          </c-col>
          <c-col xs="12" md="4">
            <label>Fungsi Pejabat Atase</label>
            <select
              class="form-select mb-3"
              *ngFor="
                let item of maklumatPenempatan2.fungsiPejabat;
                let i = index
              "
              [(ngModel)]="maklumatPenempatan2.fungsiPejabat[i]"
              [disabled]="readonlyField"
              [ngClass]="{ 'bg-light text-muted': readonlyField }"
            >
              <option value="" disabled hidden>Sila Pilih</option>
            </select>
          </c-col>
          <c-col xs="12" md="4">
            <label>Tarikh Berkuatkuasa</label>
            <input
              type="date"
              class="form-control mb-3"
              *ngFor="
                let item of maklumatPenempatan2.tarikhBerkuatkuasa;
                let i = index
              "
              [(ngModel)]="maklumatPenempatan2.tarikhBerkuatkuasa[i]"
              [readonly]="readonlyField"
              [ngClass]="{ 'bg-light text-muted': readonlyField }"
            />
          </c-col>
          <c-col xs="12" md="4">
            <label>Jenis Penempatan</label>
            <input
              class="form-control mb-3"
              *ngFor="
                let item of maklumatPenempatan2.jenisPenempatan;
                let i = index
              "
              [(ngModel)]="maklumatPenempatan2.jenisPenempatan[i]"
              [readonly]="true"
              [ngClass]="{ 'bg-light text-muted': true }"
            />
          </c-col>
          <c-col xs="12" md="4">
            <label>Tempoh Penempatan</label>
            <input
              class="form-control mb-3"
              *ngFor="
                let item of maklumatPenempatan2.tempohPenempatan;
                let i = index
              "
              [(ngModel)]="maklumatPenempatan2.tempohPenempatan[i]"
              [readonly]="readonlyField"
              [ngClass]="{ 'bg-light text-muted': readonlyField }"
            />
          </c-col>
        </c-row>
      </c-container>
      <c-row>
        <c-col xs="12" md="4">
          <button
            type="button"
            class="btn btn-primary"
            (click)="addMaklumatPenempatan2()"
            [disabled]="readonlyField"
          >
            + Tambah Maklumat
          </button>
        </c-col>
      </c-row>
    </c-row>

    <c-row>
      <c-row style="border-top: 1px solid rgba(0, 0, 0, 0.1)">
        <c-col class="d-flex gap-5 flex-shrink-0 justify-content-end py-3">
          <div class="d-flex gap-2">
            <button
              type="button"
              class="btn-custom-normalBlue fw-semibold btn btn-primary"
              (click)="navigateClosePage()"
            >
              Tutup
            </button>
          </div>

          <div class="d-flex">
            <button
              type="button"
              class="btn-custom-normalWhite fw-semibold btn btn-light"
              (click)="navigatePreviousPage()"
            >
              &lt;
            </button>
            <button
              type="button"
              class="btn-custom-normalWhite fw-semibold btn btn-light"
              (click)="navigateNextPage()"
            >
              &gt;
            </button>
          </div>
        </c-col>
      </c-row>
    </c-row>
  </c-card-body>
</c-card>
