<c-card>
    <h4 class="fw-bold m-3 mt-5">
        PENILAIAN LAPORAN KEJADIAN
    </h4>
    <div class="m-3">
        <app-stepper
        [currentMainStep]="currentMainStep"
        [currentSubStep]="currentSubStep"
        ></app-stepper>
    </div>
    <c-card-body class="px-5">
        <form [formGroup]="form">
            <c-row>
                <h6 class="fw-bold mb-3">Penilaian Laporan Kejadian</h6>
            </c-row>
            <c-row>
                <c-col md="3" xs="12">
                    <label for="tahapKejadian" cLabel>Tahap Kejadian</label>
                </c-col>
                <c-col class="col-md-6">
                    <select class="form-select" id="tahapKejadian" formControlName="tahapKejadian">
                        <option value="">Merah / Kuning / Hijau</option>
                        <option value="merah">Merah</option>
                        <option value="kuning">Kuning</option>
                        <option value="hijau">Hijau</option>
                    </select>
                </c-col>
            </c-row>
            <c-row class="mt-5"> 
                <c-col md="3" xs="12">
                    <label for="catatan" cLabel>Catatan</label>
                </c-col>
                <c-col md="9">
                    <textarea class="form-control" id="catatan" formControlName="catatan" rows="3"></textarea>
                </c-col>
            </c-row>
        </form>
    </c-card-body>
    <c-card-footer>
        <c-row>
            <div class="d-flex justify-content-end">
                <button color="primary" class="primary-custom-btn w-auto px-4 me-2" (click)="SimpanRekod(form)">
                    <c-icon name="cilCheckCircle" class="me-2"></c-icon>
                    Simpan</button>
                <button color="primary" class="primary-custom-btn w-auto px-4 me-2" (click)="HantarRekod(form)">
                    Hantar</button>
                <button class="l-custom-btn rounded-3" (click)="navigatePreviousPage()">&lsaquo;</button>
                <!-- <button class="r-custom-btn disabled-btn" disabled>&rsaquo;</button> -->
            </div>
        </c-row>
    </c-card-footer>
  </c-card>
  
  <app-modal-component
    [visible]="simpanRekodModal"
    title=""
    message="Rekod Telah Berjaya Disimpan"
    mode="ok"
    icon="tick"
    (close)="closeSimpanRekodModal()"
  ></app-modal-component>
  
  <app-modal-component
    [visible]="hantarRekodModal"
    title=""
    message="Rekod Telah Berjaya Dihantar"
    mode="ok"
    icon="tick"
    (close)="closeHantarRekodModal()"
  ></app-modal-component>
  
  <!-- Medan Mandatori Modal -->
  <app-modal-component
    [visible]="medanMandatoriVisible"
    title=""
    message="Medan Mandatori diperlukan"
    mode="ok"
    icon="danger"
    (close)="medanMandatoriModalconfirm()"
  ></app-modal-component>

  <!-- Tidak Dapat Muat Naik Modal -->
  <app-modal-component
    [visible]="tidakDapatMuatNaikVisible"
    title=""
    message="Dokumen tidak dapat dimuat naik. Sila cuba lagi."
    mode="ok"
    icon="danger"
    (close)="tidakDapatMuatNaikModalconfirm()"
  ></app-modal-component>