<head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<c-container fluid>
 <div class="form search-input-group"> 
    <div class="form-section h-100">
        <h2 class="section-title">Maklumat Carian</h2>
        <form #searchForm="ngForm" (ngSubmit)="onSearch()" class="form-group5">
            <div class="container">

                <!-- Negeri -->
                 <div class="row mb-3">
                    <div class="col-2 text-start">
                        <label for="state" class="col-form-label">Negeri</label>
                    </div>
                    <!-- <div class="col-6">
                        <select class="form-select" id="region" [(ngModel)]="filters.state" name="state">
                            <option value="" disabled selected>Sila Pilih</option>
                            <option value="Selangor">Selangor</option>
                            <option value="Kedah">Kedah</option>
                            <option value="Wilayah Persekutuan">Wilayah Persekutuan</option>
                            <option value="Sabah">Sabah</option>
                            <option value="Lain-lain">Lain-lain</option>
                        </select>
                    </div> -->
                    <div class="col-6">
                        <select class="form-select form-control field-medium" id="negeri" >
                        <option value="">-Sila Pilih-</option>    
                        <option *ngFor="let state of states" [value]="filters.stateCode">
                            {{ state.stateBmDesc }}
                        </option>
                        </select>
                    </div>
                 </div>

                 <!-- Cawangan -->
                  <!-- <div class="row mb-3">
                    <div class="col-2 text-start">
                        <label for="branch" class="col-form-label">Cawangan</label>
                    </div>
                    <div class="col-6">
                        <select class="form-select" id="branch" [(ngModel)]="filters.branch" name="branch">
                            <option value="" disabled selected>Sila Pilih</option>
                            <option value="Pejabat Imegresen Putrajaya">Pejabat Imegresen Putrajaya</option>
                            <option value="Pejabat Imegresen Selangor">Pejabat Imegresen Selangor</option>
                            <option value="Pejabat Imegresen Wilayah Persekutuan">Pejabat Imegresen Wilayah Persekutuan</option>
                            <option value="Pejabat Imegresen Sabah">Pejabat Imegresen Sabah</option>
                            <option value="Lain-lain">Lain-lain</option>
                        </select>
                    </div>
                 </div> -->
                 <div class="row align-items-center mb-3">
                    <div class="col-2 text-start">
                        <label for="cawangan" class="col-form-label">
                        Cawangan/ Bahagian/ Unit yang Menerima
                        </label>
                    </div>
                    <div class="col-6">
                        <select class="form-select form-control field-medium" id="cawangan" >
                        <option value="">-Sila Pilih-</option>    
                        <option *ngFor="let branch of branches" [value]="filters.branchCode">
                            {{ branch.shortName }}
                        </option>
                        </select>
                    </div>
                 </div>

                 <!-- Bahagian -->
                  <div class="row mb-3">
                    <div class="col-2 text-start">
                        <label for="division" class="col-form-label">Bahagian</label>
                    </div>
                    <div class="col-6">
                        <select class="form-select form-control field-medium" id="division" [(ngModel)]="filters.division" name="division">
                            <option value="" disabled selected>Sila Pilih</option>
                            <option value="Bahagian Depot Tahanan Imegresen">Bahagian Depot Tahanan Imegresen</option>
                            <option value="Bahagian Pintu Kemasukan">Bahagian Pintu Kemasukan</option>
                            <option value="Bahagian Pemeriksaan">Bahagian Pemeriksaan</option>
                            <option value="Bahagian Main-main">Bahagian Main-main</option>
                            <option value="Lain-lain">Lain-lain</option>
                        </select>
                    </div>
                 </div>

                 <!-- Unit -->
                  <div class="row mb-3">
                    <div class="col-2 text-start">
                        <label for="unit" class="col-form-label">Unit</label>
                    </div>
                    <!-- <div class="col-6">
                        <select class="form-select" id="unit" [(ngModel)]="filters.unit" name="unit" placeholder="Sila Pilih">
                            <option value="" disabled selected>Sila Pilih</option>
                            <option value="Unit Latihan">Unit Latihan</option>
                            <option value="Unit Kawalan">Unit Kawalan</option>
                            <option value="Unit Praktikal">Unit Praktikal</option>
                            <option value="Unit Serious">Unit Serious</option>
                            <option value="Lain-lain">Lain-lain</option>
                        </select>
                    </div> -->
                    <div class="col-6">
                        <select class="form-select form-control field-medium" id="unit" >
                        <option value="">-Sila Pilih-</option>    
                        <option *ngFor="let unit of units" [value]="filters.unitCode">
                            {{ unit.unitBmDesc }}
                        </option>
                        </select>
                    </div>
                 </div>

                 <!-- Tahun -->
                  <div class="row align-items-center mb-3">
                    <div class="col-2 text-start">
                    <label for="year" class="col-form-label">Tahun</label>
                    </div>
                    <div class="col-6">
                        <input type="text" maxlength="10" class="form-control field-medium" 
                        id="year" name="year" [(ngModel)]="filters.year" name="year">
                    </div>
                  </div>

                 <!-- Status -->
                  <div class="row align-items-center mb-3">
                    <div class="col-2 text-start">
                    <label for="consent" class="col-form-label">Status</label>
                    </div>
                    <div class="col-6">
                        <select class="form-select form-control field-medium" id="consent" [(ngModel)]="filters.consent" name="consent" placeholder="Sila Pilih">
                            <option value="" disabled selected>Sila Pilih</option>
                            <option value="Setuju">Setuju</option>
                            <option value="Tidak Setuju">Tidak Setuju</option>
                        </select>
                    </div>

                    <!-- Button Carian -->
                        <div class="col-auto">
                            <button type="submit" class="blue-btn"><i class="fa fa-search"></i> Cari</button>
                        </div>
                  </div>

            </div>
        </form>
    </div>

    <div class="results-section" *ngIf="hasSearched && searchResults.length > 0">
        <h3 class="results-title">Maklumat Permohonan</h3>

        <!-- Button Pilih Semua -->
        <div class="row mb-3">
            <div class="d-flex justify-content-end">
                <button class="blue-btn" onclick="onPilih">Pilih Semua</button>
            </div>
        </div>

        <div class="table-container">
            <table class="table carian-kelulusan">
                <thead>
                    <tr>
                        <th>Bil</th>
                        <th>Nama</th>
                        <th>No. Kad Pengenalan</th>
                        <th>No. Perkhidmatan</th>
                        <th>E-mel</th>
                        <th>Jawatan</th>
                        <th>Tarikh Permohonan</th>
                        <th>Persetujuan Vaksin</th>
                        <th>Kelulusan</th> 
                        <th></th> <!--Button Papar -->
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let row of searchResults; let i = index" (click)="selectedRow = row" 
                    [class.selected]="selectedRow === row">
                        <td>{{ i + 1}}</td>
                        <td>{{ row.name}}</td>
                        <td>{{ row.icNo}}</td>
                        <td>{{ row.perkhidmatanNo}}</td>
                        <td>{{ row.email}}</td>
                        <td>{{ row.position}}</td>
                        <td>{{ row.applyDate}}</td>
                        <td>{{ row.vaccAgree}}</td>
                        <td><input type="checkbox" name="vaccApproval" />&nbsp;</td>
                        <td>
                            <div class="d-flex justify-content-end w-100">
                                <button class="blue-btn" (click)="goToView(row.name)"><i class="fa fa-eye"></i>Papar</button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <!-- Button Lulus / Gagal -->
        <div class="d-flex justify-content-end">
            <button class="blue-btn me-3" (click)="onLulus(selectedRow)"><i class="fa fa-check"></i>Lulus</button>
            <button class="blue-btn" (click)="onGagal(selectedRow)"><i class="fa fa-times"></i>Gagal</button>
        </div>
    </div>
 </div>
</c-container>
