<div class="container-fluid">
    <c-row>
    <c-col>
        <c-card class="mb-3">
        <c-card-body>
            <c-col md="18">
                <form>

                <h3 class="mb-4">Maklumat Peribadi Subjek</h3>

                <!-- Horizontal Stepper -->
                <div class="horizontal-stepper">
                    <ul class="stepper-list d-flex align-items-center justify-content-start flex-wrap">
                    <li
                        class="stepper-item"
                        *ngFor="let step of steps"
                        [class.active]="isStepActive(step.number)">
                        <button 
                            type="button" 
                            class="step-btn">
                            <span class="step-number">{{ step.number }}</span>
                            <span class="step-title">{{ step.title }}</span>
                        </button>
                    </li>
                    </ul>
                </div>

                <!-- IC + Jenis Pengenalan -->
                <c-row class="mb-3 mt-3 ms-1">
                    <c-col class="col-md-6">
                        <label class="form-label fw-semibold">Jenis Pengenalan*</label>
                        <select class="form-select" [(ngModel)]="jenisPengenalan" name="jenisPengenalan">
                            <option value="" disabled selected>Sila pilih jenis pengenalan</option>
                            <option value="ic">Kad Pengenalan Malaysia</option>
                            <option value="passport">Pasport</option>
                            <option value="police_id">Kad Pengenalan Polis</option>
                            <option value="military_id">Kad Pengenalan Tentera</option>
                        </select>
                    </c-col>
                    <c-col class="col-md-6">
                        <label class="form-label fw-semibold">No. Kad Pengenalan*</label>
                        <input type="text" class="form-control" [(ngModel)]="nomborKadPengenalan" name="nomborKadPengenalan" (ngModelChange)="fetchIdentityData()" maxlength="12" placeholder="Contoh: 980323106245">
                    </c-col>
                </c-row>

                <!-- Nama -->
                <c-row class="mb-3 mt-3 ms-1">
                    <c-col class="col-md-12">
                        <label class="form-label fw-semibold">Nama*</label>
                        <input type="text" class="form-control" [(ngModel)]="nama" name="nama" (ngModelChange)="fetchIdentityData()" required maxlength="60" placeholder="Contoh: Anuar Bin Rozman">
                    </c-col>
                </c-row>

                <!-- No Dokumen + Jenis Dokumen -->
                <c-row class="mb-3 mt-3 ms-1">
                    <c-col class="col-md-6">
                        <label class="form-label fw-semibold">Jenis Dokumen</label>
                        <select class="form-select" [(ngModel)]="jenisDokumen" name="jenisDokumen">
                            <option value="" disabled selected>Sila pilih jenis dokumen</option>
                            <option *ngFor="let dokumen of dokumenList">{{ dokumen }}</option>
                        </select>
                    </c-col>
                    <c-col class="col-md-6">
                        <label class="form-label fw-semibold">No. Dokumen</label>
                        <input type="text" class="form-control" [(ngModel)]="nomborDokumen" name="nomborDokumen" maxlength="20" placeholder="Contoh: A800211">
                    </c-col>
                </c-row>

                <!-- Warganegara + Bangsa -->
                <c-row class="mb-3 mt-3 ms-1">
                    <c-col class="col-md-6">
                        <label class="form-label fw-semibold">Warganegara*</label>
                        <select class="form-select" [(ngModel)]="warganegara" name="warganegara">
                            <option value="" disabled selected>Sila pilih warganegara</option>
                            <option *ngFor="let negara of warganegaraList" [value]="negara.code">
                            {{ negara.name }}
                            </option>
                        </select>
                    </c-col>
                    <c-col class="col-md-6">
                        <label class="form-label fw-semibold">Bangsa</label>
                        <select class="form-select" [(ngModel)]="bangsa" name="bangsa">
                            <option value="" disabled selected>Sila pilih bangsa</option>
                            <option *ngFor="let b of bangsaList">{{ b }}</option>
                        </select>
                    </c-col>
                </c-row>

                <!-- Tarikh Lahir + Jantina -->
                <c-row class="mb-3 mt-3 ms-1">
                    <c-col class="col-md-6">
                        <label class="form-label fw-semibold">Tarikh Lahir*</label>
                        <input type="date" class="form-control" [(ngModel)]="tarikhLahir" name="tarikhLahir">
                    </c-col>
                    <c-col class="col-md-6">
                        <label class="form-label fw-semibold">Jantina</label>
                        <select class="form-select" [(ngModel)]="jantina" name="jantina">
                            <option value="" disabled selected>Sila pilih jantina</option>
                            <option value="L">Lelaki</option>
                            <option value="P">Perempuan</option>
                        </select>
                    </c-col>
                </c-row>

                <!-- Negara Lahir + Tempat Lahir -->
                <c-row class="mb-3 mt-3 ms-1">
                    <c-col class="col-md-6">
                        <label class="form-label fw-semibold">Negara Lahir</label>
                        <select class="form-select" [(ngModel)]="negaraLahir" name="negaraLahir">
                            <option value="" disabled selected>Sila pilih negara lahir</option>
                            <option *ngFor="let negara of warganegaraList" [value]="negara.code">
                            {{ negara.name }}
                            </option>
                        </select>
                    </c-col>
                    <c-col class="col-md-6">
                        <label class="form-label fw-semibold">Tempat Lahir*</label>
                        <input type="text" class="form-control" [(ngModel)]="tempatLahir" name="tempatLahir" maxlength="20" placeholder="Contoh: Ampang Selangor">
                    </c-col>
                </c-row>

                <!-- Catatan -->
                <c-row class="mb-3 mt-3 ms-1">
                    <c-col class="col-md-12">
                        <label class="form-label fw-semibold">Catatan Fizikal (Jika Ada)</label>
                        <textarea class="form-control" rows="3" [(ngModel)]="catatanFizikal" name="catatanFizikal" maxlength="250" placeholder="Contoh: Kecacatan fizikal atau parut khas"></textarea>
                    </c-col>
                </c-row>
                <c-row class="mb-3 mt-3 ms-1">
                    <c-col class="col-md-12">
                        <label class="form-label fw-semibold">Catatan Tambahan</label>
                        <textarea class="form-control" rows="3" [(ngModel)]="catatanTambahan" name="catatanTambahan" maxlength="250" placeholder="Masukkan maklumat tambahan jika perlu"></textarea>
                    </c-col>
                </c-row>

                <!-- No Syarikat -->
                <c-row class="mb-3 mt-3 ms-1">
                    <c-col class="col-md-6">
                        <label class="form-label fw-semibold mb-0 label-inline">No Syarikat</label>
                        <input type="text" class="form-control" [(ngModel)]="nomborSyarikat" name="nomborSyarikat" maxlength="30" placeholder="Contoh: SY0123">
                    </c-col>
                    <c-col class="col-md-6">
                        <label class="form-label fw-semibold mb-0 label-inline">Nama Syarikat</label>
                        <input type="text" class="form-control" [(ngModel)]="namaSyarikat" name="namaSyarikat" maxlength="60" placeholder="Contoh: Heitech Padu Sdn Bhd">
                    </c-col>
                </c-row>

                <!-- Tarikh Surat Agensi -->
                <c-row class="mb-3 mt-3 ms-1">
                    <c-col class="col-md-6">
                        <label class="form-label fw-semibold mb-0 label-inline">Tarikh Surat Agensi</label>
                        <input type="date" class="form-control" [(ngModel)]="tarikhSuratAgensi" name="tarikhSuratAgensi">
                    </c-col>
                    <c-col class="col-md-6">
                        <label class="form-label fw-semibold mb-0 label-inline">Tarikh Sijil Agensi (Sijil Sekatan)</label>
                        <input type="date" class="form-control" [(ngModel)]="tarikhSijilAgensi" name="tarikhSijilAgensi">
                    </c-col>
                </c-row>

                <!-- sahkan -->
                <c-row class="mb-3 mt-3 ms-1">
                    <c-col class="col-md-6">
                        <input class="form-check-input" type="checkbox" [(ngModel)]="sahkan" name="sahkan" required>
                        <label class="form-check-label ms-1">Saya mengesahkan maklumat yang diberikan adalah sah dan benar.</label>
                    </c-col>
                </c-row>
                </form>
            </c-col>
        </c-card-body>
        </c-card>
    </c-col>

    </c-row>

    <!-- Footer Buttons -->
    <div class="border-top p-3 d-flex justify-content-end gap-2">
    <button type="button" cButton class="set-semula-button" (click)="resetForm()">Set Semula</button>
    <button type="button" cButton class="set-semula-button"  (click)="nextStep()">
        <svg cIcon name="cilCaretRight" size="sm"></svg>
    </button>
    </div>
</div>